{% extends('::backend.html.twig') %}

{% block content %}
    <h1>{{ pageTitle }}</h1>

    <div class="row">
        <div class="col-md-3">
            <a href="{{ url('rdw_manage_position_synonyms_list') }}" class="btn btn-default"><i class="glyphicon glyphicon-list"></i> {{ 'Back'|trans }}</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
                <div class="col-md-3">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.positions) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.save) }}
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock content %}
