{% extends('::backend.html.twig') %}

{% block content %}
    <h1>{{ 'Position synonyms'|trans }}</h1>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ url('rdw_manage_position_synonyms_add') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> {{ 'Add'|trans }}</a>
        </div>
    </div>

    <hr />

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'Synonym title'|trans }}</th>
                    <th>{{ 'Positions'|trans }}</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>
                        {% for position in item.positions %}
                            {{ position.title }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('rdw_manage_position_synonyms_edit', {'id': item.id}) }}">{{ 'Edit'|trans }}</a></td>
                    <td>
                        <a href="#" data-handler="confirm" data-url="{{ path('rdw_manage_position_synonyms_delete', {'id': item.id}) }}" data-message="Are you sure?" data-title="Delete synonym" data-confirm-title="Delete">
                            {{ 'Delete'|trans }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
