{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pages clearfix">
    {% if previous is defined %}
            <a class="url_prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"></a>
    {% endif %}

    {% if first is defined and current > 3 and last > 5 %}
        <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">1</a>
        {% if current > 4 %}<span class="txt">...</span>{% endif %}
    {% endif %}

    {% for page in pagesInRange %}
        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="{% if page == current %}act{% endif %}{% if (page > 2 and page < current - 1) or (page < last - 1 and page > current + 1) %}hidden-xs hidden-sm{% endif %}">{{ page }}</a>
    {% endfor %}

    {% if last is defined and current < last - 2 and last > 5 %}
        {% if current < last - 3 %}<span class="txt">...</span>{% endif %}
        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">{{ last }}</a>
    {% endif %}

    {% if next is defined %}
            <a class="url_next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"></a>
    {% endif %}
</div>
{% endif %}
