{% if 'option' in options|keys %}
    <option
        {% for attr, value in options %}
            {% if 'href' == attr %}
                value="{{ value }}
            {% else %}
                {{ attr }}="{{ value }}"
            {% endif %}
        {% endfor %}
    >{{ title }}</option>
{% else %}
    <a
        {% for attr, value in options %}
            {% if 'class' == attr %}
                {{ attr }}="{{ value }} {% if value == 'asc' %}up{% elseif value == 'desc' %}down{% else %}disabled{% endif %}"
            {% else %}
                {{ attr }}="{{ value }}"
            {% endif %}
        {% endfor %}
    >{{ title }}</a>
{% endif %}
