{{ form_start(form, {'action': url('rdw_job.job.save_abuse', {'id' : id}), 'attr': {'data-handler': 'abuseReason', 'data-reason-element': form.reason.vars.id, 'data-description-element': 'rdw_job_abuse_description_form_group', 'data-other-reasons': constant('REASON_COMPANY_INCORRECT', abuse) ~ ',' ~ constant('REASON_OTHER', abuse)}}) }}
<ul class="form">
    <li>
        <span>{{ 'Please select reason, why do you think this job ad is not correct'|trans }}</span>
    </li>
    <li>
        {{ form_widget(form.reason) }}
        {{ form_errors(form.reason) }}
    </li>
    <li>
        <div id="rdw_job_abuse_description_form_group" class="form-group {% if not form.description.vars.valid %} has-error {% endif %}" {% if form.vars.value.reason == '' or form.vars.value.reason == constant('REASON_SPAM', abuse) %}style="display: none;"{% endif %}>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
    </li>
    <li>
        {{ form_widget(form.submit, {'attr': {'data-handler' : 'saveJobAbuse', 'data-content-holder': 'abuse-form-holder'}} ) }}
    </li>
</ul>
{{ form_end(form) }}