{% extends "::modal.html.twig" %}

{% block title %}{{ 'Job abuse'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div id="abuse-form-holder">
            {{ include('RDWJobBundle:JobAbuse:_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWJobBundle/Resources/public/js/jquery.abuseReasonHandler.js'
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWJobBundle/Resources/public/js/jquery.saveJobAbuseHandler.js'
    '@RDWJobBundle/Resources/public/js/job_public.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
