{% extends '::base.html.twig' %}

{%- block title -%}
    {{ 'default meta title'|trans }}
{%- endblock -%}

{% block content %}
    {{ render(controller('RDWJobBundle:Job:carousel')) }}
    {{ render_esi(controller('RDWUserBundle:User:topEmployers', {'withCount' : 1})) }}
    {% include "RDWAppBundle::_mobile_banner_clearfix.html.twig" %}
{% endblock %}

{% block other_main_content %}
	{{ render_esi(controller('RDWAppBundle:PopularAd:jobByCities', {'type': 'job'})) }}

    <div class="block-subscribe mob">
		<div class="info_block clearfix">
			{{ include('RDWAppBundle:mobile:__sidebar.html.twig', {'job' : 1}) }}
		</div>
    </div>

	{{ render(controller('RDWJobBundle:Job:dailyJobs')) }}

	{% include "RDWNewsBundle::block.html.twig" %}

    <div class="work_for_you">
	    {{ render(controller('RDWContentBundle:Content:getText', {'type' : 'main_page', 'template' : 'mainPage.html.twig'})) }}
    </div>
{% endblock %}

{# required for to add/remove job to/from favorites #}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.manageFavoriteHandler.js' %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
