{{ form_start(form, {'action': url('rdw_faq.faq.ask'), 'attr': {'data-handler': 'faqForm'} }) }}
<ul class="form clearfix">

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    <li>
        {{ form_label(form.question, label|default('Question'|trans), { 'label_attr' : { 'class' : 'label_1'} }) }}
        {{ form_widget(form.question) }}
        {{ form_errors(form.question, { 'attr' : { 'class' : '' }} ) }}
    </li>
    <li>
        {{ form_label(form.sumCaptcha, label|default('Validation'|trans), { 'label_attr' : { 'class' : 'label_1'} }) }}
        {{ form_widget(form.sumCaptcha) }}
        {{ form_errors(form.sumCaptcha) }}
    </li>
    <li>
        <div class="faq_button_row">
            {{ form_row(form.ask, {'attr': {'data-handler' : 'saveFaq', 'data-content-holder': 'faq-form-holder', 'class' : 'btn btn-default' }} ) }}
        </div>
    </li>
    {% do form.ask.setRendered %}
    <li>
        {{ form_rest(form) }}
    </li>
</ul>
{{ form_end(form) }}