{% extends "::base.html.twig" %}

{% block title %}{{ 'Задать свой вопрос на сайте rdw.by.'|trans }}{% endblock %}

{% block content %}
<h1>{{ 'FAQ'|trans }}</h1>

<div class="txt_container clearfix">

    {% if list %}
        <ul class="faq_list">
        {% for item in list %}
            <li>
            <a href="#" class="url"><strong>/</strong> {{ item.question }}</a>
            <div class="hidden_box">
                {{ item.answer|raw }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="faq_button_row">
        <a id="rdw_faq_ask" class="btn btn-default" href="#" data-url="{{ url('rdw_faq.faq.new') }}" data-handler="modalLink">{{ 'Ask'|trans }}</a>
    </div>

    <div class="clear mobile_banners"></div>
</div>
{% endblock content %}
