{% extends "::modal.html.twig" %}

{% block title %}{{ 'Ask question'|trans }}{% endblock %}

{% block body %}
    <div id="faq-form-holder">
        {{ include('RDWFaqBundle:Faq:_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWFaqBundle/Resources/public/js/jquery.saveFaqHandler.js'
    '@RDWFaqBundle/Resources/public/js/faq.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
