{% block textarea_row %}
    <li>
        {{ form_label(form, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form,  { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form) }}
    </li>
{% endblock %}

{% form_theme form 'form_table_layout.html.twig' %}

{% block text_row %}
    <li>
        {{ form_label(form, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form,  { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form) }}
    </li>
{% endblock %}

{% block choice_row %}
    <li>
        {{ form_label(form, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form,  { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form) }}
    </li>
{% endblock %}


{% block number_row %}
    <li>
        {{ form_label(form, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form,  { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form) }}
    </li>
{% endblock %}


{#{% block choice_widget %}#}
    {#{% spaceless %}#}
        {#<div class="select{% if attribute(form.vars.attr, 'data-multiple') %} expanded{% endif %}">#}
            {#{% if expanded %}#}
                {#{{- block('choice_widget_expanded') -}}#}
            {#{% else %}#}
                {#{{- block('choice_widget_collapsed') -}}#}
            {#{% endif %}#}
        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock choice_widget %}#}

{% block _jobs_salaryFrom_widget %}
    <div class="select tight">
        {{ block('choice_widget_collapsed') }}
    </div>
{% endblock %}

{% block _jobs_salaryTo_widget %}
    <div class="select tight">
        {{ block('choice_widget_collapsed') }}
    </div>
{% endblock %}

{% block _cvs_salaryFrom_widget %}
    <div class="select tight">
        {{ block('choice_widget_collapsed') }}
    </div>
{% endblock %}

{% block _cvs_salaryTo_widget %}
    <div class="select tight">
        {{ block('choice_widget_collapsed') }}
    </div>
{% endblock %}

{% block _cvs_ageFrom_widget %}
    <div class="select tight">
        {{ block('choice_widget_collapsed') }}
    </div>
{% endblock %}

{% block _cvs_ageTo_widget %}
    <div class="select tight">
        {{ block('choice_widget_collapsed') }}
    </div>
{% endblock %}

{# if gender is used as iCheck radio #}
{#{% block _cvs_gender_widget %}#}
    {#{{ block('choice_widget_expanded') }}#}
{#{% endblock %}#}


{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {% if multiple %}
                    {{ checkbox_row(child, { 'no_form_group': true, 'inline' : (attr.inline is defined and attr.inline), 'label_attr': label_attr }) }}
                {% else %}
                    {{ radio_row(child, { 'no_form_group': true, 'inline' : (attr.inline is defined and attr.inline), 'label_attr': label_attr  }) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}


{% block radio_row %}
    {% spaceless %}
        {% set radiodata %}
            {% if label is not same as(false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% set label_attr = label_attr|merge({'class': ' label_2'}) %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ block('radio_widget') }}
                <span class="radio_label">{{ label|trans({}, translation_domain)|raw -}}</span>
                </label>
            {% else %}
                {{ block('radio_widget') }}
            {% endif %}
            {{ form_errors(form) }}
        {% endset %}

        {{ radiodata|raw }}

        {{ block('form_help') }}
    {% endspaceless %}
{% endblock radio_row %}
