{% extends "::base.html.twig" %}

{% block content %}
    <h2 class="h1"><span class="black">{{ 'Order #%id% has been created'|trans({'%id%': order.id}) }}</span></h2>

    <div class="txt_container clearfix">
        <div class="table-responsive">
            <table class="history_table">
                {% for orderItem in items %}
                    <tr>
                        <td>
                            {{ sms_code_text(orderItem, 'order_finish') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

