<form action="{{ url('balance_add', { 'id': user.id }) }}" class="amount pull-right" method="post">
    {{ form_label(form.price) }}
    <input type="text" name="{{ form.price.vars.full_name }}" id="{{ form.price.vars.id }}" value="{% if form.price.vars.value > 0 %}{{ form.price.vars.value }}{% endif %}" class="input" />
    {{ form_widget(form._token) }}
    <input type="submit" name="button" value="{{ 'Add'|trans }}" class="btn-default pull-left" />
</form>
