{%  extends('::backend.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'bundles/rdwmanage/css/signin.css' %}
    <link rel="stylesheet" href="{{ asset_url|full_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <form class="form-signin" role="form" action="{{ url('rdw.manage.login_check') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error|trans }}</div>
        {% endif %}

        <h2 class="form-signin-heading">{{ 'Please sign in'|trans }}</h2>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group {% if error %} has-error {% endif %}">
            <input type="text" name="_username" value="{{ last_username }}" placeholder="{{ 'Username'|trans }}" required="required" class="form-control" />
        </div>
        <div class="form-group {% if error %} has-error {% endif %}">
            <input type="password" name="_password" class="form-control" placeholder="{{ 'Password'|trans }}" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="_submit" type="submit">{{ 'Sign in'|trans }}</button>
    </form>
{% endblock content %}
