<ul class="main_nav clearfix">
    <li><a href="{{ path('rdw_job.job.list') }}" class="url_tab blue">{{ 'Search'|trans }} <span class="black">{{ 'jobs'|trans }}</span> <span class="txt">{{ 'Total jobs'|trans }}: {{ countActiveJobs() }}</span></a></li>
    <li><a href="{{ path('rdw_cv.cv.index') }}" class="url_tab red">{{ 'Search'|trans }} <span class="black">{{ 'resume'|trans }}</span> <span class="txt">{{ 'Total cvs'|trans }}: {{ countActiveCvs() }}</span></a></li>

    <li>
    {% if app.user and is_granted('ROLE_EMPLOYER') %}
        <a href="{{ url('rdw_job.job.create') }}" class="url">{{ 'Make'|trans }} <span class="black">{{ 'job'|trans }}</span></a>
    {% elseif app.user and is_granted('ROLE_EMPLOYEE') %}
        <a href="{{ url('rdw_cv.cv.new') }}" class="url">{{ 'Make'|trans }} <span class="black">{{ 'resume'|trans }}</span></a>
    {% else %}
        {%
            set createUrl = get_opposite_search_form_type() == 'cv'
                ? url('rdw_cv.cv.new')
                : url('rdw_job.job.create')
        %}
        <a href="{{ createUrl }}" class="url">{{ 'Make'|trans }} <span class="black">{{ get_opposite_search_form_type()|trans }}</span></a>
    {% endif %}
    </li>
</ul>
