<div class="member_nav clearfix">
    <ul class="nav clearfix">
        {% if app.user and is_granted('ROLE_REGISTERED') %}
            <li>
                <a href="{{ url('rdw_conversation.conversation.inbox') }}" class="txt">
                    {{ 'Messages'|trans }}:
                    {{ render_esi(controller('RDWConversationBundle:Conversation:getUnreadMessagesCount')) }}
                </a>
            </li>
            <li><a href="{{ url('fos_user_security_logout') }}" class="log" title="{{ 'Logout'|trans }}">{{ 'Logout'|trans }}</a></li>
        {% else %}
            <li><a href="{{ url('rdw_user.registration.index') }}" class="reg" title="{{ 'Registration'|trans }}">{{ 'Registration'|trans }}</a></li>
            <li><a href="{{ url('fos_user_security_login') }}" class="log" title="{{ 'Login'|trans }}">{{ 'Login'|trans }}</a></li>
        {% endif %}
    </ul>
</div>

{% if app.user and is_granted('ROLE_EMPLOYER') and app.user.manager is defined %}
    {% include 'RDWUserBundle:Profile:assignedManager.html.twig' with { 'manager' : app.user.manager } %}
{% endif %}

{% if app.user and is_granted('ROLE_EMPLOYEE') %}
    <div class="manager_block clearfix">
        <h4>
            <span>{{ 'Your consultant'|trans }}</span>
        </h4>
        <div class="hidden_box clearfix">
            <img src="{{ 'consultant_photo.jpg'|trans }}" width="110" height="128" alt="" class="foto" />
            <span class="name">{{ 'Consultant full name'|trans }}</span>
            <ul class="list">
                <li>
                    <span class="type">{{ 'Phone'|trans }}</span> {{ 'Consultant phone number'|trans }}
                </li>
                <li>
                    <span class="type">{{ 'Email'|trans }}</span>
                    <a href="mailto:{{ 'Consultant email'|trans }}" target="_blank">{{ 'Consultant email'|trans }}</a>
                </li>
                <li>
                    <span class="type">{{ 'Skype name'|trans }}</span>
                    <a href="skype:{{ 'Consultant skype address'|trans }}" target="_blank">{{ 'Consultant skype address'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}
