{% from 'RDWAppBundle::misc.html.twig' import menu_list_item %}

{% if app.user and is_granted('ROLE_REGISTERED') %}
    <h1>{{ 'Office'|trans }} <span class="black">{{ app.user.title }}</span></h1>

    {% if app.user and not is_granted('ROLE_MANAGER') %}
        <a href="{{ path('rdw_faq.faq.index') }}" class="url_help hidden-xs hidden-sm">{{ 'Help'|trans }}</a>
    {% endif %}
    <div class="menu_arrows hidden-md"></div>

    <div class="menu_hold clearfix{% if app.user and is_granted('ROLE_MANAGER') %} tight{% endif %}">
        <ul class="menu {{ get_menu_class() }}">
            {{ menu_list_item('icon_1', 'rdw_user.user.dashboard', 'My office'|trans) }}

            {% if app.user and is_granted('ROLE_EMPLOYEE') and not is_granted('ROLE_MANAGER') %}
                {{ menu_list_item('icon_7', 'rdw_cv.cv.my_list', 'My cv list'|trans) }}
                {{ menu_list_item('icon_3', 'rdw_conversation.conversation.inbox', 'Messages'|trans, render_esi(controller('RDWConversationBundle:Conversation:getUnreadMessagesCount'))) }}
                {{ menu_list_item('icon_4', 'rdw_cv.cv.users_who_viewed_list', 'Views'|trans, '', {'id': app.user.id}) }}
                {{ menu_list_item('icon_2', 'rdw_user.favorite.list', 'My favorites'|trans, '', {'type': 'job'}) }}
                {{ menu_list_item('icon_5', 'rdw_subscription.subscription.list', 'My subscribtions'|trans) }}
                {{ menu_list_item('icon_8', 'rdw_order.order.list', 'My orders'|trans, null, {'id': app.user.id }) }}
                {{ menu_list_item('icon_6', 'rdw_user.profile.edit', 'Profile'|trans) }}
                {{ menu_list_item('icon_9', 'rdw_user.favorite.list_archived', 'Archive'|trans, '', {'type': 'job'}) }}
            {% endif %}

            {% if app.user and is_granted('ROLE_EMPLOYER') and not is_granted('ROLE_MANAGER') %}
                {{ menu_list_item('icon_7', 'rdw_job.job.my_list', 'My jobs'|trans) }}
                {{ menu_list_item('icon_3', 'rdw_conversation.conversation.inbox', 'Messages'|trans, render_esi(controller('RDWConversationBundle:Conversation:getUnreadMessagesCount'))) }}
                {{ menu_list_item('icon_4', 'rdw_job.job.users_who_viewed_list', 'Views'|trans, '', {'id': app.user.id}) }}
                {{ menu_list_item('icon_2', 'rdw_user.favorite.list', 'My favorites CV'|trans, '', {'type': 'cv'}) }}
                {{ menu_list_item('icon_5', 'rdw_subscription.subscription.list', 'My subscribtions'|trans) }}
                {{ menu_list_item('icon_8', 'rdw_order.order.list', 'My orders'|trans, null, {'id': app.user.id }) }}
                {{ menu_list_item('icon_6', 'rdw_user.profile.edit', 'Profile'|trans) }}
                {{ menu_list_item('icon_9', 'rdw_user.favorite.list_archived', 'Archive'|trans, '', {'type': 'cv'}) }}
            {% endif %}

            {% if app.user and is_granted('ROLE_MANAGER') %}
                {{ menu_list_item('icon_6', 'rdw_user.user.employer_list', 'Companies'|trans) }}
                {{ menu_list_item('icon_3', 'rdw_conversation.conversation.inbox', 'Messages'|trans, render_esi(controller('RDWConversationBundle:Conversation:getUnreadMessagesCount'))) }}
                {{ menu_list_item('icon_7', 'rdw_job.job_client.list_all', 'Clients jobs'|trans) }}
            {% endif %}

        </ul>
        <div class="menu_scroll hidden-md"></div>
    </div>

    {% if app.user and is_granted('ROLE_MANAGER') %}
        {{ render(controller('RDWUserBundle:User:clientSearchFormBlock', { 'request': app.request })) }}
    {% endif %}

    <div class="clear"></div>
{% endif %}
