{% extends "::modal.html.twig" %}

{% block title %}{{ 'Cv abuse'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div id="abuse-form-holder">
            {{ include('RDWCvBundle:CvAbuse:_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWCvBundle/Resources/public/js/jquery.abuseReasonHandler.js'
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWCvBundle/Resources/public/js/jquery.saveCvAbuseHandler.js'
    '@RDWCvBundle/Resources/public/js/cv_abuse.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
