.no-padding {
    padding: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.modal-body .spacer {
    display: none;
}

.modal-dialog .modal-body .form ul + li {
    position: relative;
}

.modal-body .col-xs-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.highlighted {
    background: #fff9d9;
}

.content .job_list > li.vip_color {
    background: #e2f0ff;
}

.default_form .sub-form > li:first-child {
    margin-top: -30px;
}

.content .comments_block li .block .url {
    margin: 8px 0 28px 0;
    display: inline-block;
}

.btn-white {
    background: #fff;
}

input[type=file] {
    display: none;
}

.form ul.default_form {
    margin-top: -20px;
}

.form .add-field {
    position: absolute;
    right: -20px;
    top: 50px;
}

.confirm-button {
    float: left;
    margin-left: 100px;
}

.content .quick_info_bottom .box_1 .foto img.no-contact-logo {
    width: 96px !important;
    height: 83px !important;
    text-align: center;
}

.content .quick_info_bottom .box_1 .foto img.no-contact-person {
    width: 65px !important;
    height: 82px !important;
    text-align: center;
}

.message_panel .ui_date {
    display: inline-block;
}

.message_panel a.ui_note {
    color: #004b91;
    text-decoration: none;
    display: inline-block;
}

.message_panel a.ui_note:hover {
    text-decoration: none;
}

.form-collection-add-field {
    margin-top: -15px;
    margin-bottom: 10px;
}

.select2-container.input .select2-choice {
    border: none;
    background: none;
    line-height: normal;
    padding: 0;
}

.select2-container.input .select2-chosen:after {
    width: 9px;
    height: 6px;
    content: "";
    background: url(../../../bundles/rdwapp/img/btn_icons.png) no-repeat 0 -1275px;
    position: absolute;
    top: 7px;
    right: 3px;
}

.select2-container.input .select2-choice .select2-arrow {
    display: none;
}

.select2-container.input .select2-choice .select2-arrow b {
    display: none;
}

.select2-container-active.input .select2-choice,
.select2-container-active.input .select2-choices {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.delete-button-small {
    margin-top: 9px;
}

.delete-button-big {
    top: 23px;
}

.modal .modal-dialog .modal-body .form.subscription-form ul + li {
    padding: 20px 0 0 0;
}

.no-padding {
    padding: 0;
}

.content .default_form .select2-container-multi .select2-choices,
.subscription-form .select2-container-multi .select2-choices {
    height: auto;
    min-height: 0;
    color: #bfbfbf;
    font: 20px Verdana;
    background: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0;
    position: relative;
}

.subscription-form .select2-container-multi .select2-choices {
    margin: 0;
}

.select2-container-multi .select2-choices .select2-search-field {
    position: relative;
    float: left;
    margin-top: 0;
}

.content .default_form .select2-container-multi .select2-choices .select2-search-field input,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input {
    height: auto;
    color: #666;
    font: 12px Verdana;
    padding: 0;
    margin: -3px 0 0 0;
}

.content .default_form .select2-container-multi .select2-choices .select2-search-field input::-webkit-input-placeholder,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input::-webkit-input-placeholder {
    color: #666;
}

.content .default_form .select2-container-multi .select2-choices .select2-search-field input::-moz-placeholder,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input::-moz-placeholder {
    color: #666;
    opacity: 1;
}

/* FF 19+ */

.content .default_form .select2-container-multi .select2-choices .select2-search-field input:-moz-placeholder,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input:-moz-placeholder {
    color: #666;
    opacity: 1;
}

/* FF 18- */

.content .default_form .select2-container-multi .select2-choices .select2-search-field input:-ms-input-placeholder,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input:-ms-input-placeholder {
    color: #666;
}

.content .default_form .select2-container-multi .select2-choices .select2-search-choice,
.subscription-form .select2-container-multi .select2-choices .select2-search-choice {
    display: inline-block;
    height: 23px;
    width: auto;
    color: #666;
    font: 11px/24px Verdana;
    background: url(../img/btn_icons.png) no-repeat #f0f0f0 right -1325px;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #dcdada;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0 27px 0 11px;
    margin: 2px 3px 2px 0;
    position: relative;
}

.subscription-form .select2-container-multi .select2-choices .select2-search-choice {
    margin: 0;
}

.content .default_form .select2-container-multi .select2-search-choice-close,
.subscription-form .select2-container-multi .select2-search-choice-close {
    width: 27px;
    height: 27px;
    text-indent: -99999px;
    background: none !important;
    margin: 0;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}

.content .default_form li .multi-select-collection.input,
.subscription-form li .multi-select-collection.input {
    width: 280px;
    min-height: 31px;
    height: auto;
    padding: 1px 5px;
    float: left;
}

.subscription-form li .multi-select-collection.input {
    width: 340px;
}

.content .default_form li .select2-container-multi.input,
.subscription-form .select2-container-multi.input {
    border: none;
    min-height: 25px;
    height: auto;
    width: auto;
    min-width: 270px;
    max-width: 280px;
    padding: 0;
    margin: 0;
}

.subscription-form .select2-container-multi.input {
    min-width: 330px;
    max-width: 340px;
}

.content .default_form li .select2-container-multi.input.error,
.subscription-form .select2-container-multi.input.error {
    border: none !important;
}

.content .default_form li .select2-choices li,
.subscription-form li .select2-choices li {
    display: block;
    float: left;
    width: auto;
}

.modal .modal-dialog .modal-body .form.subscription-form li .select2-choices li.select2-search-choice {
    margin: 2px 3px 2px 0;
    padding: 0 27px 0 11px;
}

.modal .modal-dialog .modal-body .form.subscription-form li .select2-choices li.select2-search-field {
    margin: -2px 0 0 0;
    padding: 0;
}

.modal .modal-dialog .modal-body .form.subscription-form li.select2-search-choice,
.modal .modal-dialog .modal-body .form.subscription-form li.select2-search-field,
.modal .modal-dialog .modal-body .form.subscription-form li.select2-search-choice div {
    width: auto;
}

.agree-terms-holder {
    margin-bottom: 16px;
}

.content .default_form li.info-block {
    padding: 0;
    margin: 20px 0 0 0;
}

.about_me_big a.big {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.social_login_form li .label_2, .login_form li .label_2 {
    width: 90%;
}

.login_form li .label_2 .checkbox {
    margin-left: -7px;
    margin-right: 5px;
}

.select2-drop.select2-drop-multi .select2-results li .select2-result-label,
.select2-drop.select2-drop-multi .select2-results li .select2-result-label::before {
    background: transparent;
}

.select2-drop.select2-drop-multi .select2-results li .select2-result-label:hover,
.select2-drop.select2-drop-multi .select2-results li .select2-result-label:hover::before {
    background: #3875d7;
    color: #fff;
}

.modal .content {
    padding-bottom: 0;
}