html * {max-height: 999999px;}
body, form {margin: 0px; padding: 0px;}
body {color: black; background-color: white;}
h1, h2 {font: 24px verdana, helvetica, sans-serif; color: black; margin-top: 0px;}
h2, a.h2 {font-size: 17px;}
a.h2 {color: black; text-decoration: none;}
a.h2:hover {color: black;}
a.h2:active {color: black;}
p, td, th, li, div {font: 13px verdana, helvetica, sans-serif; line-height: 18px; margin-bottom: 0px;}
b, th {font-weight: bold;}
table, img {border: 0px;}
img, iframe {display: block;}
hr {margin: 24px 0px 24px 0px; border: 0px; height: 1px; color: #aaaaaa; background-color: #aaaaaa;}
pre {width: 760px; margin: 0px; padding: 4px; overflow: hidden; text-overflow: ellipsis; font-family: monospace; background-color: #eeeeee;}
textarea {margin: 0px; padding: 4px; border: 1px solid #aaaaaa;}
textarea.wide {width: 758px;}
.small {font-size: 11px; line-height: 16px; color: gray;}
table.table {border: 1px solid #aaaaaa; border-collapse: collapse; border-spacing: 0px;}
.table th {border: 1px solid #aaaaaa; padding: 4px; color: black; background-color: #eeeeee;}
.table td {border: 1px solid #aaaaaa; padding: 4px;}
body {padding: 16px;}
hr {width: 800px; margin-left: auto; margin-right: auto;}
table {border-spacing: 0px;}
td {padding: 0px;}
table.center, table.box {width: 800px; margin-left: auto; margin-right: auto;}
table.box {border-spacing: 8px;}
table.table {page-break-inside: auto;}
table.table thead {display: table-header-group;}
table.table tr {page-break-inside: avoid; page-break-after: auto;}
table.table th {background-color: white;}
.info td, .info th {font-size: 11px; line-height: 16px;}
p {
    margin-bottom: 15px;
}

body.invoice {
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

tr.high td {
    padding: 30px 0;
}

.split-before {
    page-break-before: always;
}

.split-avoid {
    page-break-inside: avoid;
}

@media print {
    body {padding: 0px;}
    a {color: black; text-decoration: none;}
    hr {border-top: 1px solid black; height: 0px;}
    table.table, table.table td, table.table th, .form_v {border-color: black;}
    .print {display: block;}
    .noprint {display: none;}
    table.center, table.box {width: 800px; margin-left: auto; margin-right: auto; border-color:black}
}
