@media (max-width: 1200px) {
	.content.vakansiya-content .col_tight, .content.vakansiya-content .col_wide {
		width: 100%;
		border: none;
	}
	.content.vakansiya-content .col_tight {
		border: none;
	    padding-left: 0;
		margin-top: 10px;
		margin-right: 8px;
		padding-bottom: 20px;
		padding-right: 0;
		margin-bottom: 10px;
	}
	.content.vakansiya-content .sort_block + .txt_container {
		display: block;
	}
	.sidebar.job-sidebar .info_block.joburl-block {
		margin-top: 10px;
	}
	.content #logo img {
		width: 93%;
	}
}

@media (max-width: 767px) {
body {
	min-width: 320px;
}
.top_banner {
	padding: 10px;
	margin: 0 -10px 16px -10px;
}
.top_banner img {
	width: 100%;
	max-width: 800px;
}
.content {
	padding: 0;
}
.content.wide {
	margin: 12px 0 0 0;
}
.content #logo {
	width: 110px;
	text-align: right;
	margin: 0 0 13px 8px;
}
.content #logo .slogan {
	font: italic bold 10px/1.2 Verdana;
	margin: -2px 0 0 0;
}
.content h1 {
	padding: 0 0 8px 13px;
}
.h1 {
	padding: 0 0 4px 13px;
}
.content h1::before, .h1::before {
    left: 0;
}
.content .txt_container + .h1 {
	margin: -7px 0 14px 0;
}
.content .manager_block + .h1 {
	margin: 0 0 14px 0;
}
.content .clear + .h1 {
	margin: 0 0 7px 0;
}
.content .sort_block + .h1 {
	margin: -10px 0 7px 0;
}
.content .txt_container h2, .content .h2 {
	font: 16px/1.2 Roboto, sans-serif;
	margin: 0 0 23px 0;
}
.content .txt_container h2 .txt, .content .h2 .txt {
	padding: 0 5px 0 0;
}
.content .txt_container p + h2, .content p + .h2 {
	margin-top: 7px;
}
.content .txt_container .default_form + h2 {
	margin: 24px 0 33px 0;
}
.content .txt_container h2.title {
	font: bold 17px/1.18 Roboto, sans-serif;
	margin: 1px 0 15px 0;
}
.content p {
	padding: 0 0 15px 0;
}
.content ul:not([class]) {
	padding: 0 0 15px 0;
}
.content table:not([class]), .content .history_table {
	min-width: 580px;
}
.content table:not([class]) th, .content .history_table th {
	background: none;
	padding: 0 10px 12px 10px;
}
.content table:not([class]) td, .content .history_table td {
	padding: 9px 10px;
}
.content table:not([class]) th:first-child, .content table:not([class]) td:first-child, .content .history_table th:first-child, .content .history_table td:first-child {
	padding-left: 0;
}
.content table:not([class]) th:last-child, .content table:not([class]) td:last-child, .content .history_table th:last-child, .content .history_table td:last-child {
	padding-right: 0;
}
.content .citate {
	margin: -8px 0 30px 0;
}
.content .img_left {
	width: 100%;
	margin: 3px 0 16px 0;
}
.content .menu_hold {
	margin: 8px -10px 20px -10px;
}
.content .menu_hold.tight {
	width: auto;
	float: none;
}
.content .menu_arrows {
	margin: 0 -5px;
}
.content .menu_arrows:before, .content .menu_arrows:after {
	top: 98px;
}
.content .clients_search {
	width: 100%;
	text-align: center;
	padding: 15px 15px 0 15px;
	margin: -1px 0 16px 0;
}
.content .clients_search .box .input {
	width: 90%;
	text-align: left;
}
.content .clients_search .url_add {
	float: none;
}
.content .txt_container {
	padding: 10px 17px 28px 17px;
	margin: 10px 0 25px 0;
}
.content .alert + .txt_container {
	margin-top: 25px;
}
.content h1 + .alert {
	margin-top: 11px;
}
.content .main_nav {
	margin: 0 -10px;
	clear: both;
	float: none;
}
.content .main_nav li {
	width: 50%;
	padding: 0 0 0 2px;
	float: left;
}
.content .main_nav li:first-child {
	padding: 0;
}
.content .main_nav li:last-child {
	width: auto;
	position: absolute;
	top: -118px;
	right: 0;
}
.content .main_nav li .url_tab {
	width: 100%;
	height: 59px;
	color: #fff;
	font: 300 13px/1 Roboto, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	padding: 16px 0 0 16px;
	float: left;
}
.content .main_nav li .url_tab .black {
	font: 900 13px/1 Roboto, sans-serif;
}
.content .main_nav li .url {
	font: 300 12px/1.08 Roboto, sans-serif;
	text-align: right;
	padding: 0 35px 0 0;
	margin: 0 3px 0 0;
}
.content .main_nav li .url .black {
	font: 900 13px/1.08 Roboto, sans-serif;
	display: block;
}
.content .main_nav li .url:before {
	left: auto;
	right: 0;
}
.content .filter_block {
	text-align: center;
	padding: 20px 15px 22px 15px;
	margin: 0 -10px;
}
.content .filter_block .top_row {
	min-height: 34px;
	text-align: left;
}
.content .filter_block .top_row .tags_box {
	width: 90%;
	margin: 1px 0 4px 1px;
}
.content .filter_block .top_row .input {
	width: 72%;
	font: 13px Verdana;
	margin: 0;
}
.content .filter_block .top_row .tags_box  .input {
	max-width: 100%;
	height: 17px;
	padding: 0 0 0 10px;
	margin: 7px 0 6px 0;
}
.content .filter_block .top_row .submit {
	float: right;
}
.content .filter_block .top_row .advanced_filter {
	float: right;
}
.content .filter_block .filter_options {
	width: 50%;
	text-align: left;
	padding: 0 0 0 5px;
	margin: 11px 0 0 -5px;
}
.content .filter_block .filter_options > li {
	width: 100%;
	padding: 0 0 10px 0;
	margin: 0;
}
.content .filter_block .filter_options > li .drop {
	width: 175px;
	left: 0;
}
.content .filter_block .filter_options + .filter_options > li .drop {
	left: auto;
	right: 0;
}
.content .filter_block .filter_options + .filter_options > li .drop:before {
	left: auto;
	right: 13px;
}
.content .filter_block .filter_options li .url .txt {
	display: none;
}
.content .filter_block .filter_options li .url .txt_mob {
	display: block;
}
/*select 2 start*/
.content .filter_block .top_row .city {
	position: absolute;
	top: -140px;
	right: -15px;
}
.content .filter_block .top_row .select2-container {
	max-width: 72%;
	margin: 0;
}
.content .filter_block .top_row .select2-container--default .select2-selection {
	font: 13px Verdana;
	margin: 0 0 0 4px;
}
.content .filter_block .top_row .select2-container--default .select2-search--inline {
	font: 13px Verdana;
	margin: 8px 0 0 0;
}
.content .filter_block .top_row .select2-container-multi .select2-choices {
}
.content .filter_block .top_row .select2-container-multi .select2-choices .select2-search-choice {
	margin: 4px 4px 0 0;
}
.content .filter_block .top_row .select2-container--default .select2-search--inline .select2-search__field,
.content .filter_block .top_row .select2-container-multi .select2-choices .select2-search-field input {
}
.content .filter_block .top_row .select2-container--default .select2-selection__choice {
	margin: 4px 4px 0 0;
}
/*select 2 end*/
.content .filter_block .hidden_form {
	border-bottom: 0 !important;
	padding: 7px 0 8px 0;
}
.content .filter_block .hidden_form .url_toggle {
	height: auto;
	font: 12px/1.2 Verdana;
	text-transform: none;
	margin: 0 0 24px 0;
	display: inline-block;
}
.blue .content .filter_block .hidden_form .url_toggle {
	border-bottom: 0;
}
.red .content .filter_block .hidden_form .url_toggle {
	border-bottom: 0;
}
.content .filter_block .hidden_form .url_toggle .txt {
	font-weight: normal;
	text-decoration: underline;
	padding: 0 0 0 12px;
}
.content .filter_block .hidden_form .url_toggle:hover .txt {
	text-decoration: none;
}
.content .filter_block .hidden_form .url_toggle .txt:before {
	width: 7px;
	height: 5px;
	content: "";
	background: url(../img/icons.png) no-repeat -20px -350px;
	position: absolute;
	top: 5px;
	left: 0;
}
.content .filter_block .hidden_form .url_toggle .txt .black {
	font-weight: normal;
}
.content .filter_block .hidden_form .url_toggle:after {
	display: none;
}
.content .filter_block .hidden_form .form > li {
	padding: 6px 0 0 0;
}
.content .filter_block .hidden_form .form > li:last-child {
	padding: 30px 0 0 0;
}
.content .filter_block .hidden_form .form > li .label_1, .content .filter_block .hidden_form .form > li .spacer, .content .filter_block .hidden_form .form > li .control-label {
	width: 100%;
	font: 11px/24px Verdana;
	text-align: left;
	padding: 0;
}
.content .filter_block .hidden_form .form > li .label_2 {
	text-align: left;
	margin: 5px 0 7px 0;
}
.content .filter_block .hidden_form .form > li .label_2 + .label_2 {
	margin: 5px 0 7px 18px;
}
.content .filter_block .hidden_form .form > li .txt {
	width: 10%;
	margin: 0;
}
.content .filter_block .hidden_form .form > li .input {
	width: 100%;
}
.content .filter_block .hidden_form .form > li .select {
	width: 100%;
}
.content .filter_block .hidden_form .form > li .select.tight {
	width: 45%;
}
/*select 2 start*/
.content .filter_block .hidden_form .form > li .select2-container {
	width: 100%;
}
/*select 2 end*/
.content .filter_block .button_box {
	width: 100%;
	padding: 0 0 6px 0;
}
.content .filter_block .button_box .url_toggle {
	margin: 7px 0 18px 0;
}
.content .temp_msg {
	font: 11px/1.2 Verdana;
	padding: 9px 30px 9px 37px;
	margin: -6px 0 14px 0;
}
.content .temp_msg:before {
	width: 25px;
	height: 25px;
	background: url(../img/icons.png) no-repeat -5px -130px;
	top: 3px;
	left: 3px;
}
.content .temp_msg .url {
	padding: 0;
}
.content .temp_msg .url:after {
	display: none;
}
.content .temp_msg .url_close {
	top: 9px;
	right: 10px;
}
.content .home_slider {
	padding: 0 23px;
	margin: 7px 0 20px 0;
}
.content .employers_list {
	max-width: 299px;
	background: url(../img/employers_list_bg_mobile.png) repeat -4px -4px;
	margin: 10px auto 27px auto;
}
.content .employers_list li {
	width: 150px;
}
.content .info_graf {
	margin: 10px 0 20px 0;
}
.content .tags_block {
	padding: 0 0 25px 0;
	display: block;
}
.content .tags_block > li {
	width: 100%;
	border-left: 0;
	padding: 10px 10px 0 5px;
	display: block;
}
.content .tags_block > li:first-child {
	padding: 10px 10px 0 5px;
}
.content .tags {
	font: 11px/1.82 Verdana;
	padding: 0 0 15px 5px;
}
.content .faq_list {
	padding: 0;
	margin: -7px -14px 0 -14px;
}
.content .faq_list li {
	padding: 0 0 3px 0;
}
.content .faq_list li .url {
	font: 15px/1.2 Roboto, sans-serif;
	padding: 12px 35px 12px 15px;
}
.content .faq_list li .hidden_box {
	padding: 13px 18px 1px 18px;
}
.content .faq_button_row {
	padding: 24px 0 25px 0;
	margin: 0 -14px -25px -14px;
}
.content .reg_button_row {
	padding: 5px 0 3px 0;
}
.content .reg_button_row .txt {
	padding: 0 0 23px 0;
}
.content .reg_button_row .url {
	width: 100%;
	height: 64px;
	font: 900 16px/1.2 Roboto, sans-serif;
	word-spacing: 9999px;
	margin: 0;
	padding: 13px 0 0 0;
}
.content .reg_button_row .url + .url {
	margin: 10px 0 0 0;
}
.content .login_box {
	width: 100%;
	min-height: 0;
	border-right: 0;
	padding: 5px 0 18px 0;
	margin: 0;
}
.modal .login_box {
	width: 100%;
	min-height: 0;
	padding: 5px 10px 18px 10px;
	margin: 0;
}
.login_form li {
	padding: 16px 0 20px 0;
}
.content .login_box_optional {
	width: 100%;
	min-height: 0;
	border-top: 1px solid #d1d1d1;
	border-left: 0;
	padding: 23px 0 0 0;
	margin: 0 0 -9px 0;
}
.modal .login_box_optional {
	width: 100%;
	min-height: 0;
	border-top: 1px solid #d1d1d1;
	border-left: 0;
	padding: 23px 10px 0 10px;
	margin: 0 0 -9px 0;
}
.login_box h3, .login_box_optional h3 {
	padding: 0 0 18px 0;
}
.login_box .login_form li h3 {
	padding: 19px 0 9px 0;
}
.login_box .login_form li .submit {
	width: 100%;
	margin: 2px 0 -6px 0;
}
.login_box .login_form li .url.url_mobile {
	height: 44px;
	color: #51aded;
	font: 900 15px/42px Roboto, sans-serif;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #51adee;
	border-bottom: 3px solid #51adee;
	display: block;
}
.login_box .login_form li .url.url_mobile:hover {
	border: 1px solid #2997e5;
	border-bottom: 3px solid #2997e5;
}
.content .contacts_box {
	width: 100%;
	padding: 0 0 18px 0;
	margin: -2px 0 0 0;
}
.content .contacts_box:last-child {
	padding: 0;
	margin: -2px 0 -20px 0;
}
.content .contacts_box .url_map {
	margin: 17px 0 14px 0;
}
.content .contacts_map {
	display: none;
}
.content .default_form {
	padding: 2px 0 0 0;
}
.content .default_form + .default_form {
	padding: 0;
}
.content .default_form li {
	padding: 0 0 9px 0;
}
.content .default_form li.last_fix {
	margin: 0 0 -13px 0;
}
.content .default_form li.sep_line {
	padding-top: 12px;
	margin-top: 15px;
}
.content .default_form li .label_1 {
	width: 100%;
	text-align: left;
}
.content .default_form_redesign li .label_1 {
	display: block;
	font: 400 12px/14px Roboto, sans-serif;
	color: #666;
}
.content .default_form_redesign li .label_1 + .multi-select-collection.input .select2-search-field input {
	visibility: hidden;
}
.content .default_form li .label_1.img {
	font: 13px/30px Verdana;
}
.content .default_form li .label_1.video {
	font: 13px/30px Verdana;
}
.content .default_form li .label_1.mobile_label {
	width: auto;
	font: 13px/30px Verdana;
	padding: 0 5px 0 0;
}
.content .default_form li .label_txt {
	font: bold 13px/30px Verdana;
	margin: 0;
}
.content .default_form li .error_txt {
	padding: 11px 0 0 0;
}
.content .default_form li .upload_label {
	margin: 3px 0 9px 0;
}
.content .default_form li .spacer {
	display: none;
}
.content .default_form li .label_2 {
	margin: 13px 0 13px 19px;
}
.content .default_form li .txt_sep {
	width: 10%;
}
.content .default_form li .options_box {
	width: 100%;
	padding: 0;
}
.content .default_form li .multi-select-collection.input,
.subscription-form li .multi-select-collection.input,
.content .default_form li .input,
.content .default_form li .selecter,
.content .default_form li textarea {
	width: 100% !important;
}
.content .default_form_redesign li .multi-select-collection.input,
.content .default_form_redesign li .input {
	padding-left: 0;
	border: 0;
	border-bottom: 1px solid #bfbfbf;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.content .default_form_redesign li .select2-container-multi.input {
	min-width: 255px !important;
}
.content .default_form li .multi-select-collection.input {
	padding: 1px 0 !important;
}
.content .default_form .select2-container-multi .select2-choices .select2-search-choice {
	max-width: 100%;
}
.content .default_form_redesign .select2-container-multi .select2-choices .select2-search-choice div {
	overflow: hidden;
	max-width: 100%;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content .default_form_redesign li .multi-select-collection.input::-webkit-input-placeholder,
.content .default_form_redesign li .input::-webkit-input-placeholder {
	opacity: 0;
	color: #fff;
}
.content .default_form_redesign li .multi-select-collection.input::-moz-placeholder,
.content .default_form_redesign li .input::-moz-placeholder {
	opacity: 0;
	color: #fff;
}
.content .default_form_redesign li .multi-select-collection.input:-moz-placeholder,
.content .default_form_redesign li .input:-moz-placeholder {
	opacity: 0;
	color: #fff;
}
.content .default_form_redesign li .multi-select-collection.input:-ms-input-placeholder,
.content .default_form_redesign li .input:-ms-input-placeholder {
	opacity: 0;
	color: #fff;
}
.content .default_form li .input.input_with-desc {
	padding-right: 32px;
}
.default_form__input-desc {
	display: none;
}
.default_form__input-desc_dark {
	position: absolute;
	display: inline-block;
	width: 32px;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	margin: 14px 0 0 -30px;
}
.content .default_form li .company-trade-mark-wrapper {
	width: 100%;
}
.content .default_form li textarea {
	height: 103px;
}
.content .default_form li .el_41 {
	width: 41px;
	text-align: center;
}
.content .default_form li .el_84 {
	width: 32%;
}
.content .default_form li .el_84 + .el_84 {
	margin: 0 0 0 2%;
}
.content .default_form li .el_123 {
	width: 45%;
}
.content .default_form li .el_133 {
	width: 49%;
}
.content .default_form li .el_133 + .el_133 {
	margin: 0 0 0 2%;
}
.content .default_form li .url_delete {
	margin: 15px 0 5px 0;
}
.content .sort_block .mini_row .url_delete {
	float: right;
}
.content .default_form li .submit {
	width: 100%;
	height: 44px;
	font: 900 16px Roboto ,sans-serif;
	text-transform: uppercase;
	margin: 13px 0 0 0;
}
.content .default_form li .submit-mobile-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 40px;
	margin: 0;
	font: 300 14px/40px Roboto, sans-serif;
	border: 0;
}
.blue .content .default_form li .submit-mobile-fixed {
	background: #0085de;
	border: 0;
}
.content .default_form li .submit.fixed_style {
	width: auto;
	height: 31px;
	font: bold 12px/28px Verdana;
	text-transform: none;
	margin: 12px 0 0 0;
}
.content .default_form li .url_big {
	font: 900 16px/42px Roboto, sans-serif;
	margin: 22px 0 10px 0;
	display: block;
}
.content .default_form li .url_big + .url_big {
	margin: 0 0 10px 0;
}
.content .default_form li .submit_big {
	width: 100%;
	font: 900 16px/42px Roboto, sans-serif;
	margin: 0 0 -4px 0;
	display: block;
}
.content .job_list li .logo {
	text-align: left;
	margin: 0 0 11px 0;
	display: block;
}
.content .job_list li .url_title {
	font: bold 13px/1 Verdana;
	margin: 2px 0 4px 0;
}
.content .job_list li .list {
	width: 100%;
	padding: 0;
}
.content .job_list li .list + .list {
	width: 100%;
}
.content .job_list li .url, .content .job_list li:hover .url {
	margin: 17px 0 0 0;
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}
.content .url_add_resume {
	font: 11px/18px Verdana;
	padding: 0 23px 0 0;
	margin: 5px 0 15px 0;
}
.content .clear + .url_add_resume {
	margin: 5px 0 30px 0;
}
.content .url_add_resume:before {
	left: auto;
	right: 0;
}
.content .sort_block {
	padding: 8px 10px;
}
.content .comments_block + .sort_block, .content .txt_container + .sort_block {
	margin: 0 0 30px 0;
}
.content .top_banner + .sort_block {
	margin: -7px 0 0 0;
}
.content .options_block.messages_list + .sort_block {
	margin: -20px 0 0 0;
}
.content .options_block + .sort_block {
	margin: -20px 0 30px 0;
}
.content .sort_block .mini_row {
	width: 100%;
}
.content .sort_block .mini_row + .mini_row {
	margin: 10px 0 0 0;
}
.content .sort_block .select_box, .content .sort_block .url_delete + .select_box {
	margin: 0;
}
.content .pages + .select_box {
	margin: -5px 0 30px 0;
}
.content .sort_block .select_box + .select_box {
	margin: 0 0 0 5px;
}
.content .sort_block .txt {
	width: 100%;
	margin: 5px 0 0 0;
}
.content .sort_block .mini_row .txt {
	margin: 2px 0 0 0;
}
.content .sort_block .checkbox_box {
	margin: 0;
	float: right;
}
.content .sort_block .checkbox_box .checkbox {
	margin: 4px 0 0 5px;
	float: right;
}
.content .sort_block .mini_row .txt {
	width: auto;
}
.content .pages {
	width: 234px;
	margin: 9px auto 31px auto;
	float: none;
}
.content h1 + .pages, .content h5 + .pages, .content .h1 + .pages, .content .select_box + .pages, .content .clear + .pages {
	margin: 16px auto 15px auto;
	display: block;
	float: none;
}
.content .pages, .content .sort_block + .clear + .pages {
	margin: -15px auto 16px auto;
}
.content .sort_block + .pages {
	margin: 15px auto 16px auto;
}
.content .profile_block {
	width: 100%;
	margin: 0 0 19px 0;
	float: none;
}
.content .profile_block p.contacts {
	font: 13px/1.95 Verdana;
}
.content .profile_block p.contacts strong {
	margin: 0 0 -9px 0;
	display: block;
}
.content .profile_logo {
	width: 100%;
	margin: 5px 0 18px 0;
	float: left;
}
.content .profile_logo img {
	width: 100%;
	max-width: 129px;
}
.content .profile_video {
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background: #f0f0f0;
	padding: 18px;
	margin: 9px auto -11px auto;
	position: relative;
	display: block;
	clear: both;
	float: none;
}
.content .default_form li .profile_video, .content .about_me_big .profile_video {
	width: 100%;
}
.content .default_form li .profile_video img, .content .about_me_big .profile_video img {
	width: 100%;
}
.red .content .about_me_big .profile_video {
	margin: 0 -2px 4px -2px;
}
.content .views_table {
	margin: -4px 0 -16px 0;
}
.content .views_table td {
	padding: 11px 10px 15px 10px;
}
.content .views_table td.time {
	display: none;
}
.content .views_table td .txt_mob {
	display: block;
}
.content .comments_form {
	padding: 10px 0 0 0;
}
.content .comments_form label {
	width: 100%;
	padding: 0 0 8px 0;
}
.content .comments_form textarea {
	width: 100%;
	height: 133px;
}
.content .comments_form .btn-default {
	margin: 0;
}
.content .comments_block {
	padding: 14px 0 5px 0;
}
.content .comments_block > li {
	padding: 0 0 10px 64px;
}
.content .comments_block > li:nth-child(even) {
	padding: 0 64px 10px 0;
}
.content .comments_block li .img {
	width: 50px;
	height: 50px;
	margin: 0 0 0 -64px;
}
.content .comments_block li:nth-child(even) .img {
	margin: 0 -64px 0 0;
}
.content .comments_block li .img img {
	width: 100%;
}
.content .comments_block li .img.logo {
	padding: 8px;
}
.content .comments_block li .block {
	width: 100%;
}
.content .comments_block li .block .top_row {
	border-bottom: 0;
	padding: 0 0 7px 0;
	margin: 0;
}
.content .comments_block li .block .top_row .name {
	clear: left;
}
.content .comments_block li .block .top_row .time {
	margin: 1px 0 4px 0;
	float: left;
}
.content .comments_block li .block p {
	padding: 0 0 10px 0;
}
.content .comments_block li .block .url_attachment {
	margin: 10px 0 27px 0;
}
.content .cart_table {
	min-width: 580px;
}
.content .cart_table .col_2 {
	width: 125px;
}
.content .cart_table .col_3 {
	width: 125px;
}
.content .cart_table .col_5 {
	width: 120px;
}
.content .cart_table .col_6 {
	width: 140px;
}
.content .cart_table .col_7 {
	width: 110px;
}
.content .total_price {
	border-top: 0;
	padding: 16px 10px 17px 10px;
	margin: -22px -17px 12px -17px;
}
.content .payment_options {
	padding: 0 7px;
	margin: 2px -17px 25px -17px;
	float: none;
}
.content .payment_options .txt {
	width: 100%;
}
.content .payment_options .list {
	clear: left;
}
.content .payment_options .list li {
	margin: 21px 25px 0 0;
}
.content .url_order {
	margin: 0 0 -18px -10px;
	clear: left;
	float: left;
}
.content .your_options {
	padding: 12px 0 11px 0;
	margin: 7px 0 -15px 0;
}
.content .your_options .txt {
	width: 100%;
	border-bottom: 1px solid #fff;
	padding: 0 15px 17px 15px;
	margin: 4px 0 5px 0;
}
.content .your_options .amount {
	width: 100%;
	padding: 1px 15px 3px 15px;
}
.content .your_options .input {
	width: 100%;
	margin: 5px 0 10px 0;
}
.content .small_banner {
	background: url(../img/small_banner_bg.png) repeat;
	padding: 0 0 0 64px;
	margin: 4px 0 10px 0;
}
.content .small_banner:before {
	width: 42px;
	height: 40px;
	background: url(../img/btn_icons.png) no-repeat 0 -2100px;
}
.content .small_banner .txt {
	font: bold 13px/15px Roboto, sans-serif;
	padding: 0 10px 0 0;
	margin: 16px 0 9px 0;
}
.content .small_banner .url {
	height: 30px;
	color: #666;
	font: 13px/28px Roboto, sans-serif;
	padding: 0 35px 0 9px;
}
.content .small_banner .url:after {
	top: 9px;
	right: 13px;
}
.content .other_services {
	padding: 11px 15px 14px 15px;
	margin: 7px 0 -11px 0;
}
.content .other_services .btn-default {
	margin: 16px 0 0 0;
	float: left;
}
.content .balance_block {
	margin: -22px 0 -10px 0;
}
.content .messages_list > li {
	padding: 18px 34px 13px 0;
}
.content .ads_subscription > li {
	padding: 18px 54px 13px 17px;
}
.content .summary_list > li {
	padding: 18px 54px 13px 17px;
}
.content .clients_list > li {
	padding: 18px 54px 26px 17px;
}
.content .options_block > li.note_form_mobile {
	background: #fff;
	border-top: 1px solid #e1e1e1 !important;
	padding: 19px 17px 18px 17px;
	margin: 0 0 -3px 0;
	display: none;
}
.content .options_block > li.note_form_mobile.open {
	display: block;
}
.blue .content .options_block > li:hover {
	border: 3px solid #e1e1e1;
	z-index: auto;
}
.red .content .options_block > li:hover {
	border: 3px solid #e1e1e1;
	z-index: auto;
}
.content .options_block > li label {
	width: 34px;
	border-right: 0;
	border-left: 1px solid #d9d9d9;
	left: auto;
	right: 0;
	z-index: 1;
}
.content .messages_list > li .top_box {
	width: 100%;
	float: left;
	padding: 0 0 19px 75px;
}
.content .messages_list > li .img {
	width: 50px;
	margin: 0 8px 0 -58px;
}
.content .messages_list > li .url_name:after {
	display: none;
}
.content .messages_list > li .url_name {
	padding: 0 10px 0 0;
	margin: 12px 0 1px 0;
}
.content .messages_list > li .tags_box {
	margin: 0;
	float: none;
}
.content .messages_list > li .tags_box .tag {
	margin: 5px 5px 0 0;
}
.content .messages_list > li .date {
	position: absolute;
	top: 14px;
	left: 75px;
}
.content .messages_list > li .sep_line {
	height: 9px;
	clear: both;
	position: relative;
}
.content .messages_list > li .sep_line:before {
	width: 12px;
	height: 12px;
	content: "";
	background: url(../img/icons.png) no-repeat 0 -725px;
	position: absolute;
	left: 17px;
	top: -12px;
}
.content .messages_list > li .txt_box {
	padding: 0 17px;
}
.content .ads_subscription li .date, .content .summary_list > li .date {
	padding: 0 0 2px 0;
}
.content .ads_subscription li .url_title, .content .summary_list > li .url_title {
	padding: 0 15px 0 0;
	margin: 0 0 7px 0;
}
.content .clients_list li .url_title {
	font: bold 13px/1 Verdana;
	vertical-align: middle;
	margin: 0 0 5px 0;
}
.content .clients_list li .error_tooltip + .url_title {
	max-width: 86%;
}
.content .clients_list li .title {
	margin: 0 0 14px 0;
}
.error_tooltip {
	vertical-align: middle;
	top: -2px;
}
.content .clients_list > li .logo {
	width: 100%;
	text-align: left;
	margin: 0 0 15px 0;
}
.content .options_block > li.note_form_mobile textarea {
	width: 85%;
	height: 62px;
	font: 11px Verdana;
	resize: none;
	margin: 0 5px 0 0;
	float: left;
}
.content .options_block > li.note_form_mobile .submit {
	float: left;
}
.content .options_block li .list_holder {
	width: 100%;
}
.content .options_block li .list {
	width: 100%;
	padding: 0;
}
.content .options_block li .list_holder + .list {
	padding: 0 0 8px 0;
}
.content .options_block li .hover_box, .content .options_block li:hover .hover_box {
	margin: 26px 0 0 0;
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.content .options_block li .toogle_box, .content .options_block li:hover .toogle_box {
	width: 0;
	margin: 0;
	display: block;
	position: absolute;
	top: 0;
	left: auto;
	right: 33px;
}
.content .options_block li .toogle_box.open, .content .options_block li:hover .toogle_box.open {
	width: 141px;
	height: 100%;
	background: #fff;
	border-left: 1px solid #d9d9d9;
	right: 34px;
	z-index: 2;
}
.content .options_block li .toggle_bg, .content .options_block li:hover .toggle_bg {
	width: 100%;
	height: 100%;
	content: "";
	background: #fff;
	opacity: 0.67;
	filter: alpha(opacity=67);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.content .options_block li .toogle_box.open + .toggle_bg, .content .options_block li:hover .toogle_box.open + .toggle_bg {
	display: block;
}
.content .options_block li .toogle_box .url_toggle {
	display: block;
}
.content .options_block li .toogle_box .hidden_box {
	display: none;
}
.content .options_block li .toogle_box.open .hidden_box {
	display: block;
}
.content .options_block li .toogle_box .url_list li {
	text-align: center;
	padding: 16px 5px 0 5px;
}
.content .options_block li .toogle_box .url_list li > a {
	padding: 18px 0 0 0;
	display: block;
}
.content .options_block li .toogle_box .url_list li > a:after {
	top: 0;
	right: 50% !important;
}
.content .options_block li .toogle_box .url_list li > a.icon_1:after {
	margin: 0 -4px 0 0;
}
.content .options_block li .toogle_box .url_list li > a.icon_2:after {
	margin: 0 -4px 0 0;
}
.content .options_block li .toogle_box .url_list li > a.icon_3:after {
	margin: 0 -6px 0 0;
}
.content .options_block li .toogle_box .url_list li > a.icon_4:after {
	margin: 0 -5px 0 0;
}
.content .options_block li .toogle_box .url_list li > a.icon_5:after {
	margin: 0 -6px 0 0;
}
.content .options_block li .toogle_box .url_list li > a.icon_6:after {
	margin: 0 -5px 0 0;
}
.content .options_block li .toogle_box .url_list li > a.icon_7:after {
	margin: 0 -8px 0 0;
}
.content .options_block li .toogle_box .url {
	width: 84px;
	text-align: center;
	padding: 0;
	margin: 0 0 0 -42px;
	position: absolute;
	left: 50%;
	bottom: 18px;
}
.content .options_block li .status_tags {
	margin: -1px 0 13px 0;
	position: relative;
	float: left;
	top: 0;
	right: 0;
}
.content .options_block li .status_tags .tag {
	float: left;
}
.content .options_block li .status_tags .tag + .tag {
	clear: left;
}
.content .options_block li .status_tags .turn_on {
	margin: 2px 0 0 7px;
	float: right;
}
.content .small_container {
	padding: 13px 17px 15px 17px;
	margin: 4px 0 10px 0;
}
.col-md-8 .content .small_container:last-child {
	margin: 4px 0 10px 0;
}
.content .small_container.last {
	margin: 4px 0 30px 0;
}
.content .small_container .sep_line {
	height: 10px;
	margin: 10px 0 0 0;
}
.content .small_container p + .sep_line {
	margin: -2px 0 0 0;
}
.content .small_container .info_txt {
	width: 100%;
	padding: 9px 0 0 0;
}
.col-md-8 .content .small_container .info_txt {
	padding: 9px 0 0 0;
}
.content .small_container .progress_block .progress {
	width: 100%;
	max-width: 72%;
}
.content .small_container .list > li {
	padding: 13px 12px 19px 12px;
}
.content .small_container .list.type_3 > li {
	padding: 13px 0 19px 0;
}
.content .small_container .list.type_1 li .date {
	margin: 1px 0 10px 15px;
}
.content .small_container .list.type_1 li .title {
	padding: 0 0 3px 0;
}
.content .small_container .url_add {
	margin: 0 0 24px 0;
}
.content .small_container .url {
	margin: 0 0 -4px 0;
}
.col-md-8 .content .small_container .url, .col-md-4 .content .small_container .url {
	margin: 0 0 -4px 0;
}
.content .col_wide {
	width: 100%;
}
.content .col_tight {
	width: 100%;
}
.content .quick_info .icons_list {
	top: 35px;
}
.content .quick_info .date {
	margin: 28px 0 0 0;
}
.content .quick_info h1 {
	font: bold 17px/1.12 Roboto, sans-serif;
	padding: 0 0 12px 0;
}
.content .quick_info .name {
	font: bold 15px/1.2 Roboto, sans-serif;
	padding: 0 0 15px 27px;
}
.content .quick_info .small {
	padding: 2px 0 0 0;
}
.content .col_wide .list {
	width: 100%;
	margin: 0 0 16px 0;
}
.content .quick_info .box {
	width: 100%;
	margin: 0 0 20px 0;
}
.content .quick_info .box .url_download {
	margin: 1px 0 27px 0;
}
.content .quick_info_bottom .box_1 {
	width: 100%;
	padding: 5px 0 12px 0;
}
.content .quick_info_bottom .share_block {
	padding: 0 0 30px 0;
}
.content .quick_info_bottom .share_block .txt {
	color: #999;
	font: 12px/1.2 Verdana;
	padding: 0 0 5px 0;
}
.content .quick_info_bottom .box_2 {
	width: 100%;
	padding: 5px 0 5px 0;
}
.content .quick_info_bottom .box_2 .list li {
	width: 100%;
	padding: 0 0 10px 0;
}
.content .quick_info_bottom .box_2 .list li:first-child {
	padding: 0 0 9px 0;
}
.content .quick_info_bottom .box_2 .list li .title {
	width: 100%;
	margin: 1px 0 0 0;
}
.content .quick_info_bottom .box_2 .list li .btn-default {
	margin: 8px 0 0 0;
}
.content .about_me {
	border-top: 1px solid #e5e5e5;
	padding: 26px 0 0 0;
	margin: -4px 0 20px 0;
}
.content .about_me_big {
	margin: 0 0 -11px 0;
}
.content .vip_holder {
	padding: 0;
	margin: -4px 0 0 0;
}
.content .vip_holder .vip_box {
	width: 100%;
	padding: 11px 0 23px 20px;
	margin: 0 0 10px 0;
}
.content .vip_holder .vip_box .clear {
	height: 12px;
}
.content .vip_holder .balance_info {
	width: 100%;
	text-align: center;
	padding: 8px 10px 9px 10px;
	position: relative;
	float: left;
	right: auto;
	bottom: auto;
}
.content .ad_table {
	min-width: 1180px;
}
.content .price_total_holder {
	width: 100%;
	text-align: center;
	padding: 8px 0 0 0;
}
.content .price_total {
	width: 100%;
	margin: 0 0 4px 0;
}
.content .price_total_holder .url_order {
	width: 100%;
	margin: 0 0 -20px 0;
}
.sidebar {
	padding: 0;
}
.member_nav {
	border-bottom: 1px solid #d9d9d9;
	margin: 0 -10px 13px -10px;
}
.member_nav li {
	width: 37%;
	height: 36px;
	border-right: 1px solid #d9d9d9;
	border-left: 0;
	padding: 0 3px;
	margin: 0;
	text-align: center;
}
.member_nav li:first-child {
	width: 31%;
	padding: 0 3px;
}
.member_nav li.mobile_right {
	padding: 0 22px;
	float: right;
}
.member_nav li a {
	height: 36px;
	float: none;
	font: 10px/36px Verdana;
	padding: 0 0 0 18px;
}
.member_nav li a:before {
	top: 0;
}
.member_nav li .txt {
	margin: 7px 0 0 0;
}
.manager_block {
	padding: 20px 20px 25px 20px;
	margin: 0 0 10px 0;
}
.manager_block h4 {
	cursor: pointer;
}
.manager_block h4:after {
	display: block;
}
.temp_msg + .manager_block {
	margin: 20px 0 16px 0;
}
.manager_block h4 {
	height: 9px;
	font: 500 15px/1.2 Roboto, sans-serif;
	margin: 0 0 5px 0;
}
.manager_block .foto {
	margin: 25px 0 0 0;
	display: none;
}
.manager_block h4.open + .hidden_box .foto {
	display: inline-block;
}
.manager_block .list {
	margin: 0;
}
.manager_block .btn-default {
	margin: 21px 0 0 0;
	display: none;
}
.manager_block h4.open + .hidden_box .btn-default {
	display: inline-block;
}
.sidebar-modal-header {
    display: block;
}
.sidebar .info_block {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	display: block;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	margin: 0;
	padding: 53px 20px 20px;
	background: #fff;
	border: 0;
}
.sidebar .info_block .side-filter-by-parameters-with-count {
	display: block;
	height: auto;
}
.ad_list {
	padding: 0 0 24px 0;
}
.ad_list li {
	padding: 0 10px 10px 10px;
}
.footer .bottom_info {
	padding: 28px 0 11px 0;
}
.footer .bottom_info .container {
	padding: 0 25px;
}
.footer .bottom_info h3 {
	padding: 0 0 8px 0;
}
.footer .bottom_info .url_list li {
	padding: 0 0 4px 0;
}
.footer .bottom_info .url_list li a {
	font: 11px/1.2 Verdana;
}
.footer .bottom_info .box {
	width: 50%;
	padding: 0 0 22px 0;
}
.footer .bottom_info .box_info {
	width: 100%;
}
.footer .copy .container {
	padding: 0 25px;
}
.footer .copy {
	padding: 28px 0;
}
.footer .copy .idea {
	margin: 23px 0 0 0;
	clear: left;
	float: left;
}
.table-responsive {
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive.expand {
	margin-left: -17px;
	margin-right: -17px;
}
.txt_container.no_borders .table-responsive.expand {
	margin-left: -10px;
	margin-right: -10px;
}
.table-responsive.sale_fix {
	margin-top: 0;
}
.modal-backdrop {
	background-color: #fff;
}
.modal-backdrop.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.modal {
	padding: 0 !important;
}
.modal .modal-dialog {
	width: 100%;
}
.modal .modal-dialog {
	padding: 0;
    margin: 0;
}
.modal .modal-dialog .modal-header {
	padding: 27px 0 23px 20px;
}
.modal .modal-dialog .modal-body {
	padding: 28px 20px;
}
.modal.newsletter .modal-dialog .modal-body .form li label.mobile_label {
	font: 13px/30px Verdana;
	padding: 0 5px 0 0;
	float: left;
}
.modal.newsletter .modal-dialog .modal-body .form li .submit {
	margin: 14px 0 0 0;
}
.modal .modal-dialog .tabs {
	margin: 13px 0 0 0;
}
.modal .modal-dialog .tabs .tabs_nav {
	display: none;
}
.modal .modal-dialog .tabs .r-tabs-accordion-title {
	display: block;
}
.modal .modal-dialog .tabs .r-tabs-accordion-title a {
	height: 47px;
	color: #39f;
	font: bold 12px/46px Verdana;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #4aa1ff;
	position: relative;
	display: block;
}
.modal .modal-dialog .tabs .r-tabs-accordion-title.r-tabs-state-active a {
	color: #fff;
	font: bold 11px/47px Verdana;
	background: #51adee;
	border: 1px solid #51adee;
}
.modal .modal-dialog .tabs .r-tabs-accordion-title.r-tabs-state-active a:before {
	width: 14px;
	height: 7px;
	content: "";
	background: url(../img/btn_icons.png) no-repeat 0 -2600px;
	margin: 0 0 0 -7px;
	position: absolute;
	left: 50%;
	bottom: -7px;
}
.modal .modal-dialog .tabs .tab_panel {
	padding: 16px 0;
}
.selecter .selecter-options .selecter-item:hover {
	color: #666;
}
.selecter .selecter-options .selecter-item.selected:hover {
	color: #39f;
}
.datepicker_holder {
	right: -34px;
}
.content .filter_block .filter_options > li .select2-container {
	display: block;
	width: 160px;
}
.wrap-specialization {
	display: none;
}
.sidebar.pdB0 .info_block .url_order, .sidebar-logged.pdB0 .info_block .url_order {
    position: relative;
    margin-bottom: 15px;
}
.content .home_slider .bx-next {
	background: url(../img/home_slider_prev_next.png) no-repeat #e3e3e3 -13px center;
}
.content .home_slider .bx-prev {
	display: none;
}
.content .home_slider .bx-next {
	width: 43px;
}
.bx-viewport {
	margin-left: -25px;
}
.wrap_new_jobs .new_jobs_list li {
	width: 100%;
}

.wrap_new_jobs .new_jobs_list:before, .wrap_new_jobs .new_jobs_list:after {
	display: none;
}
.by_cities .item_city {
	width: 192px;
	margin: 2px 0;
}
	.block-subscribe.mob {
		display: block;
	}
	.block-subscribe input {
		width: 100%;
	}
	.sidebar.desc {
		display: none;
	}
	.wrap_new_jobs {
		padding: 5px;
	}
	.new_jobs_list .job_title {
		word-wrap: break-word;
		width: 220px;
	}
	.work_for_you {
		height: 500px;
	}
	.text_work_for_you_title {
		width: 100%;
	}
	.group_btn {
		margin-top: 0;
	}
	.footer .bottom_info .box {
		margin: 0;
	}
	.footer .h1.big:before {
		display: none;
	}
	.h1.big.pa-foot {
		margin-top: 50px;
		padding-left: 4px;
	}
	.footer .h1.big {
		padding: 0 0 12px 4px;
	}
	.pd10 {
		padding-top: 10px;
	}
	.copy .pay {
		margin-top: 20px;
	}
	.copy .partner {
		margin-top: 15px;
	}
	.info-sub {
		float: left;
	}
	.block-subscribe .info_block {
		padding-bottom: 4px;
	}
	.block-subscribe input {
		width: 53%;
	}
	.red .block-subscribe .info_block .url_order {
		margin: 0 0 0 15px;
		width: 42%;
	}

	.slider_emp li .count_jobs_emp {
		position: absolute;
		bottom: 5px;
		left: 8px;
		margin: auto;
		display: none;
		color: #fff;
		font-size: 19px;
		width: 100%;
		height: 22px;
		z-index: 1;
		right: 0;
	}


	.blue .info_block .url_order {
		margin-top: 0;
		margin-left: 20px;
		width: 40%;
	}

	.slider_emp li.hovered a:before {
		content: "";
		background: rgba(0, 133, 221, 0.8);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.slider_emp li.hovered .count_jobs_emp {
		display: block;
	}
	.news_wrapper .news {
		width: 100%;
		margin-top: 20px;
	}

	.main-search-tag-animation {
		left: 6px;
		font: 300 16px/28px Roboto, sans-serif;
	}
	.modal .modal-dialog_mobile_redesign {
        height: 100%;
	}
	.modal .modal-dialog_mobile_redesign .modal-content {
        height: 100%;
	}
	.modal .modal-dialog_mobile_redesign .modal-header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		padding: 5px 20px;
	}
	.modal .modal-dialog_mobile_redesign .modal-body {
        height: 100%;
		padding: 53px 20px 50px;
	}
	.modal-dialog_mobile_redesign .modal-header .modal-header__title {
		display: none;
	}
	.modal-dialog_mobile_redesign .modal-header .close {
		top: 8px;
		left: 20px;
		width: 15px;
		height: 15px;
		background: url(../../rdwapp/img/left-arrow_b.svg) no-repeat center;
		-webkit-background-size: 15px;
		background-size: 15px;
	}
    .modal .modal-dialog_mobile_redesign .modal-header .reset {
        display: block;
		float: right;
		font: 400 16px/21px Roboto, sans-serif;
		color: #0085de;
		white-space: nowrap;
	}
	.modal .modal-dialog_mobile_redesign .modal-body .mobile-modal-body {
        height: 100%;
        max-height: calc(100vh - 53px - 51px - 50px);
        overflow-y: scroll;
	}
    .modal .modal-dialog_mobile_redesign .modal-body .city-search {
        margin-bottom: 10px;
        padding: 6px 0;
        border: 0;
        border-bottom: 1px solid #bfbfbf;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
    }
    .modal .modal-dialog_mobile_redesign .modal-body .city-search-label {
        position: relative;
        bottom: -22px;
        display: block;
        font: 400 14px/14px Roboto, sans-serif;
        color: #666;
    }
    .modal .modal-dialog_mobile_redesign .modal-body .city-search::-webkit-input-placeholder {
        opacity: 0;
        color: #fff;
    }
    .modal .modal-dialog_mobile_redesign .modal-body .city-search::-moz-placeholder {
        opacity: 0;
        color: #fff;
    }
    .modal .modal-dialog_mobile_redesign .modal-body .city-search:-moz-placeholder {
        opacity: 0;
        color: #fff;
    }
    .modal .modal-dialog_mobile_redesign .modal-body .city-search:-ms-input-placeholder {
        opacity: 0;
        color: #fff;
    }
	.modal .modal-dialog_mobile_redesign .modal-body .modal-body__list {
        overflow-y: auto;
        max-height: none;
        padding-left: 0;
	}
    .modal .modal-dialog .modal-body .modal-body__list-item {
        padding: 0;
    }
	.modal .modal-dialog_mobile_redesign .modal-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		padding: 0;
	}
	.modal .modal-dialog_mobile_redesign .modal-footer .modal-footer__submit {
		width: 100%;
		height: 40px;
		margin: 0;
		font: 300 14px/40px Roboto, sans-serif;
        border: 0;
        background: #0085de;
	}

    .modal .modal-dialog_mobile_redesign .modal-body .city-select-all-open {
        display: none;
    }
    .modal .modal-dialog_mobile_redesign .modal-body .city-select-label,
    .modal .modal-dialog_mobile_redesign .modal-body .city-select-all-label,
	.content .default_form_redesign li .options_box label {
		position: relative;
        display: block;
        width: 100%;
		margin-left: 0;
        padding: 9px 23px 9px 0;
        font: 15px/21px Verdana;
        color: #000;
    }
	.content .default_form_redesign li .options_box.inline label + label {
		margin-left: 0;
	}
    .modal .modal-dialog_mobile_redesign .modal-body .city-select-label:before,
    .modal .modal-dialog_mobile_redesign .modal-body .city-select-all-label:before,
	.content .default_form_redesign li .label_2 .checkbox{
		position: absolute !important;
        top: 9px;
        right: 0;
        left: auto;
        width: 21px;
        height: 21px;
        background-image: url(../../rdwapp/img/radio_checkbox_redesign.png);
        background-position: 0 0;
    }
    .modal .modal-dialog_mobile_redesign .modal-body .city-select:checked + .city-select-label:before,
    .modal .modal-dialog_mobile_redesign .modal-body .city-select-all:checked + .city-select-all-label:before,
	.content .default_form_redesign li .label_2 .checkbox.checked {
        background-position: -21px 0;
    }
	.content .default_form_redesign li .label_2 .radio{
		position: absolute !important;
		top: 9px;
		right: 0;
		left: auto;
		width: 21px;
		height: 21px;
		background-image: url(../../rdwapp/img/radio_button_redesign.png);
		background-position: 0 0;
	}
	.content .default_form_redesign li .label_2 .radio.checked {
		background-position: -21px 0;
	}

	.side-filter-by-parameters-with-count__button {
		display: block;
	}
}
