* { 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none;
}
img, fieldset {
	border: 0;
}
ul, ol {
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.content #logo {
	width: 211px;
	text-align: left;
	text-decoration: none;
	margin: 9px 0 28px 17px;
	display: inline-block;
}
.content #logo img {
	width: 100%;
}
.content #logo .slogan {
	color: #fa5151;
	font: italic bold 13px/1.2 Verdana;
	text-align: left;
	text-transform: uppercase;
	margin: -4px 0 0 0;
	display: block;
}
.content .txt_container {
	border: 3px solid #e0e0e0;
	padding: 26px 30px 28px 30px;
	margin: 4px 0 15px 0;
	display: block;
}
.content h1, .h1 {
	color: #666;
	font: 300 20px/1.2 Roboto, sans-serif;
	text-transform: uppercase;
	padding: 0 0 13px 0;
	position: relative;
	display: block;
}
.content .txt_container h2, .content .h2 {
	height: 11px;
	color: #004b91;
	font: 17px/1.2 Roboto, sans-serif;
	text-transform: uppercase;
	margin: 0 0 25px 0;
	position: relative;
	clear: both;
	display: block;
}
.content .txt_container h2 .txt, .content .h2 .txt {
	background: #fff;
	padding: 0 10px 0 0;
	display: inline-block;
}
.content h3, .content .h3 {
	color: #666;
	font: bold 12px/1.42 Verdana;
	padding: 1px 0 17px 0;
	display: block;
}
.content p {
	font: 12px/1.42 Verdana;
	padding: 0 0 15px 0;
	display: block;
}
.content ul:not([class]) {
	font: 12px/1.42 Verdana;
	padding: 0 0 22px 0;
	display: block;
}
.content ul:not([class]) li {
	list-style: disc inside;
	padding: 0 0 10px 21px;
}
.content ol:not([class]) {
	font: 12px/1.42 Verdana;
	counter-reset: li;
	padding: 0 0 22px 0;
	display: block;
}
.content ol:not([class]) li {
	padding: 0 0 10px 21px;
	position: relative;
	display: block;
}
.content table:not([class]), .content .history_table {
	width: 100%;
}
.content table:not([class]) th, .content .history_table th {
	color: #333;
	font: bold 13px/1.2 Verdana;
	text-align: left;
	background: #f3f3f3;
	padding: 12px 30px;
}
.content .history_table th {
	background: none;
	padding: 0 30px 12px 30px;
}
.content table:not([class]) td, .content .history_table td {
	font: 13px/1.54 Verdana;
	vertical-align: top;
	border-top: 1px solid #ebebeb;
	padding: 9px 30px;
}
.content table:not([class]) th:first-child, .content table:not([class]) td:first-child, .content .history_table th:first-child, .content .history_table td:first-child {
	padding-left: 15px;
}
.content table:not([class]) th:last-child, .content table:not([class]) td:last-child, .content .history_table th:last-child, .content .history_table td:last-child {
	padding-right: 15px;
}
.content .col_wide {
	width: 330px;
	float: left;
}
.content .col_tight {
	width: 250px;
	float: right;
}
.content .quick_info {
	padding: 0 0 7px 0;
	position: relative;
}
.content .quick_info .date {
	color: #b2b2b2;
	font: 9px/1.2 Verdana;
	padding: 0 0 4px 0;
	margin: -3px 0 0 0;
	display: block;
}
.content .quick_info .date .sep {
	font: 14px/1.2 Verdana;
	vertical-align: baseline;
	display: inline-block;
}
.content .quick_info h1 {
	color: #004b91;
	font: bold 20px/1 Roboto, sans-serif;
	text-transform: none;
	padding: 0 0 23px 0;
	display: block;
}
.content .quick_info .name {
	font: bold 17px/1.2 Roboto, sans-serif;
	padding: 0 0 29px 0;
	display: block;
}
.content .quick_info .small {
	font: 11px/1.2 Verdana;
	padding: 1px 0 0 0;
	display: block;
}
.content .quick_info .small .grey {
	color: #999;
}
.content .quick_info .company_name {
	font: bold 17px/1.2 Roboto, sans-serif;
	padding: 0 0 22px 0;
	display: block;
}
.content .quick_info .list {
	width: 100%;
	margin: 0 0 15px 0;
	float: left;
}
.content .col_wide .list li {
	font: 13px/1.2 Verdana;
	padding: 0 0 10px 0;
	display: block;
}
.content .quick_info .box {
	width: 100%;
	margin: 0 0 5px 0;
	float: left;
}
.content .quick_info .box .url_download {
	font: 13px/1.2 Verdana;
	text-decoration: none;
	margin: 1px 0 14px 0;
	position: relative;
	float: left;
}
.content .quick_info .box .url_download span {
	color: #999;
	font: 9px/1.2 Verdana;
}
.content .quick_info_bottom .box_1 {
	width: 142px;
	padding: 5px 0 7px 0;
	float: left;
}
.content .quick_info_bottom .box_1 .foto {
	width: 142px;
	float: left;
}
.content .quick_info_bottom .box_1 .foto img {
	width: 100%;
}
.content .quick_info_bottom .share_block {
	width: 100%;
	float: left;
}
.content .quick_info_bottom .share_block .txt {
	color: #bfbfbf;
	font: 11px/1.2 Verdana;
	padding: 7px 0 8px 0;
	display: block;
}
.content .quick_info_bottom .share_block .url {
	width: 26px;
	height: 26px;
	margin: 0 3px 0 0;
	float: left;
}
.content .quick_info_bottom .box_2 {
	width: 300px;
	padding: 6px 0 7px 47px;
	margin: 0 -200px 0 0;
	float: left;
}
.content .quick_info_bottom .box_2 .name {
	font: bold 13px/1.2 Verdana;
	padding: 0 0 14px 0;
	display: block;
}
.content .quick_info_bottom .box_2 .list li {
	width: 100%;
	font: 12px/1.2 Verdana;
	padding: 0 0 6px 86px;
	float: left;
}
.content .quick_info_bottom .box_2 .list li:first-child {
	padding: 0 0 12px 86px;
}
.content .quick_info_bottom .box_2 .list li .title {
	width: 86px;
	color: #999;
	margin: 0 0 0 -86px;
	float: left;
}
.content .quick_info_bottom .box_2 .list li .btn-default {
	margin: 17px 0 0 0;
}
.content .about_me {
	text-align: center;
	display: block;
}
.content .about_me .box {
	font: 11px/1.2 Verdana;
	text-align: left;
	background: #f0f0f0;
	padding: 17px 20px 19px 20px;
	display: block;
}
.content .about_me .box .name {
	font: bold 13px/1.2 Verdana;
	padding: 0 0 3px 0;
	display: block;
}
.content .about_me .box .grey {
	color: #999;
	padding: 7px 0 0 0;
	display: block;
}
.content .about_me_big {
	min-height: 10px !important;
	background: #f0f0f0;
	padding: 10px 20px 19px 20px;
	display: block;
}
.content .about_me_big h4 {
	height: 11px;
	color: #333;
	font: 500 17px/1.2 Roboto, sans-serif;
	text-transform: uppercase;
	margin: 0 0 19px 0;
	display: block;
}
.content .about_me_big h4 span {
	background: #f2f2f2;
	padding: 0 10px 0 0;
	display: inline-block;
}
.content .about_me_big p {
	font: 11px/1.36 Verdana;
	padding: 0 0 27px 0;
}
.content .about_me_big .list li {
	font: 11px/1.2 Verdana;
	padding: 1px 0 11px 0;
	display: block;
}
.content .about_me_big .list li .title {
	color: #999;
	display: block;
}
.content .about_me_big .list li .big {
	font: bold 13px/1.08 Verdana;
}
.content .job_list {
	padding: 0 0 3px 0;
	margin: 0 0 20px 0;
}
.content .job_list > li {
	width: 100%;
	border: 3px solid #e1e1e1;
	padding: 15px;
	margin: 0 0 -3px 0;
	position: relative;
	display: table;
	float: left;
}
.content .job_list li .logo {
	width: 126px;
	text-align: center;
	vertical-align: middle;
	padding: 0 16px 0 0;
	display: table-cell;
}
.content .job_list li .date {
	color: #b2b2b2;
	font: 9px/1.2 Verdana;
	padding: 8px 0 4px 0;
	display: block;
}
.content .job_list li .url_title {
	font: bold 14px/1.2 Verdana;
	margin: 0 0 2px 0;
	display: inline-block;
}
.content .job_list li .name {
	color: #666;
	font: bold 12px/1.2 Verdana;
	margin: 12px 0 3px 0;
	display: block;
}
.content .job_list li p .grey {
	color: #999;
}
.content .job_list li .list {
	width: 222px;
	color: #666;
	font: 11px/1.2 Verdana;
	vertical-align: top;
	padding: 0 0 6px 0;
	display: inline-block;
}
.content .job_list li .list li {
	padding: 3px 0 2px 0;
	display: block;
}
.content .views_table {
	width: 100%;
}
.content .views_table td {
	font: 12px/1.2 Verdana;
	border-top: 1px solid #e0e0e0;
	padding: 12px 0;
}
.content .views_table tr:first-child td {
	border-top: 0;
}
.content .views_table td.time {
	width: 195px;
	text-align: right;
}
.content .views_table td .txt_mob {
	display: none;
}
.footer .copy {
	color: #919191;
	font: 11px/1.2 Verdana;
	border-top: 0;
	padding: 0 0 28px 0;
}
.clearfix:after, .clear {
	height: 0;
	content: "";
	clear: both;
	display: table;
}
.top_banner, .sidebar, .content .h1, .content .sort_block, .content .print_hide, .footer .bottom_info, .content .about_me_big .profile_video, .content .quick_info_bottom .share_block, .btn-default, .content .filter_block, .content .main_nav, .footer .copy .idea, .content .quick_info .icons_list, .modal, .ad_list, .member_nav, .content .pages, .content .job_list li .url, .content .job_list li .url_star, .temp_msg, .content .url_help, .content .menu_hold, .payment_demo {
	display: none;
}