@media (min-width: 768px) and (max-width: 1219px) {
body {
	min-width: 768px;
}
.top_banner {
	padding: 14px 20px;
	margin: 0 0 15px 0;
}
.top_banner img {
	width: 100%;
	max-width: 800px;
}
.content {
	padding: 0 10px;
}
.col-sm-7 .content, .col-sm-5 .content {
	padding: 0;
}
.content.wide {
	margin: 13px 0 0 0;
}
.content #logo {
	width: 108px;
	text-align: center;
	margin: 0 0 0 0px;
}
.content #logo .slogan {
	font: italic bold 11px/1.2 Verdana;
	margin: -1px 0 0 0;
}
.content h1, .content .h1 {
	padding: 0 0 13px 17px;
}
.content h1:before, .content .h1:before {
	left: 1px;
}
.content .manager_block + .h1 {
	margin: 19px 0 4px 0;
}
.content .txt_container p + h2, .content p + .h2 {
	margin-top: 18px;
}
.col-md-8 .content .small_container:last-child {
	margin: 4px 0 20px 0;
}
.content .small_container h2 {
	font: 17px/1.2 Roboto, sans-serif;
	margin: -1px 0 0 0;
}
.content table:not([class]) th, .content .history_table th {
	background: none;
	padding: 7px 20px 12px 20px;
}
.content .history_table th {
	background: none;
	padding: 0 20px 12px 20px;
}
.content table:not([class]) td, .content .history_table td {
	padding: 9px 20px;
}
.content table:not([class]) th:first-child, .content table:not([class]) td:first-child, .content .history_table th:first-child, .content .history_table td:first-child {
	padding-left: 0;
}
.content table:not([class]) th:last-child, .content table:not([class]) td:last-child, .content .history_table th:last-child, .content .history_table td:last-child {
	padding-right: 0;
}
.content .img_left {
	margin: 0 15px 16px 0;
}
.content .menu_hold {
	margin: 3px -20px 20px -20px;
}
.content .menu_arrows {
	margin: 0 -10px;
}
.content .clients_search {
	width: 367px;
	text-align: center;
	padding: 15px 15px 0 15px;
	margin: 3px -20px 16px 0;
}
.content .clients_search .box .input {
	width: 190px;
	text-align: left;
}
.content .clients_search .url_add {
	float: none;
}
.content .txt_container {
	margin: 2px 0 20px 0;
}
.content .alert + .txt_container {
	margin-top: 30px;
}
.content .txt_container.no_borders {
	padding: 0 0 30px 0;
}
.content h1 + .alert {
	margin-top: 2px;
}
.content .main_nav {
	margin: 19px 9px 0 0;
}
.content .main_nav li .url {
	margin: 13px 0 0 18px;
}
.content .filter_block {
	margin: 0 -20px 16px -20px;
}
.content .filter_block .top_row .tags_box {
	width: 655px;
}
.content .filter_block .top_row .input {
	width: 655px;
}
.content .filter_block .top_row .tags_box .input {
	max-width: 660px;
}
.content .filter_block .filter_options > li {
	width: 175px;
	margin: 0 0 0 9px;
}
/*select 2 start*/
.content .filter_block .top_row .select2-container {
	max-width: 518px;
}
/*select 2 end*/
.content .filter_block .hidden_form {
	padding: 10px 0 38px 0;
	margin: 0 0 18px 0;
}
.content .filter_block .hidden_form .url_toggle {
	margin: 0 0 42px 0;
}
.content .filter_block .hidden_form .form > li .label_1, .content .filter_block .hidden_form .form > li .spacer, .content .filter_block .hidden_form .form > li .control-label {
	width: 271px;
}
.content .employers_list {
	max-width: 726px;
	background: url(../img/employers_list_bg_tablet.png) repeat -4px -4px;
	margin: 4px 0 16px 0;
}
.content .employers_list li {
	width: 146px;
}
.content .tags_block {
	padding: 13px 0 25px 0;
}
.content .tags {
	font: 11px/1.82 Verdana;
	padding: 0 0 10px 0;
}
.red .content .tags {
	padding: 0 0 35px 0;
}
.content .reg_button_row {
	padding: 49px 0 79px 0;
}
.content .login_box {
	width: 334px;
	padding: 11px 34px 0 0;
	margin: 0 0 0 -2px;
}
.login_form li {
	padding: 16px 0 20px 0;
}
.content .login_box_optional {
	width: 323px;
	padding: 11px 0 0 43px;
}
.content .contacts_map {
	display: none;
}
.content .default_form {
	padding: 32px 0 35px 0;
}
.content .default_form + .default_form {
	padding: 0 0 35px 0;
	margin: -35px 0 0 0;
}
.content .default_form li.last {
	text-align: center;
	margin: 0 0 -34px 0;
}
.content .default_form li.sep_line.last {
	margin: 40px 0 -34px 0;
}
.content .default_form li .label_1, .content .default_form li .spacer {
	width: 228px;
}
.content .default_form li .error_txt {
	padding: 11px 0 0 228px;
}
.content .default_form li .upload_label {
	margin: 0;
}
.content .job_list li .list + .list {
	width: 222px;
}
.content .job_list li .url {
	display: inline-block;
}
.content .sort_block .sort {
	margin: 2px 0 0 0;
}
.content .options_block.messages_list + .sort_block {
	margin: -20px 0 0 0;
}
.content .options_block + .sort_block {
	margin: -20px 0 20px 0;
}
.content .sort_block .hidden-sm + .sort {
	margin: 2px 0 0 20px;
}
.content .pages {
	margin: 20px 0 30px 0;
}
.content .select_box + .pages {
	margin: 0 0 20px 0;
}
.content .select_box + .clear + .pages {
	margin: -39px 0 18px 0;
}
.content .profile_block {
	width: 385px;
	margin: 0 0 19px 0;
}
.red .content .about_me_big .profile_video {
	margin: 0 -2px 1px -2px;
}
.content .comments_form {
	margin: 0;
}
.content .comments_form label {
	width: 100%;
	padding: 0 0 8px 0;
}
.content .comments_form textarea {
	width: 100%;
}
.content .comments_form .btn-default {
	margin: 0;
}
.content .comments_block {
	padding: 20px 0 20px 0;
}
.content .comments_block li .block {
	width: 488px;
}
.content .comments_block li .block .url_attachment {
	margin: 3px 0 20px 0;
}
.content .cart_table .col_2 {
	width: 150px;
}
.content .cart_table .col_3 {
	width: 155px;
}
.content .cart_table .col_5 {
	width: 120px;
}
.content .cart_table .col_6 {
	width: 145px;
}
.content .cart_table .col_7 {
	width: 110px;
}
.content .payment_options .txt {
	width: 100%;
}
.content .payment_options .list li {
	margin: 21px 35px 0 0;
}
.content .your_options .input {
	width: 130px;
}
.content .messages_list > li {
	padding: 30px 30px 30px 187px;
}
.content .ads_subscription > li {
	padding: 24px 30px 15px 64px;
}
.content .summary_list > li {
	padding: 24px 18px 15px 64px;
}
.content .clients_list > li {
	padding: 27px 18px 15px 174px;
}
.content .options_block > li label {
	width: 40px;
}
.content .ads_subscription li .url_title {
	max-width: 450px;
}
.content .summary_list li .url_title {
	max-width: 450px;
}
.content .clients_list li .url_title {
	max-width: 400px;
}
.content .summary_list li .name {
	max-width: 450px;
}
.content .clients_list li .title {
	max-width: 400px;
}
.content .options_block li .list_holder {
	width: 222px;
	padding: 0 0 6px 0;
	display: inline-block;
}
.content .options_block li .list_holder .list {
	padding: 0;
}
.content .options_block li .hover_box {
	display: block;
}
.content .options_block li .toogle_box {
	display: block;
}
.content .options_block li .hover_box {
	padding: 11px 0 4px 0;
	position: relative;
	right: 0;
	bottom: 0;
}
.content .options_block li .hover_box .url_list {
	float: right;
}
.content .options_block li .hover_box .url {
	float: left;
}
.content .options_block li .note_form .input {
	width: 337px;
}
.content .options_block li .message_panel {
	max-width: 465px;
}
.content .options_block.clients_list li .message_panel {
	max-width: 400px;
}
.col-md-8 .content .small_container .info_txt {
	width: 100%;
	padding: 5px 0 0 0;
}
.content .col_wide {
	width: 395px;
}
.content .quick_info .icons_list {
	top: 15px;
}
.content .quick_info .date {
	margin: 12px 0 0 0;
}
.content .quick_info h1 {
	padding: 0 0 23px 0;
}
.content .col_wide .list {
	margin: 0 0 6px 0;
}
.content .quick_info .box {
	margin: 0 0 40px 0;
}
.content .quick_info .box .url_download {
	margin: 1px 0 24px 0;
}
.content .quick_info_bottom .box_1 {
	width: 120px;
	padding: 5px 0 2px 0;
}
.content .quick_info_bottom .box_1 .foto {
	width: 120px;
}
.content .quick_info_bottom .share_block .txt {
	padding: 29px 0 8px 0;
}
.content .quick_info_bottom .box_2 {
	width: 274px;
	padding: 1px 0 2px 10px;
}
.content .vip_holder {
	padding: 0;
}
.content .vip_holder .vip_box {
	width: 470px;
}
.content .vip_holder .balance_info {
	width: 249px;
	padding: 12px 20px 14px 15px;
}
.content .ad_table {
	min-width: 1180px;
}
.content .price_total_holder {
	padding: 20px 0 0 0;
}
.sidebar {
	padding: 0 10px;
}
.member_nav {
	clear: both;
	margin: -4px 0 6px 0;
}
.member_nav .nav {
	margin: 0 -8px 0 0;
	float: right;
}
.manager_block {
	padding: 0 30px 0 140px;
	margin: 0 0 18px 0;
}
.temp_msg + .manager_block {
	margin: 20px 0 18px 0;
}
.manager_block .foto {
	margin: 0 0 0 -140px;
	float: left;
}
.manager_block h4 {
	margin: 21px 0 3px 0;
}
.manager_block .name {
	padding: 15px 0 4px 0;
}
.manager_block .list {
	padding: 0 100px 10px 0;
	margin: 0;
}
.manager_block .list li {
	margin: 0 15px 0 0;
	display: inline-block;
}
.manager_block .list li .type {
	width: auto;
}
.manager_block .btn-default {
	margin: -32px 0 15px 0;
	float: right;
}
.sidebar .info_block {
	border: 3px solid #e5e5e5;
	padding: 24px 0 25px 0;
	margin: 0 0 20px 0;
	display: table;
}
.sidebar .info_block .box {
	width: 33.333%;
	border-top: 0;
	border-left: 0;
	padding: 3px 30px 6px 0px;
	margin: 0;
	clear: none;
	display: table-cell;
}
.sidebar .info_block .box ~ .box {
	border-top: 0;
	border-left: 1px solid #e5e5e5;
	padding: 3px 30px 6px 0px;
}
.sidebar .info_block .url_order {
	margin: 0;
}
.ad_list {
	margin: 0 0 10px -10px;
}
.ad_list li {
	width: 33.333%;
	padding: 0 0 10px 10px;
	float: left;
}
.footer .payment_demo li {
	margin: 0 35px;
}
.footer .bottom_info {
	padding: 46px 0 31px 0;
}
.footer .bottom_info .container {
	padding: 0 52px;
}
.footer .bottom_info .url_list li {
	padding: 0 0 4px 0;
}
.footer .bottom_info .box {
	width: 33.333%;
	padding: 0 0 24px 0;
	float: left;
}
.footer .bottom_info .box_info {
	width: 100%;
}
.footer .copy .container {
	padding: 0 52px;
}
.footer .copy {
	padding: 38px 0;
}
.table-responsive {
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive.sale_fix {
	margin-top: 0;
}
.modal {
	padding: 0 !important;
}
.selecter .selecter-options .selecter-item:hover {
	color: #666;
}
.selecter .selecter-options .selecter-item.selected:hover {
	color: #39f;
}
.wrap-specialization .specialization-list {
	width: 50%;
}
.wrap-lists {
	flex-wrap: wrap;
}
.sidebar.job-sidebar .info_block.joburl-block {
    margin: 10px;
}
.content.vakansiya-content .col_tight {
	border: none;
    padding-left: 0;
    padding-right: 30px;
}
.content.vakansiya-content .sort_block + .txt_container {
	display: block;
}
.sidebar.job-sidebar .info_block.joburl-block {
	margin-top: 10px;
}
.wrap_new_jobs .new_jobs_list li {
	width: 48%;
}
.wrap_new_jobs .new_jobs_list:before, .wrap_new_jobs .new_jobs_list:after {
	display: none;
}
.block-subscribe.mob {
	display: block;
}
	.block-subscribe input {
		width: 50%;
	}
	.sidebar.desc {
		display: none;
	}
	.footer .bottom_info .box {
		padding-bottom: 0;
	}
	.by_cities {
		justify-content: space-evenly;
	}
	.by_cities a {
		margin-bottom: -8px;
	}
	.by_cities .item_city {
		width: 180px;
	}
	.by_cities a:last-child, .by_cities a:nth-last-child(2) {
		display: none;
	}
	.pd10 {
		padding-top: 10px;
	}
	.copy .pay {
		margin-top: 20px;
	}
	.copy .partner {
		margin-top: 15px;
	}
	.block-subscribe .info_block .url_order{
		margin-left: 20px;
	}
	.block-subscribe .info_block .box.sub_box {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.sub_box .form-sub {
		margin-left: 20px;
		width: 65%;
	}
	.block-subscribe .info_block .url_order.copy-url_order{
		margin: 0 0 0 20px;
	}
	.news_wrapper .news {
		width: 45%;
		margin-top: 20px;
	}
}
