{% block professional_area_collection_popup %}
    <div class="remodal" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <div class="popup">
            <div class="filter">
                <input class="filter-inp" id="filter-pa">
            </div>
            <div class="tree">
                {% for pa in pa_list %}
                    <div class="parent"><div class="parent-name">{{ pa.name }}</div>
                        {% if pa.children %}
                            <div class="children">
                                {% for item in pa.children %}
                                    <div class="child">
                                        <input type="checkbox" class="pa-check" name="{{ item.id }}" data-parent-id="{{pa.id}}" data-parent-name="{{ pa.name }}" value="{{ item.id }}">
                                        <span class="pa-name">{{ item.name }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="button pa-btn" id="pa-pick">
                {% trans %}Pick{% endtrans %}
            </div>
        </div>
    </div>
{% endblock %}