<ul class="default_form no-padding">
    {% if allow_delete %}
        <div class="col-xs-4 pull-right delete-button-big">
            <a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="{{ form.vars.id }}">{{ 'Delete'|trans }}</a>
        </div>
    {% endif %}

    <li>
        {{ form_label(form.dateFrom, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        {{ form_widget(form.dateFrom.month, { 'attr' : { 'class' : 'el_84' }} ) }}
        {{ form_widget(form.dateFrom.year, { 'attr' : { 'class' : 'el_84' }} ) }}
        {{ form_errors(form.dateFrom) }}
    </li>
    <li>
        {{ form_label(form.dateTo, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        {{ form_widget(form.dateTo.month, { 'attr' : { 'class' : 'el_84' }} ) }}
        {{ form_widget(form.dateTo.year, { 'attr' : { 'class' : 'el_84' }} ) }}
        {{ form_errors(form.dateTo) }}
    </li>
    <li>
        {{ form_label(form.position, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.position, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.position) }}
    </li>
    <li>
        {{ form_label(form.companyTitle, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.companyTitle, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.companyTitle) }}
    </li>
    <li>
        {{ form_label(form.scope, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.scope, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.scope) }}
    </li>
    <li>
        {{ form_label(form.additionalInfo, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.additionalInfo, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.additionalInfo) }}
    </li>
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>
</ul>
