<ul class="default_form">
{% if allow_delete %}
    <div class="col-xs-4 pull-right delete-button-big">
        <a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="{{ form.vars.id }}">{{ 'Delete'|trans }}</a>
    </div>
{% endif %}
    <li>
        {{ form_label(form.language, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.language, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.language) }}
    </li>
    <li>
        {{ form_label(form.level, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.level, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.level) }}
    </li>
</ul>
