<ul class="default_form">
    {% if allow_delete %}
        <div class="col-xs-4 pull-right delete-button-big">
            <a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="{{ form.vars.id }}">{{ 'Delete'|trans }}</a>
        </div>
    {% endif %}

    <li>
        {{ form_label(form.educationType, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.educationType, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.educationType) }}
    </li>
    <li>
        {{ form_label(form.institution, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.institution, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.institution) }}
    </li>
    <li>
        {{ form_label(form.faculty, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.faculty, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.faculty) }}
    </li>

    <li>
        {{ form_label(form.dateTo, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        {{ form_widget(form.dateTo.year, { 'attr' : { 'class' : 'el_84' }} ) }}
        {{ form_errors(form.dateTo) }}
    </li>

    <li>
        {{ form_label(form.additionalInfo, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.additionalInfo, { 'attr' : { 'class' : 'input' } }) }}
        {{ form_errors(form.additionalInfo) }}
    </li>
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>
</ul>
