<span class="spacer">&nbsp;</span>

<div class="pull-left">
    {{ form_widget(form.number, {attr: {class: 'input phone'}}) }}
</div>

{% if allow_delete %}
    <div class="delete-button-small col-xs-3">
        <a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="{{ form.vars.id }}">{{ 'Delete'|trans }}</a>
    </div>
{% endif %}

{{ form_errors(form.number) }}
