{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block sum_captcha_widget %}
    {% spaceless %}
        {% set errorClass = errors|length > 0 ? 'error' : '' %}
        <span class="validation"><strong>{{ digit1 }}</strong> + <strong>{{ digit2 }}</strong> = </span><input type="text" name="{{ full_name }}" id="rdw_sum_captcha" {% if value is not empty %}value="{{ value }}" {% endif %} class="input el_41 {{ errorClass }}" />
    {% endspaceless %}
{% endblock %}

{% block position_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'all_positions' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'all_positions' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block position_autocomplete_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'all_positions' }), 'data-find-pa-url': url('rdw_search.search.find_pa', { 'filter': 'all_positions' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'all_positions' }), 'data-find-pa-url': url('rdw_search.search.find_pa', { 'filter': 'all_positions' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block professional_area_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'professional_area' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'professional_area' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block scope_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'scopes' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'scopes' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block professional_area_collection_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'professional_area' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="multi-select-collection input {% if errors|length > 0 %}error{% endif %}"">
                {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'professional_area' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                </div>
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}


{% block professional_area_collection_popup_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            <div class="pick-professional-area">
                <div class="pa-list-wrapper">
                <ul class="pa-list">
                </ul>
                </div>
                <span class="pick-label">{% trans %} Pick Professional Area{% endtrans %}</span>
            </div>
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'professional_area' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
            {% include "RDWAppBundle:Form:_professional_area_popup.html.twig" %}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="pick-professional-area">
                    <ul class="pa-list"></ul>
                    <span class="pick-label">{% trans %} Pick Professional Area{% endtrans %}</span>
                </div>
                {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'professional_area' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                {{ form_errors(form) }}
                {% include "RDWAppBundle:Form:_professional_area_popup.html.twig" %}
        {% endspaceless %}
    {% endif %}
{% endblock %}


{% block city_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'cities' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'cities' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block city_collection_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'cities' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="multi-select-collection input {% if errors|length > 0 %}error{% endif %}"">
                    {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'cities' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                </div>
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block position_collection_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'all_positions' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="multi-select-collection input {% if errors|length > 0 %}error{% endif %}">
                    {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'all_positions' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                </div>
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block work_schedule_collection_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'work_schedules' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="multi-select-collection input {% if errors|length > 0 %}error{% endif %}"">
                    {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'work_schedules' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                </div>
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block scope_collection_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'scopes' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="multi-select-collection input {% if errors|length > 0 %}error{% endif %}"">
                    {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'scopes' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                </div>
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block language_collection_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'languages' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
            {{ form_errors(form) }}
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% set errorClass = errors|length > 0 ? 'error' : '' %}
            <li {% if errors|length > 0 %}class="error"{% endif %}>
                {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="multi-select-collection input {% if errors|length > 0 %}error{% endif %}"">
                    {{ form_widget(form, { 'attr': { 'class': 'input ' ~ form.vars.attr.class ~ ' ' ~ errorClass, 'data-placeholder': form.vars.attr.placeholder|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'languages' }), "data-init-url": url('rdw_search.search.init_values') } }) }}
                </div>
                {{ form_errors(form) }}
            </li>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block ajax_upload_widget %}
    {% spaceless %}
        {% if photo %}
            <div id="uploaded-{{ id }}" class="img_box">
                {% if file_name %}
                    <img src="{{ file_name | rdw_thumb('user_thumb') }}" />
                {% endif %}
            </div>
            <a data-handler="activateUploadHandler" data-activate-field="{{ id }}" href="#" class="url">{{ 'Create/Update'|trans }}</a>
            <span class="format">{{ '(Format photo: JPEG, PNG)'|trans }}</span>
        {% else %}
            <span class="upload_label">
                <span id="uploaded-{{ id }}" class="filename">{% if not file_name %} {{ 'No file attached.'|trans }} {% else %} {{ file_name }} {% endif %} </span> <a data-handler="activateUploadHandler" data-activate-field="{{ id }}" href="#" class="url_upload">{{ 'Browse'|trans }}</a>
            </span>
        {% endif %}

        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}

{% block bootstrap_collection_widget %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {% if prototype is defined %}
                {% set prototype_vars = {} %}
                {% if style is defined %}
                    {% set prototype_vars = prototype_vars|merge({'style': style}) %}
                {% endif %}
                {% set prototype_html = '<div class="delete-button-small col-xs-' ~ form.vars.sub_widget_col ~ '">' ~ form_widget(prototype, prototype_vars) ~ '</div>' %}
                {% if form.vars.allow_delete %}
                    {% set prototype_html = prototype_html ~ '<div class="delete-button-small col-xs-' ~ form.vars.button_col ~ '"><a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="__id__">' ~ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw ~ '</a></div>' %}
                {% endif %}
                {% set prototype_html = '<div class="row">' ~ prototype_html ~ '</div>' %}

                {% set attr = attr|merge({'data-prototype': prototype_html }) %}
                {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
            {% endif %}
            <div {{ block('widget_container_attributes') }}>
                <ul class="bc-collection list-unstyled">
                    {% for field in form %}
                        <li>
                            <div class="row">
                                <div class="col-xs-{{ form.vars.sub_widget_col }}">
                                    {{ form_widget(field) }}
                                    {{ form_errors(field) }}
                                </div>
                                {% if form.vars.allow_delete %}
                                    <div class="delete-button-small col-xs-{{ form.vars.button_col }}">
                                        <a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="{{ field.vars.id }}">{{ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% if form.vars.allow_add %}
                    <a href="#" class="btn btn-primary btn-sm" data-addfield="collection" data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">{{ form.vars.add_button_text|trans({}, translation_domain)|parse_icons|raw }}</a>
                {% endif %}
            </div>
        {% endspaceless %}
    {% else %}
        {% spaceless %}
            {% if prototype is defined %}
                {% set prototype_vars = {} %}
                {% set prototype_vars = prototype_vars|merge({'required': false}) %}
                {% if style is defined %}
                    {% set prototype_vars = prototype_vars|merge({'style': style}) %}

                {% endif %}

                {% set prototype_html = '<span class="spacer">&nbsp;</span>' ~ form_widget(prototype, prototype_vars) %}
                {% if form.vars.allow_delete %}
                    {% set prototype_html = prototype_html ~ '<div class="delete-button-small col-xs-' ~ form.vars.button_col ~ '"><a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="__id__">' ~ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw ~ '</a></div>' %}
                {% endif %}

                {% set attr = attr|merge({'data-prototype': prototype_html }) %}

            {% endif %}
            <li>
                {{ form_label(form, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
                <ul class="default_form sub-form" {{ block('widget_container_attributes') }}>
                    {% for field in form %}
                        <li>
                            <span class="spacer">&nbsp;</span>
                            {{ form_widget(field) }}
                            {% if form.vars.allow_delete %}
                                <div class="delete-button-small col-xs-{{ form.vars.button_col }}">
                                    <a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="{{ form.vars.id }}">{{ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw }}</a>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% if form.vars.allow_add %}
                <li class="form-collection-add-field">
                    <span class="spacer">&nbsp;</span>
                    <a href="#" class="add-field" data-handler="form-collection" data-collection="{{ form.vars.id }}">+ {{ form.vars.add_button_text|trans({}, translation_domain)|parse_icons|raw }}</a>
                </li>
            {% endif %}
        {% endspaceless %}
    {% endif %}
{% endblock bootstrap_collection_widget %}

{% block form_errors %}
    {% spaceless %}
        {% set global_errors = global_errors|default(false) %}
        {% set style = style|default(bootstrap_get_style()) %}

        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}

        {% if errors|length > 0 %}
            {% if global_errors %}
                <div class="alert alert-danger">
            {% endif %}
            <span class="error_txt">
                {% for error in errors %}
                    <span>{{ error.message|trans(error.messageParameters, translation_domain)|raw }}</span>
                {% endfor %}
            </span>
            {% if global_errors == true %}
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block rdw_year_month_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('field_widget') }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                <div class="datetime_widget">
                    {{ date_pattern|replace({
                    '{{ year }}': form_widget(form.year),
                    '{{ month }}': form_widget(form.month),
                    '{{ day }}':  '',
                    })|raw }}
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock rdw_year_month_widget %}

{% block form_row %}
    {% if is_url_match_manage(app.request) %}
        {% spaceless %}
            {% set style = style|default(bootstrap_get_style()) %}
            {% set col_size = col_size|default(bootstrap_get_col_size()) %}

            {% if attr.label_col is defined and attr.label_col is not empty %}
                {% set label_col = attr.label_col %}
            {% endif %}
            {% if attr.widget_col is defined and attr.widget_col is not empty %}
                {% set widget_col = attr.widget_col %}
                {% if label is same as(false) and label_col is defined %}
                    {% set widget_col = widget_col + label_col %}
                {% endif %}
            {% endif %}
            {% if attr.col_size is defined and attr.col_size is not empty %}
                {% set col_size = attr.col_size %}
            {% endif %}
            {% if attr.style is defined and attr.style is not empty %}
                {% set style = attr.style %}
            {% endif %}

            {% set label_col = label_col|default(bootstrap_get_label_col()) %}
            {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}

            <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
                {% if style == 'horizontal' %}
                    {{ form_label(form) }}
                    <div class="col-{{ col_size }}-{{ widget_col }}">
                        {{ block('form_input_group') }}
                        {{ block('form_help') }}
                        {{ form_errors(form) }}
                    </div>
                {% else %}
                    {{ form_label(form) }}
                    {{ block('form_input_group') }}
                    {{ block('form_help') }}
                    {{ form_errors(form) }}
                {% endif %}
            </div>

            {% if style == 'inline' %}&nbsp;{% endif %}
        {% endspaceless %}
    {% else %}
        {% set errorClass = errors|length > 0 ? 'error' : '' %}
        <li {% if errors|length > 0 %}class="error"{% endif %}>
            {{ form_label(form, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form, { 'attr' : { 'class' : 'input ' ~ errorClass } }) }}
            {{ form_errors(form) }}
        </li>
    {% endif %}
{% endblock form_row %}



{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {% if multiple %}
                    {{ checkbox_row(child, { 'no_form_group': true, 'inline' : (attr.inline is defined and attr.inline), 'label_attr': label_attr }) }}
                {% else %}
                    {{ radio_row(child, { 'no_form_group': true, 'inline' : (attr.inline is defined and attr.inline), 'label_attr': label_attr  }) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block radio_row %}
    {% spaceless %}
        {% set radiodata %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% set label_attr = label_attr|merge({'class': ' label_2 label_radio'}) %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ block('radio_widget') }}
            <span class="radio_label">{{ label|trans({}, translation_domain)|raw -}}</span>
            </label>
        {% else %}
            {{ block('radio_widget') }}
        {% endif %}
        {{ form_errors(form) }}
        {% endset %}

        {{ radiodata|raw }}

        {{ block('form_help') }}
    {% endspaceless %}
{% endblock radio_row %}

{% block checkbox_row %}
    {% spaceless %}
        {% set checkboxdata %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% set label_attr = label_attr|merge({'class': ' label_2'}) %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ block('checkbox_widget') }}
            <span class="checkbox_label">{{ label|trans({}, translation_domain)|raw -}}</span>
            </label>
        {% else %}
            {{ block('checkbox_widget') }}
        {% endif %}
        {{ form_errors(form) }}
        {% endset %}

        {{ checkboxdata|raw }}

        {{ block('form_help') }}
    {% endspaceless %}
{% endblock checkbox_row %}

{% block salary_widget %}
    {% spaceless %}
        {% set errorClass = errors|length > 0 ? 'error' : '' %}
        <input type="text" name="{{ full_name }}" {{ block('widget_attributes') }} {% if value is not empty and value > 0 %}value="{{ value }}" {% endif %} class="input el_123 salary {{ errorClass }}" maxlength="10" />
    {% endspaceless %}
{% endblock salary_widget %}
