<ul class="nav navbar-nav">
    {% if is_granted('ROLE_ADMIN') %}
        {% set menuTree = admin_menu_tree() %}
        {% for menuItem in menuTree %}
            {% if menuItem.hasChildren() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menuItem.title|trans }}
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for subItem in menuItem.children %}
                            <li>
                                <a href="{{ url(subItem.route, subItem.routeParams) }}"
                                   title="{{ subItem.title|trans }}">
                                    {{ subItem.title|trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ url(menuItem.route, menuItem.routeParams) }}" title="{{ menuItem.title|trans }}">
                        {{ menuItem.title|trans }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
