<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="{{ url('rdw_cv.cv_admin.list') }}">{{ 'Cv list'|trans }}</a>
    </li>
    <li class="dropdown">
        <a href="{{ url('rdw_job.job_admin.list') }}">{{ 'Jobs list'|trans }}</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Abuses'|trans }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ url('rdw_job.job_abuse_admin.list') }}">{{ 'Job abuse list'|trans }}</a></li>
            <li><a href="{{ url('rdw_cv.abuse_admin.list') }}">{{ 'Cv abuse list'|trans }}</a></li>
        </ul>
    </li>
</ul>
