<!DOCTYPE html>
<html>
<head>
    <title>RDW Manage</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        {% stylesheets
        'css/bootstrap.css'
        '@PinanoSelect2Bundle/Resources/public/css/select2.css'
        '@RDWAppBundle/Resources/public/css/jquery-ui.css'
        'bundles/rdwmanage/css/custom.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url|full_url }}" media="screen,print" />
        {% endstylesheets %}
    {% endblock stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>

<body>
{% if app.user %}
    {% block header %}
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">{{ 'Toggle navigation'|trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if is_granted('ROLE_BLOCKED') %}
                        <a class="navbar-brand" href="{{ url('rdw.manage.user.blocked') }}">{{ 'RDW'|trans }}</a>
                    {% else %}
                        <a class="navbar-brand" href="{{ url('rdw.manage') }}">{{ 'RDW'|trans }}</a>
                    {% endif %}
                </div>
                <div class="navbar-collapse collapse">
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include('RDWManageBundle::_admin_navigation.html.twig') %}
                    {% elseif is_granted('ROLE_CENSOR') %}
                        {% include('RDWManageBundle::_censor_navigation.html.twig') %}
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url('rdw.manage.logout') }}">{{ 'Logout'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock header %}
{% endif %}

<div class="container">
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

    {% block content %}
    {% endblock %}
</div>

{# modal container for popup loaded with ajax #}
<div id="modal_container" class="modal fade"></div>

{# modal dialog for delete #}
<div class="modal-dialog" id="modal_content" style="display: none;">
    <div class="modal-content">
        <div class="modal-header" style="display: none;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body" style="display: none;"></div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" data-title="{{ 'Cancel'|trans }}">{{ 'Cancel'|trans }}</button>
            <a href="#" class="btn btn-danger danger" data-title="{{ 'Confirm'|trans }}">{{ 'Confirm'|trans }}</a>
        </div>
    </div>
</div>

{% block javascript %}

    {% javascripts
        'js/jquery.js'
        'js/bootstrap.js'
        '@PinanoSelect2Bundle/Resources/public/js/select2.js'
        '@PinanoSelect2Bundle/Resources/public/js/select2_locale_ru.js'
        '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
        '@RDWAppBundle/Resources/public/js/icheck.min.js'
        '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
        '@RDWAppBundle/Resources/public/js/jquery.confirmHandler.js'
        '@RDWAppBundle/Resources/public/js/jquery.modalLinkHandler.js'
        '@RDWManageBundle/Resources/public/js/jquery.confirmFormSubmitHandler.js'
        '@RDWMenuBundle/Resources/public/js/menu.js'
        '@RDWAppBundle/Resources/public/js/jquery.select2Field.js'
        '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
        '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
        '@RDWManageBundle/Resources/public/js/manage.js'
        '@RDWAppBundle/Resources/public/js/jquery-ui-1.10.4.custom.min.js'
        '@RDWAppBundle/Resources/public/js/popupPa.js'
    %}
        <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>
{% endblock javascript%}
</body>
</html>
