<div class="content">
    {{ form_start(form, {'action': url('rdw_user.user.employer_note_save', {'id' : user.id}), 'attr': {'onSubmit': 'return false;'}} ) }}
    <ul class="form clearfix">
        <li>
            <div id="rdw_user_employer_note" class="form-group {% if not form.managerComment.vars.valid %} has-error {% endif %}">
                {{ form_label(form.managerComment) }}
                {{ form_widget(form.managerComment) }}
                {{ form_errors(form.managerComment) }}
            </div>
        </li>
        <li>
            {{ form_row(form.submit, {'attr': {'data-handler' : 'saveEmployerNote', 'data-content-holder': 'note-edit-form-holder', 'class' : 'btn btn-default' }} ) }}
        </li>
    </ul>
    {{ form_end(form) }}
</div>