<div class="sort_block clearfix">
    {# Add to archive, delete, block user is not implemented for manager #}
    {#<div class="mini_row pull-left">
        <span class="checkbox_box">
            <input type="checkbox" name="checkbox" id="m_{{ position }}_all" />
            <label for="m_{{ position }}_all">Отметить все</label>
        </span>
        <span class="txt pull-left">Bы отметили (<span class="number small">1</span>):</span>
    </div>
    <div class="clear spacer_10 hidden-sm hidden-md"></div>#}
    <span class="sort hidden-xs">
        {{ knp_pagination_sortable(pagination, 'Client'|trans, 'u.companyTitle', { 'direction': 'asc' }) }}
        {{ knp_pagination_sortable(pagination, 'Category'|trans, 'u.category', { 'direction': 'asc' }) }}
    </span>
    {# Add to archive, delete, block user is not implemented for manager #}
    {#<div class="mini_row pull-right">
        <a href="#" class="url_archive">В архив</a>
        <a href="#" class="url_block">Блокировать</a>
        <a href="#" class="url_delete">Удалить</a>
    </div>#}
</div>
