{% set companyTypeTitle = (user.companyType is not null) ? user.companyType.title : '' %}
{% set img_seo = get_img_title([companyTypeTitle, user.title]) %}
<li id="user-{{ user.id }}">
    {# Add to archive, delete, block user is not implemented for manager #}
    {#<label for="m2">
        &#123;&#35; @todo html-fix: Employer list - checkboxes &#35;&#125;
        <input type="checkbox" name="checkbox" id="m2" />
    </label>#}
    <a href="{{ url('rdw_user.user.edit_employer', {'id': user.id}) }}" class="logo">
        <img src="{{ imageUrl(user) }}" alt="{{ img_seo }}" title="{{ img_seo }}" />
    </a>
    <a href="{{ url('rdw_user.user.edit_employer', {'id': user.id}) }}" class="url_title">{{ companyTypeTitle }} «{{ user.title }}»</a>
    {% if user.scope %}<span class="title">{{ user.scope.title }}</span>{% endif %}
    <div class="clear"></div>
    <ul class="list">
        {#<li class="icon_7">
            <strong>План неограниченный</strong>
        </li>#}
        {% if user.category %}
            <li class="icon_8">
                <strong>{{ user.category }}</strong>
            </li>
        {% endif %}
    </ul>
    <ul class="list">
        <li class="icon_9">
            <strong>{{ user.contactPersonFullName }}</strong>
            <br> {{ user.phone }}
            <br>
            <a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a>
        </li>
    </ul>
    <div class="toogle_box">
        <a href="#" class="url_toggle"></a>
        <div class="hidden_box">
            <ul class="url_list">
                {# @todo html-fix: Employer list - Cообщения??? #}
                {#<li>
                    <a href="#" class="icon_5">Cообщения</a>
                </li>#}
                <li>
                    <a href="#" data-handler="modalLink" data-url="{{ url('rdw_user.user.employer_note', {'id': user.id}) }}" class="icon_3">
                        {{ 'Notes'|trans }}
                    </a>
                </li>
                <li>
                    <a class="icon_3" href="{{ url('rdw_user.user.edit_employer', {'id': user.id}) }}">{{ 'edit'|trans }}</a>
                </li>

                <li>
                    <a class="icon_6" href="{{ url('rdw_job.job_client.list', {'id' : user.id}) }}">{{ 'Jobs'|trans }}</a>
                </li>
                <li>
                    <a class="icon_7" href="{{ url('rdw_order.order.list', {'id': user.id}) }}">{{ 'Orders history'|trans }}</a>
                </li>
            </ul>
            <a href="#" data-handler="modalLink" data-url="{{ url('rdw_conversation.conversation.write_message', {'id': user.id}) }}" class="url">{{ 'Contact'|trans }}</a>
        </div>
    </div>
    <div class="toggle_bg"></div>

    <div id="employer-note-{{ user.id }}" class="note_form message_panel bad" {% if not user.managerComment %}style="display:none"{% endif %}>
        {% if user.managerComment %}
            <a href="#" class="ui_note" data-handler="modalLink" data-url="{{ url('rdw_user.user.employer_note', {'id': user.id}) }}">
                <div id="favorite-note-{{ user.managerComment }}">{{ user.managerComment }}</div>
            </a>
        {% endif %}
    </div>

</li>
{# @todo html-fix: Employer list - Bаша заметка form??? #}
{#<li class="note_form_mobile hidden-sm hidden-md open">
    <textarea name="textarea">Bаша заметка</textarea>
    <input type="submit" name="button" value="OK" class="submit" />
</li>#}
