<div class="small_container last clearfix">
    <h2>
        <strong>/</strong> {{ 'Jobs'|trans }}
    </h2>
    <span class="info_txt">
        {{ 'Your clients has published'|trans }}
        <span class="number">{{ render_esi(controller('RDWUserBundle:User:clientsWaitingJobsCountBlock')) }}</span>
    </span>
    <div class="clear"></div>
    <ul class="list type_2 clearfix">
        {% for client in clients %}
        <li>
            <span class="title">
                <strong>{% if client.companyType %}{{ client.companyType.title }} {% endif %}«{{ client.title }}»</strong>
            </span>
            <span class="txt">
                {{ 'waiting'|trans }}
                <span class="number">{{ client.waitingJobsCount }}</span> {{ 'jobs'|trans }}
            </span>
            <ul class="sub_list clearfix">
                {% for job in client.jobs %}
                    {% if job.isStatusWaiting %}
                        <li>
                            <span class="date">{{ job.updatedAt|date('m d') }}</span>
                            <a href="{{ url('rdw_job.job.view', { 'id': job.id, 'slug': job.slug }) }}" class="title">{{ job.position.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {#<div class="sep_line"></div>#}
    {#<a href="{{ url('rdw_user.user.employer_list') }}" class="url">{{ 'All jobs'|trans }}</a>#}
</div>
