<form action="{{ url('rdw_user.user.employer_list') }}" class="clients_search" method="get">
    <div class="box">
        {{ form_widget(form.companyTitle, {'attr': {'class': 'input'}}) }}
        <input type="submit" value="" class="submit" />
    </div>
    <a href="{{ url('rdw_user.user.create_employer') }}" class="url_add">{{ 'Add new client'|trans }}</a>
</form>
