{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="h1">{{ 'Create'|trans }}<span class="black"> {{ 'user'|trans }}</span></h2>

    <div class="txt_container clearfix">

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                {{ 'Not all required fields are filled'|trans }}
                {% for error in form.vars.errors %}
                    <div>- {{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {{ form_start(form, {'action': path('rdw_user.user.create_employer'), 'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}

        {% if app.user.isTypeEmployee %}
            {{ include('RDWUserBundle:Profile:form_employee.html.twig') }}
        {% else %}
            {{ include('RDWUserBundle:Profile:form_employer.html.twig') }}
        {% endif %}

        <h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Other information'|trans }}</span></h2>
        <ul class="default_form clearfix">
            {{ form_row(form.email) }}
            {{ form_row(form.category) }}
            {{ form_row(form.status) }}
            {{ form_row(form.adminComment) }}
            {{ form_row(form.managerComment) }}

            <li>
                <span class="spacer">&nbsp;</span>
                <input type="submit" value="Update" class="btn btn-default btn-primary">
            </li>
        </ul>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    '@RDWUserBundle/Resources/public/js/jquery.manageUserHandler.js'
    '@RDWUserBundle/Resources/public/js/userManage.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
