{% extends('::base.html.twig') %}

{% block content %}

    {% if app.user and not is_granted('ROLE_MANAGER') %}
    <div class="temp_msg">
        {% if app.user and is_granted('ROLE_EMPLOYEE') %}
            <a href="{{ path('rdw_service.service.matrix_employee', {'id' : app.user.id }) }}" class="url">{{ 'Employee user dashboard message'|trans }}</a>
        {% elseif app.user and is_granted('ROLE_EMPLOYER') %}
            <a href="{{ path('rdw_service.service.matrix_employer', {'id' : app.user.id }) }}" class="url">{{ 'Employer user dashboard message'|trans }}</a>
        {% endif  %}
        <a href="#" class="url_close"></a>
    </div>
    {% endif %}

    {% if app.user and is_granted('ROLE_MANAGER') %}
        {{ render(controller('RDWConversationBundle:Conversation:unreadConversationsBlock')) }}
        {{ render(controller('RDWUserBundle:User:clientsHavingWaitingJobsBlock')) }}
    {% else %}
        <div class="row">
            <div class="col-sm-7 col-md-8">
                <div class="content">
                    {% render(controller('RDWConversationBundle:Conversation:unreadConversationsBlock')) %}

                    {% if app.user and is_granted('ROLE_EMPLOYEE') %}
                        {% render(controller('RDWCvBundle:Cv:lastViewedBlock')) %}
                    {% else %}
                        {% render(controller('RDWJobBundle:Job:lastViewedBlock')) %}
                    {% endif %}

                    {% render(controller('RDWSubscriptionBundle:Subscription:newSubscriptionsBlock')) %}
                </div>
            </div>
            <div class="col-sm-5 col-md-4">
                <div class="content">
                    {% if app.user and is_granted('ROLE_EMPLOYER') %}
                        <div class="small_container mobile_move clearfix">
                            <h2>
                                <strong>/</strong> {{ 'You have'|trans }}
                            </h2>
                            <div class="clear"></div>
                            <ul class="list type_5 clearfix">
                                {#<li>Изначальный кредит
                                    <span class="price">9 000 000 Br</span>
                                </li>
                                <li>Вы использовали
                                    <span class="price red">5 000 000 Br</span>
                                </li>#}
                                <li class="total">
                                    {{ 'Balance'|trans }}:
                                    {% set balance = balance(app.user) %}
                                    <span class="price">{% if balance > 0 %}+{% elseif balance < 0 %}-{% endif %}{{ balance|price }}</span>
                                </li>
                            </ul>
                            <div class="sep_line"></div>
                            <a href="{{ url('rdw_order.order.list', { 'id': app.user.id }) }}" class="url">{{ 'View more'|trans }}</a>
                        </div>
                    {% endif %}

                    {% render(controller('RDWOrderBundle:Order:activeServicesBlock')) %}
                    {% render(controller('RDWUserBundle:Profile:profileCompletenessBlock')) %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
