{% extends "::base.html.twig" %}

{% block content %}
    <h2 class="h1">{{ 'Edit'|trans }}<span class="black"> {{ 'user'|trans }}</span></h2>

    <div class="txt_container">
        <div class="panel panel-default">
            <a
                    href="#"
                    class="btn btn-default"
                    data-handler="confirm"
                    data-url="{{ url('rdw_user.user.generate_password', {'id' : user.id}) }}"
                    data-message="{{ 'Are you sure do you want generate new password?'|trans }}"
                    data-title="{{ 'Generate new password'|trans }}"
                    data-confirm-title="{{ 'Yes'|trans }}"
                    >
                {{ 'Generate new password'|trans }}
            </a>
        </div>
    </div>

    <div class="txt_container clearfix">

        {% if not form.vars.valid %}
            <div class="alert alert-danger">{{ 'Not all required fields are filled'|trans }}</div>
            {% for error in form.vars.errors %}
                <div>- {{ error.message }}</div>
            {% endfor %}
        {% endif %}

        {{ form_start(form, {'action': path('rdw_user.user.edit_employer', { 'id': user.id }), 'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}

        <h2 class="toggle"><span class="txt"><strong>/</strong> {{ 'Change email address'|trans }}</span></h2>
        <ul class="default_form clearfix">

            {% if form.email is defined %}
            <li>
                <label class="label_1" for="user_email">{{ 'Email'|trans }}</label>
                {{ form_widget(form.email, { 'attr': { 'disabled': 'disabled', 'class': 'input' } }) }}
            </li>
            {% endif %}

            {% if form.oldEmail is defined and form.newEmail is defined %}
                {{ form_row(form.oldEmail) }}
                {{ form_row(form.newEmail) }}

                <li>
                    <span class="spacer">&nbsp;</span>
                    <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-default btn-primary">
                </li>
            {% endif %}
        </ul>

        {% if app.user.isTypeEmployee %}
            {{ include('RDWUserBundle:Profile:form_employee.html.twig') }}
        {% else %}
            {{ include('RDWUserBundle:Profile:form_employer.html.twig') }}
        {% endif %}

        <h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Other information'|trans }}</span></h2>
        <ul class="default_form clearfix">
            {{ form_row(form.category) }}
            {{ form_row(form.status) }}
            {{ form_row(form.adminComment) }}
            {{ form_row(form.managerComment) }}

            <li>
                <span class="spacer">&nbsp;</span>
                <input type="submit" value="Update" class="btn btn-default btn-primary">
            </li>
        </ul>

        {{ form_rest(form) }}

        {# Profile remove link #}
        <ul class="default_form clearfix">
            <li class="sep_line last last_fix">
                <span class="spacer visible-sm visible-md">&nbsp;</span>
                <a href="" class="url_delete" data-toggle="modal" data-target="#profileDeleteConfirm">{{ 'Remove my profile and all data'|trans }}</a>
            </li>
        </ul>

        {{ form_end(form) }}

    </div>
    <div class="clear mobile_banners"></div>

    {# delete modal #}
    <div class="modal fade" id="profileDeleteConfirm" tabindex="-1" role="dialog" aria-labelledby="{{ 'Remove profile'|trans }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Back'|trans() }}</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'Remove profile'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ 'Your profile and all associeted data will be deleted and You will not be able to reach it. Are You sure You want to delete'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Back'|trans() }}</button>
                    <button type="button" class="btn btn-primary" data-url="{{ path("rdw_user.profile.delete") }}">{{ 'Yes'|trans() }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    '@RDWUserBundle/Resources/public/js/jquery.manageUserHandler.js'
    '@RDWUserBundle/Resources/public/js/userManage.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
