{% extends('::base.html.twig') %}

{% block content %}
    <h2 class="h1">{{ 'My'|trans }}
        <span class="black">{{ 'clients'|trans }}</span>
    </h2>

    {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
    <div class="clear"></div>

    {% if pagination %}
        {% include 'RDWUserBundle:User:_list_sorter.html.twig' with {'position': 'top'} %}

        <ul class="options_block clients_list clearfix">
            {% for user in pagination %}
                {% include 'RDWUserBundle:User:_list_row.html.twig' %}
            {% endfor %}
        </ul>

        {% include 'RDWUserBundle:User:_list_sorter.html.twig' with {'position': 'bottom'} %}
        <div class="clear"></div>
    {% endif %}

    {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
    <div class="clear"></div>

{% endblock content %}
