{% extends "::modal.html.twig" %}

{% block title %}{{ 'Manager note about employer'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div id="note-edit-form-holder">
            {{ include('RDWUserBundle:User:_employer_note_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.saveEmployerNoteHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
