{% if topEmployers|length > 0 %}
    <h2 class="h1 big"><span class="black">{{ 'top employers'|trans }}</span></h2>
    <div class="home_slider clearfix home_slider_emp">
        <ul class="bx_home_slider_emp slider_emp">
            {% for key, employer in topEmployers %}
                {% set user = employer.company.order.user %}
                <li>
                    <a href="{{ url('rdw_user.profile.view', {'id': user.id}) }}">
                        <img src="{{ imageUrl(user) }}" />
                        <span class="count_jobs_emp"><span class="v_text">{{ 'vakasnij'|trans }}</span>: {{ employer.countActiveJobs }} </span>
                    </a>
                    
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
