{% for item in items %}
    {% set url = url((('job' == type) ? 'rdw_job.job.view' : 'rdw_cv.cv.view'), { 'id': item.id, 'slug': item.slug }) %}
    <tr>
        <td colspan="2" style="padding: {% if not loop.first %}36px{% else %}0{% endif %} 5px 4px 0; margin: 0; color: #b2b2b2; font: 9px/1.2 Verdana;">
            {{ item.updatedAt|date('d.m.Y | H:i') }}
        </td>
    </tr>
    {% if item.position %}
        <tr>
            <td colspan="2" style="padding: 0 5px 12px 0; margin: 0; color: #666666; font: bold 14px/1.2 Verdana;">
                <a href="{{ url }}?utm_source=Mandrill&utm_medium=email&utm_campaign=vacansies" style="padding: 0; margin: 0; color: #39f; text-decoration: underline;">{{ item.position.title }}</a>
            </td>
        </tr>
    {% endif %}
    {% if item.scope %}
        <tr>
            <td colspan="2" style="padding: 0 5px 4px 0; margin: 0; color: #666666; font: 12px/1.5 Verdana;">
                <strong style="padding: 0; margin: 0;">{{ item.scope.title }}</strong>
            </td>
        </tr>
    {% endif %}
    {% if item.workingPlaceCity or item.workScheduleType %}
        <tr>
            <td colspan="2" style="padding: 0 5px 36px 0; margin: 0; color: #666666; font: 12px/1.5 Verdana;">
                {% if item.workingPlaceCity %}
                    <span style="padding: 0; margin: 0; color: #999;">{{ 'Город'|trans }}: </span>{{ item.workingPlaceCity.title }},
                {% endif %}
                {% if item.workScheduleType %}
                    <span style="padding: 0; margin: 0; color: #999;">{{ 'График работы'|trans }}: </span>{{ item.workScheduleType.title }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if not loop.last %}
        <tr><td colspan="2" style="margin: 0 36px 0 0;border-top: 1px solid #e5e5e5;"></td></tr>
    {% endif %}
{% endfor %}
