.advanced-search-by-job-openings {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.advanced-search-by-job-openings__body {
    padding: 20px 10px 10px;
}
.advanced-search-by-job-openings__title {
    font: 400 28px/1.2 Roboto, sans-serif;
    color: #000;
    text-transform: none;
    margin: 0;
}
.advanced-search-by-job-openings__title:before {
    display: none;
}
.advanced-search-by-job-openings__title {
    font: 400 16px/1 Roboto, sans-serif;
    color: #000;
    text-transform: none;
    margin: 0 0 20px;
}
.advanced-search-by-job-openings__item-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 32px;
}
.advanced-search-by-job-openings__label-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}
.advanced-search-by-job-openings__input-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    padding-right: 15px;
    padding-left: 15px;
}