<div class="info_block joburl-block clearfix">
    {% if app.request.attributes.get('slug') not in ['uslugi-stoimost-2', 'vidy-oplat']
        and ((app.user and is_granted('ROLE_EMPLOYEE') or is_granted('IS_AUTHENTICATED_ANONYMOUSLY')) and get_search_form_type() == 'job' )
    %}
	
	    {{ include('RDWAppBundle:mobile:__sidebar.html.twig', {'job' : 1}) }}
    {% endif %}

    {% if ((app.user and is_granted('ROLE_EMPLOYER') or is_granted('IS_AUTHENTICATED_ANONYMOUSLY')) and get_search_form_type() == 'cv' )
        or app.request.attributes.get('slug') in ['uslugi-stoimost-2', 'vidy-oplat'] %}
        <div class="box">
            <h3>{{ 'For employer'|trans }}</h3>
            <iframe width="235" height="132" src="{{ rdw_setting('youtube_job') }}" frameborder="0" allowfullscreen></iframe>
            <ul class="list">
                {#<li>
                    <a href="#" data-toggle="modal" data-url="{{ url('rdw_subscription.subscription.newsletter') }}" data-handler="modalLink">{{ 'News subscription'|trans }}</a>
                </li>#}
                <li>
                    <a href="{{ 'prices_url_employer'|trans|raw }}">{{ 'Prices menu employer'|trans }}</a>
                </li>
                <li>
                    <a href="{{ 'services_url_employer'|trans|raw }}">{{ 'Services menu employer'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="box sub_box">
            <h3>{{ 'Subscribe cvs newsletter'|trans }}</h3>
            <p>{{ 'Subscribe cvs newsletter information'|trans }}</p>
            <input type="email" placeholder="{{ "Input email"|trans }}" class="input form-control" id="prepare-subscribe"/>
            <span class="error_txt hide" data-required="{{ 'Required field'|trans }}" data-invalid-email="{{ 'Invalid field'|trans }}"><span></span></span>
            <a href="#" class="url_order copy-url_order">{{ 'Order cvs newsletter'|trans }}</a>
            <a href="#" data-url="{{ url('rdw_subscription.subscription.subscribe', { 'type' : 'cv' } ) }}" data-handler="modalLinkSubscribe" class="url_order hide">{{ 'Order cvs newsletter'|trans }}</a>
        </div>
    {% endif %}
</div>
