<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% block metaDescription %}{{ get_seo_description(['default meta description'|trans]) }}{% endblock metaDescription %}">
    <meta name="keywords" content="{% block metaKeywords %}{{ get_seo_keywords(['default meta keywords'|trans]) }}{% endblock metaKeywords %}">
    {% block fb_og_tags %}
        {% import 'RDWAppBundle::social.html.twig' as social %}
        {{ social.fb_og_tags(app.request.uri, '', '', app.request.uriForPath(asset('bundles/rdwapp/images/logo.gif')) | replace({'app_dev.php/': ''})) }}
    {% endblock fb_og_tags %}
    <title>{% block title %}{{  get_seo_title(['default meta title'|trans]) }}{% endblock title %}</title>

    <link rel="shortcut icon" href="{{ asset('bundles/rdwapp/img/favicon.ico') }}">

    {% stylesheets
        '@RDWAppBundle/Resources/public/css/select2.css'
        'bundles/rdwapp/images/icomoon/style.css'
        'bundles/rdwapp/css/bootstrap.css'
        'bundles/rdwapp/css/style.css'
        'bundles/rdwapp/css/tablet.css'
        'bundles/rdwapp/css/mobile.css'
        'bundles/rdwapp/css/custom.css'
    filter='cssrewrite' filter='?uglifycss' %}
        <link href="{{ asset_url|full_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}

    {% stylesheets
    'bundles/rdwapp/css/print.css'
    filter='cssrewrite' %}
    <link href="{{ asset_url|full_url }}" rel="stylesheet" media="print">
    {% endstylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" media="screen">

<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NP3RZV6');</script>
<!-- End Google Tag Manager -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24147154-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-24147154-1');
  gtag('set', {'user_id': 'USER_ID'});
  ga('set', 'userId', 'USER_ID');
</script>

</head>

<body class="{{ get_body_class() }}">
    <div class="wrapper">
        {% block body %}
        <div class="body">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="content job-content clearfix">
                            {% include 'RDWAppBundle::_logo.html.twig' %}
                            {% include 'RDWAppBundle:Navigation:_main_nav.html.twig' %}
                            {{ render(controller('RDWSearchBundle:Search:searchForm', { 'request': app.request, 'type': get_search_form_type() })) }}

                            {% include 'RDWAppBundle:Navigation:_profile_menu.html.twig' %}
                            {% include '::notifications.html.twig' %}
                        </div>
                        {% if app.user is not null %}
                            <div class="sidebar-logged job-sidebar pdB0">
                                {% include 'RDWJobBundle::_sidebar.html.twig' %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        <div class="sidebar job-sidebar clearfix">

                            {% include 'RDWAppBundle:Navigation:_member_nav.html.twig' %}

                            {% if app.user is null %}
                                {% block sidebar_content %}
                                    {% include 'RDWJobBundle::_sidebar.html.twig' %}
                                {% endblock sidebar_content %}
                            {% endif %}
                            
                            {% block sidebar_banners %}
                            {% endblock sidebar_banners %}
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content vakansiya-content clearfix">
                        {% block content %}{% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock body %}

        {% block footer %}{{ include('RDWAppBundle::_footer.html.twig') }}{% endblock footer %}
    </div>

    <div id="modal_container" class="modal fade">
        <div class="modal-dialog" id="modal_content" style="display: none;">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <a href="#" data-dismiss="modal" class="logo">
                        {% image '@RDWAppBundle/Resources/public/img/logo.jpg' %}<img src="{{ asset_url|full_url }}" />{% endimage %}
                        <span class="slogan">{% block slogan %}{{ 'Job for you'|trans }}{% endblock %}</span>
                    </a>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">close</a>
                </div>
                <div class="modal-body clearfix">
                    <h2 class="h1 modal-title-header" style="display: none;">
                        <span class="black modal-title"></span>
                    </h2>
                    <div class="modal-body-content" style="display: none;"></div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default btn-danger danger confirm-button" data-title="{{ 'Confirm'|trans }}">{{ 'Confirm'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    {# special id for fb root #}
    <div id="fb-root"></div>
{# @todo html-fix: Load only required js #}
{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="{{ asset('bundles/rdwapp/js/respond.min.js') }}"></script><![endif]-->
    <!--[if lt IE 9]><script type="text/javascript" src="{{ asset('bundles/rdwapp/js/selectivizr-min.js') }}"></script><![endif]-->
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    <script type="text/javascript" src="//vk.com/js/api/share.js?9" charset="windows-1251"></script>
    <script src="//stg.odnoklassniki.ru/share/odkl_share.js" type="text/javascript" ></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>

    {% if app.request.clientIp in trackduck_ips %}
    <script src="//d1ks1friyst4m3.cloudfront.net/toolbar/prod/td.js" async data-trackduck-id="555aeea60cb10e610328c8b7"></script>
    {% endif %}

    {% if app.environment == 'prod' %}
        {% if app.request.getHost() == 'mogilev.rdw.by' %}
            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (d, w, c) { (w[c] = w[c] || []).push(function() {
                    try { w.yaCounter42546274 = new Ya.Metrika({ id:42546274, clickmap:true, trackLinks:true,
                        accurateTrackBounce:true, webvisor:true }); }
                    catch(e) { } });
                var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
                    n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); }
                else { f(); } })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript>
                <div><img src="https://mc.yandex.ru/watch/42546274" style="position:absolute; left:-9999px;" alt="" /></div>
            </noscript>
            <!-- /Yandex.Metrika counter -->
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           GOOGLE ANALYTICS
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-91364343-1', 'auto');
                ga('send', 'pageview');
            </script>
        {% else %}
            {#<!-- Yandex.Metrika counter -->#}
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter10379119 = new Ya.Metrika({
                                id:10379119,
                                clickmap:true,
                                trackLinks:true,
                                accurateTrackBounce:true,
                                webvisor:true
                            });
                        } catch(e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/10379119" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            {#<!-- /Yandex.Metrika counter -->#}
        {% endif %}
    {% endif %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP3RZV6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->	
	{% javascripts filter='?uglifyjs2'
	'@RDWAppBundle/Resources/public/js/jquery-ui-1.10.4.custom.min.js'
	'@RDWAppBundle/Resources/public/js/jquery.ui.datepicker-lt.js'
	'@RDWAppBundle/Resources/public/js/jquery.bxslider.min.js'
	'@RDWAppBundle/Resources/public/js/icheck.min.js'
	'@RDWAppBundle/Resources/public/js/jquery.mCustomScrollbar.concat.min.js'
	'@RDWAppBundle/Resources/public/js/jquery.fs.selecter.js'
	'@RDWAppBundle/Resources/public/js/select2.modified.js'
	'@PinanoSelect2Bundle/Resources/public/js/select2_locale_ru.js'
	'@RDWAppBundle/Resources/public/js/jquery.form.js'
	'@RDWAppBundle/Resources/public/js/jquery.submitModalFormHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.responsiveTabs.min.js'
	'@RDWAppBundle/Resources/public/js/jquery.modalTabsHandler.js'
	'@RDWAppBundle/Resources/public/js/common.js'
	
	'@RDWUserBundle/Resources/public/js/jquery.manageFavoriteHandler.js'
	'@RDWUserBundle/Resources/public/js/jquery.registrationHandler.js'
	'@RDWUserBundle/Resources/public/js/registration.js'
	'@RDWAppBundle/Resources/public/js/jquery.modalLinkHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.modalTextHandler.js'
	'@RDWAppBundle/Resources/public/js/social.js'
	'@RDWAppBundle/Resources/public/js/jquery.rdw.search-form.js'
	'components/moment/moment.js'
	'components/bootstrap-daterangepicker/daterangepicker.js'
	'@RDWSearchBundle/Resources/public/js/search.js'
	'@RDWAppBundle/Resources/public/js/jquery.confirmHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.formCollectionHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.perPageHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.checkedItemsCountHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.multipleDeleteHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.multipleConfirmHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.multipleSubmitHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.loaderHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.select2Field.js'
	'components/jQuery-Mask-Plugin/dist/jquery.mask.min.js'
	'@RDWAppBundle/Resources/public/js/rdw.js'
	'@RDWAppBundle/Resources/public/js/jquery.GAEventHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.thumbDeleteHandler.js'
	'@RDWAppBundle/Resources/public/js/jquery.registrationPopupHandler.js'
	'@RDWAppBundle/Resources/public/js/popupPa.js'
	%}
    <script src="{{ asset_url|full_url }}"></script>
	{% endjavascripts %}
{% endblock javascripts %}

</body>
</html>
