<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rdwapp/css/invoice.css') }}" media="all">
    </head>
    {% block body %}{% endblock %}
</html>
