<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header clearfix">
            <a href="#" data-dismiss="modal" class="logo">
                {% image '@RDWAppBundle/Resources/public/img/logo.jpg' %}<img src="{{ asset_url }}" />{% endimage %}
                <span class="slogan">{% block slogan %}{{ 'Job for you'|trans }}{% endblock %}</span>
            </a>
            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">close</a>
        </div>
        <div class="modal-body clearfix">
            {% block content %}
                <h2 class="h1">
                    <span class="black">{% block title %}{% endblock title %}</span>
                </h2>
                {% block body %}{% endblock body %}
            {% endblock content %}
        </div>
        {% block footer %}{% endblock %}
    </div>
</div>

{% block javascripts %}{% endblock javascripts %}