{% set hasFlashMessage = false %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
        {{ flashMessage|trans|raw }}
        {% set hasFlashMessage = true %}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger">
        {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
        {{ flashMessage|trans|raw }}
        {% set hasFlashMessage = true %}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('alert') %}
    <div class="alert alert-info">
        {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
        {{ flashMessage|trans|raw }}
        {% set hasFlashMessage = true %}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
        {{ flashMessage|trans|raw }}
        {% set hasFlashMessage = true %}
    </div>
{% endfor %}

<div id="success-message" class="alert alert-success" style="display:none"></div>
<div id="danger-message" class="alert alert-danger" style="display:none"></div>