<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{  get_seo_title() }}{% endblock title %}</title>

    {% stylesheets
        'bundles/rdwapp/css/bootstrap.css'
        'bundles/rdwapp/css/style.css'
        filter='cssrewrite' %}
        <link href="{{ asset_url|full_url }}" rel="stylesheet" media="screen,print">
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" media="screen">
</head>

<body class="{{ get_body_class() }}">
<div class="wrapper">
    {% block body %}
        <div class="body">
            <div class="container" style="width: 996px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content clearfix">
                            {% include 'RDWAppBundle::_logo.html.twig' %}
                            <div class="clear" style="padding-bottom: 15px;"></div>
                            {% block content %}{% endblock content %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>RDW contact info text text text</h2>
                        <div>RDW.by</div>
                        <div>{% image '@RDWAppBundle/Resources/public/img/logo.jpg' %}<img src="{{ asset_url|full_url }}" alt="" />{% endimage %}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock body %}
</div>

{# @todo html-fix: Load only required js #}
{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="{{ asset('bundles/rdwapp/js/respond.min.js') }}"></script><![endif]-->
    <!--[if lt IE 9]><script type="text/javascript" src="{{ asset('bundles/rdwapp/js/selectivizr-min.js') }}"></script><![endif]-->
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    <script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
    <script src="http://stg.odnoklassniki.ru/share/odkl_share.js" type="text/javascript" ></script>
    <script src="https://apis.google.com/js/plusone.js"></script>

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery-ui-1.10.4.custom.min.js'
    '@RDWAppBundle/Resources/public/js/jquery.ui.datepicker-lt.js'
    '@RDWAppBundle/Resources/public/js/jquery.bxslider.min.js'
    '@RDWAppBundle/Resources/public/js/icheck.min.js'
    '@RDWAppBundle/Resources/public/js/jquery.mCustomScrollbar.concat.min.js'
    '@RDWAppBundle/Resources/public/js/jquery.fs.selecter.js'
    '@PinanoSelect2Bundle/Resources/public/js/select2.js'
    '@RDWAppBundle/Resources/public/js/common.js'


    '@RDWUserBundle/Resources/public/js/jquery.registrationHandler.js'
    '@RDWUserBundle/Resources/public/js/registration.js'
    '@RDWAppBundle/Resources/public/js/jquery.modalLinkHandler.js'
    '@RDWAppBundle/Resources/public/js/jquery.modalTextHandler.js'
    '@RDWAppBundle/Resources/public/js/social.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.search-form.js'
    'components/moment/moment.js'
    'components/bootstrap-daterangepicker/daterangepicker.js'
    '@RDWAppBundle/Resources/public/js/rdw.js'
    '@RDWSearchBundle/Resources/public/js/search.js'
    '@RDWAppBundle/Resources/public/js/jquery.confirmHandler.js'
    '@RDWAppBundle/Resources/public/js/jquery.formCollectionHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

</body>
</html>
