{% set isSelected = (service.id == selectedService) ? true : false %}
{% set pendingService = find_pending_service_for_item(service.id, item, user) %}
{% set activeService = find_active_service_for_item(service.id, item, user) %}
{% set firstClass = (pendingService) ? 'yellow selected' : ( (activeService) ? 'green selected' : 'blue' ) %}

{% from 'RDWAppBundle::misc.html.twig' import service_period %}

<td class="{{ firstClass }}{% if service.isSale %} sale{% endif %}{% if isSelected %} selected{% endif %}">
    {% if pendingService %}
        <input type="checkbox" disabled="disabled" checked="checked" />
        <span class="txt">{{ 'Waiting confirmation'|trans }}</span>
        {% if not service.isSingle %}
            {{ 'Days ordered'|trans }}: <strong>{{ pendingService.period }}</strong>
        {% endif %}
    {% else %}
        {% if activeService %}
            <input type="checkbox" disabled="disabled" checked="checked" />
        {% endif %}

        {% if activeService %}
            <span class="txt" data-type-active-{{ service.id }}-{{ item.id }}>{{ 'Active till'|trans }}:</span> <span data-type-active-{{ service.id }}-{{ item.id }}>{{ activeService|validTill }}</span>
            {% if not service.isSingle %}
                <span class="options" data-type-active-{{ service.id }}-{{ item.id }}>
                    <a href="#" class="type_1" data-handler="extendService" data-service-id="{{ service.id }}" data-item-id="{{ item.id }}">{{ 'Extend'|trans }}</a> | <a href="#" class="type_2" data-handler="modalLink" data-url="{{ url('rdw_service.service.confirm_suspend', {'id' : activeService.id}) }}">{{ 'Suspend'|trans }}</a>
                </span>
            {% endif %}
        {% endif %}

        <div{% if activeService %} style="display: none;"{% endif %} id="service-select-{{ service.id }}-{{ item.id }}">
            <input {% if activeService %} data-active{% endif %}{% if service.isSingle %} data-single{% endif %} data-service-id="{{ service.id }}" data-handler="selectService" name="services[{{ item.id }}][{{ service.id }}][is_checked]" type="checkbox"{% if isSelected %} checked="checked"{% endif %} />
            {% if not service.isSingle %}
                {{ service_period('employee', false, service, item, isSelected) }}
                <label for="service-{{ service.id }}-item-{{ item.id }}">{{ 'days'|trans }}</label>
            {% else %}
                <label for="service-{{ service.id }}-item-{{ item.id }}">/ {{ service.price|price }}</label>
            {% endif %}
        </div>
    {% endif %}
</td>
