{% set isSelected = (service.id == selectedService) ? true : false %}
{% set pendingService = find_pending_service_for_item(service.id, item, user) %}
{% set activeService = find_active_service_for_item(service.id, item, user) %}
{% set firstClass = (pendingService) ? 'yellow selected' : ( (activeService) ? 'green selected' : 'blue' ) %}
{% set jobPublishingServiceType = constant('RDW\\Bundle\\ServiceBundle\\Entity\\Service::TYPE_JOB_PUBLISHING') %}
{% set isJobPublishingService = (jobPublishingServiceType == service.type) %}
{% set hasActiveJobPublishingService = (find_active_service_for_item(jobPublishingService.id, item, user) ? true : false) %}
{% set disableCheckbox = (not hasActiveJobPublishingService and not isJobPublishingService) %}

{% from 'RDWAppBundle::misc.html.twig' import service_period %}

<td class="{{ firstClass }}{% if service.isSale or (service.isJobPublishing and not user.hasUsedFirstJobPromo) %} sale{% endif %}{% if isSelected %} selected{% endif %}">
    {% if pendingService %}
        <input type="checkbox" disabled="disabled" checked="checked" />
        <span class="txt">{{ 'Waiting confirmation'|trans }}</span>
        {% if not service.isSingle %}
            {{ 'Days ordered'|trans }}: <strong>{{ pendingService.period }}</strong>
        {% endif %}
    {% else %}
        {% if activeService %}
            <input type="checkbox" disabled="disabled" checked="checked" />
        {% endif %}

        {% if activeService %}
            <span class="txt" data-type-active-{{ service.id }}-{{ item.id }}>{{ 'Active till'|trans }}:</span> <span data-type-active-{{ service.id }}-{{ item.id }}>{{ activeService|validTill }}</span>
            <span class="options" data-type-active-{{ service.id }}-{{ item.id }}>
                {% if not service.isSingle %}
                    <a href="#" class="type_1" data-handler="extendService" data-service-id="{{ service.id }}" data-item-id="{{ item.id }}">{{ 'Extend'|trans }}</a> |
                {% endif %}
                <a href="#" class="type_2" data-handler="modalLink" data-url="{{ url('rdw_service.service.confirm_suspend', {'id' : activeService.id}) }}">{{ 'Suspend'|trans }}</a>
            </span>
        {% endif %}

        <div{% if activeService %} style="display: none;"{% endif %} id="service-select-{{ service.id }}-{{ item.id }}">
            <input
                    {% if activeService %} data-active{% endif %}
                    {% if service.isSingle %} data-single{% endif %}
                    data-service-id="{{ service.id }}"
                    data-item-id="{{ item.id }}"
                    data-handler="selectService"
                    name="services[{{ item.id }}][{{ service.id }}][is_checked]"
                    type="checkbox"
                    {% if isSelected %} checked="checked"{% endif %}
                    {#{% if disableCheckbox %} disabled="disabled"{% endif %}#}
                    {% if isJobPublishingService %} data-job-publishing-service{% else %} data-other-service{% endif %}
                    />
            {% if not service.isSingle %}
                {{ service_period('employer', false, service, item, isSelected) }}
                <label for="service-{{ service.id }}-item-{{ item.id }}">{{ 'days'|trans }}</label>
            {% else %}
                <label for="service-{{ service.id }}-item-{{ item.id }}">/ {{ service.price|price }}</label>
            {% endif %}
            {# hide other services for item if it has no active job publishing service #}
            {#<div{% if not disableCheckbox %} style="display: none";{% endif %} data-invisible-when-has-job-publishing style="width: 100%; height: 100%; background-color: #FFFFFF; position: absolute; left: 0; top: 0">&nbsp;</div>#}
        </div>
    {% endif %}
</td>
