{% from 'RDWAppBundle::misc.html.twig' import service_period %}

{% if personal is defined and personal|length > 0 %}
    <div class="txt_container no_borders clearfix">
        <div class="row">
            <div class="col-md-9">
                <h2>
        <span class="txt">
            <strong>/</strong> {{ 'Personal services'|trans }}
        </span>
                </h2>
                <div class="vip_holder clearfix">
                    {% for service in personal %}
                        {% set pendingService = find_pending_personal_service(service.id, user) %}
                        <div class="vip_box">
                            <span class="title">
                                <strong>{{ service.title }}</strong>
                                <span class="url_info">
                                    <span class="tooltip_box">{{ service.description }}</span>
                                </span>
                            </span>
                            <div class="clear hidden-sm hidden-md"></div>
                            {% if not pendingService %}
                                {% set activeService = find_active_personal_service(service.id, user) %}
                                {% if activeService %}
                                    {{ 'Active till'|trans }} </br>
                                    <span class="text-success"> {{ activeService|validTill }}</span> </br>
                                    {% if not service.isSingle %}
                                        <a data-handler="modalLink" data-url="{{ url('rdw_service.service.confirm_suspend', {'id' : activeService.id}) }}">{{ 'Suspend'|trans }}</a> |
                                        <a data-handler="extendPersonalService" data-service-id="{{ service.id }}">{{ 'Extend'|trans }}</a>
                                    {% endif %}
                                {% endif %}

                                <div {% if activeService %} style="display: none;"{% endif %} id="service-personal-select-{{ service.id }}">
                                    {#<div class="pull-left col-sm-3 form-group">
                                        <label for="service-{{ service.id }}">{{ service.title }}<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="{{ service.description }}"></span></label>
                                    </div>#}
                                    <div class="pull-left">
                                        <input {% if activeService %} data-active{% endif %} data-service-id="{{ service.id }}" data-handler="personalService" name="personal_services[{{ service.id }}][is_checked]" type="checkbox" />
                                    </div>
                                    <div class="pull-left col-xs-1 form-group selecter">
                                        {{ service_period('personal', true, service) }}
                                    </div>
                                    <div class="pull-left col-xs-4 form-group">
                                        <span class="amount"><span class="sep">/</span> {{  service.price|price }}</span>
                                        <span data-service-price="{{ service.id }}" style="display: none;" data-value="{{ service.price }}"></span>
                                    </div>
                                </div>
                                {#<select name="select">
                                    <option>7 дней</option>
                                </select>
                                <span class="amount">
                                    <span class="sep">/</span> 300 000 Br
                                </span>#}
                            {% else %}
                                {{ 'Waiting confirmation'|trans }}<br />
                                {% if not service.isSingle %}
                                    <span>{{ 'Days ordered'|trans }}: {{ pendingService.period }}</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <ul class="balance_info">
                        {# no such funcionality #}
                        {#<li>Изначальный кредит
                            <span class="amount">9 000 000 Br</span>
                        </li>
                        <li>Вы использовали
                            <span class="amount red">5 000 000 Br</span>
                        </li>#}
                        <li class="last">
                            {% set balance = balance(user) %}
                            {{ 'Balance'|trans }}:
                            <span class="amount">
                                {% if balance > 0 %}+{% elseif balance < 0 %}-{% endif %}{{ balance|price }}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}
