{{ include('RDWServiceBundle:Service:_personal_services.html.twig') }}
{% from 'RDWAppBundle::misc.html.twig' import service_period %}
<div class="txt_container no_borders clearfix">
    <h2>
        <span class="txt">
            <strong>/</strong> {{ 'Services'|trans }}
        </span>
    </h2>
    <div class="table-responsive expand no_margin sale_fix">
        <table class="ad_table">
            <colgroup>
                <col>
                {% for service in services %}
                    <col class="w_181">
                {% endfor %}
            </colgroup>
            <thead>
                <tr>
                    <td>&nbsp;</td>
                    {% for service in services %}
                        <td{% if service.isSale or (service.isJobPublishing and not user.hasUsedFirstJobPromo) %} class="sale"{% endif %}>
                            {% if service.isSale %}
                                <span class="title">{{ 'sale'|trans }}</span> {{ service.saleText }}
                                {#{{ 'Discount'|trans }}#}
                            {% endif %}
                            {% if (service.isJobPublishing and not user.hasUsedFirstJobPromo) %}
                                <span class="title">{{ 'sale'|trans }}</span> {{ 'Publish first job for free'|trans }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    {% for service in services %}
                        <th{% if service.isSale or (service.isJobPublishing and not user.hasUsedFirstJobPromo) %} class="sale"{% endif %}>
                            {{ service.title }}
                            <span class="url_info">
                                <span class="tooltip_box">{{ service.description }}</span>
                            </span>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ 'Order for all'|trans }}</th>
                    {% for service in services %}
                        <td class="blue{% if service.isSale or (service.isJobPublishing and not user.hasUsedFirstJobPromo) %} sale{% endif %}">
                            <input data-id="{{ service.id }}" data-handler="selectAll" type="checkbox" />
                            {% if not service.isSingle %}
                                {{ service_period('all', false, service) }}
                            {% endif %}
                            <label for="service-all-{{ service.id }}">/ {{ service.price|price }}</label>
                            <span data-service-price="{{ service.id }}" data-value="{{ service.price }}" data-job-publishing="{{ service.isJobPublishing }}"></span>
                        </td>
                    {% endfor %}
                </tr>
                {% for item in items %}
                    <tr data-item-row-{{ item.id }}>
                        <th><a href="{{ item_url(item) }}">{{ item.position.title }}</a></th>
                        {% for service in services %}
                            {% if user.isTypeEmployee %}
                                {{ include('RDWServiceBundle:Service:_matrix_item.html.twig') }}
                            {% else %}
                                {{ include('RDWServiceBundle:Service:_matrix_item_employer.html.twig') }}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>&nbsp;</td>
                {% for service in services %}
                    <td{% if service.isSale or (service.isJobPublishing and not user.hasUsedFirstJobPromo) %} class="sale"{% endif %}>
                        {% if service.isSingle %}{{ 'Total'|trans }}{% else %}{{ 'Total days'|trans }}{% endif %}:
                        <span class="day" data-service-period-sum="{{ service.id }}">0</span>
                        <span class="txt">{{ 'Price'|trans }}</span>
                        <span class="amount" data-service-total-sum="{{ service.id }}"><span class="money" data-mask="000 000 000 000.00" data-reverse="true">{{ 0 }}</span> {{ currency }}</span>
                    </td>
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="price_total_holder" data-first-job-publishing-promo="{{ (user.isTypeEmployer and not user.hasUsedFirstJobPromo) }}">
        <div class="price_total">
            <span class="title">{{ 'Total sum'|trans }}:</span>
            <span data-total-price class="money" data-mask="000 000 000 000.00" data-reverse="true"> {{ 0 }}</span> {{ currency }}
        </div>
        {% if user.isTypeEmployer %}
            <a href="#" class="url_order" data-handler="submitMatrixForm" data-type="employer" data-form="matrixForm" data-validate-url="{{ url('rdw_service.validate_matrix', { 'id': user.id }) }}">{{ 'Order'|trans }}</a>
        {% else %}
            <a href="#" class="url_order" data-handler="submitForm" data-form="matrixForm">{{ 'Order'|trans }}</a>
        {% endif %}
    </div>
</div>
