{% extends "::modal.html.twig" %}

{% block title %}{{ 'Confirm suspend'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <p>
            {% if orderItem.item %}
                {{ 'Are you realy want to suspend current service %title% for %itemTitle%'|trans({'%title%' : orderItem.service.title, '%itemTitle%' : orderItem.item.position.title}) }}
            {% else %}
                {{ 'Are you realy want to suspend current service %title%'|trans({'%title%' : orderItem.service.title}) }}
            {% endif %}
        </p>

        <p>{{ 'Service active till'|trans }}: {{ orderItem.validTill|date('Y-m-d') }}</p>
    </div>
{% endblock %}

{% block footer %}
    <div class="modal-footer">
        <a class="btn btn-default confirm-button" href="{{ url("rdw_service.service.suspend", {'id' : orderItem.id}) }}">{{ 'Yes'|trans() }}</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts

    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
