{% extends "::base.html.twig" %}

{% block body %}
    <div class="body">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="content clearfix">
                        {% include 'RDWAppBundle::_logo.html.twig' %}
                        {% include 'RDWAppBundle:Navigation:_main_nav.html.twig' %}
                        {{ render(controller('RDWSearchBundle:Search:searchForm', { 'request': app.request, 'type': get_search_form_type() })) }}
                        {% include 'RDWAppBundle:Navigation:_profile_menu.html.twig' %}
                        {% include '::notifications.html.twig' %}
                        <h2 class="h1">
                            <span class="black">{{ 'Order services'|trans }}</span>
                        </h2>
                        {#<a href="#" class="url_back visible-md">{{ 'Back'|trans }}</a>#}
                        <p class="important">{{ 'Order services description'|trans }}</p>

                        {% if items|length > 0 %}
                            <form method="post" action="{{ url('rdw_service.service.handle', {'type' : type, 'id' : user.id}|merge(app.request.query.all())) }}" id="matrixForm">
                                {{ include('RDWServiceBundle:Service:_table.html.twig') }}
                                <div class="temp_msg">
                                    {{ 'Then press button Order you will see order form'|trans }}
                                    {#<a href="#" class="url_close"></a>#}
                                </div>
                            </form>
                        {% else %}
                            {% if user.isTypeEmployee %}
                                <p class="text-warning">{{ "You don't have active cvs"|trans }}</p>
                            {% else %}
                                <p class="text-warning">{{ "You don't have active jobs"|trans }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar no-padding clearfix">
                        {% include 'RDWAppBundle:Navigation:_member_nav.html.twig' %}
                        {% block sidebar_content %}{% endblock sidebar_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWServiceBundle/Resources/public/js/matrixHandler.js'
    '@RDWOrderBundle/Resources/public/js/jquery.submitFormHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
