<form id="main-form" method="post" action="{{ url('rdw_subscription.subscription.save_newsletter') }}" {{ form_enctype(form) }}>
    <ul class="form">
        <li>{{ form_row(form.email) }}</li>
        <li>{{ form_row(form.name) }}</li>
        <li>{{ form_row(form.surname) }}</li>
        <li>
            <input type="submit" value="{{ 'Confirm'|trans }}" class="btn btn-default" data-handler="saveNewsletter" data-content-holder="main-form-holder" />
        </li>
    </ul>
    {{ form_rest(form) }}
</form>