{{ form_start(form, { 'action': action, 'method': method, 'attr': {'id': 'main-form'} }) }}
<ul class="form subscription-form">
    {% if form.status is defined %}
        {{ form_row(form.status) }}
    {% endif %}

    {% if form.email is defined %}
        {{ form_row(form.email) }}
    {% endif %}

    {{ form_row(form.professionalAreas) }}

    {% if form.companyTitle is defined %}
        {{ form_row(form.companyTitle) }}
    {% endif %}

    {{ form_row(form.cities) }}
    {{ form_row(form.workSchedules) }}
    {{ form_row(form.frequency) }}

    {% if form.sumCaptcha is defined %}
        <li>
            <span class="spacer"></span>
            {{ form_widget(form.sumCaptcha) }}
            {{ form_errors(form.sumCaptcha) }}
        </li>
    {% endif %}

    {% if form.submit is defined %}
    <li>
        <span class="spacer"></span>
        {{ form_row(form.submit, {'attr': {'data-handler' : 'saveNewsletter', 'data-form': 'subscription-form', 'data-content-holder-form': 'subscribe-form-holder', 'class' : 'btn btn-default' }} ) }}
    </li>
    {% endif %}
</ul>
{#{{ form_rest(form) }} #}
{{ form_end(form) }}

<script type="text/javascript">
    $(function() {
        $('.select2-hidden-multi').select2Field({'type': 'multi'});
        $('.select2-hidden-single').select2Field({'type': 'single'});

        var paIds = $("#rdw_subscription_professionalAreas").val();

        if (paIds) {
            var paIds = paIds.split(',');
            window.popupPa.removeAll();
            window.popupPa.initializeIds(paIds);
            window.popupPa.generateProfessionalAreaField();
        }

        $("input[type=checkbox]").iCheck({
            checkboxClass: "icheckbox_minimal checkbox"
        });
        
        if ($("form#login-form-modal")) {
            var email = localStorage.getItem('subscribeEmail');
            $("#username").val(email);
            localStorage.removeItem('subscribeEmail');
        }
        
    });
</script>
