{% extends "::modal.html.twig" %}

{% block title %}{{ 'Subscriptions'|trans }}{% endblock %}

{% block content %}
    <div id="subscribe-form-holder">
        {% include 'RDWSubscriptionBundle:Subscription:_subscribe_form.html.twig' with { 'action': url('rdw_subscription.subscription.update_subscription', { 'id': subscription.id }), 'method': 'POST'} %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWSubscriptionBundle/Resources/public/js/jquery.saveNewsletterHandler.js'
    '@RDWSubscriptionBundle/Resources/public/js/newsletter.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
            $(function() {
                $("[data-autoinit]").autoInit();
                $(".selecter-options").mCustomScrollbar({
                    mouseWheelPixels: 160,
                    scrollInertia: 300,
                    advanced: {
                        updateOnContentResize: true,
                        autoScrollOnFocus: false
                    }
                });
            });
    </script>
{% endblock %}
