{% extends "::base.html.twig" %}

{% from 'RDWSubscriptionBundle:Subscription:macros.html.twig' import per_page, list_multiple_actions %}
{% from 'RDWAppBundle::misc.html.twig' import list_checkbox %}

{% block content %}
    <h2 class="h1">{{ 'My'|trans }} <span class="black">{{ 'subscriptions'|trans }}</span></h2>

    {{ list_multiple_actions(subscriptions|length > 0) }}
    {% if subscriptions|length > 0 %}
        <form action="" method="post" data-multiple-delete class="options_block clearfix">
            <ul class="options_block ads_subscription clearfix">
                {% for subscription in subscriptions %}
                    <li class="{% if subscription.isActive %}active{% endif %}">
                        {{ list_checkbox(form, subscription.id) }}

                        <div class="status_tags">
                            {#<a href="#" class="turn_on"></a>#}
                            {% if subscription.isActive %}
                                <span class="tag green">{{ 'subscribed'|trans }}</span>
                            {% else %}
                                <span class="tag red">{{ 'not subscribed'|trans }}</span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                        <span class="date">{{ subscription.subscribedAt|date('d.n.Y | H:i') }}</span>
                        <a href="#" class="url_title" data-url="{{ url('rdw_subscription.subscription.edit', { 'id' : subscription.id } ) }}" data-handler="modalLink">
	                        {% if subscription.positions.toArray %}
		                        {% for subscript in subscription.positions.toArray %}
                                    {{ subscript }} /</br>
		                        {% endfor %}
                            {% elseif subscription.professionalAreas.toArray %}
	                            {% for subscript in subscription.professionalAreas.toArray %}
		                            {% if subscript.isParent == false %}
                                        {{ subscript }} /</br>
		                            {% endif %}
	                            {% endfor %}
	                        {% endif %}
                        </a>
                        <div class="clear"></div>
	                    {% if subscription.cities|length > 0 %}
                            <ul class="list">
                                <li class="icon_3">{{ subscription.cities|cities }}</li>
                            </ul>
	                    {% endif %}
	                    {% if subscription.scopes|length > 0 %}
                            <ul class="list">
                                <li class="icon_4">{{ subscription.scopes.toArray|join(', ') }}</li>
                            </ul>
	                    {% endif %}
                        <div class="hover_box">
                            <a href="#" class="url" data-url="{{ url('rdw_subscription.subscription.edit', { 'id' : subscription.id } ) }}" data-handler="modalLink">{{ 'edit'|trans }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </form>
    {% else %}
        <div class="txt_container clearfix">
            <p>{{ 'You haven\'t any subscriptions'|trans }}</p>
        </div>
    {% endif %}
    {{ list_multiple_actions(subscriptions|length > 0) }}

    <h2 class="h1">{{ 'My newsletter'|trans }} <span class="black">{{ 'subscription'|trans }}</span></h2>

    <div class="txt_container clearfix">
        <h2>
            <span class="txt"><strong>/</strong> {{ 'Newsletter subscription'|trans }}</span>
        </h2>

        <form method="post" action="{{ url('rdw_subscription.subscription.change_subscription') }}" {{ form_enctype(form) }}>
            <ul class="default_form clearfix">
                <li>
                    <span class="spacer"></span>
                    <div class="options_box">
                        {{ form_row(newsletterForm.subscribe) }}
                    </div>
                </li>
                <li>
                    <span class="spacer">&nbsp;</span>
                    <input type="submit" name="button" value="{{ 'Confirm'|trans }}" class="submit fixed_style">
                </li>
            </ul>
            {{ form_rest(newsletterForm) }}
        </form>
    </div>

    <div class="clear mobile_banners"></div>
{% endblock %}