{% macro list_multiple_actions(notEmptyList) %}
    <div class="sort_block clearfix">
        {% if notEmptyList %}
            <div class="mini_row pull-left">
                <span class="checkbox_box"><input type="checkbox" name="checkbox" id="m_bottom_all" /> <label for="m_bottom_all">{{ 'Check all'|trans }}</label></span>
                <span class="txt pull-left">{{ 'You checked'|trans }} (<span class="number small checkbox-counter">0</span>):</span>
            </div>
        {% endif %}
        <div class="mini_row pull-right">
            {% if app.user and is_granted('ROLE_EMPLOYEE') %}
                <a class="url_add" href="#" data-url="{{ url('rdw_subscription.subscription.subscribe', { 'user_id': app.user.id, 'type': 'job' }) }}" data-handler="modalLink">{{ 'Create new'|trans }}</a>
            {% endif %}
            {% if app.user and is_granted('ROLE_EMPLOYER') %}
                <a class="url_add" href="#" data-url="{{ url('rdw_subscription.subscription.subscribe', { 'user_id': app.user.id, 'type': 'cv' }) }}" data-handler="modalLink">{{ 'Create new'|trans }}</a>
            {% endif %}
            {% if notEmptyList %}
                <a href="#" class="url_delete" data-handler="multipleDelete" data-title="{{ 'Delete subscriptions'|trans }}" data-message="{{ 'Are you sure?'|trans }}" data-action="{{ url('rdw_subscription.subscription.multiple_delete', { 'id': app.user.id }) }}">{{ 'Delete'|trans }}</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro per_page() %}
<span class="select_box pull-left hidden-xs hidden-sm"><label for="s1">{{ 'Per Page'|trans }}:</label>
    {{ rdw_per_page_render('rdw_job.list.per_page.options', 'rdw_job.job.my_list') }}
</span>
{% endmacro %}
