<div id="please_register_modal" style="display: none">
    <div class="modal-body-content">
        {{ 'Your subscriptions will be saved only after Your registration. It will be saved for %days% days, in which You have to register at www.rdw.by'|trans({'%days%': days}) }}
    </div>
    <div class="modal-footer">
        <a href="{{ registrationUrl }}" class="btn btn-default" data-title="{{ 'Register'|trans }}">{{ 'Register'|trans }}</a>
    </div>
</div>