{% extends "::modal.html.twig" %}

{% block title %}{{ 'Subscriptions'|trans }}{% endblock %}

{% block body %}
    <div id="main-form-holder">
        {{ include('RDWSubscriptionBundle:Subscription:_newsletter_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWSubscriptionBundle/Resources/public/js/jquery.saveNewsletterHandler.js'
    '@RDWSubscriptionBundle/Resources/public/js/newsletter.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
