<div class="small_container clearfix">
    <h2>
        <strong>/</strong> {{ 'My subscriptions'|trans }}
    </h2>
    <div class="clear"></div>

    {% if subscriptions|length > 0 %}
        <ul class="list type_3 clearfix">
            {% for subscription in subscriptions %}
                <li>
                    <a href="#" class="url_title" data-url="{{ url('rdw_subscription.subscription.edit', { 'id' : subscription.id } ) }}" data-handler="modalLink">
                        <strong>{{ subscription.positions.toArray|join(', ') }} {% if subscription.cities|length > 0 %}/ {{ subscription.cities.toArray|join(', ') }}{% endif %}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="sep_line"></div>
    {% if app.user and is_granted('ROLE_EMPLOYEE') %}
        <a class="url_add" href="#" data-url="{{ url('rdw_subscription.subscription.subscribe', { 'user_id': app.user.id, 'type': 'job' }) }}" data-handler="modalLink">{{ 'Create new'|trans }}</a>
    {% else %}
        <a class="url_add" href="#" data-url="{{ url('rdw_subscription.subscription.subscribe', { 'user_id': app.user.id, 'type': 'cv' }) }}" data-handler="modalLink">{{ 'Create new'|trans }}</a>
    {% endif %}
    <div class="clear hidden-sm hidden-md"></div>
    {% if subscriptions|length > 0 %}
        <a href="{{ url('rdw_subscription.subscription.list') }}" class="url">{{ 'All subscriptions'|trans }}</a>
    {% endif %}
</div>