{% extends "::modal.html.twig" %}

{% block title %}{{ 'Subscriptions'|trans }}{% endblock %}

{% block content %}
    <div id="main-form-holder">
        {% include 'RDWSubscriptionBundle:Subscription:_subscribe_form.html.twig' with { 'action': url('rdw_subscription.subscription.save_subscription', { 'type' : type, 'objectId': objectId }), 'method': 'POST'} %}
    </div>

    {% if not app.user or not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="clear"></div>
        <div class="sep_line hidden-xs"></div>

        {{ render(controller('RDWUserBundle:Registration:getRegistrationForm', {'request': app.request, 'type': userType })) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWSubscriptionBundle/Resources/public/js/jquery.saveNewsletterHandler.js'
    '@RDWSubscriptionBundle/Resources/public/js/newsletter.js'
    '@RDWUserBundle/Resources/public/js/jquery.submitLoginModalFormHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            $("[data-autoinit]").autoInit();
            $(".selecter-options").mCustomScrollbar({
                mouseWheelPixels: 160,
                scrollInertia: 300,
                advanced: {
                    updateOnContentResize: true,
                    autoScrollOnFocus: false
                }
            });

            $("[data-handler='modalTabs']").modalTabsHandler({ 'modal': '#modal_container' });
        });
    </script>
{% endblock %}
