{{ form_start(form, { 'action': action, 'attr': {'id': 'main-form', 'data-handler': formHandler} }) }}
    <ul class="form">
        {% if cv is defined %}
            <li>
                <label>{{ 'Resume position'|trans }}</label>
                <span>{{ cv.position.title }}</span>
            </li>
            <li>
                <label>{{ 'Name Surname'|trans }}</label>
                <span>{{ cv.name }} {{ cv.surname }}</span>
            </li>
        {% endif %}

        {{ form_row(form.companyTitle) }}
        {{ form_row(form.contactName) }}
        {{ form_row(form.contactEmail) }}

        <li>
            {{ form_label(form.contactPhone, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
            {{ form_widget(form.contactPhone, { 'attr' : { 'class' : 'input phone' } } ) }}
            {{ form_errors(form.contactPhone) }}
        </li>
        <li>
            {{ form_label(form.message, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </li>

        {% if form.save is defined %}
            <li>
                {{ form_widget(form.save, {'attr': {'data-handler' : handler, 'data-form' : form.vars.full_name, 'data-content-holder': 'cv-message-form-holder', 'class': 'btn-default'}} ) }}
            </li>
        {% endif %}
    </ul>

{{ form_rest(form) }}
{{ form_end(form) }}
