{% extends "::modal.html.twig" %}

{% block title %}{{ 'Create CV message'|trans }}{% endblock %}

{% block body %}
    <div id="main-form-holder">
        {% include 'RDWCvBundle:CvMessage:_form.html.twig' with {'action': url('rdw_cv.cv_message.save', {'id' : cv.id}), 'handler': handler, 'formHandler' : formHandler} %}
    </div>

    {% if not app.user or not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="clear"></div>
        <div class="sep_line hidden-xs"></div>

        {{ render(controller('RDWUserBundle:Registration:getRegistrationForm', {'request': app.request, 'type': 'employer' })) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWCvBundle/Resources/public/js/jquery.saveCvMessageHandler.js'
    '@RDWUserBundle/Resources/public/js/jquery.submitLoginModalFormHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            $("[data-handler='modalTabs']").modalTabsHandler({ 'modal': '#modal_container' });
        });
    </script>
{% endblock %}
