{% extends "::modal.html.twig" %}

{% block title %}{{ 'Create CV message'|trans }}{% endblock %}
{% block content %}
    <div class="row">
        <div id="cv-message-form-holder">
            {% include 'RDWCvBundle:CvMessage:_form.html.twig' with {'action': url('rdw_cv.cv_message.multiple_save'), 'handler': 'saveCvMessage', 'formHandler' : 'sendMultipleCvMessage'} %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWCvBundle/Resources/public/js/jquery.saveCvMessageHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
