{% if conversation is not null %}
<div class="clear"></div>
<div class="message_panel bad">
    <a class="ui_note" href="{{ url('rdw_conversation.conversation.view', { 'id': conversation.id } ) }}">{{ 'Response date'|trans }} <span class="ui_date">{{ conversation.createdAt|date('d.m.Y') }}</span></a>
</div>
{% endif %}