{{ form_start(form, { 'action': url('rdw_conversation.conversation.save_message', {'id': receiver.id}) }) }}
    <ul class="form clearfix">
        <li>
            {{ form_label(form.content, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
        </li>
        <li>
            {{ form_row(form.submit, {'attr':{'data-handler': 'writeMessage', 'data-content-holder': '#message-form-holder', 'class':'btn btn-default'}, 'label': 'Send'}) }}
        </li>
    </ul>
    {{ form_rest(form) }}
{{ form_end(form) }}
