{% from 'RDWAppBundle::misc.html.twig' import list_checkbox %}

<form action="" method="post" data-multiple-delete class="options_block summary_list clearfix">
<ul class="options_block messages_list clearfix">
    {% for conversation in pagination %}
    <li>
        {{ list_checkbox(form, conversation.id) }}

        <div class="top_box">
            {% if app.user.id == conversation.sender.id %}
                {% set receiver =  conversation.receiver %}
            {% else %}
                {% set receiver =  conversation.sender %}
            {% endif %}

            {% set img_seo = get_img_title(['receiver photo'|trans ]) %}

            {% if receiver.type == 'employee' %}
                <span class="img person">
                    {% set thumb = (receiver.gender == 'f') ? 'rdw_app.user_profile_woman' : 'rdw_app.user_profile_man' %}
                    <img title="{{ img_seo }}" alt="{{ img_seo }}" src="{{ receiver.photo | rdw_thumb('message_thumb', true, thumb) }}" />
                </span>
            {% else %}
                <span class="img logo">
                    <div class="holder">
                        <img title="{{ img_seo }}" alt="{{ img_seo }}" src="{{ receiver.photo | rdw_thumb('message_thumb', true, 'rdw_app.user_profile_no_logo') }}" />
                    </div>
                </span>
            {% endif %}

            <a class="url_name" title="{{ 'View conversation'|trans }}" href="{{ url('rdw_conversation.conversation.view', {'id' : conversation.id}) }}">
                {{ receiver.title }}
            </a>

            <div class="tags_box clearfix">

                {% if did_send_last(conversation, app.user) %}
                    <span class="tag tag_1">{{ 'I wrote'|trans }}</span>
                {% else %}
                    <span class="tag tag_2">{{ 'I received'|trans }}</span>
                {% endif %}

                {% if is_conversation_new(conversation, app.user) %}
                    <span class="tag tag_3">{{ 'New'|trans }}</span>
                {% endif %}

                {% if is_replied(conversation, app.user) %}
                    <span class="tag tag_4">{{ 'Replied'|trans }}</span>
                {% endif %}

                <span class="date">{{ conversation.updatedAt|date('d.m.Y | H:i') }}</span>
            </div>
        </div>
        <div class="sep_line"></div>
        <div class="txt_box">
            <span class="title">
                {% if conversation.apply %}
                    {{ conversation.apply.position }}
                {% endif %}
            </span>
            <p>{{ conversation.lastMessage.content| truncate(100, true, '...') }}</p>

            {% if conversation.apply and app.user != conversation.messages.first.sender and conversation.messages.first.sender.type == 'employee' %}
                {% if conversation.apply.document %}
                    <a class="url_attachment" href="{{ conversation.apply.document | rdw_file('document')}}" target="_blank">
                        {{ conversation.apply.document }}
                    </a>
                {% elseif conversation.apply.hasCv %}
                    <a class="url_attachment" href="{{ url('rdw_cv.cv.view', {'id': conversation.apply.cv.id, 'slug': conversation.apply.cv.slug }) }}">
                        {{ conversation.apply.cv.position.title }}
                    </a>
                {% endif %}
            {% endif %}

            {% if conversation.cvMessage and app.user != conversation.messages.first.sender and conversation.messages.first.sender.type == 'employer' %}
                {% set sender = conversation.messages.first.sender %}
                <a class="url_attachment" href="{{ url('rdw_user.profile.view', {'id': sender.id }) }}">
                    {{ sender.title }}
                </a>
            {% endif %}


            <ul class="url_list">
                <li>
                    <a title="{{ 'respond conversation'|trans }}" href="{{ url('rdw_conversation.conversation.view', {'id' : conversation.id}) }}">{{ 'respond conversation'|trans }}</a>
                </li>
                <li>
                    <a title="{{ 'view conversation'|trans }}" href="{{ url('rdw_conversation.conversation.view', {'id' : conversation.id}) }}">{{ 'view conversation'|trans }}</a>
                </li>
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
</form>
