{% extends "::base.html.twig" %}

{% from 'RDWConversationBundle:Conversation:macros.html.twig' import list_multiple_actions %}

{% block content %}
    <h2 class="h1">{{ 'Messages'|trans }}
        <span class="black">
            {% if app.user and is_granted('ROLE_EMPLOYER') and not is_granted('ROLE_MANAGER') %}{{ 'from employee'|trans }}{% endif %}
            {% if app.user and is_granted('ROLE_EMPLOYEE') %}{{ 'from employer'|trans }}{% endif %}
            {% if app.user and is_granted('ROLE_EMPLOYER') and is_granted('ROLE_MANAGER') %}{{ 'from employer'|trans }}{% endif %}
        </span>
    </h2>

    {% if pagination.getTotalItemCount > 0 %}

        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
        {{ list_multiple_actions('rdw_conversation.conversation.inbox', {}) }}

        {% include 'RDWConversationBundle:Conversation:_list.html.twig' %}

        {{ list_multiple_actions('rdw_conversation.conversation.inbox', {}) }}
        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}

    {% else %}
        <div class="txt_container clearfix">
            {{ 'No conversations'|trans }}
        </div>
    {% endif %}

{% endblock %}
