{% extends "::base.html.twig" %}

{% from 'RDWConversationBundle:Conversation:macros.html.twig' import list_multiple_actions %}

{% block content %}
    <h2 class="h1">{{ 'Conversation'|trans }} <span class="black">{{ 'by Cv'|trans }}</span></h2>

    {% if pagination.items|length > 0 %}
        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
        {{ list_multiple_actions('rdw_conversation.conversation.list_by_cv', {'id': cv.id}) }}

        {% include 'RDWConversationBundle:Conversation:_list.html.twig' with {'pagination': pagination} %}

        {{ list_multiple_actions('rdw_conversation.conversation.list_by_cv', {'id': cv.id}) }}
        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}

    {% else %}
        {{ 'No conversations'|trans }}
    {% endif %}
{% endblock content %}
