{% extends "::base.html.twig" %}

{% from 'RDWConversationBundle:Conversation:macros.html.twig' import list_multiple_actions %}

{% block content %}
    <h2 class="h1">
        {{ 'Conversation'|trans }}
        <span class="black">{{ 'with user %name_surname%'|trans(({'%name_surname%': user.name})) }}</span>
    </h2>

    {% if pagination.items|length > 0 %}
        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
        {{ list_multiple_actions('rdw_conversation.conversation.list_by_user', {'logged_in_user_id': app.user.id, 'other_user_id': user.id}) }}

        {% include 'RDWConversationBundle:Conversation:_list.html.twig' with {'pagination': pagination} %}

        {{ list_multiple_actions('rdw_conversation.conversation.list_by_user', {'logged_in_user_id': app.user.id, 'other_user_id': user.id}) }}
        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}

    {% else %}
        {{ 'No conversations with this user'|trans }}
    {% endif %}
{% endblock content %}
