{% macro list_multiple_actions(url, params) %}
<div class="sort_block clearfix">
    <div class="mini_row pull-left">
        <span class="checkbox_box"><input type="checkbox" name="checkbox" id="m_bottom_all" /> <label for="m_bottom_all">{{ 'Check all'|trans }}</label></span>
        <span class="txt pull-left">{{ 'You checked'|trans }} (<span class="number small checkbox-counter">0</span>):</span>
    </div>
    <div class="mini_row pull-right">
        <a href="#" class="url_delete" data-handler="multipleDelete" data-title="{{ 'Delete conversations'|trans }}" data-message="{{ 'Are you sure?'|trans }}" data-action="{{ url('rdw_conversation.conversation.multiple_delete', { 'id': app.user.id }) }}">{{ 'Delete'|trans }}</a>
        <span class="select_box pull-left">
            <label>{{ 'Show'|trans }}:</label> {{ rdw_per_page_render('rdw_cv.list.per_page.options', url, params) }}
        </span>
    </div>
</div>
{% endmacro %}

{% macro conversation_view_actions(id) %}
    <div class="sort_block clearfix">
        <a class="url_back" href="{{ url('rdw_conversation.conversation.inbox') }}" title="{{ 'Back'|trans }}">{{ 'Back'|trans }}</a>
        <a
                href="#"
                class="url_delete"
                data-handler="confirm"
                data-title="{{ 'Delete conversation'|trans }}"
                data-message="{{ 'Are you sure?'|trans }}"
                data-url="{{ url('rdw_conversation.conversation.delete', {'id' : id}) }}"
                data-confirm-title="{{ 'Delete'|trans }}"
                >
            {{ 'Delete'|trans }}
        </a>
    </div>
{% endmacro %}
