<div class="small_container clearfix">
    <h2>
        <strong>/</strong> {{ 'My messages'|trans }}
    </h2>
    <span class="info_txt">{{ 'You have new messages'|trans }}
        <span class="number">{{ render_esi(controller('RDWConversationBundle:Conversation:getUnreadMessagesCount', {'showZero': true})) }}</span>
        {% if app.user.receivedConversations.count > 0 %}
            ({{ 'total'|trans }} {{ app.user.receivedConversations.count }})
        {% endif %}
    </span>
    <div class="clear"></div>

    {% if conversations|length > 0 %}
        <ul class="list type_1 clearfix">
            {% for conversation in conversations %}
                <li>
                    <span class="date">{{ conversation.updatedAt|date('m d') }}</span>
                    <a href="{{ url('rdw_conversation.conversation.view', { 'id': conversation.id }) }}">
                        <strong>{{ conversation.title }}</strong>
                    </a>
                    <span class="title">{% if conversation.sender.companyType %}{{ conversation.sender.companyType.title }} {% endif %}«{{ conversation.sender.title }}»</span>
                    <p>«{{ conversation.lastMessage.content|truncate(75, true, '...') }}»</p>
                </li>
            {% endfor %}
        </ul>
        <div class="sep_line"></div>
        <a href="{{ url('rdw_conversation.conversation.inbox') }}" class="url">{{ 'All messages'|trans }}</a>
    {% endif %}
</div>
