{% extends "::base.html.twig" %}

{% from 'RDWConversationBundle:Conversation:macros.html.twig' import conversation_view_actions %}

{% block content %}

    {% if app.user.id == conversation.sender.id %}
        {% set sender =  conversation.receiver %}
        {% set receiver =  conversation.sender %}
    {% else %}
        {% set sender =  conversation.sender %}
        {% set receiver =  conversation.receiver %}
    {% endif %}

    {% if conversation.apply %}
        <h2 class="h1">
            {{ 'Apply for'|trans }} <span class="black">{{ conversation.apply.position }}</span>
        </h2>
    {% else %}
        <h2 class="h1">{{ 'My'|trans }} <span class="black">{{ 'conversation'|trans }}</span></h2>
    {% endif %}

    {{ conversation_view_actions(conversation.id) }}

    <div class="txt_container clearfix">
        {{ form_start(form, {'action': path('rdw_conversation.conversation.reply', {'id' : conversation.id}), 'method': 'POST', 'attr' : { 'class' : 'comments_form clearfix'} }) }}
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_widget(form.submit, {'attr': { 'class' : 'btn-default pull-left' }}) }}

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    <ul class="comments_block clearfix">
    {% for message in conversation.messages %}
        <li>
            {% if message.sender.type == 'employee' %}
                <span class="img person">
                    {% set thumb = (receiver.gender == 'f') ? 'rdw_app.user_profile_woman' : 'rdw_app.user_profile_man' %}
                    <img src="{{ message.sender.photo | rdw_thumb('message_thumb', true, thumb) }}" />
                </span>
            {% else %}
                <span class="img logo">
                    <div class="holder">
                        <img src="{{ message.sender.photo | rdw_thumb('message_thumb', true, 'rdw_app.user_profile_no_logo') }}" />
                    </div>
                </span>
            {% endif %}

            <div class="block">
                <div class="top_row clearfix">
                    <span class="time">{{ message.createdAt|date('d.m.Y | H:i') }}</span>
                    <a href="{{ url('rdw_user.profile.view', { 'id' : message.sender.id }) }}" class="name">{{ message.sender.title }}</a>
                </div>
                <p>{{ message.content }}</p>

                {% if conversation.apply and message.sender.type == 'employee' and loop.last %}
                    {% if conversation.apply.document %}
                        {% if conversation.apply.document %}
                            <a class="url_attachment" href="{{ conversation.apply.document | rdw_file('document')}}" target="_blank">
                                {{ conversation.apply.document }}
                            </a>
                        {% endif %}
                    {% elseif conversation.apply.cv %}
                        <a class="url" href="{{ url('rdw_cv.cv.view', {'id': conversation.apply.cv.id, 'slug': conversation.apply.cv.slug }) }}">
                            {% if conversation.apply.hasCv %}
                                {{ conversation.apply.cv.position.title }}
                            {% endif %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>

    {{ conversation_view_actions(conversation.id) }}

    <div class="clear mobile_banners"></div>

{% endblock %}
