{% extends "::modal.html.twig" %}

{% block title %}{{ 'Send message'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div id="message-form-holder">
            {{ include('RDWConversationBundle:Conversation:_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWConversationBundle/Resources/public/js/jquery.writeMessageHandler.js'
    '@RDWConversationBundle/Resources/public/js/message.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
