{% set isNotPdf = isPdfList is defined and not isPdfList %}

<div class="panel panel-default">
    <div class="panel-heading">{{ 'Cv abuses'|trans }}</div>

    {% if pagination %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Cv'|trans }}</th>
                <th>{{ 'User'|trans }}</th>
                <th>{{ 'Cities'|trans }}</th>
                <th>{{ 'Updated at'|trans }}</th>
                <th>{{ 'Scope'|trans }}</th>
                <th>{{ 'Salary'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for abuse in pagination %}
                <tr>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_cv.cv_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.ad.position.title }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_cv.cv_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.user.name }} {{ abuse.user.surname }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_cv.cv_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ (abuse.ad.workingPlaceCity ? abuse.ad.workingPlaceCity.title : '') }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_cv.cv_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.ad.updatedAt|date('Y-m-d H:i') }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_cv.cv_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {% if abuse.ad.scope %} {{ abuse.cv.scope.title }}{% endif %}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_cv.cv_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.ad.salaryFrom|priceWithoutCurrency }}{% if abuse.ad.salaryTo > 0 %}{{ ' - ' ~ abuse.ad.salaryTo|priceWithoutCurrency }}{% endif %}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_cv.cv_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.ad.status|trans }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            {% if isPdfList is defined and not isPdfList %}
            <tfoot>
                <tr>
                    <td colspan="7"><div class="pull-right">{{ knp_pagination_render(pagination) }}</div></td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    {% endif %}
</div>
