{% extends('::backend.html.twig') %}

{% block content %}
    <div>
        <a href="{{ printable_url('rdw_cv.abuse_admin.list') }}" class="btn btn-default" target="_blank">{{ icon('save') }} {{ 'Print Pdf'|trans }}</a>
    </div>

    {% include 'RDWCvBundle:CvAbuseAdmin:_list.html.twig' with {'pagination': pagination, 'isPdfList': false} %}
{% endblock content %}
