{% extends('::backend.html.twig') %}

{% block content %}

    <div class="panel">
        <div class="row">
            <div class="col-md-12">
                {{ form(filter_form, {'method': 'GET', 'style': 'inline'}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ url('rdw.manage.user.create') }}" class="btn">{{ 'Add new user'|trans }}</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'CMS users'|trans }}</div>

        {% if pagination %}
        <table class="table">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'User name'|trans, 'u.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'u.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Registration date'|trans, 'u.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'User type'|trans, 'u.type') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Status'|trans, 'u.status') }}</th>
                    <th colspan="2">{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.name }} {{ user.surname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdAt|date('Y-m-d') }}</td>
                        <td>{{ user.type|capitalize|trans }}</td>
                        <td>{{ user.status|capitalize|trans }}</td>
                        <td><a href="{{ url('rdw.manage.user.edit', {'userId': user.id}) }}">{{ 'Edit'|trans }}</a></td>
                        <td>
                            <a
                                    href="#"
                                    data-handler="confirm"
                                    data-url="{{ url('rdw.manage.user.delete', {'userId': user.id}) }}"
                                    data-message="{{ 'Are you sure?'|trans }}"
                                    data-title="{{ 'Delete text'|trans }}"
                                    data-confirm-title="{{ 'Delete'|trans }}"
                                    >
                                {{ 'Delete'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7"><div class="pull-right">{{ knp_pagination_render(pagination) }}</div></td>
                </tr>
            </tfoot>
        </table>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ url('rdw.manage.user.create') }}" class="btn">{{ 'Add new user'|trans }}</a>
        </div>
    </div>
{% endblock content %}
