.no-padding {
    padding: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.modal-body .spacer {
    display: none;
}

.modal-dialog .modal-body .form li {
    position: relative;
}

.modal-body .col-xs-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.highlighted {
    background: #fffceb;
}

.default_form .sub-form > li:first-child {
    margin-top: -30px;
}

.content .comments_block li .block .url {
    margin: 8px 0 28px 0;
    display: inline-block;
}

.btn-white {
    background: #fff;
}

input[type=file]{
    display: none;
}
input[type=file].image_city {
    display: block;
}
.form ul.default_form {
    margin-top: -20px;
}

.form .add-field {
    position: absolute;
    right: -20px;
    top: 50px;
}

.confirm-button {
    float: left;
    margin-left: 100px;
}

.content .quick_info_bottom .box_1 .foto img.no-contact-logo {
    width: 96px !important;
    height: 83px !important;
    text-align: center;
}

.content .quick_info_bottom .box_1 .foto img.no-contact-person {
    width: 65px !important;
    height: 82px !important;
    text-align: center;
}

.message_panel .ui_date {
    display: inline-block;
}

.message_panel a.ui_note {
    color: #004b91;
    text-decoration: none;
    display: inline-block;
}

.message_panel a.ui_note:hover {
    text-decoration: none;
}

.form-collection-add-field {
    margin-top: -15px;
    margin-bottom: 10px;
}

.select2-container.input .select2-choice {
    border: none;
    background: none;
    line-height: normal;
    padding: 0;
}

.select2-container.input .select2-chosen:after {
    width: 9px;
    height: 6px;
    content: "";
    background: url(../../../bundles/rdwapp/img/btn_icons.png) no-repeat 0 -1275px;
    position: absolute;
    top: 7px;
    right: 3px;
}

.select2-container.input .select2-choice .select2-arrow {
    display: none;
}

.select2-container.input .select2-choice .select2-arrow b {
    display: none;
}

.select2-container-active.input .select2-choice,
.select2-container-active.input .select2-choices {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.delete-button-small {
    margin-top: 9px;
}

.delete-button-big {
    top: 23px;
}

.modal .modal-dialog .modal-body .form.subscription-form li {
    padding: 20px 0 0 0;
}

.no-padding {
    padding: 0;
}

.content .default_form .select2-container-multi .select2-choices,
.subscription-form .select2-container-multi .select2-choices {
    height: auto;
    min-height: 0;
    color: #bfbfbf;
    font: 20px Verdana;
    background: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0;
    position: relative;
}

.subscription-form .select2-container-multi .select2-choices {
    margin: 0;
}

.select2-container-multi .select2-choices .select2-search-field {
    position: relative;
    float: left;
    margin-top: 0;
}

.content .default_form .select2-container-multi .select2-choices .select2-search-field input,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input {
    height: auto;
    color: #666;
    font: 12px Verdana;
    padding: 0;
    margin: -3px 0 0 0;
}
.content .default_form .select2-container-multi .select2-choices .select2-search-field input::-webkit-input-placeholder,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input::-webkit-input-placeholder {
    color: #666;
}
.content .default_form .select2-container-multi .select2-choices .select2-search-field input::-moz-placeholder,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input::-moz-placeholder {
    color: #666;
    opacity: 1;
} /* FF 19+ */

.content .default_form .select2-container-multi .select2-choices .select2-search-field input:-moz-placeholder,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input:-moz-placeholder {
    color: #666;
    opacity: 1;
} /* FF 18- */

.content .default_form .select2-container-multi .select2-choices .select2-search-field input:-ms-input-placeholder,
.subscription-form .select2-container-multi .select2-choices .select2-search-field input:-ms-input-placeholder {
    color: #666;
}

.content .default_form .select2-container-multi .select2-choices .select2-search-choice,
.subscription-form .select2-container-multi .select2-choices .select2-search-choice {
    display: inline-block;
    height: 23px;
    width: auto;
    color: #666;
    font: 11px/24px Verdana;
    background: url(../img/btn_icons.png) no-repeat #f0f0f0 right -1325px;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #dcdada;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0 27px 0 11px;
    margin: 2px 3px 2px 0;
    position: relative;
}

.subscription-form .select2-container-multi .select2-choices .select2-search-choice {
    margin: 0;
}
.content .default_form .select2-container-multi .select2-search-choice-close,
.subscription-form .select2-container-multi .select2-search-choice-close {
    width: 27px;
    height: 27px;
    text-indent: -99999px;
    background: none !important;
    margin: 0;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}

.content .default_form li .multi-select-collection.input,
.subscription-form li .multi-select-collection.input {
    width: 280px;
    min-height: 31px;
    height: auto;
    padding: 1px 5px;
    float: left;
}

.subscription-form li .multi-select-collection.input {
    width: 340px;
}

.content .default_form li .select2-container-multi.input,
.subscription-form .select2-container-multi.input {
    border: none;
    min-height: 25px;
    height: auto;
    width: auto;
    min-width: 270px;
    max-width: 280px;
    padding: 0;
    margin: 0;
}

.subscription-form .select2-container-multi.input {
    min-width: 330px;
    max-width: 340px;
}

.content .default_form li .select2-container-multi.input.error,
.subscription-form .select2-container-multi.input.error {
    border: none !important;
}

.content .default_form li .select2-choices li,
.subscription-form li .select2-choices li {
    display: block;
    float: left;
    width: auto;
}

.modal .modal-dialog .modal-body .form.subscription-form li .select2-choices li.select2-search-choice {
    margin: 2px 3px 2px 0;
    padding: 0 27px 0 11px;
}

.modal .modal-dialog .modal-body .form.subscription-form li .select2-choices li.select2-search-field {
    margin: -2px 0 0 0;
    padding: 0;
}

.modal .modal-dialog .modal-body .form.subscription-form li.select2-search-choice,
.modal .modal-dialog .modal-body .form.subscription-form li.select2-search-field,
.modal .modal-dialog .modal-body .form.subscription-form li.select2-search-choice div {
    width: auto;
}

.table > tbody > tr > td.vertical-middle {
    vertical-align: middle;
}

.select2-container.input.form-control {
    border: none;
    padding: 0;
}

.error_txt {
    display: block;
    padding: 10px;
    font-weight: bold;
    font: 14px/1.2 Verdana;
    background: #ebccd1;
    color: #a94442;
}

/*****/
.popup {
    min-height: 500px;
    height: 500px;
}
.popup .filter .filter-inp {
    height: 31px;
    color: #666;
    font: 13px Verdana;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 6px 7px;
    width: 100%;
}

.popup .tree {
    padding-top: 15px;
    height: 85%;
    overflow-y: scroll;
    width: 97%;
    margin-top: 10px;
}
.popup .tree .parent .children {
    margin-left: 20px;
    margin: 5px 0 0 20px;
    display: none;
}
.popup .tree .parent .children.open {
    display: block;
}
.popup .tree .parent .children .child {
    margin: 0 0 5px 0;
}
.popup .tree .parent {
    text-align: left;
}
.remodal {
    max-width: 550px;
}
.popup .tree .parent > div {
    cursor: pointer;
}
.pa-btn {
    background: #fb5252;
    border-bottom: 2px solid #e04141;
    height: 31px;
    color: #fff;
    font: bold 12px/28px Verdana;
    text-decoration: none;
    border: 0;
    padding: 0 11px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}
.pa-btn:hover {
    background: #e04141;
    border-bottom: 2px solid #e04141;
}
.popup .tree .parent .children .child > div {
    margin-right: 5px;
}
.popup .parent-name {
    margin: 3px 0;
    font-size: 15px;
}
.popup .parent .child {
    display: none;
}
.popup .parent .child.hide {
    display: none !important;
}
.popup .parent .child.show {
    display: block !important;
}
.pa-list {
    width: auto;
    height: auto;
}

.pa-list li {
    float: left;
    height: 27px;
    color: #666;
    font: 11px/24px Verdana;
    background: #f0f0f0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #dcdada;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0 27px 0 11px;
    margin: 6px 4px 0 0;
    position: relative;
}

.pa-list li {
    width: 100%;
    padding-left: 10px;
    padding-right: 25px;
    float: none;
    margin-top: 2px;
}

.pick-professional-area {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}


.pick-label {
    margin-top: 12px;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

.parent:before {
    background: url(../img/btn_icons.png) no-repeat #fff;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    transform: rotate(270deg);
    background-position: -3px -1387px;
}
.parent.open:before {
    transform: rotate(0deg);
    background-position: -4px -1387px;
}

.parent.open .children.open .child {
    display: block;
}
.parent.open .children {
    display: block;
}


.pa-list li.parent-wr {
    background: #65adf5;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
}


.pa-list li.parent-wr span.delete-pa {
    background-color: #65adf5;
}

.pa-list li span.delete-pa {
    display: inline-block;
    cursor: pointer;
    width: 28px;
    height: 100%;
    right: 0;
    position: absolute;
    background: url(../img/btn_icons.png) no-repeat #f0f0f0 right -1325px;
}

.pa-list li.parent-wr .child-pa-list li span.delete-pa {
    background-color: #f0f0f0;
}

.pa-list li.parent-wr span.delete-pa:hover {
    background-color: #39f;
}

.pa-list li.parent-wr .child-pa-list li span.delete-pa:hover {
    background-color: #d6d6d6;
}

.pa-list li.parent-wr:first-child {
    margin-top: 0;
}

.form.subscription-form button[type=submit] {
    margin-top: 20px;
}

.form.subscription-form .pick-professional-area {
    width: 100%;
}


.form.subscription-form .pick-professional-area .pa-list li.parent-wr {
    padding: 0;
}

.form.subscription-form .pick-professional-area .pa-list li.parent-wr li {
    padding: 0;
    margin: 0;
}

.wrap-specialization .specialization-list {
    margin: 20px 0;
    width: 100%;
}

.wrap-specialization .specialization-list[data-show=popular]:first-child {
    width: 33.3333%;
}

.wrap-specialization .specialization-list li {
    margin: 5px 0;
}

.wrap-specialization .wrap-lists {
    display: flex;
    justify-content: space-between;
}

.pa-list .pa-name {
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding-left: 5px;
}

.content .default_form .pa-list li {
    float: none;
}
.child-pa-list {
    margin-top: -6px;;
}

/**custom*/

.pa-list-wrapper {
    width: 70%;
}

.pick-professional-area {
    width: 100%;
}

.pa-list .parent-wr {
    padding: 0;
}

.pa-list li {
    list-style-type: none;
}
.child-pa-list {
    padding-left: 0;
}
/*****/

/*icheck*/
.icheckbox_minimal {
    width: 13px;
    height: 13px;
    cursor: pointer;
    background-image: url(../img/radio_checkbox.png);
    float: left;
}
.icheckbox_minimal {
    background-position: 0 0;
    margin-bottom: 0;
    margin-top: 5px;
}
.icheckbox_minimal.checked {
    background-position: 0 -50px;
}

.panel-heading.positions {
    padding: 10px 9px 23px;
}