{{ form_start(form, {'action': url('rdw_job.job_client.email_employees', {'id' : job.id}) }) }}
    <ul class="form clearfix">
        {{ form_row(form.companyTitle) }}
        <li>
            {{ form_label(form.text, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form.text) }}
            {{ form_errors(form.text) }}
        </li>
        <li>
            {{ form_widget(form.submit, {'attr': {'data-handler' : 'emailEmployeesHandler', 'data-content-holder': 'email-form-holder', 'class':'btn btn-default'}} ) }}
        </li>
    </ul>
{{ form_end(form) }}
