{% from 'RDWAppBundle::misc.html.twig' import list_checkbox, salary_row %}

{% set isNotPdf = isPdfList is defined and not isPdfList %}

{% if jobs %}
<form action="" method="post" data-multiple-delete data-multiple-submit class="options_block summary_list clearfix">
    <ul class="options_block summary_list clearfix">
        {% for job in jobs %}
            {% set companyTypeTitle = (job.companyType is not null) ? job.companyType.title : '' %}
            <li{% if job.isStatusActive %} class="active"{% endif %}>
            {{ list_checkbox(form, job.id) }}

            <div class="status_tags">
                {% if job.isStatusActive %}
                    <span class="tag green">{{ 'Published'|trans }}</span>
                {% else %}
                    <span class="tag red">{{ 'Not published'|trans }}</span>
                {% endif %}
            </div>
            <div class="clear"></div>
            <span class="date">{{ job.updatedAt|date('d.m.Y | H:i') }}</span>
            <a href="{{ url('rdw_job.job.view', {'id': job.id, 'slug': job.slug }) }}" class="url_title">{{ job.position.title }}</a>
            <span class="name">{{ companyTypeTitle }} «{{ job|secret_field('companyTitle') }}»</span>
            <div class="clear"></div>
            <div class="list_holder">
                <ul class="list">
                    <li class="icon_1">
                        {{ salary_row(job.salaryFrom, job.salaryTo, currency) }}
                    </li>
                    {% if job.workScheduleType %}<li class="icon_2">{{ job.workScheduleType.title }}</li>{% endif %}
                </ul>
                <ul class="list">
                    {% if job.workingPlaceCity %}<li class="icon_3">{{ job.workingPlaceCity.title }}</li>{% endif %}
                    {% if job.scope %}<li class="icon_4">{{ job.scope.title }}</li>{% endif %}
                </ul>
            </div>
            <ul class="list">
                {#{% if is_analytic_enabled() %}
                    {% set analyticData = get_analytic_data(job_uri(job)) %}
                    <li class="icon_5">
                        {{ 'Views count'|trans }}:
                        <span class="number">
                            {% if isNotPdf %}<a href="{{ url('rdw_job.job.users_who_viewed_list', {'id': job.user.id, 'job': job.id}) }}">{% endif %}
                                {{ analyticData.getViewsCount() }}
                            {% if isNotPdf %}</a>{% endif %}
                        </span>
                    </li>
                    <li class="icon_5">{{ 'Views unique count'|trans }}:
                        <a href="{{ url('rdw_job.job.users_who_viewed_list', {'id': app.user.id, 'job': job.id}) }}">
			                {{ analyticData.getViewsUniqueCount() }}
                        </a>
                    </li>
                    <li class="icon_5">{{ 'Showing contacts'|trans }}:
                        <a href="{{ url('rdw_job.job.users_who_showed_contacts_list', {'id': job.user.id, 'job': job.id}) }}">
                            <span class="number">
                                {{ analyticData.getContactsShown() }}
                            </span>
                        </a>
                    </li>
                    <li class="icon_6">
                        {{ 'Applies count'|trans }}:
                        <span class="number">
                            {% if isNotPdf %}<a href="{{ url('rdw_job.job_apply.list', {'job': job.id, 'user': job.user.id }) }}">{% endif %}
                                {{ analyticData.getReplied() }}
                            {% if isNotPdf %}</a>{% endif %}
                        </span>
                    </li>
	                {% if analyticData.getAverageSpentTime() %}
                        <li class="icon_6">{{ 'Average spent time'|trans }}:
                            <span class="number">
                            {{ analyticData.getAverageSpentTime() }} {{ 'seconds'|trans }}
                        </span>
                        </li>
	                {% endif %}
                {% endif %}#}
                    <li class="icon_5">
                        {{ 'Views count'|trans }}:
                        <span class="number">
                            {% if isNotPdf %}<a href="{{ url('rdw_job.job.users_who_viewed_list', {'id': job.user.id, 'job': job.id}) }}">{% endif %}
                                {{ job.totalViewsCount }}
                            {% if isNotPdf %}</a>{% endif %}
                        </span>
                    </li>
                    <li class="icon_6">
                        {{ 'Applies count'|trans }}:
                        <span class="number">
                            {% if isNotPdf %}<a href="{{ url('rdw_job.job_apply.list', {'job': job.id, 'user': job.user.id }) }}">{% endif %}
                                {{ job.applies.count }}
                            {% if isNotPdf %}</a>{% endif %}
                        </span>
                    </li>
            </ul>
            {% set orderItems = job.getActiveServices() %}
            {%- if orderItems|length > 0 -%}
            <div class="clear"></div>
                <div class="message_panel good">
                    {{ 'Active services'|trans }}:
                    {% for service in orderItems %}
                        {{ service.service.title }}
                        {% if not service.service.isSingle %} <span class="small">({{ 'till'|trans ~ ' ' ~ service|validTill }})</span>{% endif %}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {%- endif -%}
            <div class="toogle_box">
                <a href="#" class="url_toggle"></a>
                <div class="hidden_box">
                    <ul class="url_list">
                        <li>
                            {% set collectionFormName = form.id.vars.full_name ~ '[]' %}
                            <a class="icon_1" href="{{ url('rdw_service.service.matrix_employer', {'id' : job.user.id, (collectionFormName) : job.id}) }}">
                                {{ 'Promote'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('rdw_job.job.view', {'id': job.id, 'slug': job.slug }) }}" target="_blank">{{ 'View'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ url('rdw_job.job.edit', {'id': job.id}) }}" class="icon_2">{{ 'edit'|trans }}</a>
                        </li>
                        <li>
                            {% if isNotPdf %}
                                {% if job.isAllowedToChangeStatusForManager %}
                                    {% if job.status == constant('STATUS_ACTIVE', job) %}
                                        {% set newStatus = constant('STATUS_INACTIVE', job) %}
                                        {% set buttonTitle = 'Change to inactive' %}
                                        {% set changeUrl = url('rdw_job.job_client.inactivate', {'id': job.id}) %}
                                    {% else %}
                                        {% set newStatus = constant('STATUS_ACTIVE', job) %}
                                        {% set buttonTitle = 'Change to active' %}
                                        {% set changeUrl = url('rdw_job.job_client.activate', {'id': job.id}) %}
                                    {% endif %}
                                    <a
                                            href="#"
                                            class=""
                                            data-handler="confirm"
                                            data-url="{{ changeUrl }}"
                                            data-message="{{ ('Change job status to ' ~ newStatus ~ '?')|trans }}"
                                            data-title="{{ 'Change job status'|trans }}"
                                            data-confirm-title="{{ ('Change to ' ~ newStatus)|trans }}"
                                            data-cancel-title="{{ 'Back'|trans }}"
                                            >
                                        {{ buttonTitle|trans }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </li>
                        {#<li>
                            <a
                                    href="#"
                                    class=""
                                    data-handler="confirm"
                                    data-url="{{ url('rdw_job.job_client.delete', {'id': job.id}) }}"
                                    data-message="{{ 'Are you sure?'|trans }}"
                                    data-title="{{ 'Delete job'|trans }}"
                                    data-confirm-title="{{ 'Delete'|trans }}"
                                    >
                                {{ 'Delete'|trans }}
                            </a>
                        </li>#}
                    </ul>
                </div>
            </div>
            <div class="toggle_bg"></div>
        </li>
        {% endfor %}
    </ul>
</form>
{% endif %}
