<div class="sort_block clearfix">
    <div class="mini_row pull-left">
        <span class="checkbox_box"><input type="checkbox" name="checkbox" id="m_bottom_all" /> <label for="m_bottom_all">{{ 'Check all'|trans }}</label></span>
        <span class="txt pull-left">{{ 'You checked'|trans }} (<span class="number small checkbox-counter">0</span>):</span>
    </div>
    <div class="mini_row pull-right">
        {% if client %}
            <a href="#" class="url_advertisement" data-handler="multipleSubmit" data-method="get" data-skip-confirm="true" data-title="" data-message="" data-action="{{ url('rdw_service.service.matrix_employer', { 'id': client.id }) }}">{{ 'Promote'|trans }}</a>
        {% endif %}

        {#<a href="#" class="url_archive" data-handler="multipleConfirm" data-title="{{ 'Move to archive'|trans }}" data-message="{{ 'Are you sure?'|trans }}" data-action="{{ url('rdw_user.favorite.multiple_move_to_archive', { 'type': 'job' }) }}">{{ 'Archive'|trans }}</a>#}

        {# Do not show while is not clear business logic (to show delete for manager or not) #}
        {#{% set deleteUrl = (client) ? url('rdw_job.job_client.multiple_delete_by_client', { 'id': client.id }) : url('rdw_job.job_client.multiple_delete') %}#}
        {#<a href="#" class="url_delete" data-handler="multipleDelete" data-title="{{ 'Delete clients jobs'|trans }}" data-message="{{ 'Are you sure?'|trans }}" data-action="{{ deleteUrl }}">{{ 'Delete'|trans }}</a>#}
    </div>
</div>
