{% extends "::base.html.twig" %}

{% block content %}

    <h2 class="h1">{{ 'Activate client job'|trans }} <span class="black">{{ job.position.title }}</span></h2>
    <div class="txt_container">
        {{ form_start(form) }}
            <ul class="default_form clearfix">
                <li>
                    {{ form_label(form.validTill, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
                    {{ form_widget(form.validTill.day, { 'attr' : { 'class' : 'el_84' } } ) }}
                    {{ form_widget(form.validTill.month, { 'attr' : { 'class' : 'el_84' } } ) }}
                    {{ form_widget(form.validTill.year, { 'attr' : { 'class' : 'el_84' } } ) }}
                    {{ form_errors(form.validTill) }}
                </li>
                <li>
                    <span class="spacer"></span>
                    {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-default' } } ) }}
                </li>
            </ul>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
