{% extends "::base.html.twig" %}

{% block content %}
    <h2 class="h1">{{ 'Edit'|trans }} <span class="black">{{ 'job'|trans }}</span></h2>

    <div class="txt_container clearfix">
        {% include 'RDWJobBundle:Job:_form.html.twig' with { 'action': url('rdw_job.job_client.edit', {'id' : job.id}) } %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
