{% extends "::modal.html.twig" %}

{% block title %}{{ 'Send email for all users'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div id="email-form-holder">
            {{ include('RDWJobBundle:JobClient:_form_email_employees.html.twig') }}
        </div>
    </div>
{% endblock %}
