{% extends('::base.html.twig') %}

{% block content %}
    {% from 'RDWAppBundle::misc.html.twig' import per_page, promote_banner %}
    <h2 class="h1">
        {% if client %}{{ client.title }}{% else %}{{ 'My clients'|trans }}{% endif %}
        <span class="black">{{ 'jobs'|trans }}</span>
    </h2>

    {% if client %}
        {{ promote_banner('employer', client.id) }}
        <a href="{{ url('rdw_job.job_client.create', {'id': client.id}) }}" class="url_add_resume">{{ 'Create new job'|trans }}</a>
        <div class="clear hidden-sm hidden-md"></div>
    {% endif %}

    {% if pagination.items %}
        {{ per_page('rdw_job.list.per_page.options', app.request.get('_route'), (client) ? { 'id': client.id } : {}) }}
        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
        <div class="clear"></div>
        {% include 'RDWJobBundle:JobClient:_list_actions.html.twig' with {'position': 'bottom'} %}
    {% else %}
        <div class="clear"></div>
    {% endif %}

    {% if pagination.items %}
        {% include 'RDWJobBundle:JobClient:_list.html.twig' with {'jobs': pagination, 'isPdfList': false} %}
    {% else %}
        <div class="txt_container clearfix">
            {{ 'Clients jobs not found'|trans }}
        </div>
    {% endif %}

    {% if pagination.items %}
        {% include 'RDWJobBundle:JobClient:_list_actions.html.twig' with {'position': 'bottom'} %}
        {{ per_page('rdw_job.list.per_page.options', app.request.get('_route'), (client) ? { 'id': client.id } : {}) }}
        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
    {% endif %}

    {% if client %}
        <div class="clear hidden-sm hidden-md"></div>
        <a href="{{ url('rdw_job.job_client.create', {'id': client.id}) }}" class="url_add_resume">{{ 'Create new job'|trans }}</a>
    {% endif %}
    <div class="clear"></div>
{% endblock content %}
