{% extends('::pdf.html.twig') %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Client %title% job list'|trans({'%title%' : client.title }) }}</div>

        {% include 'RDWJobBundle:JobClient:_list.html.twig' with {'jobs': jobs, 'isPdfList': true} %}
    </div>
{% endblock content %}
