{% extends('::pdf.html.twig') %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Job #%job_id%'|trans({'%job_id%': job.id}) }}</div>

        {% include 'RDWJobBundle:JobClient:_view.html.twig' with {'job': job, 'form': form, 'isPdfList': true} %}
    </div>
{% endblock content %}
