{% extends "::base.html.twig" %}

{% block content %}

    {% include 'RDWJobBundle:Job:_form.html.twig' with { 'action': '' } %}

    <h2 class="h1">{{ 'Actions'|trans }}</h2>
    <div class="txt_container">
        <a href="{{ url('rdw_job.job_client.edit', {'id': job.id}) }}" class="btn btn-default">{{ 'Edit job'|trans }}</a>
        <a href="{{ printable_url('rdw_job.job_client.view', {'id': job.id}) }}" class="btn btn-default" target="_blank">{{ icon('save') }} {{ 'Print PDF'|trans }}</a>
        <a href="#" class="btn btn-default" data-handler="modalLink" data-url="{{ url('rdw_job.job_client.email_employees_form', {'id': job.id}) }}">{{ 'Send email for all users'|trans }}</a>
        <a href="{{ url('rdw_subscription.subscription.subscribe', {'user_id': job.user.id, 'type': 'job', 'jobId' : job.id}) }}" class="btn btn-default" target="_blank">{{ icon('email') }} {{ 'Subscribe'|trans }}</a>

        {{ include('RDWJobBundle:Job:_promote.html.twig') }}
    </div>

{% endblock content %}
