<form id="login-form-modal" action="{{ path("fos_user_security_check") }}" class="login_box">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <h3>{{ 'Login with email:'|trans }}</h3>

    {% if error is defined %}
        <div class="content">
            <div class="alert alert-danger">{{ error }}</div>
        </div>
    {% endif %}

    <ul class="login_form clearfix">
        <li>
            <label for="username" class="label_1">{{ 'Email'|trans }}:</label>
            <input type="text" name="_username" id="username" value="{{ last_username }}" class="input" />
        </li>
        <li>
            <label for="password" class="label_1">{{ 'Password'|trans }}:</label>
            <input type="password" name="_password" id="password" class="input" />
        </li>
        <li>
            <div class="icheckbox_minimal checkbox checked" style="position: relative;"><input type="checkbox" name="_remember_me" id="remember_me" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
            <label for="r3" class="label_2">{{ 'Remember me'|trans }}</label>
        </li>
        <li>
            <input type="submit" name="_submit" value="{{ 'Login'|trans }}" class="submit"
                   data-handler="submitLoginModalForm"
                   data-form="login-form-modal"
                   data-content-holder="tab-1"
            />
        </li>
        <li>
            <a href="{{ url('fos_user_resetting_request') }}" class="url">{{ 'Password remind'|trans }}</a>
        </li>

        {% if redirect_url %}
            <input type="hidden" name="_target_path" value="{{ redirect_url }}" />
        {% endif %}
    </ul>
</form>
<div class="login_box_optional">
    <h3>Вход через сайт:</h3>
    {% include "RDWUserBundle::social_logins.html.twig" with {'socialHandler': false} %}
</div>
