{% extends "::base.html.twig" %}

{% trans_default_domain 'RDWUserBundle' %}

{% block content %}
    {# @todo html-fix: add flash messages #}
    <div class="alert alert-success">
        {{ 'Check your email %email%'|trans({'%email%': user.email}) }}
    </div>
{% endblock content %}
