<div class="login_box{% if popup|default(false) %} wide{% endif %}">
    <ul class="login_form clearfix">
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <li>
            <span class="spacer">&nbsp;</span>
            {{ form_widget(form.agree) }}
            <label class="label_2" for="{{ form.agree.vars.id }}">
                {{ 'I agree to the terms of use'|trans }} <a href="#" data-handler="modalLink" data-url="{{ url('rdw_content.content.modal', {'type' : constant('RDW\\Bundle\\ContentBundle\\Entity\\Text::TYPE_TERMS') }) }}">www.rdw.by</a>
            </label>
            {{ form_errors(form.agree) }}
        </li>

        <li>
            {{ form_label(form.sumCaptcha, label|default('Validation'|trans), { 'label_attr' : { 'class' : 'label_1'} }) }}
            {{ form_widget(form.sumCaptcha) }}
        </li>

        {{ form_rest(form) }}

        <li>
            <span class="spacer">&nbsp;</span>
            <input class="submit" type="submit" id="registration-submit" value="{{ 'Register'|trans }}"
                {% if popup|default(false) %}
                    data-handler="submitLoginModalForm"
                    data-form="registration-form-modal"
                    data-content-holder="registration-form-modal"
                {% endif %}
            />
        </li>
    </ul>
</div>

{% if not popup|default(false) %}
<div class="login_box_optional">
    <h3>{{ 'Social login'|trans }}:</h3>
    <ul class="social_login_form clearfix">
        <li class="agree-terms-holder">
            <input type="checkbox" id="rdw_user_social_registration_agree" name="rdw_user_social_registration[agree]" value="1" />
            <label class="label_2" for="rdw_user_social_registration_agree">
                {{ 'I agree to the terms of use'|trans }} <a href="#" data-handler="modalLink" data-url="{{ url('rdw_content.content.modal', {'type' : constant('RDW\\Bundle\\ContentBundle\\Entity\\Text::TYPE_TERMS') }) }}">www.rdw.by</a>
            </label>
            <span class="social_error error_txt" style="display:none">{{ 'You must agree with site agreements'|trans }}</span>
        </li>
    </ul>
    {% include "RDWUserBundle::social_logins.html.twig" with {'socialHandler': true} %}
</div>
{% endif %}