{% if popup|default(false) %}
    <div class="login_box wide">
{% endif %}

<ul class="{% if popup|default(false) %}login_form{% else %}default_form{% endif %} clearfix">
    {% set isTypePerson = (form.employerType.vars.value == constant('RDW\\Bundle\\UserBundle\\Entity\\RegisteredUser::EMPLOYER_TYPE_PERSON')) %}

    {% set errorClass = form.companyTitle.vars.valid ? '' : 'error' %}
    <li{% if isTypePerson %} style="display: none;"{% endif %} class="{{ errorClass }}">
        {{ form_label(form.companyTitle, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.companyTitle, { 'attr' : { 'class' : 'input ' ~ errorClass } }) }}
        {{ form_errors(form.companyTitle) }}
    </li>

    {% set errorClass = form.companyTradeMark.vars.valid ? '' : 'error' %}
    <li{% if isTypePerson %} style="display: none;"{% endif %} class="{{ errorClass }}">
        {{ form_label(form.companyTradeMark, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <div class="company-trade-mark-wrapper">
            {{ form_widget(form.companyTradeMark, { 'attr' : { 'class' : 'input company-trade-mark' } } ) }}
            {{ form_errors(form.companyTradeMark) }}
            <span class="hidden-description"> {{ 'If your company use trade mark, for example "Pharmacy Doctor Aibolit", please notice it in the field.'|trans }}</span>
        </div>
    </li>

    {% set errorClass = form.companyType.vars.valid ? '' : 'error' %}
    <li{% if isTypePerson %} style="display: none;"{% endif %} class="{{ errorClass }}">
        {{ form_label(form.companyType, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.companyType, { 'attr' : { 'class' : 'input ' ~ errorClass } }) }}
        {{ form_errors(form.companyType) }}
    </li>

    {{ form_row(form.employerType) }}
    {{ form_row(form.unpCode) }}

    {% set errorClass = form.contactPerson.vars.valid ? '' : 'error' %}
    <li class="{{ errorClass }}">
        <label class="label_1 {% if form.contactPerson.vars.required %}required{% endif %}" for="{{ form.contactPerson.vars.id }}">{% if isTypePerson %} {{ 'Name'|trans }} {% else %} {{ 'Contact person'|trans }} {% endif %}</label>
        {{ form_widget(form.contactPerson, { 'attr' : { 'class' : 'input ' ~ errorClass } }) }}
        {{ form_errors(form.contactPerson) }}
    </li>

    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <li>
        <span class="spacer">&nbsp;</span>
        <label class="label_2">
            {{ form_widget(form.agree) }} {{ 'I agree to the terms of use'|trans }}  <a href="#" data-handler="modalLink" data-url="{{ url('rdw_content.content.modal', {'type' : constant('RDW\\Bundle\\ContentBundle\\Entity\\Text::TYPE_TERMS') }) }}">www.rdw.by</a>
        </label>
        {{ form_errors(form.agree) }}
    </li>

    <li>
        {{ form_label(form.sumCaptcha, label|default('Validation'|trans), { 'label_attr' : { 'class' : 'label_1'} }) }}
        {{ form_widget(form.sumCaptcha) }}
    </li>

    {{ form_rest(form) }}

    <li>
        <span class="spacer">&nbsp;</span>
        <input class="submit" type="submit" id="registration-submit" value="{{ 'Register'|trans }}"
        {% if popup|default(false) %}
            data-handler="submitLoginModalForm"
            data-form="registration-form-modal"
            data-content-holder="registration-form-modal"
        {% endif %} />
    </li>
</ul>

{% if popup|default(false) %}
    </div>
{% endif %}
