{% extends "::modal.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    {% include 'RDWUserBundle:Registration:registration_form.html.twig' %}
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.submitLoginModalFormHandler.js'
    '@RDWAppBundle/Resources/public/js/jquery.submitModalFormHandler.js'
    '@RDWUserBundle/Resources/public/js/registration.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function() {
            $("[data-handler='modalTabs']").modalTabsHandler({ 'modal': '#modal_container' });
        });
    </script>
{% endblock %}
