{% extends "::base.html.twig" %}
{% trans_default_domain 'RDWUserBundle' %}

{% block title %}
    {% if type == 'employer' %}
        {{ 'Регистрация работодателя на rdw.by.'|trans }}
    {% elseif type == 'employee' %}
        {{ 'Регистрация соискателя на rdw.by.'|trans }}
    {% else %}
        {{ 'Регистрация аккаунта на rdw.by.'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if type %}
        {% include "RDWUserBundle:Registration:register_content.html.twig" %}
    {% else %}
        <h1><span class="black">{{ 'Registration'|trans }}</span></h1>

        <div class="txt_container clearfix">

            <div class="reg_button_row">
                <span class="txt">{{ 'Specify the type of registered account'|trans }}</span>
                <a href="{{ url('rdw_user.registration.register', {'type' : 'employee'}) }}" class="url blue" title="{{ 'Registration of employee'|trans }}">{{ 'Registration of employee'|trans }}</a>
                <a href="{{ url('rdw_user.registration.register', {'type' : 'employer'}) }}" class="url red">{{ 'Registration of employer'|trans }}</a>
            </div>
        </div>

        {% include "RDWAppBundle::_mobile_banner_clearfix.html.twig" %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.agreeTermsSocialHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}

{% endblock %}
