<h1>{{ 'Registration'|trans }} <span class="black">{% if type == 'employer' %}{{ 'Employer'|trans }}{% else %}{{ 'Employee'|trans }}{% endif %}</span></h1>

<div class="txt_container clearfix">

    <h2><span class="txt"><strong>/</strong> {{ 'My data'|trans }}</span></h2>

    <form action="{{ path('rdw_user.registration.register', {'type': type}) }}" {{ form_enctype(form) }} data-handler="registrationForm" data-name-label="{{ 'Name'|trans }}" data-contact-person-label="{{ 'Contact person'|trans }}" data-employer-type="{{ constant('RDW\\Bundle\\UserBundle\\Entity\\RegisteredUser::EMPLOYER_TYPE_PERSON') }}" method="POST" class="fos_user_registration_register" novalidate="novalidate">
        {% if type == 'employer' %}
            {{ include('RDWUserBundle:Registration:form_employer.html.twig') }}
        {% else %}
            {{ include('RDWUserBundle:Registration:form_employee.html.twig') }}
        {% endif %}
    </form>

    <div class="clear mobile_banners"></div>
</div>
