<p class="hidden-xs">{{ 'Перед тем как ваше сообщение будет выслано,'|trans }}</p>
<div class="tabs clearfix">
    <ul class="tabs_nav clearfix">
        <li>
            <a href="#tab-1" class="r-tabs-anchor">{{ 'войдите в «Мой кабинет»'|trans }}</a>
        </li>
        <li>
            <span class="txt">{{ 'или'|trans }}</span>
        </li>
        <li>
            <a href="#tab-2" class="r-tabs-anchor">{{ 'зарегистрируйтесь'|trans }}</a>
        </li>
    </ul>
    <div class="tab_panel clearfix" id="tab-1">
        {{ include('RDWUserBundle:Registration:_login_form.html.twig') }}
    </div>
    <div class="mobile_txt hidden-sm hidden-md">
        <span>{{ 'or'|trans }}</span>
    </div>
    <div class="tab_panel clearfix" id="tab-2">
        <form id="registration-form-modal" action="{{ path('rdw_user.registration.register', {'type': type}) }}" {{ form_enctype(form) }} data-handler="registrationForm" data-name-label="{{ 'Name'|trans }}" data-contact-person-label="{{ 'Contact person'|trans }}" data-employer-type="{{ constant('RDW\\Bundle\\UserBundle\\Entity\\RegisteredUser::EMPLOYER_TYPE_PERSON') }}" method="POST" class="fos_user_registration_register" novalidate="novalidate">
            {% if type == 'employer' %}
                {{ include('RDWUserBundle:Registration:form_employer.html.twig', {'popup': true}) }}
            {% else %}
                {{ include('RDWUserBundle:Registration:form_employee.html.twig', {'popup': true}) }}
            {% endif %}
        </form>
    </div>
</div>
