{{ form_start(form, {'action': action, 'attr': {'id': 'main-form', 'data-handler': 'applyForm', 'data-upload-holder':'upload-cv-holder'}} ) }}

    <ul class="form">
        {% if form.position is defined %}
            {{ form_row(form.position) }}
        {% endif %}
        {{ form_row(form.name) }}
        <li>
            {{ form_label(form.phone, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
            {{ form_widget(form.phone, { 'attr' : { 'class' : 'input phone' } } ) }}
            {{ form_errors(form.phone) }}
        </li>
        <li>
            {{ form_label(form.message, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </li>
        <li>
            <div id="my-cv-holder">
                {{ form_label(form.cv, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
                {{ form_widget(form.cv, { 'attr' : { 'class' : 'input' } } ) }}
                {{ form_errors(form.cv) }}
            </div>
        </li>
        <li>
        {# file upload #}
        {{ form_widget(
        form.uploadDocument, {
            'attr':{
                'data-url': oneup_uploader_endpoint('cv_document'),
                'data-type': 'file',
                'data-handler': 'fileUploadHandler',
                'data-file-element': form.document.vars.id,
                'data-result-element': '#uploaded-' ~ form.uploadDocument.vars.id,
                'class' : 'input'
            }
        }
        ) }}
        {# file upload #}
        </li>
        <li>
            <div id="upload-cv-holder" {% if form.cv.vars.data and form.cv.vars.data.id > 0 %} style="display: none;" {% endif %}>
                <p><strong>{{ 'Your cv will not be displayed in search result list'|trans }}</strong></p>
            </div>
        </li>
        {% if form.submit is defined %}
            <li>
                {{ form_widget(form.submit, {'attr': {
                    'data-handler' : 'submitLoginModalForm',
                    'data-content-holder': 'registration-form-modal',
                    'data-form': 'registration-form-modal',
                    'class': 'btn-default'
                }} ) }}
            </li>
        {% endif %}
    </ul>
{{ form_end(form) }}
