{{ form_start(form, {'action': url('rdw_job.job_apply.save_comment', {'id' : apply.id}) }) }}
    <ul class="form">
        {{ form_row(form.employerComment) }}
        <li>{{ form_row(form.submit, {'attr': {'data-handler' : 'saveApplyComment', 'data-content-holder': 'comment-form-holder', 'class' : 'btn btn-default'}} ) }}</li>
    </ul>
{{ form_end(form) }}
