{% set isNotPdf = isPdfList is defined and not isPdfList %}

{% if pagination %}
    <table class="views_table">
        <tbody>
        {% for apply in pagination %}
            <tr>
                <td>
                    {% if apply.document %}
                        {{ apply.name }}
                    {% elseif apply.cv %}
                        {% if isNotPdf %}<a class="url" href="{{ url('rdw_cv.cv.view', {'id': apply.cv.id, 'slug': apply.cv.slug }) }}">{% endif %}
                            {{ apply.name }}
                        {% if isNotPdf %}</a>{% endif %}
                    {% endif %}
                    <br />
                    {% if apply.document %}
                        {% if apply.document %}
                            {% if isNotPdf %}<a class="url" href="{{ apply.document | rdw_file('document')}}" target="_blank">{% endif %}
                            {{ apply.document }}
                            {% if isNotPdf %}</a>{% endif %}
                        {% endif %}
                    {% elseif apply.cv %}
                        {% if isNotPdf %}<a class="url" href="{{ url('rdw_cv.cv.view', {'id': apply.cv.id, 'slug': apply.cv.slug }) }}">{% endif %}
                            {% if apply.hasCv %}
                                {{ apply.cv.position.title }}
                            {% endif %}
                        {% if isNotPdf %}</a>{% endif %}
                    {% endif %}
                </td>
                <td class="time">
                    {% if isNotPdf %}
                        {% set conversation = apply.conversations.last %}
                        <a href="{{ url('rdw_conversation.conversation.view', { 'id': conversation.id } ) }}">{{ 'Conversation'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{#
{% set isNotPdf = isPdfList is defined and not isPdfList %}

{% if pagination %}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{{ 'Name Surname'|trans }}</th>
            <th>{{ 'Cv title'|trans }}</th>
            <th>{{ 'Comment'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for apply in pagination %}
            <tr>
                <td>
                    {% if apply.cv and apply.cv.photo %}
                        <img src="{{ apply.cv.photo | rdw_thumb('cv_thumb') }}" />
                    {% elseif apply.user and apply.user.photo %}
                        <img src="{{ apply.user.photo | rdw_thumb('user_thumb') }}" />
                    {% endif %}
                </td>
                <td>
                    {% if apply.document %}
                        {{ apply.name }}
                    {% elseif apply.cv %}
                    {% if isNotPdf %}<a href="{{ url('rdw_cv.cv.view', {'id': apply.cv.id, 'slug': apply.cv.slug }) }}">{% endif %}
                            {{ apply.name }}
                        {% if isNotPdf %}</a>{% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if apply.document %}
                        {% if apply.document %}
                            {% if isNotPdf %}<a href="{{ apply.document | rdw_file('document')}}" target="_blank">{% endif %}
                                {{ apply.document }}
                            {% if isNotPdf %}</a>{% endif %}
                        {% endif %}
                    {% elseif apply.cv %}
                    {% if isNotPdf %}<a href="{{ url('rdw_cv.cv.view', {'id': apply.cv.id, 'slug': apply.cv.slug }) }}">{% endif %}
                            {{ apply.cv.position.title }}
                        {% if isNotPdf %}</a>{% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ apply.employerComment }}
                    {% if isNotPdf %}
                        <a href="#" data-handler="modalLink" data-url="{{ url('rdw_job.job_apply.comment', {'id': apply.id}) }}">
                            {{ 'Change'|trans }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% if isNotPdf %}
        <tfoot>
        <tr>
            <td colspan="10"><div class="pull-right">{{ knp_pagination_render(pagination) }}</div></td>
        </tr>
        </tfoot>
        {% endif %}
    </table>
{% endif %}
#}
