{% extends "::modal.html.twig" %}

{% block title %}{{ 'Job apply'|trans }}{% endblock %}

{% block body %}
    <div id="main-form-holder">
        {% include 'RDWJobBundle:JobApply:_form.html.twig' with { 'action': url('rdw_job.job.save_apply', {'id' : id}), } %}
    </div>

    {% if not app.user or not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="clear"></div>
        <div class="sep_line hidden-xs"></div>

        {{ render(controller('RDWUserBundle:Registration:getRegistrationForm', {'request': app.request, 'type': 'employee' })) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    '@RDWJobBundle/Resources/public/js/jquery.applyFormHandler.js'
    '@RDWJobBundle/Resources/public/js/jquery.saveApplyHandler.js'
    '@RDWJobBundle/Resources/public/js/apply.js'
    '@RDWUserBundle/Resources/public/js/jquery.submitLoginModalFormHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            $("[data-handler='modalTabs']").modalTabsHandler({ 'modal': '#modal_container' });
        });
    </script>
{% endblock %}
