{% extends "::modal.html.twig" %}

{% block title %}{{ 'Comment Job apply'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div id="comment-form-holder">
            {{ include('RDWJobBundle:JobApply:_form_comment.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWJobBundle/Resources/public/js/jquery.saveApplyCommentHandler.js'
    '@RDWJobBundle/Resources/public/js/applyComment.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
