{% extends "::base.html.twig" %}

{% from 'RDWJobBundle:Job:macros.html.twig' import list_users_applied_actions %}

{% block content %}
    <div class="txt_container clearfix">
        <h2>
            <span class="txt"><strong>/</strong>
                {% if job %}
                    {{ 'Apply list for %position%'|trans({'%position%' : job.position.title}) }}
                {% else %}
                    {{ 'All applies'|trans }}
                {% endif %}
            </span>
        </h2>

        {{ form_start(form) }}
        <ul class="default_form">
            <li>
                {{ form_row(form.job) }}
            </li>
            <li>
                <span class="spacer"></span>
                {{ form_widget(form.search, { 'attr' : { 'class' : 'btn btn-default' } } ) }}
            </li>
        </ul>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>

    <h2 class="h1">
        <span class="black">{{ 'Apply list'|trans }}</span>
    </h2>

    {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}

    {{ list_users_applied_actions() }}

    <div class="txt_container clearfix">
        {% include 'RDWJobBundle:JobApply:_list.html.twig' with {'isPdfList': false} %}
    </div>

    {{ list_users_applied_actions() }}

    {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}

    <div class="clearfix"></div>

{% endblock content %}
