{% extends "::modal.html.twig" %}

{% block title %}{{ 'Apply'|trans }}{% endblock %}
{% block content %}
    <div class="row">
        <div id="apply-form-holder">
            {% include 'RDWJobBundle:JobApply:_form.html.twig' with {'action': url('rdw_job.job_apply.multiple_save')} %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    '@RDWJobBundle/Resources/public/js/jquery.applyFormHandler.js'
    '@RDWJobBundle/Resources/public/js/jquery.saveApplyHandler.js'
    '@RDWJobBundle/Resources/public/js/apply.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
