{% extends "::pdf.html.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {# if filtered by job #}
            {% if job %}
                {{ 'Apply list for %position%'|trans({'%position%' : job.position.title}) }}
            {% else %}
                {{ 'All applies'|trans }}
            {% endif %}
        </div>
    </div>

    {% include 'RDWJobBundle:JobApply:_list.html.twig' with {'isPdfList': true} %}

{% endblock content %}
