{% if manager %}
    <div class="manager_block clearfix">
        <h4>
            <span>{{ 'Your manager'|trans }}</span>
        </h4>
        <div class="hidden_box clearfix">
            <img src="{{ manager.photo | rdw_thumb('user_thumb') }}" alt="" class="foto" />
            <span class="name">{{ manager.contactPersonFullName }}</span>
            <ul class="list">
                <li>
                    <span class="type">{{ 'Tel'|trans }}</span> {{ manager.phone }}
                </li>
                <li>
                    <span class="type">{{ 'Email'|trans }}</span>
                    <a href="mailto:{{ manager.email }}" target="_blank">{{ manager.email }}</a>
                </li>
                {% if manager.skypeContact %}
                    <li>
                        <span class="type">{{ 'Skype name'|trans }}</span>
                        <a href="skype:{{ manager.skypeContact }}" target="_blank">{{ manager.skypeContact }}</a>
                    </li>
                {% endif %}
            </ul>
            <a href="#" class="btn-default" data-handler="modalLink" data-url="{{ url('rdw_conversation.conversation.write_message', {'id': manager.id}) }}">{{ 'Contact'|trans }}</a>
        </div>
    </div>
{% endif %}