{% extends "::base.html.twig" %}

{% from 'RDWAppBundle::misc.html.twig' import ga_event_attributes %}

{% block content %}
    {% set gaEventAttributesProfileSave = (app.user and is_granted('ROLE_EMPLOYEE')) ? ga_event_attributes('profile', 'save', 'profile', app.user.id ) : '' %}

    {% if app.user and is_granted('ROLE_EMPLOYER') %}
        <h2 class="h1">{{ 'Company profile'|trans }}<span class="black"> {{ 'data'|trans }}</span></h2>
    {% else %}
        <h2 class="h1">{{ 'My'|trans }}<span class="black"> {{ 'profile'|trans }}</span></h2>
    {% endif %}
    <div class="txt_container clearfix">

    {% if not form.vars.valid %}
        <div class="alert alert-danger">{{ 'Not all required fields are filled'|trans }}</div>
    {% endif %}

    {{ form_start(form, {'action': path('rdw_user.profile.update'), 'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}

        <h2 class="toggle"><span class="txt"><strong>/</strong> {{ 'Change email address'|trans }}</span></h2>

        <ul class="default_form clearfix">
            {{ form_row(form.oldEmail) }}
            {{ form_row(form.newEmail) }}

            <li>
                <span class="spacer">&nbsp;</span>
                <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-default btn-primary" {{ gaEventAttributesProfileSave }}>
            </li>
        </ul>

        {#
        <ul class="default_form clearfix">
            <li>
                <label class="label_1" for="user_email">{{ 'Email'|trans }}</label>
                <input id="user_email" type="text" class="input" value="{{ app.user.email }}" disabled="disabled" />
            </li>
            <li>
                <span class="spacer">&nbsp;</span>
                <a href="{{ url('rdw_user.change_email.change') }}">{{ 'Change email address'|trans }}</a>
            </li>
        </ul>
        #}

        <h2 class="toggle"><span class="txt"><strong>/</strong> {{ 'Change password'|trans }}</span></h2>
        <ul class="default_form clearfix">
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <li>
                <span class="spacer">&nbsp;</span>
                <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-default btn-primary" {{ gaEventAttributesProfileSave }}>
            </li>
        </ul>

        {% if app.user.isTypeEmployee %}
            {{ include('RDWUserBundle:Profile:form_employee.html.twig') }}
        {% else %}
            {{ include('RDWUserBundle:Profile:form_employer.html.twig') }}
        {% endif %}

        {{ form_rest(form) }}

        {# Profile remove link #}
        <ul class="default_form clearfix">
            <li class="sep_line last last_fix">
                <span class="spacer visible-sm visible-md">&nbsp;</span>

                <a
                        class="url_delete"
                        href="#"
                        data-handler="confirm"
                        data-url="{{ path("rdw_user.profile.delete") }}"
                        data-message="{{ 'Your profile and all associeted data will be deleted and You will not be able to reach it. Are You sure You want to delete'|trans }}"
                        data-title="{{ 'Remove profile'|trans }}"
                        data-confirm-title="{{ 'Delete'|trans }}"
                        >
                    {{ 'Remove my profile and all data'|trans }}
                </a>
            </li>
        </ul>

    {{ form_end(form) }}

    </div>
    <div class="clear mobile_banners"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    '@RDWUserBundle/Resources/public/js/profile_edit.js'
    '@RDWAppBundle/Resources/public/js/jquery.countAgeHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
