{% from 'RDWUserBundle:Profile:macros.html.twig' import youtube_video_iframe %}

{% set companyTypeTitle = (user.companyType is not null) ? user.companyType.title : '' %}
{% set companyTitle = (user.companyTradeMark is not null) ? user.companyTradeMark : (companyTypeTitle ~ ' «' ~ user.companyTitle ~ '»') %}
{% set img_seo = get_img_title([companyTypeTitle, user.title, 'Suggesting new job'|trans|lower]) %}

<div class="txt_container clearfix">

    {% if user.photo %}
    <div class="profile_logo">
        <img alt="{{ img_seo }}" title="{{ img_seo }}" src="{{ user.photo | rdw_thumb('user_thumb') }}" />
    </div>
    {% endif %}

    <div class="profile_block">

        <h2 class="title">{{ companyTypeTitle }}  «{{ user.companyTitle }}»</h2>

        <p class="contacts">
            <strong>{{ 'Address'|trans }}:</strong> {{ user.address }} <br>
            {% if user.phone is not empty %}
                <strong>{{ 'Phone'|trans }}:</strong> {{ user.phone }} <br>
            {% endif %}
            {% if user.fax is not empty %}
                <strong>{{ 'Fax'|trans }}:</strong> {{ user.fax }} <br>
            {% endif %}
            {% if user.email is not empty %}
                <strong>{{ 'Email'|trans }}:</strong> <a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a> <br>
            {% endif %}
            {% if user.urlAddress is not empty %}
                <strong>{{ 'Company url'|trans }}:</strong> <a href="{{ user.urlAddress }}" target="_blank">{{ user.urlAddress }}</a>
            {% endif %}
        </p>

    </div>

    <div class="clear"></div>

    <div class="profile_block">
        <h2><span class="txt"><strong>/</strong> {{ 'About company'|trans }}</span></h2>
        {{ user.companyInfo|nl2br }}
    </div>
    {% if user.hasVideo() %}
    <div class="profile_video">
        {{ youtube_video_iframe(user.youtubeVideo, 210, 150)}}
    </div>
    {% endif %}
</div>

{% if sortedCompanyJobs is defined and sortedCompanyJobs|length %}
    {% for companyJobs in sortedCompanyJobs %}
        <h2 class="h1">
            {{ companyTitle }}
            {{ companyJobs|first.workingPlaceCity.title }}
            {{ 'vacancies'|trans }}
        </h2>
        <ul class="job_list clearfix">
            {% for job in companyJobs %}
                {{ include('RDWJobBundle:Job:_list_row.html.twig') }}
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
