{% extends "::base.html.twig" %}

{% block content %}
    <div class="alert alert-info">{{ 'To finish your registration. Please check your email. We send you a confirmation instructions'|trans }}</div>
{% endblock %}