{% extends "::base.html.twig" %}

{% block content %}
    <h2 class="h1">{{ 'Confirm'|trans }} <span class="black">{{ 'email'|trans }}</span></h2>

    <div class="txt_container clearfix">

        <h3>{{ 'You must confirm your email address to finish your registration'|trans }}</h3>
        {{ form_start(form) }}
            <ul class="default_form clearfix">
                {% set errorClass = form.socialEmail.vars.errors|length > 0 ? 'error' : '' %}
                <li>
                    {{ form_label(form.socialEmail, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                    {{ form_widget(form.socialEmail, { 'attr' : { 'class' : 'input ' ~ errorClass } }) }}
                    {{ form_errors(form.socialEmail) }}
                </li>
                <li>
                    <span class="spacer"></span>
                    <input type="submit" value="{{ 'Confirm'|trans }}" class="btn btn-default" />
                </li>
            </ul>
        {{ form_end(form) }}
    </div>
{% endblock %}
