{% from 'RDWUserBundle:Profile:macros.html.twig' import youtube_video_iframe %}
{% from 'RDWAppBundle::misc.html.twig' import ga_event_attributes, thumb_delete_link %}

{% set gaEventAttributesProfileSave = (app.user and is_granted('ROLE_EMPLOYEE')) ? ga_event_attributes('profile', 'save', 'profile', app.user.id ) : '' %}

<h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Personal info'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        <label class="label_1 img">{{ 'Profile photo'|trans }}:</label>
        <div class="options_box">
            {{ form_widget(
            form.uploadPhoto, {
            'label': false,
            'attr':{
            'data-url': oneup_uploader_endpoint('user_image'),
            'data-type': 'image',
            'data-handler': 'photoUploadHandler',
            'data-file-element': form.photo.vars.id,
            'data-result-element': '#uploaded-' ~ form.uploadPhoto.vars.id,
            'data-filter': 'user_thumb',
            'data-old-photo-element': '#uploader-old-photo',
            'class' : 'input'
            }
            }
            ) }}
            {% if user.photo %}
                {{ thumb_delete_link('profile', user.photo, form.photo.vars.id, form.uploadPhoto.vars.id) }}
            {% endif %}
        </div>
    </li>

    {{ form_row(form.name) }}
    {{ form_row(form.patronymic) }}
    {{ form_row(form.surname) }}

    <li>
        {{ form_label(form.gender, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <div class="options_box inline">
            {{ form_widget(form.gender) }}
        </div>
        {{ form_errors(form.gender) }}
    </li>

    {{ form_row(form.familyStatus) }}
    {{ form_row(form.children) }}

    <li>
        {{ form_label(form.birthday, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        {{ form_widget(form.birthday.day, { 'attr' : { 'data-field' : form.birthday.vars.full_name, 'data-handler' : 'ageCounter', 'class' : 'el_84' } }) }}
        {{ form_widget(form.birthday.month, { 'attr' : { 'data-field' : form.birthday.vars.full_name, 'data-handler' : 'ageCounter', 'class' : 'el_84' } }) }}
        {{ form_widget(form.birthday.year, { 'attr' : { 'data-field' : form.birthday.vars.full_name, 'data-handler' : 'ageCounter', 'class' : 'el_84' } }) }}
        {{ form_errors(form.birthday) }}
    </li>

    <li>
        {{ form_label(form.age, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        <span id="age-value" class="label_txt">{% if form.vars.value.age %}{{ form.vars.value.age }}{% endif %}</span>
        {% do form.age.setRendered %}
    </li>

    <li>
        {{ form_label(form.phone, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        {{ form_widget(form.phone, { 'attr' : { 'class' : 'input phone' } } ) }}
        {{ form_errors(form.phone) }}
    </li>

    {{ form_row(form.cities) }}
    {{ form_row(form.youtubeVideo) }}

    <li>
        <span class="spacer">&nbsp;</span>
        {% if form.youtubeVideo.vars.value is not empty  %}
            <div class="profile_video">
                {{ youtube_video_iframe(form.youtubeVideo.vars.value, 280, 200)}}
            </div>
        {% endif %}
    </li>
    <li>
        <span class="spacer">&nbsp;</span>
        <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-default btn-primary" {{ gaEventAttributesProfileSave }}>
    </li>
</ul>

<h2 class="toggle"><span class="txt"><strong>/</strong> {{ 'Social media'|trans }}</span></h2>
<ul class="default_form clearfix">
    {{ form_row(form.fbContact) }}
    {{ form_row(form.vkContact) }}
    {{ form_row(form.okContact) }}
    {{ form_row(form.gPlusContact) }}
    {{ form_row(form.twitterContact) }}
    {{ form_row(form.linkedInContact) }}
    {{ form_row(form.skypeContact) }}

    <li>
        <span class="spacer">&nbsp;</span>
        <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-default btn-primary" {{ gaEventAttributesProfileSave }}>
    </li>
</ul>
