{% from 'RDWUserBundle:Profile:macros.html.twig' import youtube_video_iframe %}
{% from 'RDWAppBundle::misc.html.twig' import thumb_delete_link %}

<h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Company data'|trans }}</span></h2>
<ul class="default_form clearfix">

    <li>
        <label class="label_1 img">{{ 'Company logo'|trans }}:</label>
        <div class="options_box">
            {{ form_widget(
            form.uploadPhoto, {
            'label': false,
            'attr':{
            'data-url': oneup_uploader_endpoint('user_image'),
            'data-type': 'image',
            'data-handler': 'photoUploadHandler',
            'data-file-element': form.photo.vars.id,
            'data-result-element': '#uploaded-' ~ form.uploadPhoto.vars.id,
            'data-filter': 'user_thumb',
            'data-old-photo-element': '#uploader-old-photo',
            'class' : 'input'
            }
            }
            ) }}
            {% if user.photo %}
                {{ thumb_delete_link('profile', user.photo, form.photo.vars.id, form.uploadPhoto.vars.id) }}
            {% endif %}
        </div>
    </li>

    {{ form_row(form.employerType) }}

    {% if not app.user.isCompanyAsPerson %}
        {{ form_row(form.companyType) }}
        {{ form_row(form.companyTitle) }}
        <li>
            {{ form_label(form.companyTradeMark, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
            <div class="company-trade-mark-wrapper">
                {{ form_widget(form.companyTradeMark, { 'attr' : { 'class' : 'input company-trade-mark' } } ) }}
                {{ form_errors(form.companyTradeMark) }}
                <span class="hidden-description"> {{ 'If your company use trade mark, for example "Pharmacy Doctor Aibolit", please notice it in the field.'|trans }}</span>
            </div>
        </li>
    {% endif %}

    {{ form_row(form.scope) }}

    {% if not app.user.isCompanyAsPerson %}
        {{ form_row(form.unpCode) }}
    {% endif %}

    {{ form_row(form.bankAccount) }}
    {{ form_row(form.bankName) }}
    {{ form_row(form.bankCode) }}
    {{ form_row(form.bankAddress) }}
    {{ form_row(form.urlAddress) }}
    {{ form_row(form.cities) }}
    {{ form_row(form.address) }}
    <li>
        {{ form_label(form.phone, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        {{ form_widget(form.phone, { 'attr' : { 'class' : 'input phone' } } ) }}
        {{ form_errors(form.phone) }}
    </li>
    {{ form_row(form.fax) }}
    {{ form_row(form.skypeContact) }}
    {{ form_row(form.companyInfo) }}
    <li class="grey"><span class="spacer"></span>{{ 'No less than 50 symbols and no more than 500 symbols'|trans }}</li>
    {{ form_row(form.youtubeVideo) }}

    <li>
        <span class="spacer">&nbsp;</span>
        {% if form.youtubeVideo.vars.value is not empty  %}
            <div class="profile_video">
                {{ youtube_video_iframe(form.youtubeVideo.vars.value, 280, 200)}}
            </div>
        {% endif %}
    </li>
    <li>
        <span class="spacer">&nbsp;</span>
        <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-default btn-primary">
    </li>
</ul>

<h2 class="toggle"><span class="txt"><strong>/</strong> {{ 'Social media'|trans }}</span></h2>
<ul class="default_form clearfix">
    {{ form_row(form.fbContact) }}
    {{ form_row(form.vkContact) }}
    {{ form_row(form.okContact) }}
    {{ form_row(form.gPlusContact) }}
    {{ form_row(form.twitterContact) }}
    {{ form_row(form.linkedInContact) }}

    <li>
        <span class="spacer">&nbsp;</span>
        <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-default btn-primary">
    </li>
</ul>

<h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Contact person data'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        <label class="label_1 img">{{ 'Contact person photo'|trans }}:</label>
        <div class="options_box">
            {{ form_widget(
            form.uploadContactPersonPhoto, {
            'label': false,
            'attr':{
            'data-url': oneup_uploader_endpoint('user_image'),
            'data-type': 'image',
            'data-handler': 'photoUploadHandler',
            'data-file-element': form.contactPersonPhoto.vars.id,
            'data-result-element': '#uploaded-' ~ form.uploadContactPersonPhoto.vars.id,
            'data-filter': 'user_thumb',
            'data-old-photo-element': '#uploader-old-photo',
            'class' : 'input'
            }
            }
            ) }}
            {% if user.contactPersonPhoto %}
                {{ thumb_delete_link('profile_contact', user.contactPersonPhoto, form.contactPersonPhoto.vars.id, form.uploadContactPersonPhoto.vars.id) }}
            {% endif %}
        </div>
    </li>

    {{ form_row(form.contactPerson) }}
    {{ form_row(form.contactPersonPatronymic) }}
    {{ form_row(form.contactPersonSurname) }}
    {{ form_row(form.contactPersonPhone) }}
    {{ form_row(form.contactPersonEmail) }}

    <li>
        <span class="spacer">&nbsp;</span>
        <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-default btn-primary">
    </li>
</ul>
