{% macro youtube_video_iframe(youtubeVideo, width, height) %}
    <iframe width="{{ width|default('560') }}" height="{{ height|default('315') }}" src="//www.youtube.com/embed/{{ youtubeVideo|youtube_id }}" frameborder="0" allowfullscreen></iframe>
{% endmacro %}
