<div class="small_container last clearfix">
    <h2>
        <strong>/</strong> {{ 'Profile completeness'|trans }}
    </h2>
    <div class="clear"></div>
    <div class="sep_line"></div>
    <div class="progress_block clearfix">
        <div class="progress">
            <span style="width: {{ app.user.profilePercent }}%;"></span>
        </div>
        <span class="number">{{ app.user.profilePercent }}%</span>
    </div>
    <div class="sep_line"></div>
    <a href="{{ url('rdw_user.profile.edit') }}" class="url">{{ 'My profile'|trans }}</a>
</div>
