{% extends "::base.html.twig" %}

{% set companyTypeTitle = (user.companyType is not null) ? user.companyType.title : '' %}
{% set companyTitle = (user.companyTradeMark is not null) ? user.companyTradeMark : (companyTypeTitle ~ ' «' ~ user.companyTitle ~ '»') %}

{% block title %}{% if user.isTypeEmployer %}{{ (companyTitle ~ ' | ' ~ 'Job for you'|trans ~ ' RDW.BY') }}{% else %}{{ get_seo_title() }}{% endif %}{% endblock %}
{% block metaDescription %}{% if user.isTypeEmployer %}{{ get_seo_description(['Job offers'|trans, companyTypeTitle, user.title]) }}{% else %}{{ get_seo_description() }}{% endif %}{% endblock %}
{% block metaKeywords %}{% if user.isTypeEmployer %}{{ get_seo_keywords([companyTypeTitle, user.title]) }}{% else %}{{ get_seo_keywords() }}{% endif %}{% endblock %}

{% block content %}
    <h1><span class="black">{% if user.isTypeEmployer %}{{ 'Job in'|trans }} {{ companyTitle }}{% endif %}</span></h1>

    {% if user.isTypeEmployee %}
        {% if user.photo %}
            {% set img_seo = get_img_title(['Photo from cv'|trans, user.birthday|age, user.cities|cities]) %}
            <img alt="{{ img_seo }}" title="{{ img_seo }}" src="{{ user.photo | rdw_thumb('user_thumb') }}" />
        {% endif %}
    {% else %}
        {#{% set img_seo = get_img_title([companyTypeTitle, user.title, 'Suggesting new job'|trans|lower]) %}#}
        {#<img alt="{{ img_seo }}" title="{{ img_seo }}" src="{{ user.photo | rdw_thumb('user_thumb') }}" />#}
        {{ include('RDWUserBundle:Profile:employer_info.html.twig') }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.manageFavoriteHandler.js'
    '@RDWUserBundle/Resources/public/js/favorite.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
