{% set isNotPdf = isPdfList is defined and not isPdfList %}

<div class="panel panel-default">
    <div class="panel-heading">{{ 'Job abuses'|trans }}</div>

    {% if pagination %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Position'|trans }}</th>
                <th>{{ 'Job created at'|trans }}</th>
                <th>{{ 'Valid till'|trans }}</th>
                <th>{{ 'Working place city'|trans }}</th>
                <th>{{ 'Scope'|trans }}</th>
                <th>{{ 'Company title'|trans }}</th>
                <th>{{ 'Salary'|trans }}</th>
                <th>{{ 'Logo'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Applies count'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for abuse in pagination %}
                <tr>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.ad.position.title }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.createdAt|date('Y-m-d H:i:s') }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.ad.validTill|date('Y-m-d') }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {% if abuse.ad.workingPlaceCity %}{{ abuse.ad.workingPlaceCity.title }}{% endif %}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {% if abuse.ad.scope %}{{ abuse.ad.scope.title }}{% endif %}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.ad.companyTitle }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.ad.salaryFrom|priceWithoutCurrency }} - {{ abuse.ad.salaryTo|priceWithoutCurrency }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {% if abuse.ad.photo %}<img src="{{ abuse.ad.photo | rdw_thumb('company_thumb') }}" />{% endif %}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id' : abuse.ad.id}) }}">{% endif %}
                            {{ abuse.ad.status|trans }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {{ abuse.ad.applies.count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            {% if isNotPdf %}
            <tfoot>
                <tr>
                    <td colspan="10"><div class="pull-right">{{ knp_pagination_render(pagination) }}</div></td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    {% endif %}
</div>
