{% extends "::pdf.html.twig" %}

{% block content %}
    <h1>Invoice: {{ order.invoiceNumber }}</h1>
    <div class="row">
        <image src="{{ asset('bundles/rdwapp/images/logo.gif') }}" height="120" />
        <div>{{ 'Date'|trans }}: {{ order.paidAt|date('Y-m-d') }}</div>

        <br /><br />
        <div>{{ 'Contact person'|trans }}: {{ user.contactPerson }} {{ user.contactPersonSurname }}</div>
        <div>{{ 'Company'|trans }}: {{ user.companyTitle }}</div>
        <div>{{ 'Address'|trans }}: {{ user.address }}</div>
        <div>{{ 'Cities'|trans }}: {{ user.cities|cities }}</div>
        <div>{{ 'Company code'|trans }}: {{ user.unpCode }}</div>
        <div>{{ 'Phone'|trans }}: {{ user.phone }}</div>
    </div>

    <br />
    <br />
    <h3>{{ 'Services'|trans }}</h3>
    <div>{{ 'Total'|trans }}: {{ order.total|price }}</div>

    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Period'|trans }}</th>
                <th>{{ 'Price'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order.items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.period }}</td>
                    <td>{{ item.price|price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
