{% extends('::backend.html.twig') %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Cv block'|trans }}</div>

        {{ form_start(form, {'action': path('rdw_cv.cv_admin.block', {'id' : cv.id}), 'method': 'POST'}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}
