{% extends('::backend.html.twig') %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'CV list'|trans }}</div>

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                {{ 'Not all required fields are filled'|trans }}
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {{ form_start(form, {'action': path('rdw_cv.cv_admin.edit', {'id' : cv.id}), 'method': 'POST'}) }}

        {# file upload #}
        {{ form_row(
            form.uploadPhoto, {
                'attr':{
                    'data-url': oneup_uploader_endpoint('cv_image'),
                    'data-type': 'image',
                    'data-handler': 'photoUploadHandler',
                    'data-file-element': form.photo.vars.id,
                    'data-result-element': '#uploaded-' ~ form.uploadPhoto.vars.id,
                    'data-filter': 'user_thumb',
                    'data-old-photo-element': '#uploader-old-photo'
                }
            }
        ) }}
        {{ form_row(
            form.uploadDocument, {
                'attr':{
                    'data-url': oneup_uploader_endpoint('cv_document'),
                    'data-type': 'file',
                    'data-handler': 'fileUploadHandler',
                    'data-file-element': form.document.vars.id,
                    'data-result-element': '#uploaded-' ~ form.uploadDocument.vars.id
                }
            }
        ) }}
        {# file upload #}

        {{ form_row(form.status) }}
        <div class="form-group">
            <button type="submit" id="rdw_cv_admin_submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>
        {{ form_row(form.otherInformation) }}
        <div>{{ 'No more than 1000 symbols'|trans }}</div>

        {{ form_row(form.professionalSkill) }}
        <div>{{ 'No more than 1000 symbols'|trans }}</div>

        {{ form_rest(form) }}

        <div class="form-group">
            <button type="submit" id="rdw_cv_admin_submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
        '@RDWCvBundle/Resources/public/js/cvEdit.admin.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
