{% extends('::backend.html.twig') %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'CV list'|trans }}</div>

        {% if pagination %}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'ID'|trans }}</th>
                    <th>{{ 'Name, Surname'|trans }}</th>
                    <th>{{ 'Email'|trans }}</th>
                    <th>{{ 'Profesion'|trans }}</th>
                    <th>{{ 'View in site'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>{{ 'Actions'|trans }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for cv in pagination %}
                    <tr>
                        <td><a href="{{ url('rdw_cv.cv_admin.edit', {'id': cv.id}) }}">{{ cv.id }}</a></td>
                        <td><a href="{{ url('rdw_cv.cv_admin.edit', {'id': cv.id}) }}">{{ cv.name }} {{ cv.surname }}</a></td>
                        <td><a href="{{ url('rdw_cv.cv_admin.edit', {'id': cv.id}) }}">{{ cv.email }}</a></td>
                        <td><a href="{{ url('rdw_cv.cv_admin.edit', {'id': cv.id}) }}">{{ cv.position.title }}</a></td>
                        <td><a href="{{ url('rdw_cv.cv.view', {'id': cv.id, 'slug': cv.slug }) }}" target="_blank">{{ 'View in site'|trans }}</a></td>
                        <td><a href="{{ url('rdw_cv.cv_admin.edit', {'id': cv.id}) }}">{{ cv.status|capitalize|trans }}</a></td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a
                                href="#"
                                data-handler="confirm"
                                data-url="{{ url('rdw_cv.cv_admin.delete', {'id': cv.id}) }}"
                                data-message="{{ 'Are you sure?'|trans }}"
                                data-title="{{ 'Delete CV'|trans }}"
                                data-confirm-title="{{ 'Delete'|trans }}"
                                >
                                {{ 'Delete'|trans }}
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6"><div class="pull-right">{{ knp_pagination_render(pagination) }}</div></td>
                </tr>
                </tfoot>
            </table>
        {% endif %}
    </div>
{% endblock content %}
