{% from 'RDWAppBundle::misc.html.twig' import list_checkbox, salary_row %}

{% set favorite = favorite.0 %}
<li>
    {# @todo html-fix:  #}
    <label for="m1">
        {{ list_checkbox(form, favorite.id) }}
    </label>
    <span class="date">{{ favorite.cv.updatedAt|date('d.m.Y | H:i') }}</span>
    <a href="{{ url('rdw_cv.cv.view', {'id': favorite.cv.id, 'slug': favorite.cv.slug }) }}" class="url_title">{{ favorite.cv.position.title }}</a>
    <span class="name">{{ favorite.cv.name }} {{ favorite.cv.surname }}</span>
    <div class="clear"></div>
    <ul class="list">
        <li class="icon_1">
            {{ salary_row(favorite.cv.salaryFrom, favorite.cv.salaryTo, currency) }}
        </li>
        <li class="icon_5">{{ 'Education type'|trans }}:
            {% if favorite.cv.educations is not empty %}
                {% for education in favorite.cv.educations %}
                    {{ education.educationType.title }}
                {% endfor %}
            {% else %}
                {{ 'No mattter'|trans }}
            {% endif %}
        </li>
        <li class="icon_6">{{ 'Work experience'|trans }}:
            {% if favorite.cv.workExperienceType and favorite.cv.workExperienceType.title is not empty %}
                {{ favorite.cv.workExperienceType.title }}
            {% else %}
                {{ 'No matter'|trans }}
            {% endif %}
        </li>
    </ul>
    <ul class="list">
        <li class="icon_3">{% if favorite.cv.workingPlaceCity %}{{ favorite.cv.workingPlaceCity.title }}{% endif %}</li>
        <li class="icon_4">{% if favorite.cv.scope %}{{ favorite.cv.scope.title }}{% endif %}</li>
    </ul>
    <div class="clear"></div>

    <div id="favorite-time-{{ favorite.id }}" class="message_panel bad" {% if not favorite.meetTime %}style="display:none"{% endif %}>
        {{ 'Meet time'|trans }} <span class="ui_date">{{ favorite.meetTime|date('d.m.Y') }}</span>.
        {% if favorite.comment %}
            <a href="#" class="ui_note" data-handler="modalLink" data-url="{{ url('rdw_user.favorite.cv_edit', {'id': favorite.id}) }}">
                <div id="favorite-note-{{ favorite.id }}">{{ favorite.comment }}</div>
            </a>
        {% endif %}
    </div>

    {{ conversationPanel(favorite.cv) }}

    <div class="hover_box toogle_box">
        <a href="#" class="url_toggle"></a>
        <div class="hidden_box">
            <ul class="url_list">
                <li>
                    <a href="#" class="icon_4">{{ 'Meet time'|trans }}</a>
                    <div class="datepicker_holder">
                        <div class="datepicker" data-handler="meetTime" data-field="favorite-time-{{ favorite.id }}" data-value="" data-url="{{ url('rdw_user.favorite.save_cv_favorite_time', { 'id': favorite.id } ) }}"></div>
                    </div>
                </li>
                <li>
                    <a href="#" data-handler="modalLink" data-url="{{ url('rdw_user.favorite.cv_edit', {'id': favorite.id}) }}" class="icon_3">
                        {{ 'Notes'|trans }}
                    </a>
                </li>
            </ul>
            {% if not favorite.cv.isDeleted %}
                <a class="url" data-url="{{ url('rdw_cv.cv_message.create', {'id': favorite.cv.id}) }}" href="#" data-handler="modalLink">
                    {{ 'Send'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="toggle_bg"></div>
</li>
