<div class="content">
{{ form_start(form, {'action': url('rdw_user.favorite.save_job_favorite', {'id' : id})} ) }}
    <ul class="form clearfix">
        {{ form_row(form.comment) }}
        <li>
            {{ form_row(form.submit, {'attr': {'data-handler' : 'editJobFavorite', 'data-content-holder': 'job-favorite-form-holder'}} ) }}
        </li>
    </ul>
{{ form_end(form) }}
</div>