<div class="content">
{{ form_start(form, {'action': url('rdw_user.favorite.save_cv_favorite', {'id' : favorite.id}), 'attr': {'onSubmit': 'return false;'}} ) }}
    <ul class="form clearfix">
        {{ form_row(form.comment) }}
        <li>
            {{ form_row(form.submit, {'attr': {'data-handler' : 'editCvFavorite', 'data-content-holder': 'cv-favorite-form-holder', 'class' : 'btn btn-default' }} ) }}
        </li>
    </ul>
    {{ form_end(form) }}
</div>