{% from 'RDWAppBundle::misc.html.twig' import list_checkbox, salary_row %}

{% set companyTypeTitle = (favorite.job.companyType is not null) ? favorite.job.companyType.title : '' %}
<li>
    <label for="m1">
        {{ list_checkbox(form, favorite.id) }}
    </label>
    <span class="date">{{ favorite.job.updatedAt|date('d.m.Y | H:i') }}</span>
    <a href="{{ url('rdw_job.job.view', {'id' : favorite.job.id, 'slug': favorite.job.slug }) }}" class="url_title">{{ favorite.job.position.title }}</a>
    <p>{{ companyTypeTitle }}{% if favorite.job|secret_field('companyTitle', true) %} «{{ favorite.job.companyTitle }}»{% endif %}</p>
    <div class="clear"></div>
    <ul class="list">
        {% if (favorite.job.salaryFrom + favorite.job.salaryTo) > 0 %}<li class="icon_1">{{ salary_row(favorite.job.salaryFrom, favorite.job.salaryTo, currency) }}</li>{% endif %}
        <li class="icon_5">{{ 'Education type'|trans }}:
            {% if favorite.job.requiredEducationType and favorite.job.requiredEducationType.title is not empty %}
                {{ favorite.job.requiredEducationType.title }}
            {% else %}
                {{ 'No mattter'|trans }}
            {% endif %}
        </li>
        <li class="icon_6">{{ 'Work experience'|trans }}:
            {% if favorite.job.workExperienceType and favorite.job.workExperienceType.title is not empty %}
                {{ favorite.job.workExperienceType.title }}
            {% else %}
                {{ 'No matter'|trans }}
            {% endif %}
        </li>
    </ul>
    <ul class="list">
        {% if favorite.job.workingPlaceCity %}<li class="icon_3">{{ favorite.job.workingPlaceCity.title }}</li>{% endif %}
        {% if favorite.job.scope %}<li class="icon_4">{{ favorite.job.scope.title }}</li>{% endif %}
    </ul>

    <div class="clear"></div>
    <div id="favorite-time-{{ favorite.id }}" class="message_panel bad" {% if not favorite.meetTime %}style="display:none"{% endif %}>
        {{ 'Meet time'|trans }} <span class="ui_date">{{ favorite.meetTime|date('d.m.Y') }}</span>.
        {% if favorite.comment %}
            <a href="#" class="ui_note" data-handler="modalLink" data-url="{{ url('rdw_user.favorite.job_edit', {'id': favorite.id}) }}">
                <div id="favorite-note-{{ favorite.id }}">{{ favorite.comment }}</div>
            </a>
        {% endif %}
    </div>

    {{ conversationPanel(favorite.job) }}

    <div class="hover_box toogle_box">
        <a href="#" class="url_toggle"></a>
        <div class="hidden_box">
            <ul class="url_list">
                <li>
                    <a href="#" class="icon_4">{{ 'Meet time'|trans }}</a>
                    <div class="datepicker_holder">
                        <div class="datepicker" data-handler="meetTime" data-field="favorite-time-{{ favorite.id }}" data-value="" data-url="{{ url('rdw_user.favorite.save_job_favorite_time', { 'id': favorite.id } ) }}"></div>
                    </div>
                </li>
                <li>
                    <a href="#" class="icon_3" data-handler="modalLink" data-url="{{ url('rdw_user.favorite.job_edit', {'id': favorite.id}) }}">{{ 'Notes'|trans }}</a>
                </li>
            </ul>
            {% if not favorite.job.isDeleted and favorite.job.allowApply %}
                <a href="#" class="url" data-url="{{ url('rdw_job.job.apply', {'id': favorite.job.id}) }}" data-handler="modalLink">
                    {{ 'Apply'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="toggle_bg"></div>
</li>
