{% extends "::modal.html.twig" %}

{% block title %}{{ 'Edit Cv favorite'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div id="cv-favorite-form-holder">
            {{ include('RDWUserBundle:Favorite:_form_cv.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.saveFavoriteHandler.js'
    '@RDWUserBundle/Resources/public/js/cvEdit.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
