{% extends "::modal.html.twig" %}
{% block title %}{{ 'Edit job favorite'|trans }}{% endblock %}
{% block content %}
    <div class="row">
        <div id="job-favorite-form-holder">
            {{ include('RDWUserBundle:Favorite:_form_job.html.twig') }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.saveFavoriteJobHandler.js'
    '@RDWUserBundle/Resources/public/js/favoriteJobEdit.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
