{% extends "::base.html.twig" %}

{% block content %}
    {% from 'RDWUserBundle:Favorite:macros.html.twig' import actions %}
    {% from 'RDWAppBundle::misc.html.twig' import per_page %}
    {% set itemsCount = pagination.items|length %}
    {% set perPageUrl = (isArchivedVisible) ? 'rdw_user.favorite.list_archived' : 'rdw_user.favorite.list'  %}
    {% set cvType = constant('RDW\\Bundle\\UserBundle\\Model\\FavoriteFilter::TYPE_CV') %}
    {% set isCvType = (cvType == type) ? true : false %}

    <h2 class="h1">{% if isArchivedVisible %}{{ 'Archived'|trans }}{% else %}{{ 'Saved'|trans }}{% endif %}
        <span class="black">{% if isCvType %}{{ 'cvs'|trans }}{% else %}{{ 'Jobs'|trans }}{% endif %}</span>
    </h2>
    <div class="clear hidden-sm hidden-md"></div>
    <div class="clear"></div>

    {% if itemsCount > 0 %}
        <form action="" method="post" data-multiple-delete data-multiple-messages data-multiple-confirm class="options_block summary_list clearfix">
            {{ per_page('rdw_user.favorite_list.per_page.options', perPageUrl, { 'type': type }) }}
            <div class="clear hidden-sm hidden-md"></div>
            {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
            <div class="clear"></div>
            {{ actions(type, itemsCount, isArchivedVisible) }}

            <ul class="options_block summary_list clearfix">
                {% for favorite in pagination %}
                    {% include 'RDWUserBundle:Favorite:_' ~ type ~ '_list_row.html.twig' %}
                {% endfor %}
            </ul>

            {{ actions(type, itemsCount, isArchivedVisible) }}
            <div class="clear"></div>
            {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
            <div class="clear hidden-sm hidden-md"></div>
            {{ per_page('rdw_user.favorite_list.per_page.options', perPageUrl, { 'type': type }) }}
        </form>
        <div class="clear"></div>
    {% else %}
        {% if isArchivedVisible %}
            <p>
                {% if isCvType %}
                    {{ 'You haven\'t archived any cvs'|trans }}
                {% else %}
                    {{ 'You haven\'t archived any jobs'|trans }}
                {% endif %}
            </p>
        {% else %}
            <p>
                {% if isCvType %}
                    {{ 'You haven\'t saved any cvs'|trans }}
                {% else %}
                    {{ 'You haven\'t saved any jobs'|trans }}
                {% endif %}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.removeFavoriteHandler.js'
    '@RDWUserBundle/Resources/public/js/jquery.archiveFavoriteHandler.js'
    '@RDWUserBundle/Resources/public/js/jquery.favoriteListHandler.js'
    '@RDWUserBundle/Resources/public/js/favoriteJobList.js'
    '@RDWUserBundle/Resources/public/js/jquery.multipleReplyHandler.js'
    '@RDWUserBundle/Resources/public/js/jquery.meetTimeHandler.js'
    '@RDWUserBundle/Resources/public/js/cvList.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
