{% macro actions(type, itemsCount, isArchyvedVisible) %}
    {% if itemsCount > 0 %}
        <div class="sort_block clearfix">
            <div class="mini_row pull-left">
                <span class="checkbox_box"><input type="checkbox" name="checkbox" id="m_bottom_all" /> <label for="m_bottom_all">{{ 'Check all'|trans }}</label></span>
            </div>
            <div class="mini_row pull-right">
                <span class="txt pull-left">{{ 'You checked'|trans }} (<span class="number small checkbox-counter">0</span>): </span>
                {% if 'cv' == type %}
                    <a href="#" class="url_reply" data-handler="multipleReply" data-action="{{ path('rdw_cv.cv_message.multiple_create') }}">{{ 'Reply'|trans }}</a>
                {% else %}
                    <a href="#" class="url_reply" data-handler="multipleReply" data-action="{{ path('rdw_job.job_apply.multiple_create') }}">{{ 'Apply'|trans }}</a>
                {% endif %}
                {% if not isArchyvedVisible %}
                    <a href="#" class="url_archive" data-handler="multipleConfirm" data-title="{{ 'Move to archive'|trans }}" data-message="{{ 'Are you sure?'|trans }}" data-action="{{ url('rdw_user.favorite.multiple_move_to_archive', { 'type': type }) }}">{{ 'Archive'|trans }}</a>
                {% endif %}
                <a href="#" class="url_delete" data-handler="multipleDelete" data-title="{{ 'Delete'|trans }}" data-message="{{ 'Are you sure?'|trans }}" data-action="{{ url('rdw_user.favorite.multiple_delete', { 'type' : type }) }}">{{ 'Delete'|trans }}</a>
            </div>
        </div>
    {% endif %}
{% endmacro %}
