{% extends "::pdf.html.twig" %}

{% block content %}
    <div class="container">
        <h1>{{ 'My favorite jobs list'|trans }}</h1>

        {% include 'RDWUserBundle:Favorite:_jobList.html.twig' with {'isPdfList': true} %}
    </div>
{% endblock %}
