{% extends "::pdf.html.twig" %}

{% block content %}
    {% if cv.photo and not cv.mainInfoHidden %}
        <img src="{{ cv.photo | rdw_thumb('cv_thumb') }}" />
    {% endif %}

    <h3>{{ cv.position.title }}</h3>

    {% if cv.isPublic or (cv.isPublished and app.user and is_granted('ROLE_REGISTERED')) %}

        <p><b>{{ 'Meet time'|trans }}</b>: {{ favorite.meetTime|date('Y-m-d') }}</p>
        <p><b>{{ 'Meet result'|trans }}</b>: {{ favorite.meetResult }}</p>
        <p><b>{{ 'Comment'|trans }}</b>: {{ favorite.comment }}</p>

        <hr>

        {{ include('RDWCvBundle:Cv:_viewContent.html.twig') }}

    {% else %}
        <h3>{{ 'Cv is unpublished for public access'|trans }}</h3>
    {% endif %}
{% endblock %}
