{% extends "::pdf.html.twig" %}

{% block content %}
    <h1>{{ 'My favorite CVs list'|trans }}</h1>

    {% include 'RDWUserBundle:Favorite:_cvList.html.twig' with {'isPdfList': true} %}
{% endblock %}
