@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fgwr6n');
  src:  url('fonts/icomoon.eot?fgwr6n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fgwr6n') format('truetype'),
    url('fonts/icomoon.woff?fgwr6n') format('woff'),
    url('fonts/icomoon.svg?fgwr6n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo_rdw .path1:before {
  content: "\e900";
  color: rgb(0, 133, 221);
}
.icon-logo_rdw .path2:before {
  content: "\e901";
  margin-left: -2.0361328125em;
  color: rgb(0, 133, 221);
}
.icon-logo_rdw .path3:before {
  content: "\e902";
  margin-left: -2.0361328125em;
  color: rgb(0, 133, 221);
}
.icon-logo_rdw .path4:before {
  content: "\e903";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path5:before {
  content: "\e904";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path6:before {
  content: "\e905";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path7:before {
  content: "\e906";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path8:before {
  content: "\e907";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path9:before {
  content: "\e908";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path10:before {
  content: "\e909";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path11:before {
  content: "\e90a";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path12:before {
  content: "\e90b";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path13:before {
  content: "\e90c";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path14:before {
  content: "\e90d";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
.icon-logo_rdw .path15:before {
  content: "\e90e";
  margin-left: -2.0361328125em;
  color: rgb(127, 127, 127);
}
