{% extends "::base.html.twig" %}

{% block content %}

<div class="txt_container clearfix">

    <h2><span class="txt"><strong>/</strong> {{ 'Contact'|trans }}</span></h2>

    {% if text %}
        {{ text.content|raw }}
    {% endif %}

    <div class="">
        <h2><strong>/</strong><span class="txt">{{ 'Send message'|trans }}</span></h2>
        {{ form_start(form) }}
            <ul class="default_form clearfix">
            <li>
                {{ form_row(form.name) }}
            </li>
            <li>
                {{ form_row(form.email) }}
            </li>
            <li>
                {{ form_row(form.body) }}
            </li>
            <li>
                {{ form_label(form.sumCaptcha, label|default('Validation'|trans), { 'label_attr' : { 'class' : 'label_1'} }) }}
                {{ form_widget(form.sumCaptcha) }}
            </li>

            <li>
                <span class="spacer">&nbsp;</span>
                <input class="submit" type="submit" id="rdw_contact_message_submit" name="rdw_contact_message[submit]"  value="{{ 'Send message'|trans }}" />
            </li>
            {% do form.submit.setRendered %}
            <li>
                {{ form_rest(form) }}
            </li>
        </ul>
        {{ form_end(form) }}
    </div>
    <div class="clear mobile_banners"></div>

</div>
{% endblock %}