{{ form_start(form, {'action': url('rdw_job.job_admin.save_status', {'id' : id})}) }}
    {{ form_row(form.validTill) }}
    {{ form_row(form.submit, {'attr': {'data-handler' : 'activateJob', 'data-content-holder': 'activate-form-holder'}} ) }}
{{ form_end(form) }}
