{% set isNotPdf = isPdfList is defined and not isPdfList %}

{% if jobs %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'Position'|trans }}</th>
            <th>{{ 'Created at'|trans }}</th>
            <th>{{ 'Valid till'|trans }}</th>
            <th>{{ 'Working place city'|trans }}</th>
            <th>{{ 'Scope'|trans }}</th>
            <th>{{ 'Company title'|trans }}</th>
            <th>{{ 'Salary'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'Views count'|trans }}</th>
            {% if isNotPdf %}
            <th colspan="3">{{ 'Actions'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>
                    {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                        {{ job.position.title }}
                    {% if isNotPdf %}</a>{% endif %}
                </td>
                <td>
                    {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                        {{ job.createdAt|date('Y-m-d H:i') }}
                    {% if isNotPdf %}</a>{% endif %}
                </td>
                <td>
                    {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                        {{ job.validTill|date('Y-m-d') }}
                    {% if isNotPdf %}</a>{% endif %}
                </td>
                <td>
                    {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                        {% if job.workingPlaceCity %}{{ job.workingPlaceCity.title }}{% endif %}
                    {% if isNotPdf %}</a>{% endif %}
                </td>
                <td>
                    {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                        {% if job.scope %}{{ job.scope.title }} {% endif %}
                    {% if isNotPdf %}</a>{% endif %}
                </td>
                <td>
                    {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                        {{ job.companyTitle }}
                    {% if isNotPdf %}</a>{% endif %}
                </td>
                <td>
                    {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                        {{ job.salaryFrom|priceWithoutCurrency }} - {{ job.salaryTo|priceWithoutCurrency }}
                    {% if isNotPdf %}</a>{% endif %}
                </td>
                <td>
                    {% if job.isAllowedToChangeStatusForManager %}
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                            {{ job.status|trans }}
                        {% if isNotPdf %}</a>{% endif %}
                    {% else %}
                        <span class="disabled">{{ job.status|trans }}</span>
                    {% endif %}
                </td>
                    <td>
                        {{ 'Views count'|trans }} {{ job.totalViewsCount }}<br>{{ 'Showing contacts'|trans }} {{ job.totalShowedContacts }}<br>{{ 'Applies count'|trans }} {{ job.applies.count }}
                    </td>
                {% if isNotPdf %}
                    <td><a href="{{ url('rdw_job.job_admin.view', {'id': job.id}) }}" class="btn btn-default">{{ 'View'|trans }}</a></td>
                    <td><a href="{{ url('rdw_job.job_admin.edit', {'id': job.id, 'redirectUrl': url('rdw_job.job_admin.client_list', {'id': job.user.id})}) }}" class="btn btn-default">{{ 'Edit'|trans }}</a></td>
                    <td>
                        <a
                                href="#"
                                class="btn btn-default"
                                data-handler="confirm"
                                data-url="{{ url('rdw_job.job_admin.delete', {'id': job.id, 'redirectUrl': url('rdw_job.job_admin.client_list', {'id': job.user.id})}) }}"
                                data-message="{{ 'Are you sure?'|trans }}"
                                data-title="{{ 'Delete job'|trans }}"
                                data-confirm-title="{{ 'Delete'|trans }}"
                                >
                            {{ 'Delete'|trans }}
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {#<tr>
            <td colspan="6"><div class="pull-right">{{ knp_pagination_render(pagination) }}</div></td>
        </tr>#}
        </tfoot>
    </table>
{% endif %}
