{{ form_start(filterForm, {'method': 'GET', 'style': 'inline'}) }}
{{ form_row(filterForm.id) }}

<div class="form-group">
    {{ form_row(filterForm.position) }}
</div>

{{ form_row(filterForm.companyTitle) }}
{{ form_row(filterForm.contactEmail) }}
{{ form_row(filterForm.contactPhone) }}
{{ form_row(filterForm.crmOrderId) }}
{{ form_row(filterForm.foreignId) }}

{{ form_row(filterForm.filter) }}
{{ form_row(filterForm.clear) }}

{{ form_rest(filterForm) }}
{{ form_end(filterForm) }}
