﻿{% set isNotPdf = isPdfList is defined and not isPdfList %}

        <table class="table">
            <thead>
            <tr>
                <th>Активных вакансий, из них</th>
                <th>размещены с сайта</th>
                <th>размещены по рассылке</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                            {{ countActiveJobs() }}
                    </td>
                    <td>
                            {{ rdw_setting('created_site_jobs') }}
                    </td>
                    <td>
                            {{ rdw_setting('created_subs_jobs') }}
                    </td>
                </tr>
            </tbody>
        </table>

<div class="panel panel-default">
    <div class="panel-heading">{{ 'Jobs list'|trans }}</div>

    {% if pagination %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Position'|trans }}</th>
                <th>{{ 'Created at'|trans }}</th>
                <th>{{ 'Valid till'|trans }}</th>
                <th>{{ 'Working place city'|trans }}</th>
                <th>{{ 'Scope'|trans }}</th>
                <th>{{ 'Company title'|trans }}</th>
                <th>{{ 'CRM order ID'|trans }}</th>
                <th>{{ 'Logo'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Views count'|trans }}</th>
                {% if isNotPdf and is_granted('ROLE_ADMIN') %}
                    <th>{{ 'Actions'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for job in pagination %}
                <tr>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                            {{ job.position.title }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                            {{ job.createdAt|date('Y-m-d H:i') }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                            {{ job.validTill|date('Y-m-d') }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                            {% if job.workingPlaceCity %}{{ job.workingPlaceCity.title }}{% endif %}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                            {% if job.scope %}{{ job.scope.title }} {% endif %}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                            {{ job.companyTitle }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                            {{ job.crmOrderId }}
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {% if isNotPdf %}<a href="{{ url('rdw_job.job_admin.edit', {'id': job.id}) }}">{% endif %}
                            <img src="{{ companyImageUrl(job) }}" />
                        {% if isNotPdf %}</a>{% endif %}
                    </td>
                    <td>
                        {{ job.status|capitalize|trans }}
                    </td>
                    <td>
                        {{ 'Views count'|trans }} {{ job.totalViewsCount }}<br>{{ 'Showing contacts'|trans }} {{ job.totalShowedContacts }}<br>{{ 'Applies count'|trans }} {{ job.applies.count }}
                    </td>
                    {% if isNotPdf and is_granted('ROLE_ADMIN') %}
                        <td>
                            <a
                                href="#"
                                data-handler="confirm"
                                data-url="{{ url('rdw_job.job_admin.delete', {'id': job.id}) }}"
                                data-message="{{ 'Are you sure?'|trans }}"
                                data-title="{{ 'Delete job'|trans }}"
                                data-confirm-title="{{ 'Delete'|trans }}"
                                >
                                {{ 'Delete'|trans }}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

            {% if isNotPdf %}
                <tfoot>
                    <tr>
                        <td colspan="10"><div class="pull-right">{{ knp_pagination_render(pagination) }}</div></td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    {% endif %}
</div>
