{% extends "::modal.html.twig" %}
{% block title %}{{ 'Are you realy want to change job status to active'|trans }}{% endblock %}
{% block content %}
    <div class="row">
        <div id="activate-form-holder">
            {{ include('RDWJobBundle:JobAdmin:_activate_form.html.twig') }}
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">{{ 'No'|trans }}</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.form.js'
    '@RDWJobBundle/Resources/public/js/jquery.activateJobHandler.js'
    '@RDWJobBundle/Resources/public/js/job.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
