{% extends('::backend.html.twig') %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Job block'|trans }}</div>

        {{ form_start(form, {'action': path('rdw_job.job_admin.block', {'id' : job.id}), 'method': 'POST'}) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}
