{% extends('::backend.html.twig') %}

{% block content %}
    <div>
        <a href="{{ printable_url('rdw_job.job_admin.client_list', {'id': user.id}) }}" class="btn btn-default" target="_blank">{{ icon('save') }} {{ 'Print Pdf'|trans }}</a>
        <a href="{{ url('rdw_job.job_admin.create', {'id': user.id}) }}" class="btn btn-default">{{ 'Create new job'|trans }}</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Client %title% job list'|trans({'%title%' : user.name}) }}</div>

        {% include 'RDWJobBundle:JobAdmin:_clientJobList.html.twig' with {'jobs': user.jobs, 'isPdfList': false} %}
    </div>
{% endblock content %}
