{% extends('::backend.html.twig') %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Create new job'|trans }}</div>

        {% if not form.vars.valid %}
            <div class="alert alert-danger">{{ 'Not all required fields are filled'|trans }}</div>
        {% endif %}

        {{ form_start(form, {'action': path('rdw_job.job_admin.create', {'id': client.id}), 'method': 'post'}) }}
            {# file upload #}
            {{ form_row(
                form.uploadPhoto, {
                    'attr':{
                        'data-url': oneup_uploader_endpoint('company_image'),
                        'data-type': 'image',
                        'data-handler': 'photoUploadHandler',
                        'data-file-element': form.photo.vars.id,
                        'data-result-element': '#uploaded-' ~ form.uploadPhoto.vars.id,
                        'data-filter': 'company_thumb',
                        'data-old-photo-element': '#uploader-old-photo'
                    }
                }
            ) }}
            {# file upload #}

            {{ form_row(form.status) }}

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}
