{% extends "::modal.html.twig" %}
{% block title %}{{ 'Are you realy want to change job status to deactive'|trans }}{% endblock %}
{% block content %}
    <div class="row">
           <p>{{ 'Job will not be published for users'|trans }}</p>

        <div class="modal-footer">
            <a href="{{ url('rdw_job.job_admin.mark_as_un_activate', {'id' : job.id}) }}" class="btn bg-primary">{{ 'Yes'|trans }}</a>
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">{{ 'No'|trans }}</a>
        </div>
    </div>
{% endblock %}
