{% extends('::backend.html.twig') %}

{% from 'RDWAppBundle::misc.html.twig' import get_back_to_list_url %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Job edit'|trans }}</div>

        {% if not form.vars.valid %}
            <div class="alert alert-danger">{{ 'Not all required fields are filled'|trans }}</div>
        {% endif %}

        {{ form_start(form, {'action': url('rdw_job.job_admin.edit', {'id' : job.id, 'redirectUrl' : app.request.server.get('HTTP_REFERER') } | merge(app.request.query.all())), 'method': 'POST' }) }}
            {# file upload #}
            {{ form_row(
                form.uploadPhoto, {
                    'attr':{
                        'data-url': oneup_uploader_endpoint('company_image'),
                        'data-type': 'image',
                        'data-handler': 'photoUploadHandler',
                        'data-file-element': form.photo.vars.id,
                        'data-result-element': '#uploaded-' ~ form.uploadPhoto.vars.id,
                        'data-filter': 'company_thumb',
                        'data-old-photo-element': '#uploader-old-photo'
                    }
                }
            ) }}
            {# file upload #}

            <div class="form-group">
                <p>{{ 'Current status'|trans }}: {{ job.status|trans }}</p>
            </div>
            {{ form_row(form.status) }}

            <div class="form-group">
                <button type="submit" id="rdw_job_admin_submit" name="rdw_job_admin[submit]" class="btn btn-primary">{{ 'Save'|trans }}</button>
            </div>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}
