{% extends('::backend.html.twig') %}

{% block content %}
    <div>
        <a href="{{ printable_url('rdw_job.job_admin.list', {}|merge({'page': app.request.query.get('page')})) }}" class="btn btn-default" target="_blank">{{ icon('save') }} {{ 'Print Pdf'|trans }}</a>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            {% include "RDWJobBundle:JobAdmin:_filter_form.html.twig" %}
        </div>
    </div>
    <hr />

    {% include 'RDWJobBundle:JobAdmin:_list.html.twig' with {'pagination': pagination, 'isPdfList': false} %}
{% endblock content %}
