{% extends('::pdf.html.twig') %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Client %title% job list'|trans({'%title%' : user.name}) }}</div>

        {% include 'RDWJobBundle:JobAdmin:_clientJobList.html.twig' with {'jobs': user.jobs, 'isPdfList': true} %}
    </div>
{% endblock content %}
