{% extends('::backend.html.twig') %}

{% block content %}
    <div class="form-group">
        <a class="btn btn-default" href="{{ url('rdw_job.job_admin.edit', {'id' : job.id}) }}">{{ 'Edit'|trans }}</a>
        <a class="btn btn-default" href="{{ printable_url('rdw_job.job_admin.view', {'id' : job.id}) }}" target="_blank">{{ icon('save') }}{{ 'Print Pdf'|trans }}</a>
    </div>
    <div class="panel panel-default">
        {% include 'RDWJobBundle:JobAdmin:_view.html.twig' %}
    </div>
{% endblock content %}
