{% if app.request.get('_route') in ['rdw_job.job.edit', 'rdw_job.job.create'] == false %}
    {% if job is defined %}
        <div class="box sub_box">
            <div class="info-sub">
                <h3>{{ 'Subscribe jobs newsletter'|trans }}</h3>
                <p>{{ 'Subscribe jobs newsletter information'|trans }}</p>
            </div>
            <div class="form-sub">
                <input type="email" placeholder="{{ "Input email"|trans }}" class="input form-control" id="prepare-subscribe"/>
                <span class="error_txt hide" data-required="{{ 'Required field'|trans }}" data-invalid-email="{{ 'Invalid field'|trans }}"><span></span></span>
                <a href="#" class="url_order copy-url_order">{{ 'Order jobs newsletter'|trans }}</a>
                <a href="#" data-url="{{ url('rdw_subscription.subscription.subscribe', { 'type' : 'job' } ) }}" data-handler="modalLinkSubscribe" class="url_order hide">{{ 'Order jobs newsletter'|trans }}</a>
            </div>
        </div>
    {% elseif cv is defined %}
        <div class="box sub_box">
            <div class="info-sub">
                <h3>{{ 'Subscribe cvs newsletter'|trans }}</h3>
                <p>{{ 'Subscribe cvs newsletter information'|trans }}</p>
            </div>
            <div class="form-sub">
                <input type="email" placeholder="{{ "Input email"|trans }}" class="input form-control" id="prepare-subscribe"/>
                <span class="error_txt hide" data-required="{{ 'Required field'|trans }}" data-invalid-email="{{ 'Invalid field'|trans }}"><span></span></span>
                <a href="#" class="url_order copy-url_order">{{ 'Order jobs newsletter'|trans }}</a>
                <a href="#" data-url="{{ url('rdw_subscription.subscription.subscribe', { 'type' : 'cv' } ) }}" data-handler="modalLinkSubscribe" class="url_order hide">{{ 'Order cvs newsletter'|trans }}</a>
            </div>
        </div>
    {% endif %}
{% endif %}
