{% extends "::base.html.twig" %}

{% block content %}
    <p>
        {{ 'Redirecting to payment page...'|trans }}

        <form action="{{ url }}" method="post" id="webpay_payment_form">
            {% for name, value in params %}
                <input type="hidden" name="{{ name }}" value="{{ value }}" />
            {% endfor %}
        </form>
    </p>
    <script>
        {# No jquery, force submit! #}
        window.onload = function(){
            document.getElementById('webpay_payment_form').submit();
        }
    </script>
{% endblock content %}
