{% extends "::base.html.twig" %}

{% block title %}{{ text.shortTitle|raw }}{% endblock %}

{% block content %}
    <h1>{{ text.title }}</h1>
    <div class="txt_container clearfix">

        {{ text.content|raw }}

        <div class="clear mobile_banners"></div>
    </div>
{% endblock content %}
