<p class="title_work_for_you">
	<span>/</span> {{ 'Work for you'|trans }}
</p>
<p class="text_work_for_you_title">
	{{ text.title }}
</p>
<br>
<p class="text_all">
	{{ text.content|raw }}
</p>
<div class="group_btn">
	<a class="apply-job main_cv" href="{{ path('rdw_cv.cv.create') }}">{{ 'place cv'|trans }}</a>
	<a class="apply-job main_job " href="{{ path('rdw_job.job.create') }}">{{ 'place job'|trans }}</a>
</div>