{% extends "::modal.html.twig" %}

{% block title %}{{ text.title }}{% endblock %}

{% block body %}
    <div class="content">
        <div class="txt_container">
            {{ text.content|raw }}
        </div>
    </div>
{% endblock %}
