{% extends "::base.html.twig" %}

{% form_theme form 'RDWSearchBundle:Fields:fields.html.twig' %}

{% block content %}

    <div class="txt_container clearfix">
        <form action="{{ path('rdw_job.job.list') }}" role="form">

            <h2><span class="txt"><strong>/</strong> Мои данные</span></h2>

            <div class="icon_3">
                {{ form_label(form.scope) }}
                {{ form_widget(form.scope, { 'attr': { 'class': 'search-main-single-select2', 'data-placeholder': 'Scope'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'scopes' }) } }) }}
            </div>

            <div class="icon_2 hide-select2-values">
                {{ form_label(form.cities) }}
                {{ form_widget(form.cities, { 'attr': { 'class': 'search-main-multi-select2', 'data-placeholder': 'Cities'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'cities' }) } }) }}
            </div>

            <div class="default_form clearfix">
                {{ form_label(form.companyTitle, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                {{ form_widget(form.companyTitle, { 'attr': { 'class': 'search-advanced-single-select2', 'data-placeholder': 'Company'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'companies' }) } }) }}
            </div>

            <div>
                <label for="{{ form.salaryFrom.vars.id }}" class="label_1">{{ 'Salary'|trans }}</label>
                {{ form_widget(form.salaryFrom) }}
            </div>

            <div>
                {{ form_label(form.onlyWithSalary) }}
                {{ form_widget(form.onlyWithSalary) }}
            </div>

            <div>
                {{ form_label(form.createdAt) }}
                <div class="select expanded">
                    {{ form_widget(form.createdAt) }}
                </div>
            </div>

            <div>
                {{ form_label(form.workScheduleType) }}
                <div class="select expanded">
                    {{ form_widget(form.workScheduleType) }}
                </div>
            </div>

            <div>
                {{ form_label(form.withoutExp) }}
                <div class="select expanded">
                    {{ form_widget(form.withoutExp) }}
                </div>
            </div>
            <div>
                {{ form_label(form.withoutHigh) }}
                <div class="select expanded">
                    {{ form_widget(form.withoutHigh) }}
                </div>
            </div>
            <div>
                {{ form_label(form.hideAgencies) }}
                <div class="select expanded">
                    {{ form_widget(form.hideAgencies) }}
                </div>
            </div>

            <div>
                {{ form_label(form.driverLicenseCategories) }}
                <div class="select expanded">
                    {{ form_widget(form.driverLicenseCategories) }}
                </div>
            </div>

            <div>
                <span class="spacer hidden-xs">&nbsp;</span>
                <input type="submit" name="button" value="{{ 'search jobs'|trans }}" class="submit submit_big"/>
            </div>
        </form>
    </div>
{% endblock %}