{% extends "::base.html.twig" %}

{% form_theme form 'RDWSearchBundle:Fields:fields.html.twig' %}

{% block content %}

    <div class="txt_container advanced-search-page_mobile_redesign clearfix">
        <form id="advanced-search-page-form" action="{{ path('rdw_job.job.list') }}" role="form">

            <h2><span class="txt"><strong>/</strong> Мои данные</span></h2>

            <ul class="default_form default_form_redesign clearfix">
                <li>
                    {{ form_label(form.position, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                    <div class="multi-select-collection input">
                        {{ form_widget(form.position, { 'attr': { 'class': 'input select2-hidden-multi  form-control', 'data-placeholder': 'Position'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'job_positions' }) } }) }}
                    </div>
                </li>
                <li>
                    {{ form_label(form.scope, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                    <div class="multi-select-collection input">
                        {{ form_widget(form.scope, { 'attr': { 'class': 'input select2-hidden-multi  form-control', 'data-placeholder': 'Scope'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'scopes' }) } }) }}
                    </div>
                </li>
                <li>
                    <label class="label_1 control-label" for="modal_city-advanced-search">Город, область</label>
                    <a class="link" href="#" data-url="{{ url('rdw_search.search.city') }}" data-handler="modalLink" class="city" id="modal_city-advanced-search"></a>
                    <input id="advanced-search-cities-input" type="hidden" name="jobs[cities]" value="7" >
                </li>
                <li>
                    {{ form_label(form.companyTitle, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                    <div class="multi-select-collection input">
                        {{ form_widget(form.companyTitle, { 'attr': { 'class': 'input select2-hidden-multi  form-control', 'data-placeholder': 'Company'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'companies' }) } }) }}
                    </div>
                    <span class="default_form__input-desc">Начните вводить название юридического лица и выберите необходимые из списка</span>
                </li>
                <li>
                    {{ form_label(form.salary, label|default(null), { 'label_attr' : { 'class' : 'label_1 ' } }) }}
                    {{ form_widget(form.salary, { 'attr': { 'class': 'input form-control input_with-desc'} }) }}
                    <span class="default_form__input-desc default_form__input-desc_dark">BYN в месяц</span>
                    <span class="spacer"></span>
                    <div class="options_box">
                        {{ form_widget(form.onlyWithSalary) }}
                    </div>
                </li>
                <li>
                    {{ form_label(form.createdAt, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                    <div class="options_box inline radio-label_2-container">
                        {{ form_widget(form.createdAt) }}
                    </div>
                </li>
                <li>
                    {{ form_label(form.workScheduleType, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                    <div class="options_box inline">
                        {{ form_widget(form.workScheduleType) }}
                    </div>
                    <span class="spacer"></span>
                    <div class="options_box first-child-no-margin">
                        {{ form_widget(form.withoutExp) }}
                        {{ form_widget(form.withoutHigh) }}
                        {{ form_widget(form.hideAgencies) }}
                    </div>
                </li>

                <li>
                    {{ form_label(form.driverLicenseCategories, label|default(null), { 'label_attr' : { 'class' : 'label_1' } }) }}
                    <div class="options_box">
                        {{ form_widget(form.driverLicenseCategories) }}
                    </div>
                </li>
                <li>
                    <span class="spacer"></span>
                    <input type="submit" name="button" value="Показать  вакансий" class="submit submit-mobile-fixed"/>
                </li>
            </ul>

        </form>
    </div>
{% endblock %}