{% from 'RDWAppBundle::misc.html.twig' import thumb_delete_link %}

{% form_theme form ':form/base:fields.html.twig' %}

{% if not form.vars.valid %}
    <div class="alert alert-danger">{{ 'Not all required fields are filled'|trans }}</div>
{% endif %}

{{ form_start(form, { 'action': action, 'method': 'POST', 'attr': {'novalidate': 'novalidate'} }) }}
<h2><span class="txt"><strong>/</strong> {{ 'About job'|trans }}</span></h2>
<ul class="default_form clearfix">
    {{ form_row(form.position) }}
    {{ form_row(form.professionalArea) }}
    {{ form_row(form.workingPlaceCity) }}
    {{ form_row(form.employmentType) }}
    {{ form_row(form.workScheduleType) }}
    {{ form_row(form.requiredEducationType) }}
    {{ form_row(form.workExperienceType) }}
    <li>
        {{ form_label(form.languages, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <ul id="languages-fields-list"
            class="default_form"{% if action %} data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_languages.html.twig', { 'form': form.languages.vars.prototype, 'allow_delete' : form.languages.vars.allow_delete  }) }}{% endfilter %}"{% endif %}>
            {% for language in form.languages %}
                <li>{{ include('RDWAppBundle:Form:_prototype_languages.html.twig', { 'form': language, 'allow_delete' : form.languages.vars.allow_delete }) }}</li>
            {% endfor %}
        </ul>
        {{ form_errors(form.languages) }}
    </li>
    {% if action %}
        <li class="form-collection-add-field">
            <span class="spacer">&nbsp;</span>
            <a href="#"
               class="add-field"
               data-handler="form-collection"
               data-autoinit
               data-collection="languages-fields-list">+ {{ 'Add language'|trans }}</a>
        </li>
    {% endif %}
    {% do form.languages.setRendered %}

    <li>
        {{ form_label(form.driverLicenseCategories, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <div class="options_box">
            {{ form_widget(form.driverLicenseCategories) }}
        </div>
        {{ form_errors(form.driverLicenseCategories) }}
    </li>

    <li>
        {{ form_label(form.carNeeded, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <div class="options_box inline">
            {{ form_widget(form.carNeeded) }}
        </div>
        {{ form_errors(form.carNeeded) }}
    </li>

    <li>
        <label for="c8" class="label_1 {% if form.salaryFrom.vars.required %}required{% endif %}">{{ 'Salary'|trans }}
            :</label>
        {{ form_widget(form.salaryFrom) }}
        <span class="txt_sep">—</span>
        {{ form_widget(form.salaryTo) }}

        {% if form.salaryFrom.vars.errors|length > 0 or form.salaryTo.vars.errors|length > 0 %}
            <span class="error_txt">
                    <span>{{ 'Salary cannot be empty or longer than 8 characters length'|trans }}</span>
                </span>
        {% endif %}
    </li>


</ul>
<h2><span class="txt"><strong>/</strong> {{ 'Additional information'|trans }}</span></h2>
<ul class="default_form clearfix">
    {{ form_row(form.requirements) }}
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>
    {{ form_row(form.responsibilities) }}
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>
    {{ form_row(form.workingConditions) }}
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>
    {{ form_row(form.additionalInformation) }}
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>

</ul>

<h2><span class="txt"><strong>/</strong> {{ 'About company'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        <span class="spacer">&nbsp;</span>
        <a href="#"
           class="url_cancel"
           data-handler="clearData"
           data-group="company">{{ 'Clear company information'|trans }}</a>
    </li>
    <li>
        {% if action %}
            {{ form_label(form.uploadPhoto, '', { 'label_attr' : { 'class' : 'label_1 img' }}) }}
        {% else %}
            <span class="spacer">&nbsp;</span>
        {% endif %}

        <div class="options_box" data-clear-company>
            {% if action %}
                {{ form_widget(
                form.uploadPhoto, {
                    'attr':{
                        'data-url': oneup_uploader_endpoint('company_image'),
                        'data-type': 'image',
                        'data-handler': 'photoUploadHandler',
                        'data-file-element': form.photo.vars.id,
                        'data-result-element': '#uploaded-' ~ form.uploadPhoto.vars.id,
                        'data-filter': 'company_thumb',
                        'data-old-photo-element': '#uploader-old-photo',
                        'class' : 'input'
                    }
                }
                ) }}
                {% if job.photo %}
                    {{ thumb_delete_link('job', job.photo, form.photo.vars.id, form.uploadPhoto.vars.id) }}
                {% endif %}
            {% endif %}
        </div>
    </li>

    {{ form_row(form.employerType) }}
    {{ form_row(form.companyType) }}
    {{ form_row(form.companyTitle) }}
    <li>
        {{ form_label(form.companyTradeMark, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <div class="company-trade-mark-wrapper">
            {{ form_widget(form.companyTradeMark, { 'attr' : { 'class' : 'input company-trade-mark' } } ) }}
            {{ form_errors(form.companyTradeMark) }}
            <span class="hidden-description"> {{ 'If your company use trade mark, for example "Pharmacy Doctor Aibolit", please notice it in the field.'|trans }}</span>
        </div>
    </li>
    {{ form_row(form.scope) }}
    {{ form_widget(form.cities) }}
    {{ form_row(form.address) }}
    <li>
        {{ form_label(form.phone, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        {{ form_widget(form.phone, { 'attr' : { 'class' : 'input phone' } } ) }}
        {{ form_errors(form.phone) }}
    </li>
    {{ form_row(form.email) }}
    {{ form_row(form.fax) }}
    {{ form_row(form.skypeName) }}
    {{ form_row(form.companyUrl) }}
    {{ form_row(form.companyInfo) }}
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>
    {{ form_row(form.youtubeUrl) }}


</ul>
<h2><span class="txt"><strong>/</strong> {{ 'Contact person'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        <span class="spacer">&nbsp;</span>
        <a href="#"
           class="url_cancel"
           data-handler="clearData"
           data-group="person">{{ 'Clear contact person information'|trans }}</a>
    </li>

    {% if action %}
        <li>
            <label class="label_1 img">{{ 'Contact person photo'|trans }}:</label>
            <div class="options_box" data-clear-person>
                {{ form_widget(
                form.uploadContactPersonPhoto, {
                    'label': false,
                    'attr':{
                        'data-url': oneup_uploader_endpoint('user_image'),
                        'data-type': 'image',
                        'data-handler': 'photoUploadHandler',
                        'data-file-element': form.contactPersonPhoto.vars.id,
                        'data-result-element': '#uploaded-' ~ form.uploadContactPersonPhoto.vars.id,
                        'data-filter': 'user_thumb',
                        'data-old-photo-element': '#uploader-old-photo',
                        'class' : 'input',
                        'data-clear-person': ''
                    }
                }
                ) }}
                {% if job.contactPersonPhoto %}
                    {{ thumb_delete_link('job_contact', job.contactPersonPhoto, form.contactPersonPhoto.vars.id, form.uploadContactPersonPhoto.vars.id) }}
                {% endif %}
            </div>
        </li>
    {% endif %}
    {{ form_row(form.contactPerson) }}
    {{ form_row(form.contactPersonPatronymic) }}
    {{ form_row(form.contactPersonSurname) }}
    {{ form_row(form.contactPersonCity) }}
    {{ form_row(form.contactPersonAddress) }}

    <li>
        {{ form_label(form.contactPersonPhones, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <ul class="default_form sub-form"
            id="contact-phones-fields-list" {% if action %} data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_contact_phones.html.twig', { 'form': form.contactPersonPhones.vars.prototype, 'allow_delete' : form.contactPersonPhones.vars.allow_delete  }) }}{% endfilter %}"{% endif %}>
            {% for phone in form.contactPersonPhones %}
                {% set allow_delete = (not loop.first and form.contactPersonPhones.vars.allow_delete) %}
                <li>{{ include('RDWAppBundle:Form:_prototype_contact_phones.html.twig', { 'form': phone, 'allow_delete' : allow_delete}) }}</li>
            {% endfor %}
        </ul>
    </li>
    {% if action %}
        <li class="form-collection-add-field">
            <span class="spacer">&nbsp;</span>
            <a href="#"
               class="add-field"
               data-handler="form-collection"
               data-autoinit
               data-collection="contact-phones-fields-list">+ {{ 'Add phone'|trans }}</a>
        </li>
    {% endif %}
    {% do form.contactPersonPhones.setRendered %}

    {{ form_row(form.contactPersonEmail) }}
    {{ form_row(form.contactPersonSkype) }}


</ul>
<h2 class="toggle"><span class="txt"><strong>/</strong> {{ 'Social media'|trans }}</span></h2>
<ul class="default_form clearfix">
    {{ form_row(form.fbUrl) }}
    {{ form_row(form.vkUrl) }}
    {{ form_row(form.okUrl) }}
    {{ form_row(form.gpUrl) }}
    {{ form_row(form.linkedInUrl) }}
    {{ form_row(form.twitterUrl) }}


</ul>
<h2><span class="txt"><strong>/</strong> {{ 'Valid till'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        {{ form_label(form.validTill, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        {{ form_widget(form.validTill.day, { 'attr' : { 'class' : 'el_84' } } ) }}
        {{ form_widget(form.validTill.month, { 'attr' : { 'class' : 'el_84' } } ) }}
        {{ form_widget(form.validTill.year, { 'attr' : { 'class' : 'el_84' } } ) }}
        {{ form_errors(form.validTill) }}
    </li>
    <li class="sep_line">
        <span class="spacer visible-md">&nbsp;</span>
        <div class="options_box inline">
            {{ form_widget(form.secret) }}
        </div>
    </li>
    {% if action %}
        <li class="sep_line last last_fix">
            <span class="spacer visible-md">&nbsp;</span>
            {{ form_widget(form.submit, { 'attr' : { 'class' : 'url_big btn-white' } } ) }}
            {% if app.user %}
                {{ form_widget(form.submitAndPublish, { 'attr' : { 'class' : 'submit_big' } }) }}
            {% endif %}
        </li>
    {% endif %}
</ul>

{{ form_rest(form) }}
{{ form_end(form) }}
