{% from 'RDWAppBundle::misc.html.twig' import salary_row %}

{% set companyTypeTitle = (job.companyType is not null) ? job.companyType.title : '' %}

<div class="quick_info clearfix">
    <div class="row">
        <span class="date">{{ job.updatedAt|date('d.m.Y') }} <span class="sep">|</span> {{ job.updatedAt|date('H:i') }}</span>

            <h1>{{ job.position.title }}</h1>
        <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12 first-block-vakansiya">
            
            <ul class="list">
                {% if job.salaryFrom != 0 or job.salaryTo != 0 %}
                <li class="icon_1">
                    {{ salary_row(job.salaryFrom, job.salaryTo, currency) }}
                </li>
                {% endif %}
                {% if job.workScheduleType %}<li class="icon_2">{{ job.workScheduleType.title }}</li>{% endif %}
                {% if job.workingPlaceCity %}<li class="icon_3">{{ job.workingPlaceCity.title }}</li>{% endif %}
                {% if job.scope %}<li class="icon_4">{{ job.scope.title }}</li>{% endif %}
            </ul>
            {% if app.user and is_granted('ROLE_EMPLOYEE') and job.allowApply %}
                <div class="box">
                    <a class="btn-default" data-url="{{ url('rdw_job.job.apply', {'id': job.id}) }}" href="#" data-handler="modalLink" class="btn btn-default">{{ 'Apply for job'|trans }}</a>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12 second-block-vakansiya">
            <div class="job-requirements">
                <ul class="list">
                    <li class="icon_5">{{ 'Education type'|trans }}:
                        <strong>
                            {% if job.requiredEducationType and job.requiredEducationType.title is not empty %}
                                {{ job.requiredEducationType.title }}
                            {% else %}
                                {{ 'No mattter'|trans }}
                            {% endif %}
                        </strong>
                    </li>
                    <li class="icon_6">{{ 'Work experience'|trans }}:
                        <strong>
                            {% if job.workExperienceType and job.workExperienceType.title is not empty %}
                                {{ job.workExperienceType.title }}
                            {% else %}
                                {{ 'No matter'|trans }}
                            {% endif %}
                        </strong>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <ul class="icons_list">
                {% if (app.user and is_granted('ROLE_EMPLOYEE') or not app.user) and job.allowApply %}
                    <li>
                        <a class="icon_1" title="{{ 'Apply to job title'|trans }}" data-url="{{ url('rdw_job.job.apply', {'id': job.id}) }}" href="#" data-handler="modalLink"></a>
                    </li>
                {% endif %}

                {% if app.user and is_granted('ROLE_EMPLOYEE') %}
                    <li>
                        <a class="icon_2" title="{{ 'Download document'|trans }}" href="{{ printable_url('rdw_job.job.view', { id: job.id, slug: job.slug }) }}" target="_blank"></a>
                    </li>
                {% endif %}

                <li>
                    <a class="icon_3" title="{{ 'Print job title'|trans }}" href="{{ printable_url('rdw_job.job.view', { id: job.id, slug: job.slug }) }}" target="_blank"></a>
                </li>
                {% if app.user and is_granted('ROLE_REGISTERED') %}
                    <li>
                        <a class="icon_4" title="{{ 'Abuse title'|trans }}" data-url="{{ url('rdw_job.job.abuse', {'id': job.id}) }}" href="#" data-handler="modalLink"></a>
                    </li>
                {% endif %}

                {% if app.user and is_granted('ROLE_EMPLOYEE') %}
                    <li>
                        {% if not hasFavorite(app.user, job) %}
                            <a href="#" class="icon_5" title="{{ 'Add to favorites title'|trans }}" data-url="{{ url('rdw_user.favorite.add', {'adId': job.id, 'type': 'job'}) }}" data-handler="manageFavorite" data-title-oposite="{{ 'Remove from favorite'|trans }}"></a>
                        {% else %}
                            <a href="#" class="icon_5 act" title="{{ 'Remove from favorites title'|trans }}" data-url="{{ url('rdw_user.favorite.remove', {'adId': job.id, 'type': 'job'}) }}" data-handler="manageFavorite" data-title-oposite="{{ 'Add to favorite'|trans }}"></a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
    </div>
</div>
<p>
    {{ job.requirements|raw }}
    {% if job.fullDescriptionUrl %}
        <br>{{ 'Full description of job requirements can be found here'|trans }}: <a href="{{ job.fullDescriptionUrl }}" target="_blank">{{ job.fullDescriptionUrl }}</a>
    {% endif %}
</p>

{% if job.workingConditions %}
    <h2><span class="txt"><strong>/</strong> {{ 'Working conditions'|trans }}</span></h2>
    {{ job.workingConditions|raw }}
{% endif %}

{% if job.responsibilities %}
    <h2><span class="txt"><strong>/</strong> {{ 'Responsibilities'|trans }}</span></h2>
    {{ job.responsibilities|raw }}
{% endif %}

{% if job.languages|length > 0 %}
    <h2><span class="txt"><strong>/</strong> {{ 'Languages'|trans }}</span></h2>
    <ul>
        {% for language in job.languages %}
            <li>{{ language.language.title }} - {{ language.level.title }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if job.driverLicenseCategories|length > 0 %}
    <h2><span class="txt"><strong>/</strong> {{ 'Driver license'|trans }}</span></h2>
    <ul>
        {% if job.driverLicenseCategories|length > 0 %}<li>{{ 'Driver license category'|trans }} - {{ job.driverLicenseCategories.getValues()|join(', ') }}</li>{% endif %}
        {% if job.carNeeded %}<li>{{ 'Personal car required'|trans }}</li>{% endif %}
    </ul>
{% endif %}

{% if job.additionalInformation %}
    <h2><span class="txt"><strong>/</strong> {{ 'Aditional information'|trans }}</span></h2>
    {{ job.additionalInformation|raw }}
{% endif %}
