{% from 'RDWUserBundle:Profile:macros.html.twig' import youtube_video_iframe %}

{% set isNotPdf = isPdf is defined and not isPdf %}
{% set companyTypeTitle = (job.companyType is not null) ? job.companyType.title : '' %}
{% set img_seo = get_img_title([companyTypeTitle, job|secret_field('companyTitle'), 'Suggesting new job'|trans|lower, job.position.title, (job.workingPlaceCity ? job.workingPlaceCity.title : '')]) %}

{% if job.logo %}
<div class="about_me">
    <img title="{{ img_seo }}" alt="{{ img_seo }}" src="{{ companyImageUrl(job) }}" />
</div>
{% endif %}
<div class="about_me_big">
    {% if job|secret_field('companyTitle', true) %}
        <span class="company_name">
                <a href="{{ url('rdw_user.profile.view', {'id' : job.user.id}) }}">{{ companyTypeTitle }} «{{ job|secret_field('companyTitle') }}»</a>
        </span>
    {% endif %}
    {% if job.hasVideo() and job|secret_field('youtubeUrl', true) and isNotPdf %}
        <div class="profile_video">{{ youtube_video_iframe(job.youtubeUrl, 210, 150)}}</div>
    {% endif %}

    <h4 id="show-contact" data-text-open="{{ 'Show contacts'|trans }}" data-text-close="{{ 'Close contacts'|trans }}">
        <span class="text-show">{{ 'Close contacts'|trans }}</span>
    </h4>
    <ul class="list list-contact open">
        {% if job|secret_field('contactPerson', true) and job.contactPerson is not empty %}
            <li>
                <span class="title">{{ 'Person name'|trans }}:</span> {{ job|secret_field('contactPerson') }}
            </li>
        {% endif %}
        {% if job.contactPersonCity is not null and job.contactPersonCity.title is not empty %}
        <li>
            <span class="title">{{ 'Person city'|trans }}:</span> {{ job.contactPersonCity.title }}
        </li>
        {% endif %}
        {% if job|secret_field('address', true) and job.address is not empty %}
            <li>
                <span class="title">{{ 'Address'|trans }}:</span> {{ job|secret_field('address') }}
            </li>
        {% endif %}

        {% if job|secret_field('contactPersonPhones', true) and job.contactPersonPhonesAsString is not empty %}
            <li>
                <span class="title">{{ 'Phone'|trans }}:</span> <span class="company-contact"> 
                {% for item in job.contactPersonPhonesAsString|split(",") %}
                    {{ item }}</br>
                {% endfor %}
                </span>
            </li>

        {% endif %}

        {% if job|secret_field('contactPersonEmail', true) and job.contactPersonEmail is not empty %}
            <li>
                <span class="title">{{ 'Contact email'|trans }}:</span>
                <a href="mailto:{{ job.contactPersonEmail }}" target="_blank">{{ job.contactPersonEmail }}</a>
            </li>
        {% endif %}
        {% if job|secret_field('contactPersonSkype', true) and job.contactPersonSkype is not empty %}
            <li>
                <span class="title">{{ 'Skype contact'|trans }}:</span>
                <a href="skype:{{ job.contactPersonSkype }}" target="_blank">{{ job.contactPersonSkype }}</a>
            </li>
        {% endif %}
        {% if job|secret_field('companyUrl', true) and job.companyUrl is not empty %}
            <li>
                <span class="title">{{ 'Company url'|trans }}:</span>
                <a href="{{ job.companyUrl }}" class="big" target="_blank">{{ job.companyUrl }}</a>
            </li>
        {% endif %}
    {# {% if job.vkUrl is not empty
                or job.fbUrl is not empty
                or job.okUrl is not empty
                or job.linkedInUrl is not empty
                or job.gpUrl is not empty
                or job.twitterUrl is not empty
        %}
        <li>
            <span class="title">{{ 'My sites'|trans }}:</span>
            {% if job.vkUrl is not empty and job|secret_field('vkUrl', true) %}
                <a href="{{ job.vkUrl }}" class="url icon_1"></a>
            {% endif %}
            {% if job.fbUrl is not empty and job|secret_field('fbUrl', true) %}
                <a href="{{ job.fbUrl }}" class="url icon_2"></a>
            {% endif %}
            {% if job.okUrl is not empty and job|secret_field('okUrl', true) %}
                <a href="{{ job.okUrl }}" class="url icon_3"></a>
            {% endif %}
            {% if job.linkedInUrl is not empty and job|secret_field('linkedInUrl', true) %}
                <a href="{{ job.linkedInUrl }}" class="url icon_4"></a>
            {% endif %}
            {% if job.gpUrl is not empty and job|secret_field('gpUrl', true) %}
                <a href="{{ job.gpUrl }}" class="url icon_5"></a>
            {% endif %}
            {% if job.twitterUrl is not empty and job|secret_field('twitterUrl', true) %}
                <a href="{{ job.twitterUrl }}" class="url icon_6"></a>
            {% endif %}
        </li>
        {% endif %}#}
    </ul>
	{% if job.allowApply %}
        <a class="apply-job" href="#" data-url="{{ path('rdw_job.job.apply', { 'id' : job.id }) }}" data-handler="modalLink">{{ 'Apply'|trans }}</a>
	{% endif %}
</div>
