<div class="sort_block clearfix">
    <span class="select_box"><label for="s1">{{ 'Per Page'|trans }}:</label>
        {{ rdw_per_page_render('rdw_job.list.per_page.options', 'rdw_job.job.list') }}
    </span>

    <span class="select_box visible-xs">
        <label for="s1">{{ 'Sorting'|trans }}: </label>
        <select name="select" class="selecter-links">
            <option>{{ 'Choose'|trans }}</option>
            {{ knp_pagination_sortable(pagination, 'Scope ASC'|trans, 'scope', {'direction': 'asc', 'option' : true }) }}
            {{ knp_pagination_sortable(pagination, 'Scope DESC'|trans, 'scope', {'direction': 'desc', 'option' : true }) }}
            {{ knp_pagination_sortable(pagination, 'Salary ASC'|trans, 'salaryFrom', {'direction': 'asc', 'option' : true }) }}
            {{ knp_pagination_sortable(pagination, 'Salary DESC'|trans, 'salaryFrom', {'direction': 'desc', 'option' : true }) }}
            {{ knp_pagination_sortable(pagination, 'Updated At ASC'|trans, 'updatedAt', {'direction': 'asc', 'option' : true }) }}
            {{ knp_pagination_sortable(pagination, 'Updated At DESC'|trans, 'updatedAt', {'direction': 'desc', 'option' : true }) }}
        </select>
    </span>
    <span class="sort hidden-xs">
        {{ knp_pagination_sortable(pagination, 'Scope'|trans, 'scope') }}
        {{ knp_pagination_sortable(pagination, 'Salary'|trans, 'salaryFrom') }}
        {{ knp_pagination_sortable(pagination, 'Updated At'|trans, 'updatedAt') }}
    </span>
    {% if app.user and is_granted('ROLE_EMPLOYEE') %}
        <span class="txt pull-right">
        <span class="hidden-xs hidden-sm">{{ 'My acount'|trans }} </span>{{ 'you added'|trans }} <span class="number favorite-number">{{ countFavorites('jobs') }}</span>. <a href="{{ path('rdw_user.favorite.list', { 'type': 'job' }) }}">{{ 'Preview'|trans }}</a>
    </span>
    {% endif %}
</div>
