{% from 'RDWAppBundle::misc.html.twig' import salary_row %}
{% from 'RDWAppBundle:Favorite:macros.html.twig' import favorite_link %}

{% set companyTypeTitle = (job.companyType is not null) ? job.companyType.title : '' %}
{% set img_seo = get_img_title([companyTypeTitle, job|secret_field('companyTitle'), 'Suggesting new job'|trans|lower]) %}
<li class="{% if job.isHighlighted %}highlighted{% endif %}{% if job.isTop %} vip_color{% endif %}">
    <a href="{{ url('rdw_job.job.view', {'id': job.id, 'slug': job.slug }) }}" class="logo"><img title="{{ img_seo }}" alt="{{ img_seo }}" src="{{ companyImageUrl(job, 'company_thumb', true, true) }}" {% if job.hasPhoto %}width="85"{% else %}width="44" height="37"{% endif %} /></a>
    <span class="date">{{ job.updatedAt|date('d.n.Y | H:i') }}</span>
    <a href="{{ url('rdw_job.job.view', {'id': job.id, 'slug': job.slug }) }}" class="url_title">{% if job.position %}{{ job.position.title }}{% endif %}</a>
    <p>{{ companyTypeTitle }}{% if job|secret_field('companyTitle', true) %} «{{ job.companyTitle }}»{% endif %}</p>
    <ul class="list">
        {% if (job.salaryFrom + job.salaryTo) > 0 %}<li class="icon_1">{{ salary_row(job.salaryFrom, job.salaryTo, currency) }}</li>{% endif %}
        <li class="icon_5">{{ 'Education type'|trans }}:
            {% if job.requiredEducationType and job.requiredEducationType.title is not empty %}
                {{ job.requiredEducationType.title }}
            {% else %}
                {{ 'No mattter'|trans }}
            {% endif %}
        </li>
        <li class="icon_6">{{ 'Work experience'|trans }}:
            {% if job.workExperienceType and job.workExperienceType.title is not empty %}
                {{ job.workExperienceType.title }}
            {% else %}
                {{ 'No matter'|trans }}
            {% endif %}
        </li>
    </ul>
    <ul class="list">
        {% if job.workingPlaceCity %}<li class="icon_3">{{ job.workingPlaceCity.title }}</li>{% endif %}
        {% if job.scope %}<li class="icon_4">{{ job.scope.title }}</li>{% endif %}
    </ul>

    {% if job.allowApply %}
        <a class="url" href="#" data-url="{{ path('rdw_job.job.apply', { 'id' : job.id }) }}" data-handler="modalLink">{{ 'Apply'|trans }}</a>
    {% endif %}

    {{ favorite_link(app.user, job) }}
</li>
