{% if title(form, app.request.host) %}
    <h1>{{ title(form, app.request.host) }}</h1>
{% endif %}

<h5><span class="hidden-xs">{{ 'Job list'|trans }}:</span> <span class="color">{{ 'Found'|trans }} <span class="black">{{ pagination.getTotalItemCount }}</span></span></h5>

{% if pagination.getTotalItemCount > 0 %}
    {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}

    <div class="temp_msg">
        {{ 'You can filter the list of results with function'|trans|raw }}
        <a href="#" data-handler="advanced-search" class="url">{{ 'advanced search'|trans }}</a>
        <a href="#" class="url_close"></a>
    </div>

    {% if specializationPa is not empty %}

    <div class="wrap-specialization">
        <h2>{{'Job in'|trans}} {{specializationPa|first|first.entity.parent.titleWhere}}</h2>
        <p class="specialization-filter">{{'Specializations'|trans}}: <span data-filter-specialization="popular" class="active">{{'popular'|trans}}</span> <span data-filter-specialization="all"> {{'all'|trans}}</span></p>
        <div class="wrap-lists">
            {% for specializationItem in popularSpecializationPa %}
                <ul class="specialization-list" data-show="popular">
                    {% for item in specializationItem|sort_by_field('jobsCount') %}
                        <li>
                            <a href="{{ path('rdw_job.job.by_filter_value', { slug: item.entity|slug  }) }}">{{item.entity.title}}</a> {{item.jobsCount}}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            {% for specializationItem in specializationPa %}
                <ul class="specialization-list hidden" data-show="all">
                    {% for item in specializationItem|sort_by_field('jobsCount') %}
                        <li>
                            <a href="{{ path('rdw_job.job.by_filter_value', { slug: item.entity|slug  }) }}">{{item.entity.title}}</a> {{item.jobsCount}}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>

    {% endif %}


    {% include 'RDWJobBundle:Job:_list_sorter.html.twig' %}

    <ul class="job_list clearfix">
        {% for job in pagination %}
            {{ include('RDWJobBundle:Job:_list_row.html.twig') }}
        {% endfor %}
    </ul>

    {% include 'RDWJobBundle:Job:_list_sorter.html.twig' %}

    {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}


{% else %}
    <div class="txt_container clearfix">
        {{ 'No results found matched your search criterias. Please choose other options ant try search again'|trans }}
    </div>
{% endif %}
