{% if services is defined %}
    <div class="pull-right">
        {% for service in services %}
            <a class="btn btn-default" href="{{ url('rdw_service.service.matrix_employer', {'id' : job.user.id, 'item' : job.id, 'service': service.id}) }}">{{ service.title }}</a>
        {% endfor %}
    </div>
{% endif %}
