{% if relatedJobs.getTotalItemCount > 0 %}
    <h2 class="h1 h1-related"><strong>/ </strong>{{ 'Related'|trans }} <span class="black">{{ 'Jobs'|trans }}</span></h2>

    <ul class="job_list clearfix">
        {% for job in relatedJobs %}
            {% include 'RDWJobBundle:Job:_list_row.html.twig' with { 'job' : job } %}
        {% endfor %}
    </ul>
{% endif %}
