
{% form_theme form 'RDWSearchBundle:Fields:fields.html.twig' %}


<div class="side-filter-by-parameters-with-count">
    <p class="side-filter-by-parameters-with-count__title">отфильтровать:</p>
    {% if data["cities"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Города</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["cities"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5Bcities%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["languages"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Языки</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["languages"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5Blanguages%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["scope"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Отрасль</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["scope"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5Bscope%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["professionalArea"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Сфера деятельности</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["professionalArea"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5BprofessionalArea%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["position"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Вакансия</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["position"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5Bposition%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["createdAt"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Опубликовано за</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["createdAt"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5BcreatedAt%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["salary"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Зарплата</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["salary"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5Bsalary%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["withoutHigh"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Без высшего образования</p>
        <ul class="side-filter-by-parameters-with-count__list">
            <li class="side-filter-by-parameters-with-count__list-item">
                <a href="/vakansii?&jobs%5BwithoutHigh%5D=1" class="side-filter-by-parameters-with-count__list-link">{{ data["withoutHigh"].title }}</a><span>{{ data["withoutHigh"].count }}</span>
            </li>
        </ul>
    {% endif %}
    {% if data["withoutExp"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Без опыта работы</p>
        <ul class="side-filter-by-parameters-with-count__list">
            <li class="side-filter-by-parameters-with-count__list-item">
                <a href="/vakansii?&jobs%5BwithoutExp%5D=1" class="side-filter-by-parameters-with-count__list-link">{{ data["withoutExp"].title }}</a><span>{{ data["withoutExp"].count }}</span>
            </li>
        </ul>
    {% endif %}
    {% if data["employmentType"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Вид занятости</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["employmentType"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5BemploymentType%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["companyTitle"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Работодатель</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["companyTitle"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5BcompanyTitle%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["workScheduleType"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Зарплата</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["workScheduleType"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5BworkScheduleType%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["driverLicenseCategories"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Водительские права</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["driverLicenseCategories"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5BdriverLicenseCategories%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["education"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Образование</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["education"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5Beducation%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["workExperience"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Опыт работы</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["workExperience"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/vakansii?&jobs%5BworkExperience%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{#<div>#}
    {#{{ form_label(form.driverLicenseCategories) }}#}
    {#<div class="select expanded">#}
        {#{{ form_widget(form.driverLicenseCategories) }}#}
    {#</div>#}

    {#<div>#}
        {#{{ form_label(form.onlyWithSalary) }}#}
        {#{{ form_widget(form.onlyWithSalary) }}#}
    {#</div>#}
{#</div>#}