<h2 class="h1">{{ 'Actions'|trans }}</h2>
<div class="txt_container">
    <a href="#" class="btn btn-default pull-right" onclick="print(); return false;">{{ 'Print'|trans }}</a>
    <a href="{{ url('rdw_job.job.edit', {'id': job.id}) }}" class="btn btn-default">{{ 'edit'|trans }}</a>
    <a
            href="#"
            class="btn btn-default"
            data-handler="confirm"
            data-url="{{ url('rdw_job.job.delete', {'id': job.id}) }}"
            data-message="{{ 'Are you sure?'|trans }}"
            data-title="{{ 'Delete job'|trans }}"
            data-confirm-title="{{ 'Delete'|trans }}"
            >
        {{ 'Delete'|trans }}
    </a>
</div>