{% from 'RDWAppBundle::misc.html.twig' import salary_row %}
{% from 'RDWAppBundle:Favorite:macros.html.twig' import favorite_link %}



{% if orderItems %}
    <h1>
        {{ rdw_setting('new_vacancies_title')|striptags('<span>')|raw }}
        {% set iconUrl = rdw_setting('new_vacancies_icon') %}
        {% if iconUrl %}
            <img src="{{ iconUrl }}" title="" alt="" />
        {% endif %}
    </h1>

    <div class="home_slider clearfix">
        <ul class="bx_home_slider">
            {% for orderItem in orderItems %}
                {% set job = orderItem.item %}
                {% set companyTypeTitle = (job.companyType is not null) ? job.companyType.title : '' %}
                <li>
                    {{ favorite_link(app.user, job) }}
                    <a href="{{ url('rdw_job.job.view', {'id': job.id, 'slug': job.slug }) }}" class="url">{{ job.position.title }}</a>
                    <span class="txt">{{ companyTypeTitle }} «{{ job|secret_field('companyTitle') }}»</span>
                    <div class="bottom_row">
                        {% if job.workingPlaceCity %}
                            <a href="{{ url('rdw_job.job.view', {'id': job.id, 'slug': job.slug }) }}" class="location">{{ job.workingPlaceCity.title }}</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
