{% extends "::base.html.twig" %}

{% block content %}
    <h2 class="h1">{{ 'Create'|trans }} <span class="black">{{ 'new job'|trans }}</span></h2>
    <div class="sort_block clearfix">
        <a href="{{ url('rdw_job.job.my_list') }}" class="url_back">{{ 'Back'|trans }}</a>
    </div>
    <div class="txt_container clearfix">
        {% include 'RDWJobBundle:Job:_form.html.twig' with { 'action': url('rdw_job.job.create') } %}
    </div>
    <div class="sort_block clearfix">
        <a href="{{ url('rdw_job.job.my_list') }}" class="url_back">{{ 'Back'|trans }}</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    '@RDWJobBundle/Resources/public/js/jquery.clearDataHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}

    {% if showRegistrationPopup|default(false) %}
    <script type="text/javascript">
        $(function() {
            $(document).registrationPopupHandler({url: "{{ url('rdw_user.registration.popup') }}"});
        });
    </script>
    {% endif %}
{% endblock %}
