{% if newDailyJobs|length > 0 %}
	{% from 'RDWAppBundle::misc.html.twig' import salary_row %}
	<div class="new_jobs">
		<h2 class="h1 big">
			{{ 'New jobs'|trans }} <span class="black"><a href="{{ path('rdw_job.job.list', {'jobs[updatedAt]' : '-1 day'}) }}">{{ 'view all'|trans }}</a></span>
		</h2>
		<div class="wrap_new_jobs">
			<ul class="new_jobs_list">
				{% if is_tablet() %}
					{% set newDailyJobs = newDailyJobs|slice(0, 6) %}
				{% elseif is_mobile() %}
					{% set newDailyJobs = newDailyJobs|slice(0, 4) %}
				{% endif %}
				
			{% for job in newDailyJobs %}
				{% set companyTypeTitle = (job.companyType is not null) ? job.companyType.title : '' %}
				<li>
					<p class="clearfix">
						<a href="{{ path('rdw_job.job.view', {'id' : job.id, 'slug' : job.slug}) }}"><span class="job_title pull-left">{{ job.position.title }}</span></a>
						{# {% if job.workingPlaceCity.title %}
							<span class="job_location pull-right icon_3">{{ job.workingPlaceCity.title }}</span>
						{% endif %} #}
					</p>
					<p class="clearfix">
					{% if job.salaryFrom != 0 or job.salaryTo != 0 %}
						<span class="job_earning pull-left">{{ 'from'|trans }} {{ salary_row(job.salaryFrom, job.salaryTo, currency) }}</span>
					{% endif %}
						<span class="job_company pull-right">
							{% if job|secret_field('companyTitle', true) %}
						       {{ companyTypeTitle }} «{{ job|secret_field('companyTitle') }}»
							{% endif %}
						</span>
					</p>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}
