{% extends "::base.html.twig" %}

{% block content %}
    <h2 class="h1">{{ 'Edit'|trans }} <span class="black">{{ 'job edition'|trans }}</span></h2>
    <div class="sort_block clearfix">
        <a href="{{ url('rdw_job.job.my_list') }}" class="url_back">{{ 'Back'|trans }}</a>
    </div>

    <div class="txt_container clearfix">
        {% include 'RDWJobBundle:Job:_form.html.twig' with { 'action': url('rdw_job.job.edit', { 'id':job.id }) } %}
    </div>

    <div class="sort_block clearfix">
        <a href="{{ url('rdw_job.job.my_list') }}" class="url_back">{{ 'Back'|trans }}</a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    '@RDWJobBundle/Resources/public/js/jquery.clearDataHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
