<div class="small_container clearfix">
    <h2>
        <strong>/</strong> {{ 'views'|trans }}
    </h2>
    {% if not jobs|length > 0 %}<span class="info_txt">{{ 'None of your jobs have been viewed'|trans }}</span>{% endif %}
    <div class="clear"></div>
    {% if jobs|length > 0 %}
        <ul class="list type_2 clearfix">
            {% for job in jobs %}
                <li>
                    <a href="{{ url('rdw_job.job.my_view', { 'id': job.id }) }}">
                        <strong>{{ job.position.title }}{% if job.workingPlaceCity %} / {{ job.workingPlaceCity.title }}{% endif %}</strong>
                    </a>
                    {% set registeredViewsCount = job.usersWhoViewed|length %}
                    {% set totalViewsCount = job.totalViewsCount %}
                    {% if totalViewsCount > 0 %}
                        <span class="txt">
                            {{ 'Your job viewed'|trans }}
                            <span class="number">{{ totalViewsCount }}</span>
                            {{ 'registerd user views'|trans }}
                            <span class="number">{{ registeredViewsCount }}</span>
                        </span>
                        <ul class="sub_list clearfix">
                            {% for viewer in job.usersWhoViewed %}
                                <li>
                                    <span class="date">{{ viewer.createdAt|date('M d') }}</span>
                                    <span class="title">{% if viewer.user.companyType %}{{ viewer.user.companyType.title }} {% endif %}«{{ viewer.user.title }}»</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="sep_line"></div>
        <a href="{{ path('rdw_job.job.users_who_viewed_list', {'id': app.user.id}) }}" class="url">{{ 'All views'|trans }}</a>
    {% endif %}
</div>
