{% extends "::base.html.twig" %}


{%- block title -%}
    {{ meta_title(form, app.request.host) }}
{%- endblock -%}

{% block content %}
    {# Not found in html #}
    {#
    {% if pagination.getTotalItemCount > 0 %}
        <div>
            <a href="{{ url('rdw_subscription.subscription.subscribe', {'user_id': app.user.id, 'type': 'job'}) }}" class="btn btn-default">{{ 'Subscribe'|trans }}</a>
            <a href="{{ url('rdw_job.job.print_list', {'page': app.request.query.get('page')}|merge(app.request.query.all())) }}" class="btn btn-default" target="_blank">{{ icon('save') }} {{ 'Print'|trans }}</a>
        </div>
    {% endif %}
    #}

    {{ include('RDWJobBundle:Job:_listContent.html.twig') }}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.manageFavoriteHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
