{% macro list_multiple_actions() %}
<div class="sort_block clearfix">
    <div class="mini_row pull-left">
        <span class="checkbox_box"><input type="checkbox" name="checkbox" id="m_bottom_all" /> <label for="m_bottom_all">{{ 'Check all'|trans }}</label></span>
        <span class="txt pull-left">{{ 'You checked'|trans }} (<span class="number small checkbox-counter">0</span>):</span>
    </div>
    <div class="mini_row pull-right">
        {% if app.user and is_granted('ROLE_EMPLOYEE') %}
            <a href="#" data-handler="multipleSubmit" data-method="get" data-skip-confirm="true" data-title="" data-message="" data-action="{{ url('rdw_service.service.matrix_employee', { 'id': app.user.id }) }}" class="url_advertisement">{{ 'Promote'|trans }}</a>
        {% else %}
            <a href="#" data-handler="multipleSubmit" data-method="get" data-skip-confirm="true" data-title="" data-message="" data-action="{{ url('rdw_service.service.matrix_employer', { 'id': app.user.id }) }}" class="url_advertisement">{{ 'Promote'|trans }}</a>
        {% endif %}
        <a href="#" class="url_delete" data-handler="multipleDelete" data-title="{{ 'Delete jobs'|trans }}" data-message="{{ 'Are you sure?'|trans }}" data-action="{{ url('rdw_job.job.multiple_delete', { 'id': app.user.id }) }}">{{ 'Delete'|trans }}</a>
    </div>
</div>
{% endmacro %}

{% macro per_page() %}
<span class="select_box pull-left hidden-xs hidden-sm"><label for="s1">{{ 'Per Page'|trans }}:</label>
    {{ rdw_per_page_render('rdw_job.list.per_page.options', 'rdw_job.job.my_list') }}
</span>
{% endmacro %}

{% macro list_users_who_viewed_actions(user) %}
    <div class="sort_block clearfix">
        <span class="select_box"><label for="s1">{{ 'Per Page'|trans }}:</label>
            {{ rdw_per_page_render('rdw_job.list.per_page.options', 'rdw_job.job.users_who_viewed_list', {'id': user.id}) }}
        </span>
        <a class="url_print" href="#" onclick="window.print();">{{ 'Print'|trans }}</a>
    </div>
{% endmacro %}

{% macro list_users_who_showed_contacts_actions(user) %}
    <div class="sort_block clearfix">
        <span class="select_box"><label for="s1">{{ 'Per Page'|trans }}:</label>
	        {{ rdw_per_page_render('rdw_job.list.per_page.options', 'rdw_job.job.users_who_showed_contacts_list', {'id': user.id}) }}
        </span>
        <a class="url_print" href="#" onclick="window.print();">{{ 'Print'|trans }}</a>
    </div>
{% endmacro %}

{% macro list_users_applied_actions() %}
    <div class="sort_block clearfix">
        <span class="select_box"><label for="s1">{{ 'Per Page'|trans }}:</label>
            {{ rdw_per_page_render('rdw_job.list.per_page.options', 'rdw_job.job_apply.list') }}
        </span>
        <a class="url_print" target="_blank" href="{{ printable_url('rdw_job.job_apply.list', {}|merge(app.request.query.all)) }}">{{ 'Print'|trans }}</a>
    </div>
{% endmacro %}
