{% extends "::base.html.twig" %}

{% from 'RDWJobBundle:Job:macros.html.twig' import per_page, list_multiple_actions %}
{% from 'RDWAppBundle::misc.html.twig' import list_checkbox, promote_banner, salary_row %}

{% block content %}

    <h2 class="h1">{{ 'My'|trans }} <span class="black">{{ 'Jobs'|trans }}</span></h2>

    {{ promote_banner('employer', app.user.id) }}

    <a href="{{ url('rdw_job.job.create') }}" title="{{ 'Create new job'|trans }}" class="url_add_resume">{{ 'Create new job'|trans }}</a>
    <div class="clear hidden-sm hidden-md"></div>

    {% if pagination|length > 0 %}
        {{ per_page() }}

        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}

        <div class="clear"></div>

        {{ list_multiple_actions() }}

        <form action="" method="post" data-multiple-delete data-multiple-submit class="options_block summary_list clearfix">
            <ul class="options_block summary_list clearfix">
            {% for job in pagination %}
                <li class="{% if job.isStatusActive %}active{% endif %}">
                    {{ list_checkbox(form, job.id) }}
                    <div class="status_tags">
                        <span class="tag {% if job.isStatusActive %}green{% else %}red{% endif %}">{{ job.statusLabel|trans }}</span>
                    </div>
                    <div class="clear"></div>
                    <span class="date">{{ job.updatedAt|date('d.m.Y | H:i') }}</span>
                    <a class="url_title" href="{{ url('rdw_job.job.my_view', {'id': job.id}) }}">{% if job.position %}{{ job.position.title }}{% endif %}</a>
                    <span class="name">{{ job.companyTitle }}</span>
                    <div class="clear"></div>

                    <div class="list_holder">
                        <ul class="list">
                            <li class="icon_1">
                                {{ salary_row(job.salaryFrom, job.salaryTo, currency) }}
                            </li>
                            <li class="icon_2">{{ job.workScheduleType }}</li>
                        </ul>
                        <ul class="list">
                            {% if job.workingPlaceCity %}<li class="icon_3">{{ job.workingPlaceCity.title }}</li>{% endif %}
                            <li class="icon_4">{% if job.scope %}{{ job.scope.title }}{% endif %}</li>
                        </ul>
                    </div>
                    <ul class="list">
                        {#{% if is_analytic_enabled() %}
                            {% set analyticData = get_analytic_data(job_uri(job)) %}
                            <li class="icon_5">{{ 'Views count'|trans }}:
                                <a href="{{ url('rdw_job.job.users_who_viewed_list', {'id': app.user.id, 'job': job.id}) }}">
                                    {{ analyticData.getViewsCount() }}
                                </a>
                            </li>
                            {% if analyticData.getViewsUniqueCount() %}
                                <li class="icon_5">{{ 'Views unique count'|trans }}:
                                    <a href="{{ url('rdw_job.job.users_who_viewed_list', {'id': app.user.id, 'job': job.id}) }}">
				                        {{ analyticData.getViewsUniqueCount() }}
                                    </a>
                                </li>
	                        {% endif %}
	                        {% if analyticData.getContactsShown() %}
                                <li class="icon_5">{{ 'Showing contacts'|trans }}:
                                    <a href="{{ url('rdw_job.job.users_who_showed_contacts_list', {'id': app.user.id, 'job': job.id}) }}">
				                        {{ analyticData.getContactsShown() }}
                                    </a>
                                </li>
	                        {% endif %}
	                        {% if analyticData.getReplied() %}
                                <li class="icon_6">{{ 'Job applies count'|trans }}:
                                    <span class="number">
                                    <a href="{{ url('rdw_job.job_apply.list', {'job': job.id, 'user': app.user.id }) }}">
                                        {{ analyticData.getReplied() }}
                                    </a>
                                </span>
                                </li>
	                        {% endif %}
	                        {% if analyticData.getAverageSpentTime() %}
                                <li class="icon_2">{{ 'Average spent time'|trans }}:
                                    <span class="number">
                                    {{ analyticData.getAverageSpentTime() }} {{ 'seconds'|trans }}
                                </span>
                                </li>
	                        {% endif %}
                        {% endif %}#}
                    {% if job.totalViewsCount %}
                    <li class="icon_5">
                            {{ 'Views count'|trans }}:
                            <a href="{{ url('rdw_job.job.users_who_viewed_list', {'id': job.user.id, 'job': job.id}) }}">
                            <span class="number">
				{{ job.totalViewsCount }}
			    </span>
			    </a>
		    </li>
                    {% endif %}
                    {% if job.applies.count %}
		    <li class="icon_6">
			    {{ 'Applies count'|trans }}:
			    <a href="{{ url('rdw_job.job_apply.list', {'job': job.id, 'user': job.user.id }) }}">
			    <span class="number">
				{{ job.applies.count }}
			    </span>
			    </a>
		    </li>
		    {% endif %}
		    </ul>
                    <div class="clear"></div>
                    {% if job.activeServices|length > 0 %}
                        <div class="message_panel good">{{ 'Active services'|trans }}:
                            {% for service in job.activeServices %}
                                {{ service.service.title }} <span class="small">({{ 'till'|trans ~ ' ' ~ service|validTill }})</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="toogle_box">
                        <a href="#" class="url_toggle"></a>
                        <div class="hidden_box">
                            <ul class="url_list">
                                {% if services is defined %}
                                    <li>
                                        <a class="icon_1" href="{{ url('rdw_service.service.matrix_employer', {'id' : job.user.id, 'job_collection' : {'id' : [job.id]}}) }}">{{ 'Promote'|trans }}</a>
                                    </li>
                                {% endif %}

                                {# can edit jobs only with statuses new, waiting, inactive, active #}
                                {% if job.isEditable %}
                                    <li>
                                        <a class="icon_2" href="{{ url('rdw_job.job.edit', {'id': job.id}) }}">{{ 'edit'|trans }}</a>
                                    </li>
                                {% endif %}
                                {% if job.canPublish %}
                                    <li>
                                        <a href="{{ url('rdw_job_publish', {'id': job.id}) }}">{{ 'Publish'|trans }}</a>
                                    </li>
                                {% elseif job.isEditable %}
                                    <li>
                                        <a href="{{ url('rdw_job_deactivate', {'id': job.id}) }}">{{ 'Deactivate'|trans }}</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ url('rdw_job.job.view', {'id': job.id, 'slug': job.slug }) }}">{{ 'View'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle_bg"></div>
                </li>
            {% endfor %}
        </ul>
        </form>
        {{ list_multiple_actions() }}

        {{ per_page() }}

        {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}

        <div class="clear hidden-sm hidden-md"></div>

        <a href="{{ url('rdw_job.job.create') }}" title="{{ 'Create new job'|trans }}" class="url_add_resume">{{ 'Create new job'|trans }}</a>
    {% else %}
        <p>{{ 'You have no jobs. Maybe create one?'|trans }}</p>
    {% endif %}

    <div class="clear mobile_banners"></div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWJobBundle/Resources/public/js/jquery.activateJobHandler.js'
    '@RDWJobBundle/Resources/public/js/job.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
