{% extends "::base.html.twig" %}

{% block content %}
    {% include 'RDWJobBundle:Job:_form.html.twig' with { 'action': '' } %}
    {% include 'RDWJobBundle:Job:actions.html.twig' %}
{% endblock content %}
