{% extends "::pdf.html.twig" %}


{% block content %}
    <div class="row">
        {{ render(controller('RDWJobBundle:Job:carousel')) }}
    </div>
    <hr />
    {{ include('RDWJobBundle:Job:_listContent.html.twig') }}
{% endblock content %}
