{% extends "::pdf.html.twig" %}

{% block content %}
    <div class="txt_container clearfix">
        {% if job.isDeleted() %}
            {% include 'RDWJobBundle:Job:_job_deleted.html.twig' %}
        {% elseif not job.isPublished() %}
            {% include 'RDWJobBundle:Job:_job_not_active.html.twig' %}
        {% else %}
            <div class="col_wide">
                {% include 'RDWJobBundle:Job:_job_main.html.twig' %}
            </div>
            <div class="col_tight">
                {% include 'RDWJobBundle:Job:_job.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
