{% extends "::base.html.twig" %}

{% block content %}
    <h2 class="h1">
        <span class="black">{{ 'Job "%title%" was viewed by following users'|trans({ '%title%' : job.title }) }}</span>
    </h2>
    {% include 'RDWJobBundle:Job:_item_viewers.html.twig' %}
{% endblock content %}
