{% extends "RDWJobBundle::base.html.twig" %}

{% set jobWorkingPlaceCity = (job.workingPlaceCity) ? job.workingPlaceCity.title : '' %}
{% block title %}{{ get_seo_title(['Looking'|trans, job.position.title, job|secret_field('companyTitle'), jobWorkingPlaceCity, job.id]) }}{% endblock %}
{% block metaDescription %}{{ get_seo_description(['Suggesting new job'|trans, job.position.title, 'working in'|trans, job.companyType.title, job|secret_field('companyTitle'), jobWorkingPlaceCity]) }}{% endblock %}
{% block metaKeywords %}{{ get_seo_keywords([job.position.title, jobWorkingPlaceCity]) }}{% endblock %}
{% set isNotPdf = isPdf is defined and not isPdf %}
{% set urlReferer = get_url_referer([url('rdw_job.job.list'), url('rdw_user.favorite.list', {'type': 'job'})]) %}

{% block fb_og_tags %}
    {% if job.isPublished() %}
        {% import 'RDWAppBundle::social.html.twig' as social %}
        {{ social.fb_og_tags(app.request.uri, job.position.title, job.workingConditions, companyImageUrl(job)) }}
    {% endif %}
{% endblock fb_og_tags %}

{% block content %}
    <div class="sort_block clearfix">
        <a href="{{ urlReferer }}" class="url_back">{{ 'Back to list'|trans }}</a>
    </div>

    <div class="txt_container clearfix">
        {% if not job.isDeleted() and (job.isPublished() or isOwner) %}
            <div class="col_wide">
                {% include 'RDWJobBundle:Job:_job_main.html.twig' %}
            </div>
            <div class="col_tight">
                {% include 'RDWJobBundle:Job:_job.html.twig' %}
            </div>
        {% elseif job.isDeleted() %}
            {% include 'RDWJobBundle:Job:_job_deleted.html.twig' %}
        {% elseif not job.isPublished() %}
            {% include 'RDWJobBundle:Job:_job_not_active.html.twig' %}
        {% endif %}
    </div>

    <div class="sort_block clearfix">
        <a href="{{ urlReferer }}" class="url_back">{{ 'Back to list'|trans }}</a>
    </div>

    {% if isOwner and not job.isDeleted() %}
        {% include 'RDWJobBundle:Job:actions.html.twig' %}
    {% endif %}

    {% if not isNotPdf %}
        {% include 'RDWJobBundle:Job:_related_jobs.html.twig' %}
    {% endif %}
{% endblock content %}
