{% if jobs|length > 0 %}
    <h2 class="h1 big"><span class="black">{{ 'top employers'|trans }}</span></h2>
    <ul class="employers_list clearfix">
        {% for job in jobs %}
            {% set employer = job.item.user %}
            <li>
                <a href="{{ url('rdw_user.profile.view', { 'id': employer.id }) }}">
                    <img src="{{ employer.photo|rdw_thumb('top_employer') }}" alt="" />
                </a>
            </li>
        {% endfor %}
        <li><a href="#" class="last"><span class="txt">{{ 'More employers'|trans }}</span></a></li>
    </ul>
{% endif %}
