{% extends "::base.html.twig" %}

{% block title %}{{ 'Вход в рабочий кабинет на rdw.by.'|trans }}{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.message|trans }}</div>
    {% endif %}

    <h1>{{ 'Login to'|trans }} <span class="black">{{ 'My office'|trans }}</span></h1>

    <div class="txt_container clearfix">

        <form action="{{ path("fos_user_security_check") }}" method="post" class="login_box">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <h3>{{ 'Login using email'|trans }}:</h3>
            <ul class="login_form clearfix">
                <li>
                    <label for="username" class="label_1">{{ 'Email'|trans }}:</label>
                    <input type="text" name="_username" id="username" value="{{ last_username }}" class="input" />
                </li>
                <li>
                    <label for="password" class="label_1">{{ 'Password'|trans }}:</label>
                    <input type="password" name="_password" id="password" class="input" />
                </li>
                <input type="hidden" name="_target_path" value="rdw_user.user.dashboard" />
                <li><input type="checkbox" name="_remember_me" id="remember_me" value="on" class="checkbox" checked /> <label for="remember_me" class="label_2">{{ 'Remember me'|trans }}</label></li>
                <li><input type="submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" class="submit" /></li>
                <li><a href="{{ url('fos_user_resetting_request') }}" class="url">{{ 'Password remind'|trans }}</a> <br> <h3 class="visible-xs">{{ 'New user?'|trans }}</h3> <a href="{{ url('fos_user_registration_register') }}" class="url url_mobile">{{ 'Registration'|trans }}</a></li>
            </ul>
        </form>

        {# also uncoment width and border-right in custom.css #}
        <div class="login_box_optional">
            <h3>{{ 'Social login'|trans }}:</h3>
            {% include "RDWUserBundle::social_logins.html.twig" %}
        </div>

    </div>

    <div class="clear mobile_banners"></div>

    <div class="clear mobile_banners"></div>

{% endblock content %}
