<?xml version="1.0" encoding="utf-8"?>
<source>
    {% for job in jobs %}
        <job>
            <id><![CDATA[{{ job.id }}]]></id>
            <title><![CDATA[{{ job.position }}]]></title>
            <date><![CDATA[{{ job.updated_at|date("c") }}]]></date>
            <url><![CDATA[{{ url('rdw_job.job.view', {id: job.id, slug: job.slug }) }}]]></url>
            <company><![CDATA[{% if not job.is_secret %}{{ job.company_title|raw }}{% endif %}]]></company>
            <location><![CDATA[{{ job.city }}]]></location>
            <salary><![CDATA[{% if job.salary_from %}от {{ job.salary_from }} {% endif %}{% if job.salary_to %}до {{ job.salary_to }}{% endif %}]]></salary>
            <category><![CDATA[{{ job.scope }}]]></category>
            <isagency><![CDATA[{% if job.employer_type == 2 %}1{% else %}0{% endif %}]]></isagency>
            <requirements><![CDATA[{{ job.requirements|raw }}]]></requirements>
            <duties><![CDATA[{{ job.responsibilities|raw }}]]></duties>
            <terms><![CDATA[{{ job.working_conditions|raw }}]]></terms>
            <description><![CDATA[{{ job.additional_information|raw }}]]></description>
            <education><![CDATA[{% if job.education|length > 0 %}{{ job.education }}{% endif %}]]></education>
            <jobtype><![CDATA[{% if job.employment_type %}{{ job.employment_type }}{% endif %}]]></jobtype>
            <schedule>{% if job.work_schedule %}<![CDATA[{{ job.work_schedule }}]]>{% endif %}</schedule>
        </job>
    {% endfor %}
</source>
