<?xml version="1.0" encoding="utf-8"?>
<source>

{% for job in jobs %}
    <job>
        <id><![CDATA[{{ job.id }}]]></id>
        <link><![CDATA[{{ url('rdw_job.job.view', {id: job.id, slug: job.slug}) }}]]></link>
        <name><![CDATA[{{ job.position }}]]></name>
        <region><![CDATA[{{ job.city }}]]></region>
        <salary><![CDATA[{{ job.salary_to }}]]></salary>
        <description><![CDATA[{{ job.requirements|raw }} {{ job.responsibilities|raw }} {{ job.working_conditions|raw }} {{ job.additional_information|raw }}]]></description>
        <company><![CDATA[{% if not job.is_secret %}{{ job.company_title|raw }}{% endif %}]]></company>
        <companyinfo><![CDATA[{{ job.company_info }}]]></companyinfo>
        <contacts><![CDATA[]]></contacts>
        <updated><![CDATA[{{ job.updated_at|date("d.m.Y") }}]]></updated>
        <expires><![CDATA[{{ job.valid_till|date("d.m.Y") }}]]></expires>
    </job>
{% endfor %}

</source>
