{% extends('::backend.html.twig') %}

{% block content %}

    <h1>{{ 'Add new filter value'|trans }}</h1>

    <div class="row">
        <div class="col-md-3">
            <a href="{{ url('rdw_manage.filter.view', {'type' : type}) }}" class="btn btn-default"><i class="glyphicon glyphicon-list"></i> {{ 'Back'|trans }}</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6">
            {% include "RDWManageBundle:Filter:_form.html.twig" %}
        </div>
    </div>

{% endblock content %}
