{% extends('::backend.html.twig') %}

{% block content %}

    <h1>{{ type|trans|capitalize }}</h1>

    <div class="row">
        <div class="col-md-3">
            <a href="{{ url('rdw_manage.filter.view', {'type' : type}) }}" class="btn btn-default"><i class="glyphicon glyphicon-list"></i> {{ 'Back'|trans }}</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6">
            {% include "RDWManageBundle:Filter:_form.html.twig" %}
        </div>
    </div>
    {% if unapproved_pa is defined and unapproved_pa|length %}
        <b>{{ 'Unapproved Professional Areas'|trans }}</b>
        <table class="table table-bordered table-responsive">
            <tbody>
            {% for pa in unapproved_pa %}
                <tr>
                    <td>{{ pa.title }}</td>
                    <td>
                        <a href="{{ path('manage_position_approve_pa', {id:entity.id, paid: pa.id}) }}">
                            {{ 'Approve'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="clearfix"></div>
    {% endif %}

{% endblock content %}
