{% extends('::backend.html.twig') %}

{% block content %}

    <h1>{{ 'Filters'|trans }}</h1>

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'Filter'|trans }}</th>
                    <th>{{ 'Type'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ 'City'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'city'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Position'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'position'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Scope'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'scope'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Work schedule'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'schedule'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Education degree'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'education_type'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Work experience'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'scope'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Languages'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'language'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Language levels'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'language_level'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Driver license category'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'driving_category'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Marital status'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'marital'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Business trip possibilities'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'business_trip'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Company type'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'company_type'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Work experience'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'work_experience'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
                <tr>
                    <td>{{ 'Employment type'|trans }}</td>
                    <td>{{ 'Drop down'|trans }}</td>
                    <td><a href="{{ url('rdw_manage.filter.view', {'type' : 'employment_type'}) }}">{{ 'Edit'|trans }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock content %}
{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@RDWServiceBundle/Resources/public/js/onlyDigitsHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
