{% extends('::backend.html.twig') %}

{% block content %}

    <h1>{{ type|trans|capitalize }}</h1>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ url('rdw_manage.filter.list') }}" class="btn btn-default"><i class="glyphicon glyphicon-list"></i> {{ 'Back'|trans }}</a>
            <a href="{{ url('rdw_manage.filter.add', {'type' : type}) }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> {{ 'Add'|trans }}</a>
        </div>
    </div>

    <hr />

    <div class="panel panel-default">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>{{ 'Title'|trans }}</th>
                    {% if filterValues.isSortable %}
                        <th>{{ 'Priority position'|trans }}</th>
                    {% endif %}
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for value in filterValues %}
                    <tr>
                        <td class="vertical-middle">{{ value.title }} {% if value.titleWhere is defined %}({{ value.titleWhere }}){% endif %}</td>
                        {% if filterValues.isSortable %}
                            <td class="vertical-middle">
                                {% if not loop.first %}
                                    <a href="{{ url('rdw_manage.filter.position', {'type' : type, 'id' : value.id, 'position': value.position - 1}) }}"><span class="glyphicon glyphicon-arrow-up"></span></a>
                                {% endif %}
                                {% if not loop.last %}
                                    <a href="{{ url('rdw_manage.filter.position', {'type' : type, 'id' : value.id, 'position': value.position + 1}) }}"><span class="glyphicon glyphicon-arrow-down"></span></a>
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ url('rdw_manage.filter.edit', {'type' : type, 'id' : value.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> {{ 'Edit'|trans }}</a>

                            {% if value.isDeletable %}
                                <a href="{{ url('rdw_manage.filter.delete', {'type' : type, 'id' : value.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> {{ 'Delete'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
