{% for service in services %}
    <div class="row form-group">
        <div class="col-xs-6">
            <input value="{{ service.title }}" name="rdw_services[{{ service.id }}][title]" type="text" class="form-control" placeholder=".col-xs-2">
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <input type="text" value="{{ service.price }}" name="rdw_services[{{ service.id }}][price]" class="form-control">
                <span class="input-group-addon">{{ 'rub.'|trans }}</span>
            </div>
        </div>
        <div class="col-xs-1">
            {% if not loop.first %}
                <a href="{{ url('rdw_service.service_admin.position', {'id' : service.id, 'position': service.position - 1}) }}"><span class="glyphicon glyphicon-arrow-up"></span></a>
            {% endif %}
            {% if not loop.last %}
                <a href="{{ url('rdw_service.service_admin.position', {'id' : service.id, 'position': service.position + 1}) }}"><span class="glyphicon glyphicon-arrow-down"></span></a>
            {% endif %}
        </div>
        <div class="col-xs-2 pull-right">
            <a class="btn btn-default" href="{{ url('rdw_service.service_admin.edit', {'id' : service.id}) }}"> {{ 'Edit'|trans }}</a>
        </div>
    </div>
{% endfor %}


