{% extends('::backend.html.twig') %}

{% block content %}

    <h1>{{ 'Your changes will be saves to database. Confirm services update'|trans }}</h1>
    <form method="post" action="{{ url('rdw_service.service_admin.confirm_save') }}">
        {% for id, service in services %}
            <div class="row form-group">
                <div class="col-xs-8">
                    <input readonly="readonly" value="{{ service.title }}" name="rdw_services[{{ id }}][title]" type="text" class="form-control" placeholder=".col-xs-2">
                </div>
                <div class="col-xs-3 input-group">
                    <input readonly="readonly" type="text" value="{{ service.price }}" name="rdw_services[{{ id }}][price]" class="form-control" placeholder=".col-xs-4">
                    <span class="input-group-addon">{{ 'rub.'|trans }}</span>
                </div>
            </div>
        {% endfor %}
        <a href="{{ url('rdw_service.service_admin.list') }}" class="btn btn-default">{{ 'Back'|trans }}</a>
        <button value="confirm" name="confirm" type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
    </form>

{% endblock content %}
