{% extends '::backend.html.twig' %}

{% block content %}
    <div class="row">

        {{ form_start(form, {'action': path('rdw_service.service_admin.edit', {'id' : service.id}), 'method': 'POST' }) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <input type="submit" value="{{ 'Edit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
