{% extends('::backend.html.twig') %}

{% block content %}

    <div class="row">
        <div class="pull-right">
            <a href="{{ printable_url('rdw_service.service_admin.list') }}" class="btn btn-primary" target="_blank">{{ 'Print'|trans }}</a>
        </div>
    </div>

    <h1>{{ 'Services'|trans }}</h1>

    <form method="post" action="{{ url('rdw_service.service_admin.confirm_save') }}">
        <h2>{{ 'Employer services'|trans }}</h2>
        {% include 'RDWServiceBundle:ServiceAdmin:_service_row.html.twig' with { 'services' : employerServices } %}
        <hr />
        <h2>{{ 'Employee services'|trans }}</h2>
        {% include 'RDWServiceBundle:ServiceAdmin:_service_row.html.twig' with { 'services' : employeeServices } %}
        <button type="submit" class="btn btn-primary">{{ 'Continue'|trans }}</button>
    </form>
{% endblock content %}
{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@RDWServiceBundle/Resources/public/js/onlyDigitsHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}

