{% extends "::pdf.html.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'Services list'|trans }}
        </div>
    </div>
    <table>
    {% for service in services %}
        <tr>
            <td>{{ service.title }}</td>
            <td>{{ service.price }} {{ 'rub.'|trans }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
