<h2 class="h1 big">{{ 'JOB'|trans }}
	<span class="black">{{ 'by city'|trans }}</span>
</h2>
<div class="by_cities">
	{% for city in cities %}
		{% if city.titleInlatin|length %}
			<a href="{{ path('rdw_subdomain_jobs',{'city': city.titleInlatin}) }}">
				<div class="item_city" style="background: url('{{ city.uploadDir ~ '/' ~ city.path}} '); background-size: cover">
					<p class="city_info">
						<span class="city_name">{{  city.titleWhere }}</span><br>
						<span class="city_count">{{ city.entitiesCount }} {{ 'vakansii'|trans }}</span>
					</p>
				</div>
			</a>
		{% endif %}
	{% endfor %}
</div>