{% from 'RDWAppBundle::misc.html.twig' import popular_block %}

<ul class="tags_block clearfix">
    <li>
        <h2 class="h1 big">{{ 'JOB'|trans }}
            <span class="black">{{ 'by city'|trans }}</span>
        </h2>
        <ul class="tags">
            {% for city in cities %}
                {% if city.titleInlatin|length %}
                    <li>
                        <a href="{{ path('rdw_subdomain_jobs',{'city': city.titleInlatin}) }}">
                            {{ 'Job in'|trans }} {{ city.titleWhere }}
                        </a> ({{ city.entitiesCount }})
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li>
        <h2 class="h1 big pa-foot">{{ 'JOB'|trans }}
            <span class="black">{{ 'by pa'|trans }}</span>
        </h2>
        {{ popular_block(professionalAreas, 'rdw_job.job.by_filter_value') }}
    </li>
    <li>
        <h2 class="h1 big">{{ 'JOB'|trans }}
            <span class="black">{{ 'by position'|trans }}</span>
        </h2>
        {{ popular_block(positions, 'rdw_job.job.by_filter_value') }}
    </li>
    <li>
        <h2 class="h1 big">{{ 'JOB'|trans }}
            <span class="black">{{ 'by type'|trans }}</span>
        </h2>
        <ul class="tags">
            {% for item in customPopularItems %}
                <li><a href="{{ path('rdw_job.job.by_filter_value', { slug: item.item|slug  }) }}">{{ item.title }}</a>
                    ({{ item.total }})
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
