{% extends "::base.html.twig" %}

{% form_theme form 'RDWSearchBundle:Fields:fields.html.twig' %}

{% block content %}

    <div class="txt_container clearfix">
        <form action="{{ path('rdw_job.job.list') }}" role="form">

            <h2><span class="txt"><strong>/</strong> Мои данные</span></h2>


            <div class="icon_4 hide-select2-values">
                {{ form_label(form.positions) }}
                {{ form_widget(form.positions, { 'attr': { 'class': 'search-main-multi-select2', 'data-placeholder': 'Positions'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'cv_position' }) } }) }}
            </div>


            <div class="icon_3 hide-select2-values">
                {{ form_label(form.scopes) }}
                {{ form_widget(form.scopes, { 'attr': { 'class': 'search-main-multi-select2', 'data-placeholder': 'Sopes'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'scopes' }) } }) }}
            </div>

            <div>
                {{ form_label(form.gender) }}
                {{ form_widget(form.gender) }}
            </div>
            <div>
                <label for="{{ form.ageFrom.vars.id }}" class="label_1">{{ 'Age'|trans }}</label>
                {{ form_widget(form.ageFrom) }}
                <span class="txt">&ndash;</span>
                {{ form_widget(form.ageTo) }}
            </div>
            <div>
                <label for="{{ form.salaryFrom.vars.id }}" class="label_1">{{ 'Salary'|trans }}</label>
                {{ form_widget(form.salaryFrom) }}
                <span class="txt">&ndash;</span>
                {{ form_widget(form.salaryTo) }}
            </div>

            <div>
                {{ form_label(form.workExperienceType) }}
                <div class="select expanded">
                    {{ form_widget(form.workExperienceType) }}
                </div>
            </div>
            <div>
                {{ form_label(form.educationType) }}
                <div class="select expanded">
                    {{ form_widget(form.educationType) }}
                </div>
            </div>
            <div>
                {{ form_label(form.employmentType) }}
                <div class="select expanded">
                    {{ form_widget(form.employmentType) }}
                </div>
            </div>

            <div>
                {{ form_label(form.workScheduleType) }}
                <div class="select expanded">
                    {{ form_widget(form.workScheduleType) }}
                </div>
            </div>
            <div>
                {{ form_label(form.businessTrip) }}
                <div class="select expanded">
                    {{ form_widget(form.businessTrip) }}
                </div>
            </div>

            <div>
                {{ form_label(form.language) }}
                {{ form_widget(form.language, { 'attr': { 'class': 'search-advanced-multi-select2', 'data-placeholder': 'Language'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'languages' }) } }) }}
            </div>

            <div>
                {{ form_label(form.driverLicenseCategory) }}
                <div class="select expanded">
                    {{ form_widget(form.driverLicenseCategory) }}
                </div>
            </div>

            <div>
                {{ form_label(form.hasCar) }}
                {{ form_widget(form.hasCar) }}
            </div>
        </form>
    </div>
{% endblock %}