{% from 'RDWUserBundle:Profile:macros.html.twig' import youtube_video_iframe %}
{% from 'RDWAppBundle::misc.html.twig' import thumb_delete_link %}

{% form_theme form ':form/base:fields.html.twig' %}

{% if not form.vars.valid %}
    <div class="alert alert-danger">
        {{ 'Not all required fields are filled'|trans }}
        {{ form_errors(form) }}
    </div>
{% endif %}

{{ form_start(form, { 'action': action, 'method': method, 'attr': {'novalidate': 'novalidate'} }) }}

<h2><span class="txt"><strong>/</strong> {{ 'My profile'|trans }}</span></h2>

<ul class="default_form clearfix">
    <li>
        <label class="label_1 img">{{ 'Profile photo'|trans }}:</label>
        <div class="options_box">
            {{ form_widget(
            form.uploadPhoto, {
                'label': false,
                'attr':{
                    'data-url': oneup_uploader_endpoint('cv_image'),
                    'data-type': 'image',
                    'data-handler': 'photoUploadHandler',
                    'data-file-element': form.photo.vars.id,
                    'data-result-element': '#uploaded-' ~ form.uploadPhoto.vars.id,
                    'data-filter': 'user_thumb',
                    'data-old-photo-element': '#uploader-old-photo',
                    'class' : 'input'
                }
            }
            ) }}
            {% if cv.photo %}
                {{ thumb_delete_link('cv', cv.photo, form.photo.vars.id, form.uploadPhoto.vars.id) }}
            {% endif %}
        </div>
    </li>

    {{ form_row(form.name) }}
    {{ form_row(form.patronymic) }}
    {{ form_row(form.surname) }}

    <li>
        {{ form_label(form.birthday, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        {{ form_widget(form.birthday.day, { 'attr' : { 'data-field' : form.birthday.vars.full_name, 'data-handler' : 'ageCounter', 'class' : 'el_84' } }) }}
        {{ form_widget(form.birthday.month, { 'attr' : { 'data-field' : form.birthday.vars.full_name, 'data-handler' : 'ageCounter', 'class' : 'el_84' } }) }}
        {{ form_widget(form.birthday.year, { 'attr' : { 'data-field' : form.birthday.vars.full_name, 'data-handler' : 'ageCounter', 'class' : 'el_84' } }) }}
        {{ form_errors(form.birthday) }}
    </li>

    <li>
        {{ form_label(form.age, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
        <span id="age-value" class="label_txt">{% if form.vars.value.age %}{{ form.vars.value.age }}{% endif %}</span>
        {% do form.age.setRendered %}
    </li>

    <li>
        {{ form_label(form.gender, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <div class="options_box inline">
            {{ form_widget(form.gender) }}
        </div>
        {{ form_errors(form.gender) }}
    </li>

    {{ form_widget(form.cities) }}

    <li>
        {{ form_label(form.contactPersonPhones, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <ul class="default_form sub-form" id="contact-phones-fields-list" {% if action %} data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_contact_phones.html.twig', { 'form': form.contactPersonPhones.vars.prototype, 'allow_delete' : form.contactPersonPhones.vars.allow_delete  }) }}{% endfilter %}"{% endif %}>
            {% for phone in form.contactPersonPhones %}
                {% set allow_delete = (not loop.first and form.contactPersonPhones.vars.allow_delete) %}
                <li>{{ include('RDWAppBundle:Form:_prototype_contact_phones.html.twig', { 'form': phone, 'allow_delete' : allow_delete}) }}</li>
            {% endfor %}
        </ul>
    </li>
    {% if action %}
        <li class="form-collection-add-field">
            <span class="spacer">&nbsp;</span>
            <a href="#" class="add-field" data-handler="form-collection" data-autoinit data-collection="contact-phones-fields-list">+ {{ 'Add phone'|trans }}</a>
        </li>
    {% endif %}
    {% do form.contactPersonPhones.setRendered %}

    {{ form_row(form.email) }}

    {{ form_row(form.otherInformation) }}
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>

    {{ form_row(form.youtubeVideo) }}
    <li>
        <span class="spacer">&nbsp;</span>
        {% if form.youtubeVideo.vars.value is not empty  %}
            <div class="profile_video">
                {{ youtube_video_iframe(form.youtubeVideo.vars.value, 280, 200)}}
            </div>
        {% endif %}
    </li>
    <li>
        <span class="spacer">&nbsp;</span>
        <div class="options_box inline">
            <label for="f7" class="label_2">
                {{ form_widget(form.mainInfoHidden) }} {{ form.mainInfoHidden.vars.label|trans }}
            </label>
        </div>
    </li>
</ul>

<h2 class="toggle"><span class="txt"><strong>/</strong> {{ 'Social media'|trans }}</span></h2>
<ul class="default_form clearfix">
    {{ form_row(form.skypeContact) }}
    {{ form_row(form.fbContact) }}
    {{ form_row(form.vkContact) }}
    {{ form_row(form.okContact) }}
    {{ form_row(form.gPlusContact) }}
    {{ form_row(form.linkedInContact) }}
    {{ form_row(form.twitterContact) }}
    <li>
        <span class="spacer">&nbsp;</span>
        <div class="options_box inline">
            <label for="f7" class="label_2">
                {{ form_widget(form.socialInfoHidden) }} {{ form.socialInfoHidden.vars.label|trans }}
            </label>
        </div>
    </li>
</ul>

<h2><span class="txt"><strong>/</strong> {{ 'Expectations for job'|trans }}</span></h2>
<ul class="default_form clearfix">
    {{ form_row(form.position) }}
    {{ form_row(form.professionalArea) }}
    {{ form_row(form.scope) }}
    {{ form_row(form.workingPlaceCity) }}
    {{ form_row(form.workScheduleType) }}
    <li>
        <label for="c8" class="label_1 required">{{ 'Salary'|trans }}:</label>
        {{ form_widget(form.salaryFrom) }}
        <span class="txt_sep">—</span>
        {{ form_widget(form.salaryTo) }}

        {% if form.salaryFrom.vars.errors|length > 0 or form.salaryTo.vars.errors|length > 0  %}
            <span class="error_txt">
                <span>{{ 'Salary cannot be empty or longer than 8 characters length'|trans }}</span>
            </span>
        {% endif %}
    </li>

    {{ form_row(form.employmentType) }}
</ul>

<h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Education'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        {{ form_label(form.educations, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <ul id="educations-fields-list" class="default_form" data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_education.html.twig', { 'form': form.educations.vars.prototype, 'allow_delete' : form.educations.vars.allow_delete }) }}{% endfilter %}">
            {% for education in form.educations %}
                <li>{{ include('RDWAppBundle:Form:_prototype_education.html.twig', { 'form': education, 'allow_delete' : form.educations.vars.allow_delete }) }}</li>
            {% endfor %}
        </ul>
        {{ form_errors(form.educations) }}
    </li>
    <li class="form-collection-add-field">
        <span class="spacer">&nbsp;</span>
        <a href="#" class="add-field" data-handler="form-collection" data-autoinit data-collection="educations-fields-list">+ {{ 'Add education'|trans }}</a>
    </li>
    {% do form.educations.setRendered %}
</ul>

<h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Further education'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        {{ form_label(form.trainings, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <ul id="trainings-fields-list" class="default_form" data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_training.html.twig', { 'form': form.trainings.vars.prototype, 'allow_delete' : form.trainings.vars.allow_delete }) }}{% endfilter %}">
            {% for training in form.trainings %}
                <li>{{ include('RDWAppBundle:Form:_prototype_training.html.twig', { 'form': training, 'allow_delete' : form.trainings.vars.allow_delete }) }}</li>
            {% endfor %}
        </ul>
        {{ form_errors(form.trainings) }}
    </li>
    <li class="form-collection-add-field">
        <span class="spacer">&nbsp;</span>
        <a href="#" class="add-field" data-handler="form-collection" data-autoinit data-collection="trainings-fields-list">+ {{ 'Add further education'|trans }}</a>
    </li>
    {% do form.trainings.setRendered %}
</ul>

<h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Work experience'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        <span class="spacer">&nbsp;</span>
        <div class="options_box inline">
            <label for="f7" class="label_2">
                {{ form_widget(form.withoutWorkExperience) }} {{ 'Without work experience'|trans }}
            </label>
        </div>
    </li>
</ul>

<ul class="default_form clearfix {% if (cv.workExperienceType is null and form.withoutWorkExperience.vars.data) %}hidden{% endif %}">
    <li>
        {{ form_row(form.workExperienceType) }}
    </li>
    <li class="info-block">
        <span class="spacer">&nbsp;</span>
        <span>{{ 'Specify your experience from your last job'|trans }}</span>
    </li>
    <li>
        {{ form_label(form.workExperience, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <ul id="workExperience-fields-list" class="default_form no-padding" data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_workExperience.html.twig', { 'form': form.workExperience.vars.prototype, 'allow_delete' : form.workExperience.vars.allow_delete }) }}{% endfilter %}">
            {% for work in form.workExperience %}
                <li>{{ include('RDWAppBundle:Form:_prototype_workExperience.html.twig', { 'form': work, 'allow_delete' : form.workExperience.vars.allow_delete}) }}</li>
            {% endfor %}
        </ul>
        {{ form_errors(form.workExperience) }}
    </li>
    <li class="form-collection-add-field">
        <span class="spacer">&nbsp;</span>
        <a href="#" class="add-field" data-handler="form-collection" data-autoinit data-collection="workExperience-fields-list">+ {{ 'Add work experience'|trans }}</a>
    </li>
    {% do form.workExperience.setRendered %}
</ul>

<h2><span class="txt"><strong>/</strong> {{ 'Other data'|trans }}</span></h2>
<ul class="default_form clearfix">
    {{ form_row(form.professionalSkill) }}
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>
    {{ form_row(form.computerSkill) }}
    <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>
    <li>
        {{ form_label(form.languages, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <ul id="languages-fields-list" class="default_form" data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_languages.html.twig', { 'form': form.languages.vars.prototype, 'allow_delete' : form.languages.vars.allow_delete }) }}{% endfilter %}">
            {% for language in form.languages %}
                <li>{{ include('RDWAppBundle:Form:_prototype_languages.html.twig', { 'form': language, 'allow_delete' : form.languages.vars.allow_delete }) }}</li>
            {% endfor %}
        </ul>
        {{ form_errors(form.languages) }}
    </li>
    <li class="form-collection-add-field">
        <span class="spacer">&nbsp;</span>
        <a href="#" class="add-field" data-autoinit data-handler="form-collection" data-collection="languages-fields-list">+ {{ 'Add language'|trans }}</a>
    </li>
    {% do form.languages.setRendered %}

    {{ form_row(form.businessTrip) }}

    <li>
        {{ form_label(form.driverLicenseCategories, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <div class="options_box">
            {{ form_widget(form.driverLicenseCategories) }}
        </div>
        {{ form_errors(form.driverLicenseCategories) }}
    </li>

    <li>
        {{ form_label(form.haveCar, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        <div class="options_box inline">
            {{ form_widget(form.haveCar) }}
        </div>
        {{ form_errors(form.haveCar) }}
    </li>

    {{ form_row(form.maritalStatus) }}
    {{ form_row(form.children) }}
</ul>

<h2><span class="txt"><strong>/</strong> {{ 'Attached Cv'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        <span class="spacer">&nbsp;</span>
        <div class="options_box">
            {{ form_widget(
            form.uploadDocument, {
                'label': false,
                'attr': {
                    'class' : 'file_input',
                    'data-url': oneup_uploader_endpoint('cv_document'),
                    'data-type': 'file',
                    'data-handler': 'fileUploadHandler',
                    'data-file-element': form.document.vars.id,
                    'data-result-element': '#uploaded-' ~ form.uploadDocument.vars.id,
                    'class' : 'input'
                }
            }
            ) }}
        </div>
    </li>
</ul>

<h2><span class="txt"><strong>/</strong> {{ 'CV valid till'|trans }}</span></h2>
<ul class="default_form clearfix">
    <li>
        {{ form_label(form.validTill, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
        {{ form_widget(form.validTill.day, { 'attr' : { 'class' : 'el_84' } } ) }}
        {{ form_widget(form.validTill.month, { 'attr' : { 'class' : 'el_84' } } ) }}
        {{ form_widget(form.validTill.year, { 'attr' : { 'class' : 'el_84' } } ) }}
        {{ form_errors(form.validTill) }}
    </li>
    <li>
        <span class="spacer">&nbsp;</span>
        <div class="options_box inline">
            <label for="f7" class="label_2">
                {{ form_widget(form.confidential) }} {{ form.confidential.vars.label|trans }}
            </label>
        </div>
    </li>

    {% if cv.id > 0 and cv.statusActive %}
        <li class="sep_line">
            {{ form_label(form.status, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
            {{ form_widget(form.status) }}
            {{ form_errors(form.status) }}
        </li>
    {% endif %}

    {% if action %}
        <li class="sep_line last last_fix">
            <span class="spacer visible-md">&nbsp;</span>
            {{ form_widget(form.submit, { 'attr' : { 'class' : 'url_big btn-white', 'data-handler': 'GAEventHandler', 'data-event': 'cv', 'data-action': 'save', 'data-label': 'form', 'data-value': app.user ? app.user.id : null } } ) }}
            {% if app.user %}
                {{ form_widget(form.submitAndPublish, { 'attr' : { 'class' : 'submit_big', 'data-handler': 'GAEventHandler', 'data-event': 'cv', 'data-action': 'publish', 'data-label': 'form', 'data-value': app.user.id } }) }}
            {% endif %}
        </li>
    {% endif %}
</ul>

{{ form_rest(form) }}

{{ form_end(form) }}
