<div class="txt_container clearfix">
    {% if viewers|length > 0 %}
        <table class="views_table">
            {% if cv %}
            <tr>
                <td colspan="2">
                    <span class="txt">
                        {{ 'Your cv viewed'|trans }}
                        <span class="number">{{ cv.totalViewsCount }}</span>
                        {{ 'registerd user views'|trans }}
                        <span class="number">{{ cv.usersWhoViewed|length }}</span>
                    </span>
                </td>
            </tr>
            {% endif %}
            {% for item in viewers %}
                <tr>
                    <td>
                        {% if item.user.isTypeEmployer %}
                            <a href="{{ url('rdw_user.profile.view', { 'id': item.user.id }) }}" class="url">
                                {% if item.user.companyType %}{{ item.user.companyType.title }} {% endif %}«{{ item.user.title }}»
                            </a>
                        {% else %}
                            {% if item.user.lastActiveCv %}
                                <a href="{{ url('rdw_cv.cv.view', { 'id': item.user.lastActiveCv.id, 'slug': item.user.lastActiveCv.slug }) }}" class="url">
                                    {{ item.user.name }} {{ item.user.surname }}
                                </a>
                            {% else %}
                                {{ item.user.name }} {{ item.user.surname }} {{ '(User has no active CVs)'|trans }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="time">
                        {{ item.createdAt|date('d.m.Y | H:i') }} |
                        <a href="{{ url('rdw_conversation.conversation.list_by_user', {
                            'logged_in_user_id': user.id,
                            'other_user_id': item.user.id
                        }) }}">{{ 'Conversations'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {{ 'There are no viewers'|trans }}
    {% endif %}
</div>
