{% from 'RDWAppBundle::misc.html.twig' import salary_row %}
{% from 'RDWAppBundle:Favorite:macros.html.twig' import favorite_link %}

<li class="{% if cv.isHighlighted %}highlighted{% endif %}{% if cv.isTop %} vip_color{% endif %}">
    <a class="logo" href="{{ url('rdw_cv.cv.view', {'id': cv.id, 'slug': cv.slug }) }}">
        {% if cv.photo and not cv.mainInfoHidden %}
            {% set img_seo = get_img_title(['Photo form cv'|trans, cv.position.title, cv.birthday|age, (cv.workingPlaceCity ? cv.workingPlaceCity.title : '') ]) %}
            <img title="{{ img_seo }}" alt="{{ img_seo }}" src="{{ cv.photo | rdw_thumb('cv_thumb') }}" />
        {% else %}
            <img src="{{ defaultImageUrl('cv', 'small') }}" />
        {% endif %}
    </a>
    <span class="date">{{ cv.updatedAt|date('d.m.Y | H:i') }}</span>

    <a class="url_title" href="{{ url('rdw_cv.cv.view', {'id': cv.id, 'slug': cv.slug }) }}">{{ cv.position.title }}</a>

    <span class="name">
        {{ cv.name }} {{ cv.surname }}
        {% if cv.mainInfoHidden %}
            <span class="url_info"><span class="tooltip_box">{{ 'Applicant\'s contact details are available only to registered users. Sign up or log in to your account.'|trans }}</span></span>
        {% endif %}
        {% if cv.birthday %}({{ cv.birthday|age }}){% endif %}
    </span>

    <p><span class="grey">{% if cv.lastEmployer is not empty %}{{ 'Last employer'|trans }}:</span> {{ cv.lastEmployer.position }}, {{ cv.lastEmployer.companyTitle }}{% else %}&nbsp;{% endif %}</p>

    <ul class="list">
        <li class="icon_1">
            {{ salary_row(cv.salaryFrom, cv.salaryTo, currency) }}
        </li>
        <li class="icon_5">{{ 'Education type'|trans }}:
            {% if cv.educations is not empty %}
                {% for education in cv.educations %}
                    {{ education.educationType.title }}
                {% endfor %}
            {% else %}
                {{ 'No mattter'|trans }}
            {% endif %}
        </li>
        <li class="icon_6">{{ 'Work experience'|trans }}:
            {% if cv.workExperienceType and cv.workExperienceType.title is not empty %}
                {{ cv.workExperienceType.title }}
            {% else %}
                {{ 'No matter'|trans }}
            {% endif %}
        </li>
    </ul>
    <ul class="list">
        <li class="icon_3">{% if cv.workingPlaceCity %}{{ cv.workingPlaceCity.title }}{% endif %}</li>
        <li class="icon_4">{% if cv.scope %}{{ cv.scope.title }}{% endif %}</li>
    </ul>


        <a class="url" data-url="{{ path('rdw_cv.cv_message.create', { 'id' : cv.id }) }}" data-handler="modalLink" href="#">{{ 'Send'|trans }}</a>
        <div>
            {{ favorite_link(app.user, cv) }}
        </div>
</li>
