{% if services is defined %}
    {% for service in services %}
        <a class="icon_1" href="{{ url('rdw_service.service.matrix_employee', {'id': app.user.id, 'item' : cv.id, 'service': service.id}) }}">{{ service.title }}</a>
    {% endfor %}
{% endif %}
