{% if relatedCvs.getTotalItemCount > 0 %}
    <h2 class="h1">{{ 'Related'|trans }} <span class="black">{{ 'cvs'|trans }}</span></h2>
    <ul class="job_list clearfix">
    {% for cv in relatedCvs %}
        {% include 'RDWCvBundle:Cv:_list_row.html.twig' with { 'cv' : cv } %}
    {% endfor %}
    </ul>
{% endif %}
