
{% form_theme form 'RDWSearchBundle:Fields:fields.html.twig' %}


<div class="side-filter-by-parameters-with-count">
    <p class="side-filter-by-parameters-with-count__title">отфильтровать:</p>
    {% if data["cities"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Города</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["cities"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5Bcities%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["language"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Языки</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["language"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5Blanguage%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["scope"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Отрасль</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["scope"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5Bscope%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["professionalArea"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Сфера деятельности</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["professionalArea"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5BprofessionalArea%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["position"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Вакансия</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["position"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5Bposition%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["updatedAt"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Опубликовано за</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["updatedAt"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5BcreatedAt%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["gender"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Пол</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["gender"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5BcreatedAt%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["businessTrip"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Командировка</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["businessTrip"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5BcreatedAt%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["salaryFrom"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Зарплата</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["salaryFrom"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5Bsalary%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["employmentType"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Вид занятости</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% set break = false %}
            {% for item in data["employmentType"] if not break %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5BemploymentType%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
                {% if loop.index == 10 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["workScheduleType"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Зарплата</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["workScheduleType"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5BworkScheduleType%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["hasCar"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Есть машина</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["hasCar"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5BdriverLicenseCategories%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["driverLicenseCategory"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Водительские права</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["driverLicenseCategory"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5BdriverLicenseCategories%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["educationType"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Образование</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["educationType"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5Beducation%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data["workExperienceType"] is defined %}
        <p class="side-filter-by-parameters-with-count__list-title closed">Стаж</p>
        <ul class="side-filter-by-parameters-with-count__list">
            {% for item in data["workExperienceType"] %}
                <li class="side-filter-by-parameters-with-count__list-item">
                    <a href="/resumes?&jobs%5BcreatedAt%5D={{ item.value }}" class="side-filter-by-parameters-with-count__list-link">{{ item.title }}</a><span>{{ item.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>