{% from 'RDWUserBundle:Profile:macros.html.twig' import youtube_video_iframe %}

<div class="about_me hidden-xs hidden-sm">

    {% if cv.isPublic or (cv.isPublished and app.user and is_granted('ROLE_REGISTERED')) %}
        {% if cv.photo and not cv.mainInfoHidden %}
            {% set img_seo = get_img_title(['Photo form cv'|trans, cv.position.title, cv.birthday|age, (cv.workingPlaceCity ? cv.workingPlaceCity.title : '') ]) %}
            <img src="{{ cv.photo | rdw_thumb('cv_thumb_big') }}" />
        {% endif %}
    {% endif %}

    <div class="box">
        <span class="name">
        {{ cv.name }} {{ cv.surname }}
        {% if cv.mainInfoHidden %}
            <span class="url_info"><span class="tooltip_box">{{ 'Applicant\'s contact details are available only to registered users. Sign up or log in to your account.'|trans }}</span></span>
        {% endif %}
        </span>
        {{ 'Birthday'|trans }}: {{ cv.birthday|date('d.m.Y') }}
    </div>
</div>

<div class="about_me_big">
    {% if cv.otherInformation %}
        <h4><span>{{ 'Other information'|trans }}</span></h4>
        <p>{{ cv.otherInformation }}</p>
    {% endif %}

    {% if cv.isPublic or (cv.isPublished and app.user and is_granted('ROLE_REGISTERED')) %}
        {% if cv.hasVideo() and not cv.mainInfoHidden %}
            <div class="profile_video">{{ youtube_video_iframe(cv.youtubeVideo, 210, 150)}}</div>
        {% endif %}
    {% endif %}

    <div class="hidden-xs hidden-sm">
        <h4><span>{{ 'Contacts'|trans }}</span></h4>
        <ul class="list">
            <li><span class="title">{{ 'Phone'|trans }}:</span> {{ cv.phonesAsString }}</li>
            <li>
                <span class="title">{{ 'Email'|trans }}:</span>
                {% if not cv.mainInfoHidden %}<a href="mailto:{{ cv.email }}">{% endif %}
                    {{ cv.email }}
                {% if not cv.mainInfoHidden %}</a>{% endif %}
            </li>
            {% if cv.skypeContact %}
                <li>
                    <span class="title">{{ 'Skype contact'|trans }}:</span>
                    {% if not cv.socialInfoHidden %}
                        <a href="skype:{{ cv.skypeContact }}">{{ cv.skypeContact }}</a>
                    {% else %}
                        {{ cv.skypeContact }}
                    {% endif %}
                </li>
            {% endif %}
            {% if cv.isPublished and app.user and is_granted('ROLE_REGISTERED') and not cv.socialInfoHidden %}
            <li>
                <span class="title">{{ 'My profiles'|trans }}:</span>
                {% if cv.vkContact %}
                    <a href="{{ cv.vkContact }}" class="url icon_1"></a>
                {% endif %}
                {% if cv.fbContact %}
                    <a href="{{ cv.fbContact }}" class="url icon_2"></a>
                {% endif %}
                {% if cv.okContact %}
                    <a href="{{ cv.okContact }}" class="url icon_3"></a>
                {% endif %}
                {% if cv.linkedInContact %}
                    <a href="{{ cv.linkedInContact }}" class="url icon_4"></a>
                {% endif %}
                {% if cv.gPlusContact %}
                    <a href="{{ cv.gPlusContact }}" class="url icon_5"></a>
                {% endif %}
                {% if cv.twitterContact %}
                    <a href="{{ cv.twitterContact }}" class="url icon_6"></a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </div>
</div>
