{% from 'RDWAppBundle::misc.html.twig' import date_translation %}

{% if cv.workExperience|length > 0 %}
    <h2><span class="txt"><strong>/</strong> {{ 'Work experience'|trans }}</span></h2>
    {% for work in cv.workExperience %}
        <h3>{{ work.position }}</h3>
        <p>
            <span class="small">{{ date_translation(work.dateFrom, 'MMMM, Y') }} {% if work.dateTo %}- {{ date_translation(work.dateTo, 'MMMM, Y') }}{% endif %}</span>
            {% if work.companyTitle %}{{ work.companyTitle}}{% endif %} {% if work.scope %}({{ work.scope.title }}){% endif %}
            {{ work.additionalInfo }}
        </p>
    {% endfor %}
{% endif %}

{% if cv.educations|length > 0 %}
    <h2><span class="txt"><strong>/</strong> {{ 'Education'|trans }}</span></h2>
    {% for education in cv.educations %}
        <h3>{{ education.educationType.title }}</h3>
        <p>
            <span class="small">{% if education.dateTo %}{{ education.dateTo|date('Y') }}{% endif %}</span>
            {{ education.institution }}{% if education.faculty %}, {{ education.faculty }}{% endif %}
            {{ education.additionalInfo }}
        </p>
    {% endfor %}
{% endif %}

{% if cv.trainings|length > 0 %}
    <h2><span class="txt"><strong>/</strong> {{ 'Further Education'|trans }}</span></h2>
    {% for training in cv.trainings %}
        <h3>{{ training.institution }}</h3>
        <p>
            <span class="small">{% if training.dateTo %}{{ training.dateTo|date('Y') }}{% endif %}</span>
            {{ training.additionalInfo }}
        </p>
    {% endfor %}
{% endif %}

{% if cv.professionalSkill %}
    <h2><span class="txt"><strong>/</strong> {{ 'Professional skill'|trans }}</span></h2>
    <p>{{ cv.professionalSkill }}</p>
{% endif %}

{% if cv.languages|length > 0 %}
    <h2><span class="txt"><strong>/</strong> {{ 'Languages'|trans }}</span></h2>
    <ul>
        {% for language in cv.languages %}
            <li>
                {{ language.language.title }} - {{ language.level.title }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if cv.businessTrip %}
    <h2><span class="txt"><strong>/</strong> {{ 'Business trip possibility'|trans }}</span></h2>
    <p>{% if cv.businessTrip %}{{ cv.businessTrip.title|trans }}{% endif %}</p>
{% endif %}

{% if cv.driverLicenseCategories|length > 0 %}
    <h2><span class="txt"><strong>/</strong> {{ 'Driver license'|trans }}</span></h2>
    <ul>
        {% if cv.driverLicenseCategories|length > 0 %}<li>{{ 'Driver license category'|trans }} - {{ cv.driverLicenseCategories.getValues()|join(', ') }}</li>{% endif %}
        {% if cv.haveCar %}<li>{{ 'Have personal car'|trans }}</li>{% endif %}
    </ul>
{% endif %}

{% if cv.computerSkill %}
    <h2><span class="txt"><strong>/</strong> {{ 'Computer skill'|trans }}</span></h2>
    <p>{{ cv.computerSkill }}</p>
{% endif %}

{% if cv.maritalStatus %}
    <h2><span class="txt"><strong>/</strong> {{ 'Family status'|trans }}</span></h2>
    <ul>
        {% if cv.maritalStatus %}<li>{{ 'Marital status'|trans }} - {{ cv.maritalStatus.title }}</li>{% endif %}
        {% if cv.children is not null %}
            <li>{{ 'Children'|trans }} - {% if cv.children > 0 %}{{ cv.children }} {% else %} {{ "Don't have"|trans }}{% endif %}</li>
        {% endif %}
    </ul>
{% endif %}


<h2><span class="txt"><strong>/</strong> {{ 'Contact info'|trans }}</span></h2>

<div class="quick_info_bottom clearfix">
    <div class="box_1">
        {% set img_seo = get_img_title(['Photo form cv'|trans, cv.position.title, cv.birthday|age, (cv.workingPlaceCity ? cv.workingPlaceCity.title : '') ]) %}
        <span class="foto">
        {% if cv.photo and not cv.mainInfoHidden %}
            <img src="{{ cv.photo | rdw_thumb('contact_thumb') }}" />
        {% else %}
            <img src="{{ defaultImageUrl('cv') }}" class="no-contact-person" />
        {% endif %}
        </span>
        <div class="share_block">
            <span class="txt">{{ 'Share via social'|trans }}:</span>
            {% import 'RDWAppBundle::social.html.twig' as social %}
            {{ social.vk_share(app.request.uri) }}
            {{ social.fb_share(app.request.uri, cv.position.title) }}
            {{ social.ok_share(app.request.uri) }}
            {{ social.twitter_share(app.request.uri, cv.position.title) }}
            {{ social.gp_share(app.request.uri) }}
        </div>
    </div>
    <div class="box_2">
        <span class="name">{{ cv.name }} {{ cv.surname }}</span>
        <ul class="list">
            <li><span class="title">{{ 'Phone'|trans }}</span> {{ cv.phonesAsString }}</li>
            <li>
                <span class="title">{{ 'Email'|trans }}</span>
                {% if not cv.mainInfoHidden %}<a href="mailto:{{ cv.email }}">{% endif %}
                    {{ cv.email }}
                {% if not cv.mainInfoHidden %}</a>{% endif %}
            </li>
            {% if cv.skypeContact %}
            <li>
                <span class="title">{{ 'Skype contact'|trans }}</span>
                {% if not cv.socialInfoHidden %}<a href="skype:{{ cv.skypeContact }}">{% endif %}
                    {{ cv.skypeContact }}
                {% if not cv.socialInfoHidden %}</a>{% endif %}
            </li>
            {% endif %}
            {% if app.user and is_granted('ROLE_EMPLOYER') %}
                <li>
                    <a href="#" class="btn-default" data-url="{{ path('rdw_cv.cv_message.create', { 'id' : cv.id }) }}" data-handler="modalLink">{{ 'Send'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
