{% from 'RDWAppBundle::misc.html.twig' import salary_row %}

<div class="quick_info clearfix">
    <ul class="icons_list">
        {% if (app.user and is_granted('ROLE_EMPLOYER') or not app.user) %}
            <li>
                <a class="icon_1" title="{{ 'Send CV message title'|trans }}" data-url="{{ path('rdw_cv.cv_message.create', { 'id' : cv.id }) }}" data-handler="modalLink" href="#"></a>
            </li>
        {% endif %}
        {% if app.user and is_granted('ROLE_EMPLOYER') %}
            <li>
                <a class="icon_2" title="{{ 'Download document'|trans }}" href="{{ cv|downloadable_cv_url }}" target="_blank"></a>
            </li>
        {% endif %}
        {% if cv.isPublic or (cv.isPublished and app.user and is_granted('ROLE_REGISTERED')) %}
            <li>
                <a class="icon_3" title="{{ 'Print PDF title'|trans }}" href="{{ printable_url('rdw_cv.cv.view', {'id': cv.id, 'slug': cv.slug }) }}" target="_blank"></a>
            </li>
            {% if app.user and is_granted('ROLE_REGISTERED') %}
                <li>
                    <a class="icon_4" title="{{ 'Abuse title'|trans }}" data-url="{{ url('rdw_cv.abuse.new', {'id': cv.id}) }}" data-handler="modalLink" href="#"></a>
                </li>
            {% endif %}
        {% endif %}
        {% if app.user and is_granted('ROLE_EMPLOYER') %}
        <li>
            {% if not hasFavorite(app.user, cv) %}
                <a class="icon_5" title="{{ 'Add to favorites title'|trans }}" data-url="{{ url('rdw_user.favorite.add', {'adId': cv.id, 'type' : 'cv'}) }}" data-handler="manageFavorite" data-title-oposite="{{ 'Remove from favorite'|trans }}" href="#"></a>
            {% else %}
                <a class="icon_5 act" title="{{ 'Remove from favorites title'|trans }}" data-url="{{ url('rdw_user.favorite.remove', {'adId': cv.id, 'type' : 'cv'}) }}" data-handler="manageFavorite" data-title-oposite="{{ 'Add to favorite'|trans }}" href="#"></a>
            {% endif %}
        </li>
        {% endif %}
    </ul>

    <span class="date">{{ cv.updatedAt|date('d.m.Y | H:i') }}</span>
    <h1>{{ cv.position.title }}</h1>

    <span class="name {{ cv.gender }}">
        {{ cv.name }} {{ cv.surname }}
        {% if cv.mainInfoHidden %}
            <span class="url_info"><span class="tooltip_box">{{ 'Applicant\'s contact details are available only to registered users. Sign up or log in to your account.'|trans }}</span></span>
        {% endif %}
        {% set cv_age = cv.birthday|age %}
        {% if cv_age %}({{ cv_age }} {{ age_text(cv_age)}}){% endif %}
        {% if cv.lastEmployer %}<span class="small"><span class="grey">{{ 'Last employer'|trans }}:</span> {{ cv.lastEmployer.position }}, {{ cv.lastEmployer.companyTitle }}</span>{% endif %}
    </span>

    <div class="clear"></div>
    <ul class="list">
        <li class="icon_1">
            {{ salary_row(cv.salaryFrom, cv.salaryTo, currency) }}
        </li>
        <li class="icon_2">{% if cv.workScheduleType %}{{ cv.workScheduleType.title }}{% else %}{{ 'Not important'|trans }}{% endif %}</li>
        {% if cv.workingPlaceCity %}<li class="icon_3">{{ cv.workingPlaceCity.title }}</li>{% endif %}
        {% if cv.scope %}<li class="icon_4">{{ cv.scope.title }}</li>{% endif %}
    </ul>

    {% if cv.isPublic or (cv.isPublished and app.user and is_granted('ROLE_REGISTERED')) %}
        <div class="box">
            {% if cv.document %}
                <a class="url_download" href="{{ cv.document | rdw_file('document') }}" class="btn btn-default" target="_blank">{{ icon('save') }} {{ 'Download attached CV'|trans }}</a>
            {% endif %}
            <div class="clear"></div>
            {% if app.user and is_granted('ROLE_EMPLOYER') %}
                <a href="#" class="btn-default" data-url="{{ path('rdw_cv.cv_message.create', { 'id' : cv.id }) }}" data-handler="modalLink">{{ 'Send'|trans }}</a>
            {% endif %}
        </div>
    {% endif %}
</div>
