{% from 'RDWAppBundle::misc.html.twig' import salary_row %}
{% from 'RDWAppBundle:Favorite:macros.html.twig' import favorite_link %}

{% if orderItems %}
    <h1>{{ 'New'|trans }}<span class="black"> {{ 'cvs'|trans }}</span></h1>

    <div class="home_slider clearfix">
        <ul class="bx_home_slider">
            {% for orderItem in orderItems %}
                {% set cv = orderItem.item %}
                <li>
                    {{ favorite_link(app.user, cv) }}
                    <a href="{{ url('rdw_cv.cv.view', {'id': cv.id, 'slug': cv.slug }) }}" class="url">{{ cv.position.title|slice(0, 20) }}</a>
                    <span class="txt">{{ cv.name }} {{ cv.surname }} ({{ cv.birthday|age }})</span>
                    {% if cv.scope %}
                        <a href="{{ url('rdw_cv.cv.view', {'id': cv.id, 'slug': cv.slug }) }}" class="txt">{{ cv.scope.title|slice(0, 30) }}</a>
                    {% endif %}
                    <div class="bottom_row">
                        {% if cv.workingPlaceCity %}<a href="{{ url('rdw_cv.cv.view', {'id': cv.id, 'slug': cv.slug }) }}" class="location">{{ cv.workingPlaceCity.title }}</a>{% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
