{% extends "::base.html.twig" %}

{% block content %}
    {{ include('RDWCvBundle:Cv:_promote.html.twig') }}

    <h2 class="h1">{{ 'Edit cv'|trans }} <span class="black">{{ cv.name }} {{ cv.surname }}</span></h2>

    <div class="sort_block clearfix">
        <a href="{{ url('rdw_cv.cv.my_list') }}" class="url_back">{{ 'Back'|trans }}</a>
    </div>
    <div class="txt_container clearfix">
        {% include 'RDWCvBundle:Cv:_form.html.twig' with { 'action': url('rdw_cv.cv.update', { 'id':cv.id }), 'method' : 'POST' } %}
    </div>
    <div class="sort_block clearfix">
        <a href="{{ url('rdw_cv.cv.my_list') }}" class="url_back">{{ 'Back'|trans }}</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.countAgeHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
