{% extends '::base.html.twig' %}

{% block content %}
    {{ render(controller('RDWCvBundle:Cv:carousel')) }}

    {% if text %}
        <div class="info_graf">
            {{ text.content|raw }}
        </div>
    {% endif %}

    {% include "RDWAppBundle::_mobile_banner_clearfix.html.twig" %}
    {{ render_esi(controller('RDWAppBundle:PopularAd:footerBlock', {'type': 'cv'})) }}
{% endblock %}

{# required for to add/remove job to/from favorites #}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.manageFavoriteHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
