<div class="small_container clearfix">
    <h2>
        <strong>/</strong> {{ 'views'|trans }}
    </h2>
    {% if not cvs|length > 0 %}<span class="info_txt">{{ 'None of your cvs have been viewed'|trans }}</span>{% endif %}
    <div class="clear"></div>
    {% if cvs|length > 0 %}
        <ul class="list type_2 clearfix">
            {% for cv in cvs %}
                <li>
                    <a href="{{ url('rdw_cv.cv.view', { 'id': cv.id, 'slug': cv.slug }) }}">
                        <strong>{{ cv.position.title }}{% if cv.workingPlaceCity %} / {{ cv.workingPlaceCity.title }}{% endif %}</strong>
                    </a>
                    {% set registeredViewsCount = cv.usersWhoViewed|length %}
                    {% set totalViewsCount = cv.totalViewsCount %}
                    {% if totalViewsCount > 0 %}
                        <span class="txt">
                            {{ 'Your CV viewed'|trans }}
                            <span class="number">{{ totalViewsCount }}</span>
                            {{ 'registerd user views'|trans }}
                            <span class="number">{{ registeredViewsCount }}</span>
                        </span>
                        <ul class="sub_list clearfix">
                            {% for viewer in cv.usersWhoViewed %}
                                <li>
                                    <span class="date">{{ viewer.createdAt|date('M d') }}</span>
                                    <span class="title">{% if viewer.user.companyType %}{{ viewer.user.companyType.title }} {% endif %}«{{ viewer.user.title }}»</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="sep_line"></div>
        <a href="{{ path('rdw_cv.cv.users_who_viewed_list', { 'id': app.user.id }) }}" class="url">{{ 'All views'|trans }}</a>
    {% endif %}
</div>
