{% extends "::base.html.twig" %}

{%- block title -%}
    {{ meta_title(form, app.request.host) }}
{%- endblock -%}

{% block content %}

    {# Not found in html #}
    {#
    {% if pagination.getTotalItemCount > 0 %}
        <div>
            <a href="{{ url('rdw_subscription.subscription.subscribe', {'user_id': app.user.id, 'type': 'cv'}) }}" class="btn btn-default">{{ 'Subscribe'|trans }}</a>
        </div>
    {% endif %}
    #}

    {% if title(form, app.request.host) %}
        <h1>{{ title(form, app.request.host) }}</h1>
    {% endif %}
    <h5><span class="hidden-xs">{{ 'CV list'|trans }}:</span> <span class="color">{{ 'Found'|trans }} <span class="black">{{ pagination.getTotalItemCount }}</span></span></h5>

        {% if pagination.getTotalItemCount > 0 %}

            {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}

            <div class="temp_msg">
                {{ 'You can filter the list of results with function'|trans|raw }}
                <a href="#" data-handler="advanced-search" class="url">{{ 'advanced search'|trans }}</a>
                <a href="#" class="url_close"></a>
            </div>

            {% include 'RDWCvBundle:Cv:_list_sorter.html.twig' %}

            <ul class="job_list clearfix">
            {% for cv in pagination %}
                {{ include('RDWCvBundle:Cv:_list_row.html.twig') }}
            {% endfor %}
            </ul>

            {% include 'RDWCvBundle:Cv:_list_sorter.html.twig' %}

            {{ knp_pagination_render(pagination, 'RDWAppBundle:Pagination:pagination.html.twig') }}
        {% else %}
            <div class="txt_container clearfix">
                {{ 'No results found matched your search criterias. Please choose other options ant try search again'|trans }}
            </div>
        {% endif %}

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.manageFavoriteHandler.js'
    '@RDWCvBundle/Resources/public/js/cvList.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
