{% extends "::base.html.twig" %}

{% from 'RDWUserBundle:Profile:macros.html.twig' import youtube_video_iframe %}

{% block content %}
    <h2 class="h1">{{ 'Cv'|trans }} <span class="black">{{ cv.name }} {{ cv.surname }} ({{ cv.id }})</span></h2>

    <div class="sort_block clearfix">
        <a href="{{ url('rdw_cv.cv.my_list') }}" class="url_back">{{ 'Back'|trans }}</a>
    </div>
    <div class="txt_container clearfix">
        <h2><span class="txt"><strong>/</strong> {{ 'My profile'|trans }}</span></h2>

        <ul class="default_form clearfix">
            <li>
                <span class="label_1 img">{{ 'Profile photo'|trans }}:</span>
                <div class="options_box">
                    <div class="img_box">
                        {% if cv.photo %}
                            <div id="uploader-old-photo"><img src="{{ cv.photo | rdw_thumb('cv_thumb') }}" /></div>
                        {% endif %}
                    </div>
                </div>
            </li>
            <li>
                {{ form_row(form.name) }}
            </li>
            <li>
                {{ form_row(form.patronymic) }}
                {{ form_row(form.surname) }}
            </li>
            <li>
                {{ form_label(form.birthday, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
                {{ form_widget(form.birthday.day, { 'attr' : { 'class' : 'el_84' } }) }}
                {{ form_widget(form.birthday.month, { 'attr' : { 'class' : 'el_84' } }) }}
                {{ form_widget(form.birthday.year, { 'attr' : { 'class' : 'el_84' } }) }}
            </li>
                {{ form_row(form.age) }}
            <li>
                {{ form_label(form.gender, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="options_box inline">
                    {{ form_widget(form.gender) }}
                </div>
            </li>
            {{ form_widget(form.cities) }}
            <li>
                {{ form_label(form.contactPersonPhones, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
                <ul class="default_form sub-form" id="contact-phones-fields-list">
                    {% for phone in form.contactPersonPhones %}
                        <li>{{ include('RDWAppBundle:Form:_prototype_contact_phones.html.twig', { 'form': phone, 'allow_delete' : false}) }}</li>
                    {% endfor %}
                </ul>
            </li>

            {% do form.contactPersonPhones.setRendered %}
            <li>
                {{ form_row(form.email) }}
            </li>
            <li>
                {{ form_row(form.otherInformation) }}
            </li>
            <li>
                {{ form_row(form.youtubeVideo) }}
            </li>
            <li>
                <span class="spacer">&nbsp;</span>
                {% if form.youtubeVideo.vars.value is not empty  %}
                    <div class="profile_video">
                        {{ youtube_video_iframe(form.youtubeVideo.vars.value, 280, 200)}}
                    </div>
                {% endif %}
            </li>
            <li>
                <span class="spacer">&nbsp;</span>
                <div class="options_box inline">
                    <label for="f7" class="label_2">
                        {{ form_widget(form.mainInfoHidden) }} {{ form.mainInfoHidden.vars.label|trans }}
                    </label>
                </div>
            </li>
        </ul>

        <h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Social media'|trans }}</span></h2>
        <ul class="default_form clearfix">
            <li>
                {{ form_row(form.skypeContact) }}
            </li>
            <li>
                {{ form_row(form.fbContact) }}
            </li>
            <li>
                {{ form_row(form.vkContact) }}
            </li>
            <li>
                {{ form_row(form.okContact) }}
            </li>
            <li>
                {{ form_row(form.gPlusContact) }}
            </li>
            <li>
                {{ form_row(form.linkedInContact) }}
            </li>
            <li>
                {{ form_row(form.twitterContact) }}
            </li>
            <li>
                <span class="spacer">&nbsp;</span>
                <div class="options_box inline">
                    <label for="f7" class="label_2">
                        {{ form_widget(form.socialInfoHidden) }} {{ form.socialInfoHidden.vars.label|trans }}
                    </label>
                </div>
            </li>
        </ul>

        <h2><span class="txt"><strong>/</strong> {{ 'Expectations for job'|trans }}</span></h2>
        <ul class="default_form clearfix">
            <li>
                {{ form_row(form.position) }}
            </li>
            <li>
                {{ form_row(form.scope) }}
            </li>
            <li>
                {{ form_row(form.workingPlaceCity) }}
            </li>
            <li>
                {{ form_row(form.workScheduleType) }}
            </li>
            <li>
                <label for="c8" class="label_1">{{ 'Salary'|trans }}:</label>
                {{ form_widget(form.salaryFrom, { 'attr' : { 'class' : 'input el_123' } } ) }}
                <span class="txt_sep">—</span>
                {{ form_widget(form.salaryTo, { 'attr' : { 'class' : 'input el_123' } }) }}
            </li>

            {{ form_row(form.employmentType) }}
        </ul>

        <h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Education'|trans }}</span></h2>
        <ul class="default_form clearfix">
            <li>
                {{ form_label(form.educations, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
                {{ form_errors(form.educations) }}
                <ul id="educations-fields-list" class="default_form"{% if not form.educations.vars.disabled %} data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_education.html.twig', { 'form': form.educations.vars.prototype, 'allow_delete' : form.educations.vars.allow_delete }) }}{% endfilter %}"{% endif %}>
                    {% for education in form.educations %}
                        <li>{{ include('RDWAppBundle:Form:_prototype_education.html.twig', { 'form': education, 'allow_delete' : form.educations.vars.allow_delete }) }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% do form.educations.setRendered %}
        </ul>

        <h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Further education'|trans }}</span></h2>
        <ul class="default_form clearfix">
            <li>
                {{ form_label(form.trainings, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
                {{ form_errors(form.trainings) }}
                <ul id="educations-fields-list" class="default_form"{% if not form.trainings.vars.disabled %} data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_training.html.twig', { 'form': form.trainings.vars.prototype, 'allow_delete' : form.trainings.vars.allow_delete }) }}{% endfilter %}"{% endif %}>
                    {% for training in form.trainings %}
                        <li>{{ include('RDWAppBundle:Form:_prototype_training.html.twig', { 'form': training, 'allow_delete' : form.trainings.vars.allow_delete }) }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% do form.trainings.setRendered %}
        </ul>

        <h2 class="toggle open"><span class="txt"><strong>/</strong> {{ 'Work experience'|trans }}</span></h2>
        <ul class="default_form clearfix">
            <li>
                <span class="spacer">&nbsp;</span>
                <div class="options_box inline">
                    <label for="f7" class="label_2">
                        {{ form_widget(form.withoutWorkExperience, {'attr':{'disabled':'disabled'} }) }} {{ 'Without work experience'|trans }}
                    </label>
                </div>
            </li>
        </ul>
        <ul class="default_form clearfix">
            <li>
                {{ form_label(form.workExperience, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
                {{ form_errors(form.workExperience) }}
                <ul id="workExperience-fields-list" class="default_form"{% if not form.workExperience.vars.disabled %}  data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_workExperience.html.twig', { 'form': form.workExperience.vars.prototype, 'allow_delete' : form.workExperience.vars.allow_delete }) }}{% endfilter %}"{% endif %}>
                    {% for work in form.workExperience %}
                        <li>{{ include('RDWAppBundle:Form:_prototype_workExperience.html.twig', { 'form': work, 'allow_delete' : form.workExperience.vars.allow_delete }) }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% do form.workExperience.setRendered %}
        </ul>

        <h2><span class="txt"><strong>/</strong> {{ 'Other data'|trans }}</span></h2>
        <ul class="default_form clearfix">
            <li>
                {{ form_row(form.professionalSkill) }}
            </li>
            <li>
                {{ form_row(form.computerSkill) }}
            </li>
            <li class="grey"><span class="spacer"></span>{{ 'No more than 1000 symbols'|trans }}</li>
            <li>
                {{ form_label(form.languages, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
                {{ form_errors(form.languages) }}
                <ul id="languages-fields-list" class="default_form"{% if not form.languages.vars.disabled %} data-prototype="{% filter escape %}{{ include('RDWAppBundle:Form:_prototype_languages.html.twig', { 'form': form.languages.vars.prototype, 'allow_delete' : form.languages.vars.allow_delete }) }}{% endfilter %}"{% endif %}>
                    {% for language in form.languages %}
                        <li>{{ include('RDWAppBundle:Form:_prototype_languages.html.twig', { 'form': language, 'allow_delete' : form.languages.vars.allow_delete}) }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% do form.languages.setRendered %}
            <li>
                {{ form_row(form.businessTrip) }}
            </li>
            <li>
                {{ form_label(form.driverLicenseCategories, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="options_box inline">
                    {{ form_widget(form.driverLicenseCategories) }}
                </div>
            </li>
            <li>
                {{ form_label(form.haveCar, '', { 'label_attr' : { 'class' : 'label_1' } }) }}
                <div class="options_box inline">
                    {{ form_widget(form.haveCar) }}
                </div>
            </li>
            <li>
                {{ form_row(form.maritalStatus) }}
            </li>
            <li>
                {{ form_row(form.children) }}
            </li>
        </ul>

        <h2><span class="txt"><strong>/</strong> {{ 'Attached Cv'|trans }}</span></h2>
        <ul class="default_form clearfix">

        </ul>

        <h2><span class="txt"><strong>/</strong> {{ 'CV valid till'|trans }}</span></h2>
        <ul class="default_form clearfix">
            <li>
                {{ form_label(form.validTill, '', { 'label_attr' : { 'class' : 'label_1' } } ) }}
                {{ form_widget(form.validTill.day, { 'attr' : { 'class' : 'el_84' } } ) }}
                {{ form_widget(form.validTill.month, { 'attr' : { 'class' : 'el_84' } } ) }}
                {{ form_widget(form.validTill.year, { 'attr' : { 'class' : 'el_84' } } ) }}
            </li>
            <li class="sep_line">
                {{ form_row(form.status) }}
            </li>
            <li>
                <span class="spacer">&nbsp;</span>
                <div class="options_box inline">
                    <label for="f7" class="label_2">
                        {{ form_widget(form.confidential) }} {{ form.confidential.vars.label|trans }}
                    </label>
                </div>
            </li>
        </ul>
        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>
    <div class="sort_block clearfix">
        <a href="{{ url('rdw_cv.cv.my_list') }}" class="url_back">{{ 'Back'|trans }}</a>
    </div>

    <h2 class="h1">{{ 'Actions'|trans }}</h2>
    <div class="txt_container">
        <a class="btn btn-default" href="{{ url('rdw_cv.cv.edit', {'id' : cv.id}) }}">{{ 'edit'|trans }}</a>
        <a
                href="#"
                class="btn btn-default"
                data-handler="confirm"
                data-url="{{ url('rdw_cv.cv.delete', {'id': cv.id}) }}"
                data-message="{{ 'Are you sure?'|trans }}"
                data-title="{{ 'Delete CV'|trans }}"
                data-confirm-title="{{ 'Delete'|trans }}"
                >
            {{ 'Delete'|trans }}
        </a>
    </div>
{% endblock %}
