{% extends "::base.html.twig" %}

{% from 'RDWCvBundle:Cv:macros.html.twig' import per_page, list_multiple_actions %}
{% from 'RDWAppBundle::misc.html.twig' import list_checkbox, promote_banner, salary_row, ga_event_attributes %}

{% block content %}

    <h2 class="h1">{{ 'My'|trans }} <span class="black">{{ 'cvs'|trans }}</span></h2>

    {{ promote_banner('employee', app.user.id) }}

    <a href="{{ url('rdw_cv.cv.new') }}" title="{{ 'Add cv'|trans }}" class="url_add_resume">{{ 'Add cv'|trans }}</a>

    {% if cvs|length > 0 %}
        <div class="clear hidden-sm hidden-md"></div>

        {{ per_page() }}

        {{ knp_pagination_render(cvs, 'RDWAppBundle:Pagination:pagination.html.twig') }}

        <div class="clear"></div>

        {{ list_multiple_actions() }}

        <form action="" method="post" data-multiple-delete data-multiple-submit class="options_block summary_list clearfix">
        <ul class="options_block summary_list clearfix">
            {% for cv in cvs %}
                <li class="{% if cv.isStatusActive %}active{% endif %}">
                    {{ list_checkbox(form, cv.id) }}

                    <div class="status_tags">
                        <span class="tag {% if cv.isStatusActive %}green{% else %}red{% endif %}">{{ cv.statusLabel|trans }}</span>
                        {% if cv.isPublished %}
                            <span class="tag grey">{{ 'Available for everyone'|trans }}</span>
                        {% endif %}
                    </div>
                    <div class="clear"></div>

                    <span class="date">{{ cv.updatedAt|date('d.m.Y | H:i') }}</span>
                    <a href="{{ url('rdw_cv.cv.view', {'id' : cv.id, 'slug': cv.slug }) }}" class="url_title">{{ cv.position.title }}</a>

                    <span class="name">{{ cv.name }} {{ cv.surname }}</span>
                    <div class="clear"></div>
                    <div class="list_holder">
                        <ul class="list">
                            <li class="icon_1">
                                {{ salary_row(cv.salaryFrom, cv.salaryTo, currency) }}
                            </li>
                            <li class="icon_2">
                                {% if cv.workScheduleType %}{{ cv.workScheduleType.title }}{% else %}{{ 'Not important'|trans }}{% endif %}
                            </li>
                        </ul>
                        <ul class="list">
                            <li class="icon_3">{% if cv.workingPlaceCity %}{{ cv.workingPlaceCity.title }}{% endif %}</li>
                            <li class="icon_4">{% if cv.scope %}{{ cv.scope.title }}{% endif %}</li>
                        </ul>
                    </div>
	                {# {% if is_analytic_enabled() %}
		                {% set analyticData = get_analytic_data(cv_uri(cv)) %}
                        <ul class="list">
                            <li class="icon_5">{{ 'Views count'|trans }}:
                                <a href="{{ url('rdw_cv.cv.users_who_viewed_list', {'id': app.user.id, 'cv': cv.id }) }}">
                                    {{ analyticData.getViewsCount() }}
                                </a>
                            </li>
                            {% if analyticData.getViewsUniqueCount() %}
                                <li class="icon_5">{{ 'Views unique count'|trans }}:
                                    <a href="{{ url('rdw_cv.cv.users_who_viewed_list', {'id': app.user.id, 'cv': cv.id }) }}">
				                        {{ analyticData.getViewsUniqueCount() }}
                                    </a>
                                </li>
	                        {% endif %}
	                        {% if analyticData.getAverageSpentTime() %}
                                <li class="icon_2">{{ 'Average spent time'|trans }}:
                                    <span class="number">
                                    {{ analyticData.getAverageSpentTime() }} {{ 'seconds'|trans }}
                                </span>
                                </li>
	                        {% endif %}
	                        {% if cv.cvMessagesCount %}
                                <li class="icon_6">{{ 'Conversations'|trans }}:
                                    <a href="{{ url('rdw_conversation.conversation.list_by_cv', {'id' : cv.id}) }}">
                                        <span class="number">{{ cv.cvMessagesCount }}</span>
                                    </a>
                                </li>
	                        {% endif %}
                        </ul>
                    {% endif %} #}
                    <div class="clear"></div>
                    {% if cv.activeServices|length > 0 %}
                        <div class="message_panel good">{{ 'Active services'|trans }}:
                            {% for service in cv.activeServices %}
                                {{ service.service.title }} <span class="small">({{ 'till'|trans ~ ' ' ~ service|validTill }})</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="toogle_box">
                        <a href="#" class="url_toggle"></a>
                        <div class="hidden_box">
                            <ul class="url_list">
                                <li>
                                    {% if services is defined %}
                                        <a class="icon_1" href="{{ url('rdw_service.service.matrix_employee', {'id': app.user.id, 'cv_collection' : {'id' : [cv.id]} }) }}">{{ 'Promote'|trans }}</a>
                                    {% endif %}
                                </li>
                                <li>
                                    <a href="{{ url('rdw_cv.cv.edit', {'id' : cv.id}) }}" class="icon_2">{{ 'edit'|trans }}</a>
                                </li>
                                {% if cv.isStatusChangeableForUser %}
                                <li>
                                    {% set newStatus = (cv.isStatusActive) ? constant('STATUS_INACTIVE', cv) : constant('STATUS_ACTIVE', cv) %}
                                    {% set newStatusLabel = (cv.isStatusActive) ? 'Unpublish'|trans : 'Publish'|trans %}
                                    {% set gaDataAttributes = (cv.isStatusActive) ? '' : ga_event_attributes('cv', 'publish', 'list', app.user.id) %}
                                    <a href="{{ url('rdw_cv_change_status', {'id' : cv.id, 'newStatus': newStatus }) }}" class="icon_2"{{ gaDataAttributes|raw }}>{{ newStatusLabel }}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="toggle_bg"></div>
                </li>
            {% endfor %}
        </ul>
        </form>

        {{ list_multiple_actions() }}

        {{ per_page() }}

        {{ knp_pagination_render(cvs, 'RDWAppBundle:Pagination:pagination.html.twig') }}

        <div class="clear hidden-sm hidden-md"></div>

        <a href="{{ url('rdw_cv.cv.new') }}" title="{{ 'Add cv'|trans }}" class="url_add_resume">{{ 'Add cv'|trans }}</a>
    {% endif %}

    <div class="clear mobile_banners"></div>
{% endblock %}
