{% extends "::base.html.twig" %}

{% block content %}

    <h2 class="h1">1{{ 'add'|trans }} <span class="black">{{ 'cv'|trans }}</span></h2>

    <div class="sort_block clearfix">
        <a href="{{ url('rdw_cv.cv.my_list') }}" class="url_back">2{{ 'Back'|trans }}</a>
    </div>
    <div class="txt_container clearfix">3
        {% include 'RDWCvBundle:Cv:_form.html.twig' with { 'action': url('rdw_cv.cv.create'), 'method' : 'POST' } %}
    </div>
    <div class="sort_block clearfix">
        <a href="{{ url('rdw_cv.cv.my_list') }}" class="url_back">4{{ 'Back'|trans }}</a>
    </div>

    <div class="clear mobile_banners"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@RDWAppBundle/Resources/public/js/jquery.ui.widget.js'
    '@RDWAppBundle/Resources/public/js/jquery.iframe-transport.js'
    '@RDWAppBundle/Resources/public/js/jquery.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.rdw.fileupload.js'
    '@RDWAppBundle/Resources/public/js/jquery.countAgeHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}

    {% if showRegistrationPopup|default(false) %}
    <script type="text/javascript">
        $(function() {
            $(document).registrationPopupHandler({url: "{{ url('rdw_user.registration.popup', {'request': app.request, 'type': 'employee'}) }}"});
        });
    </script>
    {% endif %}
{% endblock %}
