{% extends "::base.html.twig" %}

{% from 'RDWJobBundle:Job:macros.html.twig' import list_users_who_viewed_actions %}

{% block content %}
    <div class="txt_container print_hide clearfix">
        <h2>
            <span class="txt"><strong>/</strong>
                {% if cv is not null %}
                    {{ 'Cv "%title%" was viewed by following users'|trans({ '%title%' : cv.title }) }}
                {% else %}
                    {{ 'All cvs'|trans }}
                {% endif %}
            </span>
        </h2>

        {{ form_start(form) }}
        <ul class="default_form">
            <li>
                {{ form_row(form.cv) }}
            </li>
            <li>
                <span class="spacer"></span>
                {{ form_widget(form.search, { 'attr' : { 'class' : 'btn btn-default' } } ) }}
            </li>
        </ul>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>

    <h2 class="h1">
        <span class="black">{{ 'List'|trans }}</span>
    </h2>

    {{ knp_pagination_render(viewers, 'RDWAppBundle:Pagination:pagination.html.twig') }}

    {{ list_users_who_viewed_actions(user) }}

    {% include 'RDWCvBundle:Cv:_item_viewers.html.twig' %}

    {{ list_users_who_viewed_actions(user) }}

    {{ knp_pagination_render(viewers, 'RDWAppBundle:Pagination:pagination.html.twig') }}

    <div class="clearfix"></div>

{% endblock content %}