{% extends "::base.html.twig" %}

{% set urlReferer = get_url_referer([url('rdw_cv.cv.list'), url('rdw_user.favorite.list', {'type': 'cv'})]) %}

{% block title %}
    {% if not cv.isDeleted %}
        {{ get_seo_title([cv.position.title, cv.birthday|age, (cv.workingPlaceCity ? cv.workingPlaceCity.title : ''), cv.id]) }}
    {% endif %}
{% endblock %}

{% block metaDescription %}
    {% if not cv.isDeleted %}
        {{ get_seo_description([cv.position.title, cv.birthday|age, 'looking for job'|trans ~ ' ' ~ (cv.workingPlaceCity ? cv.workingPlaceCity.title : '')]) }}
    {% endif %}
{% endblock %}

{% block metaKeywords %}
    {% if not cv.isDeleted %}
        {{ get_seo_keywords([cv.position.title, (cv.workingPlaceCity ? cv.workingPlaceCity.title : '')]) }}
    {% endif %}
{% endblock %}

{% block fb_og_tags %}
    {% import 'RDWAppBundle::social.html.twig' as social %}
    {{ social.fb_og_tags(app.request.uri, '', '', asset('bundles/rdwapp/images/logo.gif')) }}
{% endblock fb_og_tags %}

{% block content %}
    <div class="sort_block clearfix">
        <a href="{{ urlReferer }}" class="url_back">{{ 'Back to list'|trans }}</a>
    </div>

    <div class="txt_container clearfix">
    {% if cv.isDeleted %}
        {# then cv is deleted #}
        <h3>{{ 'This Cv was removed'|trans }}</h3>
    {% else %}
        {% if cv.isPublic or cv.isPublished %}
            <div class="col_wide">
                {{ include('RDWCvBundle:Cv:_viewMainInfo.html.twig') }}
                {{ include('RDWCvBundle:Cv:_viewContent.html.twig') }}
            </div>
            <div class="col_tight">
                {{ include('RDWCvBundle:Cv:_viewSidebar.html.twig') }}
            </div>
        {% else %}
            {# then cv is hidden from public access #}
            <h3>{{ 'Cv is unpublished for public access'|trans }}</h3>
        {% endif %}
    {% endif %}
    </div>

    <div class="sort_block clearfix">
        <a href="{{ urlReferer }}" class="url_back">{{ 'Back to list'|trans }}</a>
    </div>

    {% include 'RDWCvBundle:Cv:_related_cvs.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.manageFavoriteHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
