{% extends "::pdf.html.twig" %}

{% block content %}
<h1>{{ 'Payment info'|trans }}</h1>
<div class="row">
    <image src="{{ asset('bundles/rdwapp/images/logo.gif') }}" height="120" />
    <div>{{ 'Date'|trans }}: {{ payment.paidAt|date('Y-m-d') }}</div>

    <br /><br />
    <div>{{ 'Contact person'|trans }}: {{ user.contactPerson }} {{ user.contactPersonSurname }}</div>
    <div>{{ 'Company'|trans }}: {{ user.companyTitle }}</div>
    <div>{{ 'Address'|trans }}: {{ user.address }}</div>
    <div>{{ 'Cities'|trans }}: {{ user.cities|cities }}</div>
    <div>{{ 'Company code'|trans }}: {{ user.unpCode }}</div>
    <div>{{ 'Phone'|trans }}: {{ user.phone }}</div>
    <div>{{ 'Total'|trans }}: {{ payment.amountTotal }} {{ payment.currency }}</div>
    <div>{{ 'Payment for order #%order_id%'|trans({'%order_id%': payment.order.id }) }}</div>
    <div>{{ 'Date'|trans }}: {{ payment.paidAt|date('Y-m-d') }}</div>
</div>

{% endblock content %}
