{% extends '::invoice.html.twig' %}

{% block body %}
<body class="invoice">
    <div class="print">
        <table class="center">
            <tr>
                <td><img height=40 src="{{ asset('bundles/rdwapp/img/mail_logo.png') }}"></td>
                <td></td>
            </tr>
        </table>
        <br />
    </div>
    <br />
    <table class=center>
        <tr>
            <td align=center>
                <h3>{{ 'Счет-фактура №'|trans }} {{ order.invoiceNumber }}</h3>
                <h4>{{ order.paidAt|date('d.m.Y') }} {{ 'г.'|trans }}</h4>
            </td>
        </tr>
    </table>
    <br />
    <table class=center>
        <tr valign=top>
            <td>
                <table width=375>
                    <tr>
                        <td>
                            <b>{{ 'Исполнитель'|trans }}:</b><br />
                            <p>{{ 'ОДО "Mедиа Фокус"'|trans }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{{ 'Адрес и телефон'|trans }}:</b><br />
                            <p>{{ '220037, г.Минск пер.Козлова, д.7Г, 7 этаж, комната 2, т/ф. 299-51-74 Р/с № 3012024058010, "ПРИОРБАНК" ОАО ЦБУ 111 г.Минск, пр. Машерова, 40, МФО 153751749, УНП 191378321'|trans }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{{ 'Грузоотправитель'|trans }}:</b><br />
                            <p>{{ 'ОДО "Mедиа Фокус"'|trans }}</p>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table align="right" width=375>
                    <tr>
                        <td>
                            <b>{{ 'Заказчик'|trans }}:</b><br />
                            <p>{{ order.user.companyType.title }} "{{ order.user.companyTitle }}" </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{{ 'Адрес и телефон'|trans }}:</b><br />
                            <p>
                                {% if order.user.unpCode %}
                                    {{ order.user.unpCode }},
                                {% endif %}
                                {% if order.user.address %}
                                    {{ order.user.address }},
                                {% endif %}
                                {% if order.user.phone %}
                                    {{ 'т.'|trans }} {{ order.user.phone }},
                                {% endif %}
                                {% if order.user.bankAccount %}
                                    {{ order.user.bankAccount }},
                                {% endif %}
                                {% if order.user.bankName %}
                                    {{ order.user.bankName }},
                                {% endif %}
                                {% if order.user.bankCode %}
                                    {{ order.user.bankCode }}
                                {% endif %}
                                {% if order.user.bankAddress %}
                                    {{ order.user.bankAddress }}
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{{ 'Грузоотправитель'|trans }}:</b><br />
                            <p>{{ order.user.companyType.title }} "{{ order.user.companyTitle }}"</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <table class="center">
        <tr>
            <td>
                <p>{{ '1. Услуги считаются выполненными по факту публикации объявлений Заказчика в газете «Работа для Вас».'|trans }}</p>
                <p>{{ '2. Стоимость услуг по настоящему договору устанавливается на основании Прейскуранта, утвержденного Исполнителем. При оказании услуг по тарифам, отличным от прейскуранта, с учетом предоставляемых скидок, стоимость услуг устанавливается в протоколах согласования тарифа на услуги, подписываемых обеими сторонами.'|trans }}</p>
                <p>{{ '3. Заказчик обязан произвести оплату за размещение объявлений в течении 3 (трех) банковских дней с даты опубликования объявлений в газете «Работа для Вас».'|trans }}</p>
                <p>{{ '4. За нарушение сроков оплаты Заказчик уплачивает Исполнителю пеню в размере 0,5% от несвоевременно оплаченной суммы за каждый день просрочки.'|trans }}</p>
                <p>{{ '5. Все документы, полученные сторонами по факсимильной связи, имеют юридическую силу.'|trans }}</p>
            </td>
        </tr>
    </table>
    <br />
    <table class=center>
        <tr>
            <td>
                <table class=info>
                    <tr>
                        <td colspan=2>
                            <table class=table width=800>
                                <thead>
                                <tr>
                                    <th>{{ '№ п/п'|trans }}</th>
                                    <th>{{ 'Наименование'|trans }}</th>
                                    <th>{{ 'Кол. выходов'|trans }}</th>
                                    <th>{{ 'Тариф, руб'|trans }}</th>
                                    <th>{{ 'Сумма без НДС, руб'|trans }}</th>
                                    <th>{{ 'НДС, %'|trans }}</th>
                                    <th>{{ 'Сумма НДС, руб'|trans }}</th>
                                    <th>{{ 'Сумма с НДС, руб'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in order.items %}
                                <tr>
                                    <td align="center">{{ loop.index }}</td>
                                    <td align="left">
                                        {{ item.title }}
                                        {% if item.isSingle %}
                                            ({{ 'Single'|trans }})
                                        {% else %}
                                            ({{ 'Valid till'|trans }}: {{ item.validTill|date('d.m.Y') }})
                                        {% endif %}
                                    </td>
                                    <td align=center>{{ item.unitSize }}</td>
                                    <td align=right>{{ item.pricePerUnitWithoutVat|priceWithoutCurrency(2) }}</td>
                                    <td align=right>{{ item.priceWithoutVat|priceWithoutCurrency(2) }}</td>
                                    <td align=center>{{ item.order.vat }}</td>
                                    <td align=right>{{ item.priceVat|priceWithoutCurrency(2) }}</td>
                                    <td align=right>{{ item.price|priceWithoutCurrency(2) }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height=24></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <table class="center">
        <tr>
            <td>
                {{ 'К уплате с учетом НДС'|trans }}: <b>{{ order.total|priceWithoutCurrency(2) }} ({{ order.total|number_to_currency }})</b>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'В том числе сумма НДС'|trans }}: <b>{{ order.totalVat|priceWithoutCurrency(2) }} ({{ order.totalVat|number_to_currency }})</b>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Цена согласно прейскуранту №9 от 08.11.2006 года'|trans }}
            </td>
        </tr>
    </table>
    <br /><br />
    <table class="center">
        <tr valign=top>
            <td>
                <table width=375>
                    <tr>
                        <td><b><i>{{ 'От'|trans }} {{ 'ОДО "Mедиа Фокус"'|trans }}</i></b></td>
                    </tr>
                    <tr>
                        <td>{{ 'Директор _______________ Каешко В.А.'|trans }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table align="right" width=375>
                    <tr>
                        <td><b><i>{{ 'От'|trans }} {{ order.user.companyType.title }} "{{ order.user.companyTitle }}"</i></b></td>
                    </tr>
                    <tr>
                        <td>{{ '________________'|trans }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <div class="split-avoid">
        <table class="center split-before">
            <tr>
                <td align="center">
                    <b>{{ 'ПРОТОКОЛ №'|trans }} {{ order.invoiceNumber }}</b><br />
                    <b><small>{{ 'согласования тарифа на услуги от'|trans }} {{ order.paidAt|date('d.m.Y') }} {{ 'г.'|trans }}</small></b>
                </td>
            </tr>
        </table>
        <br />
        <table class="center">
            <tr>
                <td>
                    <b>{{ 'Поставщик'|trans }}:</b> <i>{{ 'ОДО "Mедиа Фокус"'|trans }}</i><br />
                    <b>{{ 'Покупатель'|trans }}:</b> <i>{{ order.user.companyType.title }} "{{ order.user.companyTitle }}"</i>
                </td>
            </tr>
        </table>
        <br />
        <table class="center">
            <tr>
                <td>
                    <table class=info>
                        <tr>
                            <td colspan=2>
                                <table class=table width=500>
                                    <thead>
                                    <tr>
                                        <th>{{ '№'|trans }}<br />{{ 'п/п'|trans }}</th>
                                        <th>{{ 'Наименование'|trans }}</th>
                                        <th>{{ 'Тариф, руб'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in order.items %}
                                        <tr>
                                            <td align="center">{{ loop.index }}</td>
                                            <td align="left">
                                                {{ item.title }}
                                                {% if item.isSingle %}
                                                    ({{ 'Single'|trans }})
                                                {% else %}
                                                    ({{ 'Valid till'|trans }}: {{ item.validTill|date('d.m.Y') }})
                                                {% endif %}
                                            </td>
                                            <td align=right>{{ item.pricePerUnitWithoutVat|priceWithoutCurrency(2) }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height=24></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table class="center">
            <tr valign=top>
                <td>
                    <table width=375>
                        <tr>
                            <td><b><i>{{ 'От'|trans }} {{ 'ОДО "Mедиа Фокус"'|trans }}</i></b></td>
                        </tr>
                        <tr>
                            <td>{{ 'Директор _______________ Каешко В.А.'|trans }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table align="right" width=375>
                        <tr>
                            <td><b><i>{{ 'От'|trans }} {{ order.user.companyType.title }} "{{ order.user.companyTitle }}"</i></b></td>
                        </tr>
                        <tr>
                            <td>{{ '________________'|trans }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <br /><br />
    </body>
{% endblock %}
