{% extends('::backend.html.twig') %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <a href="{{ url('rdw.content.manage.create') }}" class="btn">{{ 'Add new text page'|trans }}</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Text pages'|trans }}</div>

        {% if pagination %}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Username'|trans, 't.user.username') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 't.title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Short title'|trans, 't.shortTitle') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Status'|trans, 't.status') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Type'|trans, 't.type') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Updated at'|trans, 't.updatedAt') }}</th>
                    <th colspan="2">{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for text in pagination %}
                    <tr>
                        <td>
                            {% if text.user is not empty %}
                                {{ text.user.username }}
                            {% endif %}
                        </td>
                        <td>{{ text.title }}</td>
                        <td>{{ text.shortTitle }}</td>
                        <td>{{ text.status|capitalize|trans }}</td>
                        <td>{{ text.type|capitalize|trans }}</td>
                        <td>{{ text.updatedAt|date('Y-m-d H:i:s') }}</td>
                        <td><a href="{{ url('rdw.content.manage.edit', {'textId': text.id}) }}">{{ 'Edit'|trans }}</a></td>
                        <td>
                            <a
                                    href="#"
                                    data-handler="confirm"
                                    data-url="{{ url('rdw.content.manage.delete', {'textId': text.id}) }}"
                                    data-message="{{ 'Are you sure?'|trans }}"
                                    data-title="{{ 'Delete text'|trans }}"
                                    data-confirm-title="{{ 'Delete'|trans }}"
                                    >
                                {{ 'Delete'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8"><div class="pull-right">{{ knp_pagination_render(pagination) }}</div></td>
                </tr>
                </tfoot>
            </table>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ url('rdw.content.manage.create') }}" class="btn">{{ 'Add new text page'|trans }}</a>
        </div>
    </div>
{% endblock content %}
