{% extends('::backend.html.twig') %}

{% block content %}
    <h1>{{ 'Settings'|trans }}</h1>
    <hr />
    {% if settings|length > 0 %}
        <form name="settings" action="{{ path('rdw_manage_settings') }}" method="post">
            {% for setting in settings %}
            <div class="row form-group">
                <div class="col-xs-3">
                    {{ setting.title }}
                </div>
                <div class="col-xs-3">
                    {{ setting.key }}
                </div>
                <div class="col-xs-3">
                    <input type="text" name="setting[{{ setting.key }}][value]" value="{{ setting.value }}" class="form-control" />
                </div>
            </div>
            {% endfor %}
            <hr />
            <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
        </form>
    {% else %}
        <div>{{ 'No settings were found'|trans }}</div>
    {% endif %}

{% endblock content %}
