<h2 class="h1">{{ 'Active ordered'|trans }}
    <span class="black">{{ 'services'|trans }}</span>
</h2>
{# @todo html-fix: wtf iz das? #}
{#<div class="small_banner clearfix">
    <span class="txt">Oбъявления cделайте заметными!</span>
    <div class="clear hidden-sm hidden-md"></div>
    <a href="#" class="url">Заказывайте рекламу</a>
</div>#}
<div class="txt_container clearfix">
    <div class="table-responsive expand no_margin">
        {% if userServices %}
        <table class="cart_table">
            <colgroup>
                <col class="col_8">
                <col class="col_9">
                <col class="col_10">
            </colgroup>
            <tr>
                <th>{{ 'Service'|trans }}</th>
                <th>{{ 'Ordered at'|trans }}</th>
                <th>{{ 'Active till'|trans }}</th>
            </tr>
            {% for orderItem in userServices %}
            <tr>
                <td>
                    {{ orderItem.service.title }}
                    {% if orderItem.item %}
                        <br>
                        <a href="{{ item_url(orderItem.item) }}" class="url">{{ orderItem.item.position.title }}</a>
                    {% endif %}
                </td>
                <td>{{ orderItem.order.paidAt|date('d.m.Y') }}</td>
                <td>{{ orderItem|validTill }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            {{ 'You have no active services at the moment'|trans }}
        {% endif %}
    </div>
</div>
