{% set status_paid = constant('RDW\\Bundle\\OrderBundle\\RDWOrderStatus::STATUS_PAID') %}
{% set status_cancelled = constant('RDW\\Bundle\\OrderBundle\\RDWOrderStatus::STATUS_CANCELLED') %}

        {% if order.invoiceNumber > 0 %}
            <a href="{{ printable_url('invoice_view', {'id': order.id}) }}" class="btn btn-default" target="_blank" title="{{ 'Print order'|trans }}">{{ icon('print') }} {{ 'Print invoice'|trans }}</a>
        {% endif %}
        {% if order.isPayable and not is_granted('ROLE_MANAGER') %}
            <a class="btn btn-default" href="{{ url('rdw_order.order.submit', {'id' : order.id}) }}">{{ 'Pay'|trans }}</a>
        {% endif %}

        {% if app.user and is_granted('ROLE_MANAGER') %}
            {% if order.showMarkAsPaidButton %}
                <a href="{{ url('rdw_order.order.change_status', {'id': order.id, 'status': status_paid}) }}" class="btn btn-default" title="{{ 'Print order'|trans }}">{{ icon('usd') }} {{ 'Mark as paid'|trans }}</a>
            {% endif %}
            {% if order.showCancelButton %}
                <a href="{{ url('rdw_order.order.change_status', {'id': order.id, 'status': status_cancelled}) }}" class="btn btn-default" title="{{ 'Cancel order'|trans }}">{{ icon('remove') }} {{ 'Cancel order'|trans }}</a>
            {% endif %}
        {% endif %}
