<h2 class="h1">
    {{ 'Orders'|trans }}
    <span class="black">{{ 'history'|trans }}</span>
</h2>
<div class="txt_container clearfix">
    {% if orders %}
    <div class="table-responsive">
        <table class="history_table">
            <tr>
                <th>{{ 'Date'|trans }}</th>
                <th class="text-right">{{ 'Total'|trans }}</th>
                <th>{{ 'Document'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>
                    <a href="{{ url('rdw_order.order.view', {'id': order.id}) }}">{{ order.createdAt|date('d.m.Y') }}</a>
                </td>
                <td class="text-right">
                    <span class="red">-{{ order.total|price }}</span>
                    {% if order.isPaid %}<br /><span class="green">+{{ order.total|price }}</span>{% endif %}
                </td>
                <td>
                    {# Dont show for older order without invoices #}
                    {% if order.invoiceNumber > 0 %}
                        <a href="{{ printable_url('invoice_view', {'id': order.id}) }}" class="url_pdf" target="_blank">{{ 'Invoice'|trans }}: {{ order.invoiceNumber }}</a>
                    {% endif %}

                    {% if order.hasActs %}
                        <br />
                        <a href="{{ url('rdw_order.order.view', {'id': order.id}) }}#services-list" class="url_pdf">{{ 'View acts here'|trans }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if order.isPaid %}
                        <span class="status_tag green">{{ 'Paid'|trans }}</span>
                    {% else %}
                        <span class="status_tag red">{{ 'Not paid'|trans }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="balance_block">{{ 'Balance'|trans }}:
        <span class="balance">-{{ user_order_balance(user)|price }}</span>
    </div>
    {% else %}
        <div>{{ 'You have no orders at the moment'|trans }}</div>
    {% endif %}
</div>
