<h2 class="h1">
    {{ 'Order information'|trans }}
    <span class="black">#{{ order.id }}</span>
</h2>
<a href="{{ path('rdw_order.order.list', {'id': order.user.id}) }}" class="url_back visible-md">{{ 'Back'|trans }}</a>
<div class="txt_container clearfix">
    <div class="table-responsive expand no_margin">
        <table class="cart_table">
            <colgroup>
                <col class="col_8">
                <col class="col_9">
            </colgroup>
            <tr>
                <td>{{ 'Order ID'|trans }}</td>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <td>{{ 'Status'|trans }}</td>
                <td>{{ order.status|capitalize|trans }}</td>
            </tr>
            {% if order.isPaid %}
                {% if order.successfulPayment %}
                <tr>
                    <td>{{ 'Payment'|trans }}</td>
                    <td>{{ order.successfulPayment.id }}</td>
                </tr>
                {% endif %}

            {% endif %}
            {% if order.invoiceNumber %}
                <tr>
                    <td>{{ 'Invoice'|trans }}</td>
                    <td><a href="{{ printable_url('invoice_view', {'id': order.id}) }}" target="_blank">{{ order.invoiceNumber }}</a></td>
                </tr>
            {% endif %}
            <tr>
                <td>{{ 'Date'|trans }}</td>
                <td>{{ order.createdAt|date('d.m.Y') }}</td>
            </tr>
            {% if (order.paymentType) %}
                <tr>
                    <td>{{ 'Payment type'|trans }}</td>
                    <td>
                        {% if order.total > 0 %}
                            {{ order.paymentType|trans }}
                        {% else %}
                            {{ 'free'|trans }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>{{ 'Total'|trans }}</td>
                <td>{{ order.total|price }}</td>
            </tr>
        </table>
    </div>
</div>

<h2 class="h1" id="services-list">{{ 'Services'|trans }}</h2>
<a href="{{ path('rdw_order.order.list', {'id': order.user.id}) }}" class="url_back visible-md">{{ 'Back'|trans }}</a>
<div class="txt_container clearfix">
    <div class="table-responsive expand no_margin">
        <table class="cart_table">
            <colgroup>
                <col class="col_8">
                <col class="col_9">
                <col class="col_10">
                <col class="col_11">
                <col class="col_12">
            </colgroup>
            <tr>
                <th>{{ 'Service'|trans }}</th>
                <th>{{ 'Period'|trans }}</th>
                <th>{{ 'Price'|trans }}</th>
                {% if order.isPaidBySms %}
                    <th>{{ 'Status'|trans }}</th>
                {% endif %}
                {% if order.hasActs %}
                    <th>{{ 'Acts'|trans }}</th>
                {% endif %}
            </tr>
            {% for item in order.items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.period }}</td>
                    <td>{{ item.price|price }}</td>
                    {% if order.isPaidBySms %}
                        <td>
                            {{ sms_code_text(item, 'order_view') }}
                        </td>
                    {% endif %}
                    {% if order.hasActs %}
                    <td>
                        {% for actItem in item.actItems %}
                            <a href="{{ printable_url('act_view', {'id': actItem.act.id}) }}" target="_blank">{{ "%06d"|format(actItem.act.id) }}</a>
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
