<div class="small_container clearfix">
    <h2>
        <strong>/</strong> {{ 'Active services'|trans }}
    </h2>
    <div class="clear"></div>
    {% if services|length > 0 %}
        <ul class="list type_4 clearfix">
            {% for orderItem in services %}
            {% if orderItem.hasItem %}
            <li>
                <span class="title">{{ orderItem.service.title }}</span>
                {% if orderItem.item %}
                    <a href="{{ item_url(orderItem) }}">{{ orderItem.item.position.title }}</a>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="sep_line"></div>
        <p>{{ 'You don\'t have active services'|trans }}</p>
    {% endif %}
    <div class="sep_line"></div>
    <a href="{{ url('rdw_order.order.list', { 'id': app.user.id }) }}" class="url">{{ 'View more'|trans }}</a>
</div>
