{% extends "::base.html.twig" %}

{% block content %}
    {{ include('RDWWalletBundle::balance.html.twig', {'user' : user}) }}
    {{ include('RDWOrderBundle:Order:_activeServices.html.twig') }}
    {{ include('RDWOrderBundle:Order:_list.html.twig') }}
{% endblock content %}
