{% extends "::base.html.twig" %}

{% block body %}
    <div class="body">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="content clearfix">
                        {% include 'RDWAppBundle::_logo.html.twig' %}
                        {% include 'RDWAppBundle:Navigation:_main_nav.html.twig' %}
                        {{ render(controller('RDWSearchBundle:Search:searchForm', { 'request': app.request, 'type': get_search_form_type() })) }}
                        {% include 'RDWAppBundle:Navigation:_profile_menu.html.twig' %}
                        {% block content %}{% endblock content %}

                        <div class="clear mobile_banners"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="h1">{{ 'Buy'|trans }}
                                    <span class="black">{{ 'services'|trans }}</span>
                                </h2>
                                {#<a href="#" class="url_back visible-md">{{ 'Back'|trans }}</a>#}
                                <div class="txt_container clearfix">
                                    <div class="table-responsive expand">
                                        <table class="cart_table">
                                            <colgroup>
                                                <col class="col_1">
                                                <col class="col_2">
                                                {% if order.isPeriodVisible %}
                                                    <col class="col_3">
                                                {% endif %}
                                                <col class="col_4">
                                            </colgroup>
                                            <tr>
                                                <th>{{ 'Title'|trans }}</th>
                                                <th>{{ 'Ordered at'|trans }}</th>
                                                {% if order.isPeriodVisible %}
                                                    <th>
                                                        {{ 'Period/qty'|trans }}
                                                    </th>
                                                {% endif %}
                                                <th>{{ 'Price'|trans }}</th>
                                            </tr>
                                            {% for item in order.items %}
                                                <tr>
                                                    <td>
                                                        {{ item.title }}
                                                        {% if item.item %}
                                                            {# URL to item: {{ item_url(item.item) }} #}
                                                            ({{ item.item.position.title }})
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ order.createdAt|date('d.m.Y') }}</td>
                                                    {% if order.isPeriodVisible %}
                                                        <td>
                                                            {{ item.period }}
                                                        </td>
                                                    {% endif %}
                                                    <td>{{ item.price|price }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="total_price">
                                        <span>{{ 'Total'|trans }}:</span> {{ order.total|price }}
                                    </div>

                                    {% if not order.isItemsPeriodValidForSms(defaultPeriod) %}
                                        <div class="alert alert-warning info-block info-block-sms"{% if not order.isPaidBySms %} style="display: none;"{% endif %}>
                                            {{ 'Warning'|trans }}: {{ 'Pay via SMS it\'s possible only for %period% days period for each service'|trans({'%period%': '<strong>' ~ defaultPeriod ~ '</strong>'})|raw }}.
                                            <a href="#"
                                               class=""
                                               data-handler="confirm"
                                               data-url="{{ url('rdw_order.order.reset_period', {'id': order.id}) }}"
                                               data-message="{{ 'Period of all services will be changed to %period% days'|trans({'%period%': defaultPeriod}) }}"
                                               data-title="{{ 'Reset periods'|trans }}"
                                               data-confirm-title="{{ 'Recalculate'|trans }}">{{ 'Recalculate periods'|trans }}</a>
                                        </div>
                                    {% endif %}

                                    <form method="post" action="{{ url('rdw_order.order.submit', {'id' : order.id}) }}" class="payment_options clearfix" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}">
                                        {% if not form.paymentType.vars.valid %}
                                            <div class="alert alert-danger">
                                                {% for error in form.paymentType.vars.errors %}
                                                    <div><strong>{{ error.message }}</strong></div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <span class="txt">{{ 'Select payment type'|trans }}:</span>
                                        <ul class="list">
                                            {% for paymentTypeKey, paymentType in form.paymentType.vars.choices %}
                                                <li>
                                                    <input type="radio" data-handler="paymentType" name="{{ form.paymentType.vars.full_name }}" id="{{ form.paymentType.vars.id }}_{{ paymentTypeKey }}" value="{{ paymentType.value }}"{% if paymentType.value == order.paymentType %} checked="checked"{% endif %}/>
                                                    <label for="{{ form.paymentType.vars.id }}_{{ paymentTypeKey }}" class="type {{ paymentType.value }}">{{ paymentType.label|trans }}</label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        {{ form_row(form._token) }}
                                    </form>
                                    <a href="#" class="url_order" data-handler="submitForm" data-form="{{ form.vars.full_name }}">{{ 'buy'|trans }}</a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar clearfix">
                        {% include 'RDWAppBundle:Navigation:_member_nav.html.twig' %}
                        {% block sidebar_content %}{% endblock sidebar_content %}
                        {% block sidebar_banners %}{% endblock sidebar_banners %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@RDWOrderBundle/Resources/public/js/jquery.smsPaymentTypeHandler.js'
    '@RDWOrderBundle/Resources/public/js/jquery.submitFormHandler.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
