{% trans_default_domain "invoice" %}

{% extends '::invoice.html.twig' %}

{% block body %}
<body class="act">
    <table class="center">
        <tr valign=top>
            <td>
                <table width="375">
                    <tr>
                        <td>
                            <b>{{ 'Исполнитель'|trans }}:</b><br />
                            <p><b>{{ 'ОДО "Mедиа Фокус"'|trans }}</b></p>
                            <p>{{ '220037, г.Минск пер.Козлова, д.7Г, 7 этаж, комната 2,
                                т/ф. 299-51-74 Р/с № 3012024058010, "ПРИОРБАНК"
                                ОАО ЦБУ 111 г.Минск, пр. Машерова, 40, МФО
                                153001749, УНП 191378321'|trans }}</p>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table align="right" width="375">
                    <tr>
                        <td>
                            <b>{{ 'Заказчик'|trans }}:</b><br />
                            <p><b>{{ act.user.companyType.title }} "{{ act.user.companyTitle }}"</b></p>
                            <p>
                                {% if act.user.unpCode %}
                                    {{ act.user.unpCode }},
                                {% endif %}
                                {% if act.user.address %}
                                    {{ act.user.address }},
                                {% endif %}
                                {% if act.user.phone %}
                                    {{ 'т.'|trans }} {{ act.user.phone }},
                                {% endif %}
                                {% if act.user.bankAccount %}
                                    {{ act.user.bankAccount }},
                                {% endif %}
                                {% if act.user.bankName %}
                                    {{ act.user.bankName }},
                                {% endif %}
                                {% if act.user.bankCode %}
                                    {{ act.user.bankCode }}
                                {% endif %}
                                {% if act.user.bankAddress %}
                                    {{ act.user.bankAddress }}
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <table class="center">
        <tr>
            <td align=center>
                <h3>{{ 'Акт №'|trans }} {{ "%06d"|format(act.id) }}</h3>
                <h4>{{ 'выполненных работ'|trans }}</h4>
                <p>{{ 'г. Минск'|trans }} {{ act.dateTo|date('d.m.Y') }} {{ 'г.'|trans }}</p>
            </td>
        </tr>
    </table>
    <br /><br />
    <table class="center">
        <tr>
            <td>
                <p>
                    {{ 'Мы, нижеподписавшиеся, представитель Исполнителя в лице директора Каешко В.А. с одной стороны, и представитель Заказчика в лице ___________________ ________________________ с другой стороны, составили настоящий акт о нижеследующем.'|trans }}
                </p>
                {% for actItem in act.items %}
                    {% if not loop.first %}<hr />{% endif %}
                    <p>
                        {{ 'Согласно счета-фактуры'|trans }} {{ actItem.orderItem.order.invoiceNumber }} {{ 'от'|trans }} {{ actItem.orderItem.order.paidAt|date('d.m.Y') }} {{ 'г. Исполнитель выполнил следующую работу'|trans }}: {{ actItem.subject }}<br />
                        {{ 'Заказчика о поиске сотрудников на сайте "RDW.by" согласно поданной заявки.'|trans }}
                    </p>
                    <p>
                        {{ 'Счет-фактура'|trans }} {{ actItem.orderItem.order.invoiceNumber }} {{ 'от'|trans }} {{ actItem.orderItem.order.paidAt|date('d.m.Y') }} {{ 'г.'|trans }} {{ 'является основанием для оплаты услуг Исполнителя. Оплата услуг производится на условиях, указанных в счете-фактуре.'|trans }}
                    </p>
                    <p>
                        {{ 'Стоимость выполненной работы без НДС составляет'|trans }} <b>{{ actItem.sumWithoutVat|priceWithoutCurrency(2) }} ({{ actItem.sumWithoutVat|number_to_currency }})</b>
                    </p>
                    <p>
                        {{ 'Ставка НДС'|trans }} <b>{{ act.vat }} {{ '%'|trans }}</b>.
                    </p>
                    <p>
                        {{ 'Сумма НДС'|trans }} <b>{{ actItem.sumVat|priceWithoutCurrency(2) }} ({{ actItem.sumVat|number_to_currency }})</b>
                    </p>
                    <p>
                        {{ 'Всего сумма с НДС'|trans }} <b>{{ actItem.sum|priceWithoutCurrency(2) }} ({{ actItem.sum|number_to_currency }})</b>
                    </p>
                {% endfor %}
                <hr />
                <p>
                    {{ 'Стоимость выполненной работы без НДС составляет'|trans }} <b>{{ act.sumWithoutVat|priceWithoutCurrency(2) }} ({{ act.sumWithoutVat|number_to_currency }})</b>
                </p>
                <p>
                    {{ 'Ставка НДС'|trans }} <b>{{ act.vat }} {{ '%'|trans }}</b>.
                </p>
                <p>
                    {{ 'Сумма НДС'|trans }} <b>{{ act.sumVat|priceWithoutCurrency(2) }} ({{ act.sumVat|number_to_currency }})</b>
                </p>
                <p>
                    {{ 'Всего сумма с НДС'|trans }} <b>{{ act.sum|priceWithoutCurrency(2) }} ({{ act.sum|number_to_currency }})</b>
                </p>
                <p>
                    {{ 'Претензий по качеству и срокам выполнения работ со стороны Заказчика нет.'|trans }}
                </p>
            </td>
        </tr>
    </table>
    <br />
    <table class="center">
        <tr class="high"><td>&nbsp;</td></tr>
        <tr valign="middle">
            <td align="center">
                <h4>{{ 'Акт считать действительным с факсимильной копией печати и подписи'|trans }}</h4>
            </td>
        </tr>
    </table>
    <br />
    <table class="center">
        <tr valign=top>
            <td>
                <table width=375>
                    <tr>
                        <td><b><i>{{ 'Работу сдал'|trans }}:</i></b></td>
                    </tr>
                </table>
            </td>
            <td>
                <table align="right" width=375>
                    <tr>
                        <td><b><i>{{ 'Работу принял'|trans }}:</i></b></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="high"><td>&nbsp;</td></tr>
        <tr valign=top>
            <td>
                <table width=375>
                    <tr>
                        <td><b><i>{{ 'От Исполнителя'|trans }}</i></b></td>
                    </tr>
                    <tr>
                        <td>{{ 'Директор _______________Каешко В.А.'|trans }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table align="right" width=375>
                    <tr>
                        <td><b><i>{{ 'От Заказчика'|trans }}</i></b></td>
                    </tr>
                    <tr>
                        <td>{{ '________________'|trans }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <br />
    </body>
{% endblock body %}
