<div class="form-group">
{% if is_granted('ROLE_ADMIN') %}
    {#
    {% if user.isLocked %}
        <a
                href="#"
                class="btn btn-default"
                data-handler="confirm"
                data-url="{{ url('rdw_user.user_admin.unblock', {'id' : user.id}) }}"
                data-message="{{ 'Are you sure?'|trans }}"
                data-title="{{ 'Unblock user'|trans }}"
                data-confirm-title="{{ 'Unblock'|trans }}"
                >
            {{ 'Unblock'|trans }}
        </a>
    {% else %}
        <a href="{{ url('rdw_user.user_admin.block', {'id' : user.id}) }}" class="btn btn-default">{{ 'Block'|trans }}</a>
    {% endif %}
    #}
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#generateNewPassowordConfirm">{{ 'Generate new password'|trans }}</a>
{% endif %}
</div>

{# delete modal #}
<div class="modal fade" id="generateNewPassowordConfirm" tabindex="-1" role="dialog" aria-labelledby="{{ 'Generate new password'|trans }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Back'|trans() }}</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'Generate new password'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ 'Are you sure do you want generate new password?'|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Back'|trans() }}</button>
                <a  class="btn btn-primary" href="{{ url('rdw_user.user_admin.generate_password', {'id' : user.id}) }}">{{ 'Yes'|trans() }}</a>
            </div>
        </div>
    </div>
</div>
