{{ form_start(filterForm, {'method': 'GET', 'style': 'inline'}) }}
{{ form_row(filterForm.id) }}
{{ form_row(filterForm.title) }}
{{ form_row(filterForm.phone) }}
{{ form_row(filterForm.email) }}
{{ form_row(filterForm.foreignId) }}

{{ form_row(filterForm.filter) }}
{{ form_row(filterForm.clear) }}

{{ form_rest(filterForm) }}
{{ form_end(filterForm) }}
