{% extends '::backend.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form, {'action': path('rdw_user.user_admin.block', { 'id' : user.id }), 'method': 'POST', 'attr' : {'id' : 'rdw_user_block_form'} }) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button data-handler="confirmFormSubmit" data-message="{{ 'Are you sure?'|trans }}" data-form="rdw_user_block_form" type="button" class="btn btn-default">{{ 'Block'|trans }}</button>
            <a href="{{ url('rdw_user.user_admin.edit', { 'id' : user.id }) }}" class="btn btn-default" role="button">{{ 'Back'|trans }}</a>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock content %}
