{% extends '::backend.html.twig' %}

{% block content %}

    {{ include("RDWUserBundle:UserAdmin:_edit_actions.html.twig") }}

    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ 'Not all required fields are filled'|trans }}
            {% for error in form.vars.errors %}
                <div>- {{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        {{ form_start(form, {'action': path('rdw_user.user_admin.edit', { 'id' : user.id, 'redirectUrl': app.request.server.get('HTTP_REFERER') }), 'method': 'POST',
        'attr': {'data-handler':'createEmployerForm', 'data-name-label':'Name'|trans, 'data-surname-label':'Surname'|trans, 'data-contact-person-label':'Contact person name'|trans, 'data-contact-person-surname-label':'Contact person surname'|trans, 'data-info-label':'Information about employer'|trans,  'data-url-label':'Url address'|trans, 'data-info-label-default':'Information about company'|trans, 'data-url-label-default':'Company url address'|trans, 'data-employer-type':constant('RDW\\Bundle\\UserBundle\\Entity\\RegisteredUser::EMPLOYER_TYPE_PERSON'), 'data-no-available-managers':'No available managers'|trans }}) }}

            {# file upload #}
            {{ form_row(
            form.uploadPhoto, {
                'attr':{
                    'data-url': oneup_uploader_endpoint('company_image'),
                    'data-type': 'image',
                    'data-handler': 'photoUploadHandler',
                    'data-file-element': form.photo.vars.id,
                    'data-result-element': '#uploaded-' ~ form.uploadPhoto.vars.id,
                    'data-filter': 'user_thumb',
                    'data-old-photo-element': '#uploader-old-photo'
                }
            }
            ) }}
            {# file upload #}
            {{ form_rest(form) }}
        <div class="form-group">
            <input type="submit" id="registration-submit" value="{{ 'Update'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@RDWUserBundle/Resources/public/js/jquery.manageUserHandler.js'
    '@RDWUserBundle/Resources/public/js/userManage.js'
    %}
    <script src="{{ asset_url|full_url }}"></script>
    {% endjavascripts %}
{% endblock %}
