{% extends('::backend.html.twig') %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <a href="{{ url('rdw_user.user_admin.create', { 'type' : 'employer' }) }}" class="btn btn-default">{{ 'Add new employer'|trans }}</a>
            <a href="{{ url('rdw_user.user_admin.create', { 'type' : 'employee' }) }}" class="btn btn-default">{{ 'Add new employee'|trans }}</a>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            {% include "RDWUserBundle:UserAdmin:_filter_form.html.twig" %}
        </div>
    </div>
    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Web users'|trans }}</div>

        {% if pagination %}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Company title'|trans, 'u.companyTitle') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'u.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Registerd at'|trans, 'u.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Type'|trans, 'u.type') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Manager added from'|trans, 'u.hasManagerFrom') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'CRM ID'|trans, 'u.foreignId') }}</th>
                    <th colspan="2">{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    {{ user.title }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url('rdw_user.user_admin.edit', {'id': user.id}) }}">{{ 'User information'|trans }}</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url('rdw_job.job_admin.client_list', {'id' : user.id}) }}">{{ 'Jobs'|trans }}</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ 'Payments history'|trans }}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.createdAt %}
                                {{ user.createdAt|date('Y-m-d H:i') }}
                            {% endif %}
                        </td>
                        <td>
                            {{ user.type|capitalize|trans }}
                            {% if user.isManager %}
                                ({{ 'Manager'|trans }})
                            {% endif %}
                        </td>
                        <td>
                            {% if user.hasManagerFrom %}
                                {{ user.hasManagerFrom|date('Y-m-d H:i') }}
                            {% endif %}
                        </td>
                        <td>{{ user.foreignId }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ url('rdw_user.user_admin.personalize', {'userId': user.id}) }}">{{ 'Personalize'|trans }}</a>
                                <a href="{{ url('rdw_history.history.show', {'id': user.id}) }}">{{ 'History'|trans }}</a>
                                <a
                                        href="#"
                                        data-handler="confirm"
                                        data-url="{{ url('rdw_user.user_admin.delete', {'id': user.id}) }}"
                                        data-message="{{ 'Are you sure?'|trans }}"
                                        data-title="{{ 'Delete user'|trans }}"
                                        data-confirm-title="{{ 'Delete'|trans }}"
                                        >
                                    {{ 'Delete'|trans }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7"><div class="pull-right">{{ knp_pagination_render(pagination) }}</div></td>
                </tr>
                </tfoot>
            </table>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ url('rdw_user.user_admin.create', { 'type' : 'employer' }) }}" class="btn btn-default">{{ 'Add new employer'|trans }}</a>
            <a href="{{ url('rdw_user.user_admin.create', { 'type' : 'employee' }) }}" class="btn btn-default">{{ 'Add new employee'|trans }}</a>
        </div>
    </div>
{% endblock content %}
