{% extends '::backend.html.twig' %}

{% block content %}
    <h1>{{ 'Personalize'|trans }}</h1>
    <div class="row">
        <form action="{{ path('rdw_user.user_admin.personalize', { 'userId' : user.id }) }}" method="POST">
            {{ form_widget(form) }}
            <div class="form-group">
                <input type="submit" id="registration-submit" value="{{ 'Personalize'|trans }}" />
            </div>
        </form>
    </div>
{% endblock content %}
