<div class="footer">
    <div class="bottom_info">
        <div class="container content">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-5 pd10">
                    <div class="box">
                        <h3>{{ 'Employees'|trans }}</h3>
                        {{ knp_menu_render('RDWMenuBundle:Builder:footerLeftMenu') }}
                    </div>
                    <div class="box">
                        <h3>{{ 'Employers'|trans }}</h3>
                        {{ knp_menu_render('RDWMenuBundle:Builder:footerCenterMenu') }}
                    </div>
                    <div class="box">
                        <h3>{{ 'Information'|trans }}</h3>
                        {{ knp_menu_render('RDWMenuBundle:Builder:footerRightMenu') }}
                    </div>

                    {#<div class="box_info">
                        <h3>{{ 'About website RDW'|trans }}</h3>
                        <p>{{ 'about website footer text'|trans|raw }}</p>
                    </div>#}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-7">
                    {{ render_esi(controller('RDWAppBundle:PopularAd:footerBlock', {'type': 'job'})) }}
                </div>
            </div>
        </div>
        <div class="rdw_social_network">
            <div class="container content">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="social_title">
						    {{ 'We are in social networks'|trans }}
                        </p>
                        <div class="social_icons">
                            <a href="{{ rdw_setting('social_ok_link') }}" target="_blank">
                                <img src="{{ asset('bundles/rdwapp/img/001-social.png') }}" alt="">
                            </a>
                            <a href="{{ rdw_setting('social_vk_link') }}" target="_blank">
                                <img src="{{ asset('bundles/rdwapp/img/003-vk.png') }}" alt="">
                            </a>
                            <a href="{{ rdw_setting('social_fb_link') }}" target="_blank">
                                <img src="{{ asset('bundles/rdwapp/img/007-facebook.png') }}" alt="">
                            </a>
                            <a href="{{ rdw_setting('social_inst_link') }}" target="_blank">
                                <img src="{{ asset('bundles/rdwapp/img/006-instagram.png') }}" alt="">
                            </a>
                            <a href="{{ rdw_setting('social_yo_link') }}" target="_blank">
                                <img src="{{ asset('bundles/rdwapp/img/005-youtube.png') }}" alt="">
                            </a>
                            <a href="{{ rdw_setting('social_viber_link') }}" target="_blank">
                                <img src="{{ asset('bundles/rdwapp/img/004-social-media.png') }}" alt="">
                            </a>
                            <a href="{{ rdw_setting('social_telegram_link') }}" target="_blank">
                                <img src="{{ asset('bundles/rdwapp/img/002-telegram.png') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">{{ 'Copyright %copyright% %year_from%-%year_till% RDW.by'|trans({'%copyright%': '&copy;', '%year_from%': '2008', '%year_till%': null|date('Y')})|raw }}</div>
                    <div class="pull-right pay">
                        <ul class="list">
                            <li>
                                <span>
                                    <img src="{{ asset('bundles/rdwapp/img/payment_demo_1.png') }}" alt="" />
                                </span>
                            </li>
                            <li>
                                <span>
                                    <img src="{{ asset('bundles/rdwapp/img/payment_demo_2.png') }}" alt="" />
                                </span>
                            </li>
                            <li>
                                <span>
                                    <img src="{{ asset('bundles/rdwapp/img/payment_demo_3.png') }}" alt="" />
                                </span>
                            </li>
                            <li>
                                <span>
                                    <img src="{{ asset('bundles/rdwapp/img/payment_demo_4.png') }}" alt="" />
                                </span>
                            </li>
                            <li>
                                <span>
                                    <img src="{{ asset('bundles/rdwapp/img/payment_demo_5.png') }}" alt="" />
                                </span>
                            </li>
                            <li>
                                <span>
                                    <img src="{{ asset('bundles/rdwapp/img/payment_demo_6.png') }}" alt="" />
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="partner">
                <p>{{ 'our partner'|trans }}: <a href="https://belmeta.com/" target="_blank">{{ 'belmeta'|trans }}</a> - {{ 'partner belmeta'|trans }}</a></p>
            </div>
        </div>
    </div>
    
</div>
