{% set currentPath = '' %}
{% if app.request.attributes.get('slug')  %}
    {% set currentPath = app.request.attributes.get('slug') %}
{% else %}
    {% if app.request.attributes.get('_route') != ''%}
        {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% endif %}
{% endif %}
<div class="info_block clearfix">
    {% if app.request.attributes.get('slug') not in ['uslugi-stoimost-2', 'vidy-oplat']
        and ((app.user and is_granted('ROLE_EMPLOYEE') or is_granted('IS_AUTHENTICATED_ANONYMOUSLY')) and get_search_form_type() == 'job' )
    %}

        {{ render(controller('RDWJobBundle:Job:sidebar')) }}
        <div class="box">
            <h3>{{ 'Applicants'|trans }}</h3>
            <iframe width="235" height="132" src="{{ rdw_setting('youtube_cv') }}" frameborder="0" allowfullscreen></iframe>
            <ul class="list">
                {#<li>
                    <a href="#" data-toggle="modal" data-url="{{ url('rdw_subscription.subscription.newsletter') }}" data-handler="modalLink">{{ 'News subscription'|trans }}</a>
                </li>#}
                <li>
                    <a href="{{ 'prices_url_employee'|trans|raw }}">{{ 'Prices menu employee'|trans }}</a>
                </li>
                <li>
                    <a href="{{ 'services_url_employee'|trans|raw }}">{{ 'Services menu employee'|trans }}</a>
                </li>
            </ul>
        </div>

        {{ include('RDWAppBundle:mobile:__sidebar.html.twig', {'job' : 1}) }}
    {% endif %}

    {% if ((app.user and is_granted('ROLE_EMPLOYER') or is_granted('IS_AUTHENTICATED_ANONYMOUSLY')) and get_search_form_type() == 'cv' )
        or app.request.attributes.get('slug') in ['uslugi-stoimost-2', 'vidy-oplat'] %}

        {{ render(controller('RDWCvBundle:Cv:sidebar')) }}
        <div class="box">
            <h3>{{ 'For employer'|trans }}</h3>
            <iframe width="235" height="132" src="{{ rdw_setting('youtube_job') }}" frameborder="0" allowfullscreen></iframe>
            <ul class="list">
                {#<li>
                    <a href="#" data-toggle="modal" data-url="{{ url('rdw_subscription.subscription.newsletter') }}" data-handler="modalLink">{{ 'News subscription'|trans }}</a>
                </li>#}
                <li>
                    <a href="{{ 'prices_url_employer'|trans|raw }}">{{ 'Prices menu employer'|trans }}</a>
                </li>
                <li>
                    <a href="{{ 'services_url_employer'|trans|raw }}">{{ 'Services menu employer'|trans }}</a>
                </li>
            </ul>
        </div>

        {{ include('RDWAppBundle:mobile:__sidebar.html.twig', {'cv' : 1}) }}
    {% endif %}
</div>
