{# Google Analytics #}
<script>
    {% if app.environment != 'prod' %}
        window.ga_debug = {trace: true};
        {% set ga_filename = 'analytics_debug.js' %}
    {% else %}
        {% set ga_filename = 'analytics.js' %}
    {% endif %}

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/{{ ga_filename }}','ga');

    {% set ga_id = ga_tracking %}

    ga('create', '{{ ga_id }}', 'auto');
    {% if is_granted('ROLE_REGISTERED') %}
    ga('set', 'userId', '{{ app.user.id }}');
    {% endif %}
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
