{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block content %}

    <div class="sonata-ba-form">
        <form role="form" action="/admin/setting/list" method="POST">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h4 class="box-title">Настройки</h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% for setting in settings %}
                                            <div class="form-group">
                                                <label class="control-label" for="s5a17dbc90924d_name">
                                                    {{ setting.title }} ({{ setting.key }})
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input type="text" name="setting[{{ setting.key }}][value]" class="form-control" value="{{ setting.value }}">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sonata-ba-form-actions well well-small form-actions">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save" aria-hidden="true"></i>
                    Сохранить
                </button>
            </div>
        </form>
    </div>
{% endblock %}