{% macro thumb_delete_link(field, filename, file, imageHolder)%}
    <br />
    <br />
    <a class="url_delete" href="#" data-url="{{ url('thumb_delete') }}" data-field="{{ field }}" data-filename={{ filename }} data-handler="thumbDelete" data-title="{{ 'Delete image'|trans }}" data-confirm-title="{{ 'Delete'|trans }}" data-file="#{{ file }}" data-image-holder="#uploaded-{{ imageHolder }}" data-message="{{ 'Are You sure You want to image?'|trans }}">{{ 'Delete image'|trans }}</a>
{% endmacro %}

{% macro menu_list_item(icon_class, route, text, append, url_params = {}) %}
    <li><a class="{{ icon_class }} {% if app.request.attributes.get('_route') == route %}act{% endif %} " href="{{ url(route, url_params) }}" alt="{{ text }}">{{ text }} {% if append%}{{ append|raw }}{% endif %}</a></li>
{% endmacro %}

{% macro list_checkbox(form, item_id) %}
    <label for="{{ form.id[item_id].vars.id }}" class="multi-checkbox">
        {{ form_widget(form.id[item_id], { 'attr': { 'data-handler': 'checkedItemsCount' } }) }}
    </label>
{% endmacro %}

{% macro promote_banner(type, id) %}
    <div class="small_banner clearfix">
        {% set offer = (type == 'employee') ? 'Make noticeable resume':'Make noticeable job' %}
        <span class="txt">{{ offer|trans}}</span> <div class="clear hidden-sm hidden-md"></div>
        <a class="url" href="{{ url('rdw_service.service.matrix_' ~ type, { 'id' : id }) }}">{{ 'subscribe advertising'|trans }}</a>
    </div>
{% endmacro %}

{% macro per_page(options, url, url_params) %}
    <span class="select_box pull-left hidden-xs hidden-sm"><label for="s1">{{ 'Per Page'|trans }}:</label>
        {{ rdw_per_page_render(options, url, url_params) }}
    </span>
{% endmacro %}

{% macro popular_block(items, path, url_params_name = null, title_prefix = null) %}
    <ul class="tags">
        {% for item in items %}
            <li>
                <a href="{{ path(path, { slug: item|slug  }) }}">{{ title_prefix }} {{ item.title }}</a>
                {% if item.entitiesCount > 0 %}({{ item.entitiesCount }}){% endif %}{% if not loop.last %}, {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro service_period(type, showDays, service, item = null, isSelected = false) %}
    {% if 'all' == type %}
        <select disabled="disabled" data-period-all-service-id="{{ service.id }}" data-id="{{ service.id }}" data-handler="periodAll" id="service-all-{{ service.id }}">
    {% elseif 'personal' == type %}
        <select disabled="disabled" id="service-{{ service.id }}" data-personal-id="{{ service.id }}" data-handler="selectPersonalService" name="personal_services[{{ service.id }}][period]">
    {% else %}
        <select{% if not isSelected %} disabled="disabled"{% endif %} id="service-{{ service.id }}-item-{{ item.id }}" data-period-service-id="{{ service.id }}" name="services[{{ item.id }}][{{ service.id }}][period]" data-handler="periodForService" style="padding-top: 10px">
    {% endif %}
    <option{% if isSelected %} selected="selected"{% endif %} value="7">7{% if showDays %} {{ 'days'|trans }}{% endif %}</option>
    <option value="14">14{% if showDays %} {{ 'days'|trans }}{% endif %}</option>
    <option value="21">21{% if showDays %} {{ 'days'|trans }}{% endif %}</option>
    <option value="28">28{% if showDays %} {{ 'days'|trans }}{% endif %}</option>
    </select>
{% endmacro %}

{% macro date_translation(date, format) %}
    {{ date|localizeddate('none', 'none', app.request.locale, null, format) }}
{% endmacro %}

{% macro ga_event_attributes(event, action, label, value) %}
    data-handler="GAEventHandler" data-event="{{ event }}" data-action="{{ action }}" data-label="{{ label }}" data-value="{{ value }}"
{% endmacro %}

{% macro salary_row(salaryFrom, salaryTo, currency, isBold = true) %}
    {% if isBold %}<strong>{% endif %}
        {% if salaryFrom > 0 %}{{ salaryFrom|priceWithoutCurrency }}{% endif %}{% if salaryFrom > 0 and salaryTo > 0 %} - {% endif %}{% if salaryTo > 0 %}{{ salaryTo|priceWithoutCurrency }}{% endif %} {% if salaryFrom > 0 or salaryTo > 0 %} {{ currency }}{% else %}&nbsp;{% endif %}
    {% if isBold %}</strong>{% endif %}
{% endmacro %}
