<select name="select" id="s1" class="selecter-links" data-handler="perPage">
    {% for per_page in options %}
        <option value="{{ url(route, app.request.query.all|merge({'per_page': per_page}|merge(url_params))) }}" {% if per_page == app.request.query.get('per_page') %} selected="selected" {% endif %}>
            {{ per_page }}
        </option>
    {% endfor %}
</select>
