{# https://developers.facebook.com/docs/plugins/share-button #}
{% macro fb_share(url, title, isShareRdwPageLink) %}
    {% if isShareRdwPageLink %}
        {% set isRdw = true %}
    {% else %}
        {% set isRdw = false %}
    {% endif %}
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ url }}&title={{ title }}" class="{% if isRdw %}url_share type_2{% else %}url icon_2{% endif %}" target="_blank"></a>
{% endmacro %}

{# https://developers.facebook.com/docs/sharing/best-practices #}
{% macro fb_og_tags(url, title, description, image, app_id) %}
    {% if url %}<meta title="og:url" content="{{ url }}" />{% endif %}
    {% if title %}<meta title="og:title" content="{{ title }}" />{% endif %}
    {#{% if site_name %}<meta title="og:site_name" content="{{ site_name }}" />{% endif %}#}
    {% if description %}<meta title="og:og_description" content="{{ description }}" />{% endif %}
    {% if image %}<meta title="og:image" content="{{ image }}" />{% endif %}
    {% if app_id %}<meta title="og:app_id" content="{{ app_id }}" />{% endif %}
{% endmacro %}

{# http://vk.com/pages?oid=-17680044&p=Sharing_External_Pages #}
{% macro vk_share(url, isShareRdwPageLink) %}
    {% if isShareRdwPageLink %}
        {% set isRdw = true %}
    {% else %}
        {% set isRdw = false %}
    {% endif %}
    <a class="{% if isRdw %}url_share type_1 {% else %}url icon_1 {% endif %}" href="http://vkontakte.ru/share.php?url={{ url }}" target="_blank"></a>
{% endmacro %}

{# http://apiok.ru/wiki/pages/viewpage.action?pageId=12877923 #}
{% macro ok_share(url, isShareRdwPageLink) %}
    {% if isShareRdwPageLink %}
        {% set isRdw = true %}
    {% else %}
        {% set isRdw = false %}
    {% endif %}
   <a class="odkl-share-oc {% if isRdw %}url_share type_3 {% else %}url icon_3{% endif %}" href="{{ url }}" onclick="ODKL.Share(this); return false;"></a>
{% endmacro %}

{# https://dev.twitter.com/docs/tweet-button #}
{% macro twitter_share(url, title, description, isShareRdwPageLink) %}
    {% if description %}
        {% set text = title ~ ' - ' ~ description %}
    {% else %}
        {% set text = title %}
    {% endif %}
    {% if isShareRdwPageLink %}
        {% set isRdw = true %}
    {% else %}
        {% set isRdw = false %}
    {% endif %}
    <a href="https://twitter.com/intent/tweet?=text{{ text }}&url={{ url }}" class="{% if isRdw %}url_share type_4{% else %}url icon_4{% endif %}" target="_blank"></a>
{% endmacro %}

{# https://developers.google.com/+/web/share/ #}
{% macro gp_share(url) %}
    {#<div class="pull-left">
        <g:plus action="share" data-href="{{ url }}" data-annotation="none" data-width="30"></g:plus>
    </div>#}
   <a class="url icon_5" href="https://plus.google.com/share?url={{ url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
{% endmacro %}