{% extends('::backend.html.twig') %}

{% block content %}
    {{ form(filter_form) }}
    {% if pagination|length %}
        <div class="panel panel-default">
            <div class="panel-heading positions">
                {{ 'List of Positions'|trans }}
                <a class="btn btn-info pull-right" href="{{ path("manage_position_create") }}">
                    {{ 'Add'|trans }}
                </a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td>
                            {{ entity.title }}
                        </td>
                        <td>
                            {{ entity.status }}
                        </td>
                        <td>
                            <a href="{{ path("manage_position_edit", {"id":entity.id}) }}">{{ "Edit"|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="10">
                        <div class="pull-right">{{ knp_pagination_render(pagination) }}</div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

    {% endif %}
{% endblock content %}
