{% extends('::backend.html.twig') %}

{% block content %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-success">{{ 'Save'|trans }}</button>
    {{ form_end(form) }}
    <div class="clearfix"></div>
    {% if unapproved_pa is defined and unapproved_pa|length %}
        <b>{{ 'Unapproved Professional Areas'|trans }}</b>
        <table class="table table-bordered table-responsive">
            <tbody>
            {% for pa in unapproved_pa %}
                <tr>
                    <td>{{ pa.title }}</td>
                    <td>
                        <a href="{{ path('manage_position_approve_pa_temp', {id:entity.id, paid: pa.id}) }}">
                            {{ 'Approve'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="clearfix"></div>
    {% endif %}
{% endblock content %}
