<div class="modal-dialog modal-dialog_mobile_redesign">
    <div class="modal-content">
        <div class="modal-header clearfix">
            <p class="modal-header__title">Выбор города</p>
            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">close</a>
            <a href="#" id="modal_container_reset" class="reset">Сбросить</a>
        </div>
        <form id="city-search-form-modal" class="modal-body clearfix" action="#">
            <label for="city-search" class="city-search-label">Выберите один или несколько городов</label>
            <input id="city-search" class="input city-search" type="text" placeholder="Выберите один или несколько городов" />
            <div class="clearfix"></div>
            <div class="mobile-modal-body">
                <button id="city-select-all-open-button" class="city-select-all-open" type="button">-</button>
                <input id="city-all" class="city-select-all" type="checkbox" name="cityAll">
                <label id="city-all-label" class="city-select-all-label" for="city-all">Вся Беларусь</label>
                <ul id="city-select-all-open-list" class="modal-body__list">
                    {% for city in cities %}
                        <li class="modal-body__list-item">
                            <input id="city-{{ city.id }}" class="city-select" type="checkbox" name="city[]"
                                   data-id="{{ city.id }}" data-title="{{ city.title }}">
                            <label id="city-{{ city.id }}-label" class="city-select-label" for="city-{{ city.id }}"
                                   data-title="{{ city.title }}">{{ city.title }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
        <div class="modal-footer clearfix">
            <button type="button" class="modal-footer__submit" data-dismiss="modal">Выбрать</button>
        </div>
    </div>
</div>
<script>
    var cities_id = [7],
        cities_title = [];
    for (i = 0; i < cities_id.length; i++) {
        $('#city-' + cities_id[i]).prop('checked', true);
    }
    getChecked();
    if(cities_id.length==114){
        $('.city-select-all').prop('checked', true);
    }
    $('#city-search').keyup(function () {
        var search = $(this).val().toLowerCase();
        $('.city-select, .city-select-label').css({opacity: 1});
        var cities = $('.city-select, .city-select-label').filter(function () {
            return $(this).attr('data-title').toLowerCase().indexOf(search) == -1;
        }).css({opacity: 0.4});
        console.log($(this).val());
        console.log(cities.length);
    });
    $('.city-select-all').click(function () {
        cities_id = [];
        cities_title = [];
        if ($(this).is(':checked')) {
            $('.city-select').prop('checked', true);
        } else {
            $('.city-select').prop('checked', false);
        }
        getChecked();
    });
    $('.city-select').click(function () {
        getChecked();
        $('.city-select-all').prop('checked', false);
    });
    Array.prototype.remove = function (value) {
        var index = this.indexOf(value);
        if (index > -1) {
            this.splice(index, 1);
        }
    }

    function getChecked() {
        cities_id = [];
        cities_title = [];
        $('.city-select').each(function () {
            if (this.checked) {
                cities_id.push($(this).data('id'));
                cities_title.push($(this).data('title'));
            }
        });
        $('#jobs_cities').val(cities_id.join(','));
        if (cities_title.length > 1) {
            $('#modal_city').text('Несколько');
            if($('#modal_city-advanced-search')){
                $('#modal_city-advanced-search').text('Несколько');
            }
        }
        if (cities_title.length == 1) {
            $('#modal_city').text(cities_title[0]);
            if($('#modal_city-advanced-search')){
                $('#modal_city-advanced-search').text(cities_title[0]);
            }
        }
        if (cities_title.length == 0) {
            $('#modal_city').text('Минск');
            if($('#modal_city-advanced-search')){
                $('#modal_city-advanced-search').text('Минск');
            }
        }
        if($('.city-select-all').is(':checked')){
            $('#modal_city').text('Вся Беларусь');
            if($('#modal_city-advanced-search')){
                $('#modal_city-advanced-search').text('Вся Беларусь');
            }
        }
    }

    $('#city-search-form-modal').change(function () {
        if($('#city-all').is(':checked')){
            $('#advanced-search-cities-input').val('');
            $('#advanced-search-page-form').trigger('change');
        } else {
            var stringWithCheckedInputs = '';
            $('#city-search-form-modal #city-select-all-open-list input:checked').each(function () {
                stringWithCheckedInputs += $(this).data('id');
                stringWithCheckedInputs += ',';
            });
            stringWithCheckedInputs = stringWithCheckedInputs.substr(0, stringWithCheckedInputs.length - 1);
            $('#advanced-search-cities-input').val(stringWithCheckedInputs);
            $('#advanced-search-page-form').trigger('change');
        }
    });
</script>