{% extends('::backend.html.twig') %}

{% block content %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-success">{{ 'Save'|trans }}</button>
    {{ form_end(form) }}
    <div class="clearfix"></div>
    <br/>
    {% if entity.children|length %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="2">{{ "Specializations"|trans }}</th>
            </tr>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for child in entity.children %}
                <tr>
                    <td>{{ child.title }}</td>
                    <td>
                        <a href="{{ path("manage_professional_area_edit", {"id":child.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if entity.positions|length %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="2">{{ "Positions"|trans }}</th>
            </tr>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for position in entity.positions %}
                <tr>
                    <td>{{ position.title }}</td>
                    <td>
                        <a href="{{ path("rdw_manage.filter.edit", {type: "position", id :position.id}) }}">
                            {{ 'Edit'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}
