{% extends('::backend.html.twig') %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading"><a href="{{ url('rdw_user.user_admin.edit', {'id' : user.id}) }}">{{ user.name }} {{ user.surname }}</a> {{ 'History'|trans }} </div>
        {% if historyPagination %}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'Action time'|trans }}</th>
                    <th>{{ 'Action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for history in historyPagination %}
                    <tr>
                        <td>{{ history.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>
                            {% if history.objectClass is not null %}
                                <a target="_blank" title="{{ 'view action'|trans }}" href="{{ historyActionUrl(history) }}">
                                    {{ historyActionTitle(history) }}
                                </a>
                            {% else %}
                                {{ historyActionTitle(history) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"><div class="pull-right">{{ knp_pagination_render(historyPagination) }}</div></td>
                </tr>
                </tfoot>
            </table>
        {% endif %}
    </div>
{% endblock content %}
