{% extends('::backend.html.twig') %}

{% block content %}
    <div class="row">
        {{ form_start(form, {'action': path('rdw_faq.faq_admin.update', {'id': faq.id}), 'method': 'POST'}) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}