{% extends('::backend.html.twig') %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Faq list'|trans }}</div>

        {% if items %}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Email'|trans }}</th>
                    <th>{{ 'Question'|trans }}</th>
                    <th>{{ 'Answer'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th colspan="2">{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td><a href="{{ url('rdw_faq.faq_admin.edit', {'id': item.id}) }}">{{ item.question }}</a></td>
                        <td>{{ item.answer }}</td>
                        <td>{% if item.isActive %}{{ 'Active'|trans }}{% else %}{{ 'Hidden'|trans }}{% endif %}</td>
                        <td><a href="{{ url('rdw_faq.faq_admin.edit', {'id': item.id}) }}">{{ 'Reply'|trans }}</a></td>
                        <td>
                            <a
                                    href="#"
                                    data-handler="confirm"
                                    data-url="{{ url('rdw_faq.faq_admin.delete', {'id' : item.id}) }}"
                                    data-message="{{ 'Are you sure?'|trans }}"
                                    data-title="{{ 'Delete item'|trans }}"
                                    data-confirm-title="{{ 'Delete'|trans }}"
                                    >
                                {{ 'Delete'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
