{% if invalid_username is defined %}
    <div class="alert alert-danger">{{ 'Email address was not found'|trans({'%username%': invalid_username}) }}</div>
{% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <ul class="default_form clearfix">
        <li>
            <label for="username" class="label_1">{{ 'Email'|trans }}</label>
            <input class="input" type="text" id="username" name="username" required="required" />
        </li>
        <li>
            <span class="spacer"></span>
            <input type="submit" value="{{ 'Remind'|trans }}" class="btn btn-default" />
        </li>
    </ul>
</form>
