<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <ul class="default_form clearfix">
        {{ form_widget(form) }}
        <li>
            <span class="spacer"></span>
            <input type="submit" value="{{ 'Save password'|trans }}" class="btn btn-default" />
        </li>
    </ul>
</form>
