{% extends "::base.html.twig" %}

{% block content %}
    <h2 class="h1">{{ 'Reset'|trans }} <span class="black">{{ 'password'|trans }}</span></h2>

    <div class="txt_container clearfix">
        {% include "RDWUserBundle:Resetting:reset_content.html.twig" %}
    </div>
{% endblock content %}
