{% macro favorite_link(user, ad) %}
    {% if ad.isCv %}
        {% set type = 'cv' %}
        {% set messageAlreadyFavorited = 'CV is already in your dashboard'|trans %}
    {% else %}
        {% set type = 'job' %}
        {% set messageAlreadyFavorited = 'Job is already in your dashboard'|trans %}
    {% endif %}

    {% if hasFavorite(user, ad) %}
        <a href="#" class="url_star act" data-url="{{ url('rdw_user.favorite.remove', {'adId': ad.id, 'type' : type}) }}" data-handler="manageFavorite" data-title-oposite="{{ 'Add to favorite'|trans }}"><span class="info_tooltip">{{ messageAlreadyFavorited }}</span></a>
    {% else %}
        <a href="#" class="url_star" data-url="{{ url('rdw_user.favorite.add', {'adId': ad.id, 'type' : type}) }}" data-handler="manageFavorite" data-title-oposite="{{ messageAlreadyFavorited }}"><span class="info_tooltip">{{ 'Add to favorite'|trans }}</span></a>
    {% endif %}
{% endmacro %}
