{{ form_start(form, {'action': action, 'method': 'POST'}) }}
    {{ form_widget(form.type, {'attr':{'data-handler':'changeMenuType', 'data-static-type':constant('TYPE_STATIC', menu), 'data-static-type':constant('TYPE_STATIC_MODAL', menu), 'data-system-type':constant('TYPE_SYSTEM', menu), 'data-url-type':constant('TYPE_URL', menu)}}) }}

    <div data-hide-slug {% if form.type.vars.value == '' or not menu.isSystem %} style="display: none;" {% endif %} class=" form-group {% if not form.slug.vars.valid %} has-error{% endif %}">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug) }}
        {{ form_errors(form.slug) }}
    </div>

    <div data-hide-title {% if form.type.vars.value == '' or menu.isStatic %} style="display: none;" {% endif %} class=" form-group {% if not form.title.vars.valid %} has-error{% endif %}">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>

    <div data-hide-url {% if form.type.vars.value == '' or not menu.isUrl %} style="display: none;" {% endif %} class="form-group {% if not form.url.vars.valid %} has-error{% endif %}">
        {{ form_label(form.url) }}
        {{ form_widget(form.url) }}
        {{ form_errors(form.url) }}
    </div>

    <div data-hide-text {% if form.type.vars.value == '' or not menu.isStatic %} style="display: none;" {% endif %} class="form-group {% if not form.text.vars.valid %} has-error{% endif %}">
        {{ form_label(form.text) }}
        {{ form_widget(form.text) }}
        {{ form_errors(form.text) }}
    </div>

    {{ form_rest(form) }}
{{ form_end(form) }}
