<tr class="{% if item.isFromHeader %}active {% endif %}">
    <td>{{ item.id }}</td>
    <td>{{ item.position|trans }}</td>
    <td>
        {{ menu_title(item) }}
    </td>
    <td>
        {% if not loop.first %}
            <a href="{{ url('rdw_menu.menu_admin.move_up', {'id' : item.id}) }}"><span class="glyphicon glyphicon-chevron-up"></span></a>
        {% endif %}
    </td>
    <td>
        {% if not loop.last %}
            <a href="{{ url('rdw_menu.menu_admin.move_down', {'id' : item.id}) }}"><span class="glyphicon glyphicon-chevron-down"></span></a>
        {% endif %}
    </td>
    <td><a href="{{ url('rdw_menu.menu_admin.edit', {'id' : item.id}) }}">{{ 'Edit'|trans }}</a></td>
    <td>
        <a
                href="#"
                data-handler="confirm"
                data-url="{{ url('rdw_menu.menu_admin.delete', {'id' : item.id}) }}"
                data-message="{{ 'Are you sure?'|trans }}"
                data-title="{{ 'Delete item'|trans }}"
                data-confirm-title="{{ 'Delete'|trans }}"
                >
            {{ 'Delete'|trans }}
        </a>
    </td>
</tr>
