{% extends('::backend.html.twig') %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <a href="{{ url('rdw_menu.menu_admin.new') }}" class="btn">{{ 'Add new item'|trans }}</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Menu list'|trans }}</div>
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'ID'|trans }}</th>
                    <th>{{ 'Position'|trans }}</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th colspan="2">{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in menuHeader %}
                    {{ include('RDWMenuBundle:MenuAdmin:_row.html.twig', {'loop':loop}) }}
                {% endfor %}

                {% for item in menuFooterLeft %}
                    {{ include('RDWMenuBundle:MenuAdmin:_row.html.twig', {'loop':loop}) }}
                {% endfor %}

                {% for item in menuFooterRight %}
                    {{ include('RDWMenuBundle:MenuAdmin:_row.html.twig', {'loop':loop}) }}
                {% endfor %}

                {% for item in menuFooterCenter %}
                    {{ include('RDWMenuBundle:MenuAdmin:_row.html.twig', {'loop':loop}) }}
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock content %}