{% extends('::backend.html.twig') %}

{% block content %}

    <div class="row" >
        {% include 'RDWMenuBundle:MenuAdmin:_form.html.twig' with {'action': url('rdw_menu.menu_admin.create')} %}
    </div>
{% endblock content %}
