{% if app.user %}
    {% if app.user and app.user.id != user.id %}
        {% if app.user and is_granted('ROLE_MANAGER') and user.isUserManager(app.user) %}
            <h2 class="h1">{{ 'User'|trans }}
                <span class="black">{{ 'balance'|trans }}</span>
            </h2>
        {% else %}
            <h2 class="h1">{{ 'You'|trans }}
                <span class="black">{{ 'have'|trans }}</span>
            </h2>
        {% endif %}
    {% endif %}
    <div class="txt_container clearfix">
        <div class="your_options clearfix">
            {% set balance = balance(user) %}
            <div class="txt pull-left">
                {{ 'Balance'|trans }}:
                <span class="balance">{% if balance > 0 %}+{% elseif balance < 0 %}-{% endif %}{{ balance|price }}</span>
            </div>

            {{ render(controller('RDWAppBundle:Balance:addMoneyBlock', { 'id': user.id })) }}
        </div>
    </div>
{% endif %}
