<ul class="url_list">
    <li><a {% if socialHandler is defined %}data-handler="agreeTermsSocial"{% endif %} href="{{ hwi_oauth_login_url('vkontakte') }}" class="url url_1">{{ 'VKontakte'|trans }}</a></li>
    {#<li><a {% if socialHandler is defined %}data-handler="agreeTermsSocial"{% endif %} href="{{ hwi_oauth_login_url('odnoklassniki') }}" class="url url_2">{{ 'Odnoklasniki'|trans }}</a></li>#}
    <li><a {% if socialHandler is defined %}data-handler="agreeTermsSocial"{% endif %} href="{{ hwi_oauth_login_url('facebook') }}" class="url url_3">{{ 'Facebook'|trans }}</a></li>
    <li><a {% if socialHandler is defined %}data-handler="agreeTermsSocial"{% endif %} href="{{ hwi_oauth_login_url('mailru') }}" class="url url_4">{{ 'Mail.ru'|trans }}</a></li>
</ul>
