{% extends "::base.html.twig" %}

{% block content %}
    <h2 class="h1">{{ 'Change'|trans }} <span class="black">{{ 'email'|trans }}</span></h2>

    {% if not form.vars.valid %}
        <div class="alert alert-danger">{{ 'Not all required fields are filled'|trans }}</div>
    {% endif %}

    <div class="txt_container clearfix">
        {{ form_start(form, {'action': path('rdw_user.change_email.change'), 'method': 'POST'}) }}
        <ul class="default_form clearfix">
            {{ form_row(form.oldEmail) }}
            {{ form_row(form.newEmail) }}

            <li>
                <span class="spacer">&nbsp;</span>
                <div class="form-group">
                    <button type="submit" class="submit fixed_style">{{ 'Change'|trans }}</button>
                </div>
            </li>
            {{ form_rest(form) }}
        </ul>
        {{ form_end(form) }}
    </div>
{% endblock %}