{% form_theme form 'RDWSearchBundle:Fields:fields.html.twig' %}

<form action="{{ path('rdw_cv.cv.list') }}" role="form" class="filter_block red clearfix" data-type="search-form">
    <div class="top_row clearfix">
        <input type="submit" name="button" value="" class="submit"/>
        <input
                type="hidden"
                id="tags"
                class="input"
                value="{% if hasValues %}1{% endif %}"
                data-placeholder="{{ 'Find Cvs'|trans }}"
                data-ajax-url="{{ url('rdw_search.search.filter_values', { 'filter': 'cv' }) }}"
                data-init-url="{{ url('rdw_search.search.init_values') }}"/>
        <a href="/resumes/advanced" class="advanced_filter"></a>
        <a href="#" data-url="{{ url('rdw_search.search.city') }}" data-handler="modalLink" class="city" id="modal_city">
            {{ city_name }}
        </a>
    </div>
    <div style="display: none;" class="expand_form clearfix {% if hasValues %}open{% endif %}">
        <ul class="filter_options clearfix filters search-form-select">
            <li class="icon_3 hide-select2-values">
                {{ form_label(form.professionalArea) }}
                {{ form_widget(form.professionalArea, { 'attr': { 'class': 'search-main-multi-select2', 'data-placeholder': 'Professional Area'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'professional_area' }) } }) }}
            </li>
            <li class="icon_2 hide-select2-values">
                {{ form_label(form.workingPlaceCity) }}
                {{ form_widget(form.workingPlaceCity, { 'attr': { 'class': 'search-main-single-select2', 'data-placeholder': 'Working place city'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'cities' }) } }) }}
            </li>
        </ul>
        <ul class="filter_options clearfix filters search-form-select">
            <li class="icon_3 hide-select2-values">
                {{ form_label(form.scopes) }}
                {{ form_widget(form.scopes, { 'attr': { 'class': 'search-main-multi-select2', 'data-placeholder': 'Sopes'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'scopes' }) } }) }}
            </li>
            <li class="icon_4 hide-select2-values">
                {{ form_label(form.updatedAt) }}
                {{ form_widget(form.updatedAt, { 'attr': { 'class': 'search-main-styled-select2' } }) }}
            </li>
        </ul>
        <div class="hidden_form clearfix filters">
            {{ form_widget(form.query, { 'attr': { 'data-filter-title': 'Position'|trans } }) }}
            <a href="#" class="url_toggle">
                <span class="txt">
                    {{ 'Advanced'|trans }}
                    <span class="black">{{ 'search'|trans }}</span>
                </span>
            </a>
            <ul class="form clearfix">
                <li>
                    {{ form_label(form.gender) }}
                    {{ form_widget(form.gender) }}
                </li>
                <li>
                    <label for="{{ form.ageFrom.vars.id }}" class="label_1">{{ 'Age'|trans }}</label>
                    {{ form_widget(form.ageFrom) }}
                    <span class="txt">&ndash;</span>
                    {{ form_widget(form.ageTo) }}
                </li>
                <li>
                    <label for="{{ form.salaryFrom.vars.id }}" class="label_1">{{ 'Salary'|trans }}</label>
                    {{ form_widget(form.salaryFrom) }}
                    <span class="txt">&ndash;</span>
                    {{ form_widget(form.salaryTo) }}
                </li>
                <li>
                    {{ form_label(form.workExperienceType) }}
                    <div class="select expanded">
                        {{ form_widget(form.workExperienceType) }}
                    </div>
                </li>
                <li>
                    {{ form_label(form.educationType) }}
                    <div class="select expanded">
                        {{ form_widget(form.educationType) }}
                    </div>
                </li>
                <li>
                    {{ form_label(form.employmentType) }}
                    <div class="select expanded">
                        {{ form_widget(form.employmentType) }}
                    </div>
                </li>
                <li>
                    {{ form_label(form.workScheduleType) }}
                    <div class="select expanded">
                        {{ form_widget(form.workScheduleType) }}
                    </div>
                </li>
                <li>
                    {{ form_label(form.businessTrip) }}
                    <div class="select expanded">
                        {{ form_widget(form.businessTrip) }}
                    </div>
                </li>
                <li>
                    {{ form_label(form.language) }}
                    {{ form_widget(form.language, { 'attr': { 'class': 'search-advanced-multi-select2', 'data-placeholder': 'Language'|trans, 'data-ajax-url': url('rdw_search.search.filter_values', { 'filter': 'languages' }) } }) }}
                </li>
                <li>
                    {{ form_label(form.driverLicenseCategory) }}
                    <div class="select expanded">
                        {{ form_widget(form.driverLicenseCategory) }}
                    </div>
                </li>
                <li>
                    {{ form_label(form.hasCar) }}
                    {{ form_widget(form.hasCar) }}
                </li>
                <li>
                    {{ form_rest(form) }}
                </li>
                <li>
                    <span class="spacer hidden-xs">&nbsp;</span>
                    <input type="submit" name="button" value="{{ 'find cvs'|trans }}" class="submit submit_big"/>
                </li>
            </ul>
        </div>
        <div class="button_box">
            <a href="#" class="url_toggle advanced-search-button">{{ 'Advanced search'|trans }}</a>
            <div class="clear visible-xs"></div>
            <input type="submit" name="button" value="{{ 'find cvs'|trans }}" class="submit submit_big"/>
        </div>

        <a href="#"
           data-url="{{ url('rdw_subscription.subscription.subscribe', { 'type' : 'cv' } ) }}"
           data-handler="modalLink"
           class="url_newsletter">{{ 'Order resumes newsletter'|trans }}</a>
        <span class="url_info">
                <span class="tooltip_box">{{ 'Cv subscription tooltip text'|trans }}</span>
            </span>

    </div>
</form>
