{% set news = rdw_get_news(4) %}
<div class="new_news">
	<h2 class="h1 big">
		{{ 'new news'|trans }} <span class="black"><a href="https://news.rdw.by/" target="_blank">{{ 'view all'|trans }}</a></span>
	</h2>
	<div class="news_wrapper">
		{% for key,item in news %}
		<div class="news">
			{% if item.imageUrl %}
				<div class="preview_img" style="background: url('{{ item.imageUrl }}');background-size: cover;">
				</div>
			{% endif %}
			<div class="preview_text">
				<p class="preview_title">
					{{ item.title }}
				</p>
				<p class="preview_content">
					{{ item.content }}
				</p>
			</div>
			<a class="apply-job" href="{{ item.link }}">{{ 'read next'|trans }}</a>
		</div>
		{% endfor %}
	</div>
</div>
