{% extends('::backend.html.twig') %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">{{ 'Import'|trans }} ({{ type|trans }})</div>
    <hr />
    <div class="col-md-3">
        {{ form_start(form, {'action': path('rdw_manage_import', { 'type': type }), 'method': 'POST'}) }}
        {{ form_row(
            form.uploadDocument, {
                'attr':{
                    'data-url': oneup_uploader_endpoint('import'),
                    'data-type': 'file',
                    'data-handler': 'fileUploadHandler',
                    'data-file-element': form.document.vars.id,
                    'data-result-element': '#uploaded-' ~ form.uploadDocument.vars.id
                }
            }
        ) }}
        {{ form_rest(form) }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ 'Import'|trans }}</button>
        </div>

        {{ form_end(form) }}
    </div>
    <div class="col-md-9">
        {% if totalRows > 0 %}
        <div class="alert alert-success">
            {{ 'Imported items %importedCount% from %totalRows%'|trans({'%importedCount%': importedCount, '%totalRows%': totalRows}) }}
        </div>
        {% endif %}
        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                <div><strong>{{ 'Errors'|trans }}:</strong></div>
                {% for error in form.vars.errors %}
                    <div>{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="clearfix"></div>
</div>

{% endblock content %}
